Repository openboxes/openboxes, changes with the labels that .github/labeler.yml gives for each.
All labels: domain: backend, domain: frontend, domain: devops, domain: documentation, flag: schema change

.github/labeler.yml:

# Automatically adds labels to a pull request.
# https://github.com/actions/labeler

"type: bug":
  - head-branch: ['^bug/', '^bugfix/']

"type: feature":
  - head-branch: ['^feature/', '^feat/', '^ft/']

"type: maintenance":
  - head-branch: ['^maintenance/', '^techdebt/', '^chore/']

"type: release":
  - head-branch: ['^release/']

"warn: do not squash":
  - head-branch: ['^release/', '^develop', '^master']

"domain: l10n":
  - head-branch: ['l10n']
  - changed-files:
      - any-glob-to-any-file:
          - 'grails-app/i18n/**/*'

"flag: ignore in release notes":
  - head-branch: ['l10n']

"domain: backend":
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main/groovy/**/*'
      - 'grails-app/controllers/**/*'
      - 'grails-app/domain/**/*'
      - 'grails-app/jobs/**/*'
      - 'grails-app/services/**/*'

"domain: frontend":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/taglib/**/*'
      - '**/*.js'
      - '**/*.jsx'
      - '**/*.scss'
      - '**/*.css'
      - '**/*.html'
      - '**/*.gsp'

"domain: devops":
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - 'docker/**/*'

"domain: documentation":
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '**/*.md'
      - 'readthedocs.yml'
      - 'mkdocs.yml'

"flag: config change":
- all:
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/conf/**/*'
      - 'grails-app/init/**/*'
      - '**/*.gradle'
      - '**/*.properties'
      - 'package.json'
      - 'package-lock.json'
    - all-globs-to-all-files:
      - '!grails-app/i18n/**/*'

"flag: schema change":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/migrations/**/*'

Revert "Fix resolving workflow to look for cycle count, not cycle count request (#5116)"
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountStartRecountBatchCommand.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountStartRecountCommand.groovy
Labels: domain: backend

OBPIH-7074 Add request id to dto
  src/main/groovy/org/pih/warehouse/inventory/CycleCountDto.groovy
Labels: domain: backend

OBPIH-7074 Add handling custom rows
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
Labels: domain: backend

OBPIH-7074 Fix issue with recounting
  src/js/actions/index.js
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useToResolveTab.jsx
Labels: domain: frontend

OBPIH-7092 Fix issue related to null cycle count status
  grails-app/domain/org/pih/warehouse/inventory/CycleCount.groovy
Labels: domain: backend

OBPIH-6690 Add ability to sort receiving screen in alphabetical order
  grails-app/controllers/org/pih/warehouse/api/PartialReceivingApiController.groovy
  grails-app/services/org/pih/warehouse/receiving/ReceiptService.groovy
  src/css/main.scss
  src/js/components/receiving/PartialReceivingPage.jsx
  src/js/components/receiving/ReceivingCheckScreen.jsx
  src/js/components/receiving/ReceivingPage.jsx
  src/js/consts/receivingSortOptions.js
  src/main/groovy/org/pih/warehouse/api/PartialReceiptContainer.groovy
Labels: domain: backend, domain: frontend

OBPIH-7074 Click Not Now should complete the count workflow (#5125)
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/js/actions/index.js
  src/js/consts/cycleCountStatus.js
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useToResolveTab.jsx
  src/main/groovy/org/pih/warehouse/inventory/CycleCountDto.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountStartRecountBatchCommand.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountStartRecountCommand.groovy
Labels: domain: backend, domain: frontend

OBPIH-6931 fix status not updating to "in progress" when editing a count (#5123)
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
Labels: domain: backend

OBPIH-7092 Refactor recomputeStatus method to cover current requirements
  grails-app/domain/org/pih/warehouse/inventory/CycleCount.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemStatus.groovy
Labels: domain: backend

fix stack trace, adding count items while looping items
  grails-app/domain/org/pih/warehouse/inventory/CycleCount.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/test/groovy/unit/org/pih/warehouse/inventory/CycleCountProductAvailabilityServiceSpec.groovy
Labels: domain: backend

add unit tests and flip COUNTING and COUNTED conditions
  grails-app/domain/org/pih/warehouse/inventory/CycleCount.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemStatus.groovy
  src/test/groovy/unit/org/pih/warehouse/inventory/CycleCountSpec.groovy
Labels: domain: backend

fix broken tests
  src/test/groovy/unit/org/pih/warehouse/inventory/CycleCountTransactionServiceSpec.groovy
  src/test/groovy/unit/org/pih/warehouse/inventory/ProductInventoryTransactionServiceSpec.groovy
Labels: none

fix QuantityVariance to handle 0 quantity
  grails-app/domain/org/pih/warehouse/inventory/CycleCountItem.groovy
Labels: domain: backend

OBPIH-7020 Handled remaining PR suggestions; fixed bug with the bin locations column
  grails-app/domain/org/pih/warehouse/inventory/CycleCountCandidate.groovy
  grails-app/migrations/views/cycle-count-candidate.sql
  grails-app/migrations/views/cycle-count-metadata.sql
  grails-app/migrations/views/cycle-count-session.sql
  grails-app/migrations/views/product-classification.sql
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountCandidateFilterCommand.groovy
Labels: domain: backend, flag: schema change

OBPIH-6990 Add corrections
  src/js/components/receiving/PartialReceivingPage.jsx
  src/main/groovy/org/pih/warehouse/api/PartialReceiptContainer.groovy
Labels: domain: backend, domain: frontend

OBPIH-6990 Fix sort to getPartialReceiptFromShipment
  grails-app/services/org/pih/warehouse/receiving/ReceiptService.groovy
  src/main/groovy/org/pih/warehouse/api/PartialReceiptContainer.groovy
Labels: domain: backend

OBPIH-6990 Add small corrections
  src/main/groovy/org/pih/warehouse/api/PartialReceiptContainer.groovy
Labels: domain: backend

OBPIH- 6901 bugfix. Make QuantityVariance properly handle 0 quantity (#5128)
  grails-app/domain/org/pih/warehouse/inventory/CycleCountItem.groovy
Labels: domain: backend

OBPIH-7092 Fix issue related to null cycle count status (#5126)
  grails-app/domain/org/pih/warehouse/inventory/CycleCount.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemStatus.groovy
  src/test/groovy/unit/org/pih/warehouse/inventory/CycleCountSpec.groovy
  src/test/groovy/unit/org/pih/warehouse/inventory/CycleCountTransactionServiceSpec.groovy
  src/test/groovy/unit/org/pih/warehouse/inventory/ProductInventoryTransactionServiceSpec.groovy
Labels: domain: backend

OBPIH-7074 bugfix. Prevent stack trace when adding to count items list within loop (#5127)
  grails-app/domain/org/pih/warehouse/inventory/CycleCount.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/test/groovy/unit/org/pih/warehouse/inventory/CycleCountProductAvailabilityServiceSpec.groovy
Labels: domain: backend

OBPIH-7088 Fix getting items for bumping up count index
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
Labels: domain: backend

OBPIH-7088 Input from quantity counted is shifted to recount columns when start resolution on products with discrepancy (#5130)
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
Labels: domain: backend

OBPIH-7003 Rename setFocusId and setFocusIndex to clarify row/column association
  src/js/components/form-elements/v2/DateField.jsx
  src/js/components/form-elements/v2/SelectField.jsx
  src/js/components/form-elements/v2/TextInput.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/js/hooks/useArrowsNavigation.jsx
  src/js/hooks/useFocusOnMatch.js
Labels: domain: frontend

OBPIH-7088 Hide close button on resolve discrepancies modal
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/utils/ConfirmModal.jsx
  src/js/utils/confirmationModalUtils.jsx
Labels: domain: frontend

OBPIH-7078 Edited value of Date counted is not saved
  src/js/hooks/cycleCount/useCountStep.jsx
Labels: domain: frontend

OBPIH-7094 Invalid redirect when finish to count without discrepancies
  src/js/hooks/cycleCount/useCountStep.jsx
Labels: domain: frontend

OBPIH-7088 Fix propTypes on ConfirmModal
  src/js/utils/ConfirmModal.jsx
Labels: domain: frontend

OBPIH-7078 Change width className from w-90 to w-auto
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

OBPIH-7054 Change width className from w-90 to w-auto
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

OBPIH-7077 Change width className from w-90 to w-auto
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

OBPIH-7071 Count and Recount page do not immediately show the selected products
  src/js/hooks/cycleCount/useCountStep.jsx
Labels: domain: frontend

OBPIH-7097 Can't save at the end of recount when adding a custom row on counting step
  grails-app/services/org/pih/warehouse/inventory/CycleCountProductAvailabilityService.groovy
Labels: domain: backend

OBPIH-7071 Count and Recount page do not immediately show the selected products (fix after QA) (#5135)
  src/js/hooks/cycleCount/useCountStep.jsx
Labels: domain: frontend

OBPIH-7088 Hide close button on resolve discrepancies modal (#5131)
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/utils/ConfirmModal.jsx
  src/js/utils/confirmationModalUtils.jsx
Labels: domain: frontend

OBPIH-7094 Invalid redirect when finish to count without discrepancies (#5133)
  src/js/hooks/cycleCount/useCountStep.jsx
Labels: domain: frontend

OBPIH-7080 Better error handling around duplicate and unsupported cases; implemented remaining PR suggestions
  grails-app/controllers/org/pih/warehouse/inventory/InventoryLevelController.groovy
  grails-app/services/org/pih/warehouse/importer/InventoryLevelImportDataService.groovy
Labels: domain: backend

OBPIH-7080 Fixed issue with unique constraint on inventory level (#5121)
  grails-app/controllers/org/pih/warehouse/inventory/InventoryLevelController.groovy
  grails-app/domain/org/pih/warehouse/inventory/InventoryLevel.groovy
  grails-app/services/org/pih/warehouse/importer/InventoryLevelImportDataService.groovy
  grails-app/views/product/_inventoryLevels.gsp
Labels: domain: backend, domain: frontend

OBPIH-7054 Expand "Root Cause" selector for better visibility (#5111)
  src/css/main.scss
  src/js/components/DataTable/TableCell.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/js/wrappers/CustomTooltip.jsx
Labels: domain: frontend

OBPIH-7077 Shorten the name of Bin location in resolve step (#5113)
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

New Crowdin updates (#5077)
  grails-app/i18n/messages_ach.properties
  grails-app/i18n/messages_ar.properties
  grails-app/i18n/messages_cs.properties
  grails-app/i18n/messages_de.properties
  grails-app/i18n/messages_es.properties
  grails-app/i18n/messages_fi.properties
  grails-app/i18n/messages_fr.properties
  grails-app/i18n/messages_ht.properties
  grails-app/i18n/messages_it.properties
  grails-app/i18n/messages_nl.properties
  grails-app/i18n/messages_pt.properties
  grails-app/i18n/messages_rw.properties
  grails-app/i18n/messages_sw.properties
  grails-app/i18n/messages_zh.properties
Labels: none
