Repository openboxes/openboxes, changes with the labels that .github/labeler.yml gives for each.
All labels: domain: backend, domain: frontend, domain: devops, domain: documentation, flag: schema change

OBPIH-7043 Refetch the data after canceling cycle count, resize the modal, start building logic to map products without recount item
  src/js/components/cycleCount/toResolveTab/ResolveStepHeader.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/hooks/cycleCount/useToCountTab.jsx
  src/js/hooks/cycleCount/useToResolveTab.jsx
  src/js/utils/utils.scss
Labels: domain: frontend

OBPIH-7185 Changing order on receiving page deletes entered data (#5212)
  src/js/components/receiving/PartialReceivingPage.jsx
  src/js/consts/receivingSortOptions.js
Labels: domain: frontend

OBPIH-7218 Shift demand start date on the Demand tab to the first day… (#5211)
  grails-app/controllers/org/pih/warehouse/inventory/InventoryItemController.groovy
  grails-app/services/org/pih/warehouse/forecasting/ForecastingService.groovy
Labels: domain: backend

don't allow proceeding with recount if no recount items
  grails-app/i18n/messages.properties
  src/js/components/cycleCount/toResolveTab/ResolveStep.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepHeader.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/hooks/cycleCount/useResolveStepValidation.js
Labels: domain: frontend

OBPIH-7177 Inventory has changed not detected when add line on recount and the same line on record stock (#5210)
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
Labels: domain: backend

OBPIH-7043 add support for canceling a count (#5206)
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/i18n/messages.properties
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/css/main.scss
  src/js/api/services/CycleCountApi.js
  src/js/components/cycleCount/toCountTab/CycleCountToCount.jsx
  src/js/components/cycleCount/toResolveTab/CycleCountToResolve.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/hooks/cycleCount/useToCountTab.jsx
  src/js/hooks/cycleCount/useToResolveTab.jsx
  src/js/utils/utils.scss
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemCommand.groovy
  src/test/groovy/unit/org/pih/warehouse/inventory/CycleCountProductAvailabilityServiceSpec.groovy
Labels: domain: backend, domain: frontend

OBPIH-7217 Remove filtering out locations outside current location group
  grails-app/services/org/pih/warehouse/core/LocationService.groovy
Labels: domain: backend

OBPIH-7231 Fix storing internal locations filter when refreshing a page
  src/js/hooks/cycleCount/useCycleCountFilters.js
Labels: domain: frontend

OBPIH-7217 Inbound return should allow origin outside location group is location type code is depot (#5214)
  grails-app/services/org/pih/warehouse/core/LocationService.groovy
Labels: domain: backend

OBPIH-7231 Fix storing internal locations filter when refreshing a page (#5215)
  src/js/hooks/cycleCount/useCycleCountFilters.js
Labels: domain: frontend

OBPIH-6962 Add new api endpoint
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/api/ProductSupplierApiController.groovy
  grails-app/controllers/org/pih/warehouse/product/ProductSupplierController.groovy
  grails-app/services/org/pih/warehouse/data/ProductSupplierService.groovy
  src/js/api/urls.js
  src/js/consts/applicationUrls.js
  src/js/hooks/list-pages/productSupplier/useProductSupplierActions.jsx
  src/main/groovy/org/pih/warehouse/product/ProductSupplierFilterCommand.groovy
Labels: domain: backend, domain: frontend

OBPIH-7043 Fix getting product code and mapping empty cycle counts
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: frontend

OBPIH-7043 Rename property + add default props
  src/js/components/cycleCount/toResolveTab/ResolveStep.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
Labels: domain: frontend

OBPIH-7043 Fix moving forward on recounting
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: frontend

OBPIH-7043 Fix moving forward, error with product id on counting
  src/js/hooks/cycleCount/useCountStep.jsx
Labels: domain: frontend

OBPIH-7043 Cancel product on To Count and To Resolve tabs (Fixes) (#5216)
  src/js/components/cycleCount/toResolveTab/ResolveStep.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: frontend

OBPIH-7147 Separate Pack levels in Delivery Note
  grails-app/views/deliveryNote/_printPage.gsp
Labels: domain: frontend

OBPIH-7147 Separate Pack levels in Delivery Note
  grails-app/views/deliveryNote/_printPage.gsp
Labels: domain: frontend

OBPIH-7147 Small improvement
  grails-app/views/deliveryNote/_printPage.gsp
Labels: domain: frontend

OBPIH-7147 Add more correcitons
  grails-app/views/deliveryNote/_printPage.gsp
Labels: domain: frontend

OBPIH-7237 Fix reload issue for empty cycle count items
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/domain/org/pih/warehouse/inventory/CycleCount.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountProductAvailabilityService.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/js/api/services/CycleCountApi.js
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: backend, domain: frontend

OBPIH-7147 Modify Received and Comment column rendering with rowspan
  grails-app/views/deliveryNote/_printPage.gsp
Labels: domain: frontend

OBPIH-7147 Small correciton
  grails-app/views/deliveryNote/_printPage.gsp
Labels: domain: frontend

OBPIH-7147 Fix syntax
  grails-app/views/deliveryNote/_printPage.gsp
Labels: domain: frontend

OBPIH-7147 Fix syntax
  grails-app/views/deliveryNote/_printPage.gsp
Labels: domain: frontend

OBPIH-7147 Small corrections
  grails-app/views/deliveryNote/_printPage.gsp
Labels: domain: frontend

OBPIH-7147 Remove '-' in pack level 2
  grails-app/views/deliveryNote/_printPage.gsp
Labels: domain: frontend

OBPIH-7147 Revert to previous lotNumber version
  grails-app/views/deliveryNote/_printPage.gsp
Labels: domain: frontend

OBPIH-7236 Clicking 'X' on order dropdown causes infinite loading spinner in receiving page
  src/js/components/receiving/PartialReceivingPage.jsx
Labels: domain: frontend

OBPIH-7236 Small correction
  src/js/components/receiving/PartialReceivingPage.jsx
Labels: domain: frontend

OBPIH-7236 Remove unnecessary boolean
  src/js/components/receiving/PartialReceivingPage.jsx
Labels: domain: frontend

OBPIH-7236 Revert changes
  src/js/components/receiving/PartialReceivingPage.jsx
Labels: domain: frontend

OBPIH-7236 Clicking 'X' on order dropdown causes infinite loading spinner in receiving page (#5220)
  src/js/components/receiving/PartialReceivingPage.jsx
Labels: domain: frontend

OBPIH-7237 Fix unit tests
  grails-app/services/org/pih/warehouse/inventory/CycleCountProductAvailabilityService.groovy
  src/test/groovy/unit/org/pih/warehouse/inventory/CycleCountProductAvailabilityServiceSpec.groovy
Labels: domain: backend

OBPIH-7042 Add Zone to Bin location filter in cycle count tabs
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useCycleCountFilters.js
  src/js/utils/groupBinLocationsByZone.jsx
Labels: domain: frontend

OBPIH-7042 Add small improvement
  src/js/hooks/cycleCount/useCycleCountFilters.js
Labels: domain: frontend

OBPIH-7042 Pass translate to groupByBinLocation in useResolveStepTable.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

OBPIH-7237 Update comment in the cycle count refresh state
  grails-app/services/org/pih/warehouse/inventory/CycleCountProductAvailabilityService.groovy
Labels: domain: backend

OBPIH-7237 Fix reload issue for empty cycle count items (#5218)
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/domain/org/pih/warehouse/inventory/CycleCount.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountProductAvailabilityService.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/js/api/services/CycleCountApi.js
  src/js/hooks/cycleCount/useResolveStep.js
  src/test/groovy/unit/org/pih/warehouse/inventory/CycleCountProductAvailabilityServiceSpec.groovy
Labels: domain: backend, domain: frontend

OBPIH-7043 Fix showing modal when deleted items are included in cycleCountsWithItemsWithoutRecount
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: frontend

.github/labeler.yml:

# Automatically adds labels to a pull request.
# https://github.com/actions/labeler

"type: bug":
  - head-branch: ['^bug/', '^bugfix/']

"type: feature":
  - head-branch: ['^feature/', '^feat/', '^ft/']

"type: maintenance":
  - head-branch: ['^maintenance/', '^techdebt/', '^chore/']

"type: release":
  - head-branch: ['^release/']

"warn: do not squash":
  - head-branch: ['^release/', '^develop', '^master']

"domain: l10n":
  - head-branch: ['l10n']
  - changed-files:
      - any-glob-to-any-file:
          - 'grails-app/i18n/**/*'

"flag: ignore in release notes":
  - head-branch: ['l10n']

"domain: backend":
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main/groovy/**/*'
      - 'grails-app/controllers/**/*'
      - 'grails-app/domain/**/*'
      - 'grails-app/jobs/**/*'
      - 'grails-app/services/**/*'

"domain: frontend":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/taglib/**/*'
      - '**/*.js'
      - '**/*.jsx'
      - '**/*.scss'
      - '**/*.css'
      - '**/*.html'
      - '**/*.gsp'

"domain: devops":
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - 'docker/**/*'

"domain: documentation":
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '**/*.md'
      - 'readthedocs.yml'
      - 'mkdocs.yml'

"flag: config change":
- all:
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/conf/**/*'
      - 'grails-app/init/**/*'
      - '**/*.gradle'
      - '**/*.properties'
      - 'package.json'
      - 'package-lock.json'
    - all-globs-to-all-files:
      - '!grails-app/i18n/**/*'

"flag: schema change":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/migrations/**/*'
