Repository openboxes/openboxes, changes with the labels that .github/labeler.yml gives for each.
All labels: domain: backend, domain: frontend, domain: devops, domain: documentation, flag: schema change

New translations messages.properties (Spanish)
  grails-app/i18n/messages_es.properties
Labels: none

New translations messages.properties (Arabic)
  grails-app/i18n/messages_ar.properties
Labels: none

New translations messages.properties (Czech)
  grails-app/i18n/messages_cs.properties
Labels: none

New translations messages.properties (German)
  grails-app/i18n/messages_de.properties
Labels: none

New translations messages.properties (Finnish)
  grails-app/i18n/messages_fi.properties
Labels: none

New translations messages.properties (Italian)
  grails-app/i18n/messages_it.properties
Labels: none

New translations messages.properties (Dutch)
  grails-app/i18n/messages_nl.properties
Labels: none

New translations messages.properties (Portuguese)
  grails-app/i18n/messages_pt.properties
Labels: none

New translations messages.properties (Chinese Simplified)
  grails-app/i18n/messages_zh.properties
Labels: none

New translations messages.properties (Swahili)
  grails-app/i18n/messages_sw.properties
Labels: none

New translations messages.properties (Haitian Creole)
  grails-app/i18n/messages_ht.properties
Labels: none

New translations messages.properties (Kinyarwanda)
  grails-app/i18n/messages_rw.properties
Labels: none

New translations messages.properties (Acholi)
  grails-app/i18n/messages_ach.properties
Labels: none

OBPIH-7003 Corrections after code review
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/js/hooks/useArrowsNavigation.jsx
Labels: domain: frontend

OBPIH-7039 Do not validate discrepancy reason code on new lines on count form
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemCommand.groovy
Labels: domain: backend

OBPIH 7003 Up/down arrow to navigate through cells in quantity column (#5080)
  src/js/components/cycleCount/cycleCount.scss
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
  src/js/components/form-elements/v2/DateField.jsx
  src/js/components/form-elements/v2/SelectField.jsx
  src/js/components/form-elements/v2/TextInput.jsx
  src/js/components/product-select/ProductSelect.jsx
  src/js/consts/componentType.js
  src/js/consts/cycleCountColumn.js
  src/js/consts/navigationKey.js
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/js/hooks/useArrowsNavigation.jsx
  src/js/hooks/useFocusOnMatch.js
  src/js/utils/Select.jsx
Labels: domain: frontend

OBPIH-7039 Do not validate discrepancy reason code on new lines on count form (#5083)
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemCommand.groovy
Labels: domain: backend

OBS-1831 Fix unparseable date: "01/01/2025 " exception during stock movements (#5068)
  grails-app/conf/application.yml
  grails-app/controllers/org/pih/warehouse/api/StockMovementApiController.groovy
  grails-app/utils/org/pih/warehouse/DateUtil.groovy
  grails-app/utils/org/pih/warehouse/databinding/DataBindingConstants.groovy
  grails-app/utils/org/pih/warehouse/databinding/InstantValueConverter.groovy
  src/main/groovy/org/pih/warehouse/core/Constants.groovy
  src/test/groovy/unit/org/pih/warehouse/utils/DateUtilSpec.groovy
  src/test/groovy/unit/org/pih/warehouse/utils/databinding/InstantValueConverterSpec.groovy
Labels: domain: backend

OBPIH-7003 Add handleAddEmptyRow and fix Arrow Up
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/js/hooks/useArrowsNavigation.jsx
Labels: domain: frontend

OBPIH-7021 Add missing mime type plus fixes after PR review
  grails-app/conf/application.yml
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  grails-app/views/cycleCount/_printCount.gsp
  grails-app/views/cycleCount/_printRecount.gsp
  src/js/actions/index.js
  src/js/api/services/CycleCountApi.js
  src/js/api/urls.js
  src/js/components/cycleCount/toResolveTab/ResolveStepHeader.jsx
  src/js/components/stock-movement-wizard/outbound/AddItemsPage.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/hooks/cycleCount/useToCountTab.jsx
  src/js/hooks/cycleCount/useToResolveTab.jsx
  src/js/utils/file-download-util.jsx
  src/js/utils/groupBinLocationsByZone.jsx
  src/main/groovy/org/pih/warehouse/core/Constants.groovy
Labels: domain: backend, domain: frontend

OBPIH-7016 Add option to print blind recount form pdf
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/views/cycleCount/_printRecount.gsp
Labels: domain: backend, domain: frontend

OBPIH-7022 Add option to export spreadsheet with recount form
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/js/components/cycleCount/toResolveTab/CycleCountToResolve.jsx
  src/js/hooks/cycleCount/useToResolveTab.jsx
Labels: domain: backend, domain: frontend

OBPIH-7021 Add option to export spreadsheet with count form
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/i18n/messages.properties
  grails-app/services/org/pih/warehouse/data/DataService.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/js/api/services/CycleCountApi.js
  src/js/api/urls.js
  src/js/components/cycleCount/toCountTab/CountStepHeader.jsx
  src/js/components/cycleCount/toCountTab/CycleCountToCount.jsx
  src/js/consts/fileFormat.js
  src/js/consts/mimeType.js
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useToCountTab.jsx
  src/js/utils/file-download-util.jsx
Labels: domain: backend, domain: frontend

OBPIH-7021 Add missing mime type plus fixes after PR review
  grails-app/conf/application.yml
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  grails-app/views/cycleCount/_printCount.gsp
  grails-app/views/cycleCount/_printRecount.gsp
  src/js/actions/index.js
  src/js/api/services/CycleCountApi.js
  src/js/api/urls.js
  src/js/components/cycleCount/toResolveTab/ResolveStepHeader.jsx
  src/js/components/stock-movement-wizard/outbound/AddItemsPage.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/hooks/cycleCount/useToCountTab.jsx
  src/js/hooks/cycleCount/useToResolveTab.jsx
  src/js/utils/file-download-util.jsx
  src/js/utils/groupBinLocationsByZone.jsx
  src/main/groovy/org/pih/warehouse/core/Constants.groovy
Labels: domain: backend, domain: frontend

OBPIH-7015 Add option to print blind count form pdf
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/views/cycleCount/_printCount.gsp
Labels: domain: backend, domain: frontend

OBPIH-7003 Up/down arrow to navigate through cells in quantity column (fix) (#5084)
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/js/hooks/useArrowsNavigation.jsx
Labels: domain: frontend

OBPIH-6897 Add new labels
  grails-app/i18n/messages.properties
Labels: none

OBPIH-6897 Fix binding inventory item
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemCommand.groovy
Labels: domain: backend

OBPIH-6897 Fix sending expiration date in valid format
  src/js/components/form-elements/v2/DateField.jsx
Labels: domain: frontend

OBPIH-6897 Fix recomputing status
  src/main/groovy/org/pih/warehouse/inventory/CycleCountSubmitCountCommand.groovy
Labels: domain: backend

OBPIH-6897 Add new url
  src/js/api/urls.js
Labels: domain: frontend

OBPIH-6897 Fix saving cycle count
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
Labels: domain: backend

OBPIH-6897 Add discrepancy modal
  src/js/api/services/CycleCountApi.js
  src/js/components/cycleCount/toCountTab/CountStep.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
Labels: domain: frontend

OBPIH-6897 Change quantity on hand for new lines
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/js/api/services/CycleCountApi.js
Labels: domain: backend, domain: frontend

OBPIH-6897 Fix naming
  src/js/hooks/cycleCount/useCountStep.jsx
Labels: domain: frontend

Update source file messages.properties
  grails-app/i18n/messages.properties
Labels: none

New translations messages.properties (French)
  grails-app/i18n/messages_fr.properties
Labels: none

New translations messages.properties (Spanish)
  grails-app/i18n/messages_es.properties
Labels: none

New translations messages.properties (Arabic)
  grails-app/i18n/messages_ar.properties
Labels: none

New translations messages.properties (Czech)
  grails-app/i18n/messages_cs.properties
Labels: none

.github/labeler.yml:

# Automatically adds labels to a pull request.
# https://github.com/actions/labeler

"type: bug":
  - head-branch: ['^bug/', '^bugfix/']

"type: feature":
  - head-branch: ['^feature/', '^feat/', '^ft/']

"type: maintenance":
  - head-branch: ['^maintenance/', '^techdebt/', '^chore/']

"type: release":
  - head-branch: ['^release/']

"warn: do not squash":
  - head-branch: ['^release/', '^develop', '^master']

"domain: l10n":
  - head-branch: ['l10n']
  - changed-files:
      - any-glob-to-any-file:
          - 'grails-app/i18n/**/*'

"flag: ignore in release notes":
  - head-branch: ['l10n']

"domain: backend":
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main/groovy/**/*'
      - 'grails-app/controllers/**/*'
      - 'grails-app/domain/**/*'
      - 'grails-app/jobs/**/*'
      - 'grails-app/services/**/*'

"domain: frontend":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/taglib/**/*'
      - '**/*.js'
      - '**/*.jsx'
      - '**/*.scss'
      - '**/*.css'
      - '**/*.html'
      - '**/*.gsp'

"domain: devops":
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - 'docker/**/*'

"domain: documentation":
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '**/*.md'
      - 'readthedocs.yml'
      - 'mkdocs.yml'

"flag: config change":
- all:
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/conf/**/*'
      - 'grails-app/init/**/*'
      - '**/*.gradle'
      - '**/*.properties'
      - 'package.json'
      - 'package-lock.json'
    - all-globs-to-all-files:
      - '!grails-app/i18n/**/*'

"flag: schema change":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/migrations/**/*'
