Repository openboxes/openboxes, changes with the labels that .github/labeler.yml gives for each.
All labels: domain: backend, domain: frontend, domain: devops, domain: documentation, flag: schema change

.github/labeler.yml:

# Automatically adds labels to a pull request.
# https://github.com/actions/labeler

"type: bug":
  - head-branch: ['^bug/', '^bugfix/']

"type: feature":
  - head-branch: ['^feature/', '^feat/', '^ft/']

"type: maintenance":
  - head-branch: ['^maintenance/', '^techdebt/', '^chore/']

"type: release":
  - head-branch: ['^release/']

"warn: do not squash":
  - head-branch: ['^release/', '^develop', '^master']

"domain: l10n":
  - head-branch: ['l10n']
  - changed-files:
      - any-glob-to-any-file:
          - 'grails-app/i18n/**/*'

"flag: ignore in release notes":
  - head-branch: ['l10n']

"domain: backend":
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main/groovy/**/*'
      - 'grails-app/controllers/**/*'
      - 'grails-app/domain/**/*'
      - 'grails-app/jobs/**/*'
      - 'grails-app/services/**/*'

"domain: frontend":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/taglib/**/*'
      - '**/*.js'
      - '**/*.jsx'
      - '**/*.scss'
      - '**/*.css'
      - '**/*.html'
      - '**/*.gsp'

"domain: devops":
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - 'docker/**/*'

"domain: documentation":
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '**/*.md'
      - 'readthedocs.yml'
      - 'mkdocs.yml'

"flag: config change":
- all:
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/conf/**/*'
      - 'grails-app/init/**/*'
      - '**/*.gradle'
      - '**/*.properties'
      - 'package.json'
      - 'package-lock.json'
    - all-globs-to-all-files:
      - '!grails-app/i18n/**/*'

"flag: schema change":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/migrations/**/*'

Update source file messages.properties
  grails-app/i18n/messages.properties
Labels: none

OBPIH-6960 fixed eslint error
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2Create.jsx
  src/js/hooks/inboundV2/useInboundForm.js
  src/js/hooks/inboundV2/useInboundValidation.js
Labels: domain: frontend

WIP: filter cycle count candidates by cycle count status
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/js/consts/cycleCountStatus.js
  src/js/consts/cycleCountStatusGroup.js
  src/js/hooks/cycleCount/useToCountTab.jsx
  src/js/hooks/cycleCount/useToResolveTab.jsx
  src/main/groovy/org/pih/warehouse/inventory/CycleCountCandidateFilterCommand.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountStatusGroup.groovy
Labels: domain: backend, domain: frontend

OBPIH-6978 Add bin location property to cycle count item and assign an initial date counted for a cycle count item
  grails-app/domain/org/pih/warehouse/inventory/CycleCountItem.groovy
  grails-app/migrations/0.9.x/changelog-2025-02-05-1500-add-column-location-to-cycle-count-item.xml
  grails-app/migrations/0.9.x/changelog.xml
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemDto.groovy
Labels: domain: backend, flag: schema change

OBPIH-6960 fix InventoryItems bug
  src/js/hooks/inboundV2/addItems/useInboundAddItemsForm.jsx
Labels: domain: frontend

OBPIH-6960 fix udpate issues
  src/js/hooks/inboundV2/addItems/useInboundAddItemsForm.jsx
Labels: domain: frontend

OBPIH-6978 Add bin location property to cycle count item and assign a… (#5031)
  grails-app/domain/org/pih/warehouse/inventory/CycleCountItem.groovy
  grails-app/migrations/0.9.x/changelog-2025-02-05-1500-add-column-location-to-cycle-count-item.xml
  grails-app/migrations/0.9.x/changelog.xml
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemDto.groovy
Labels: domain: backend, flag: schema change

OBPIH-6978 Fix creating a cycle count item with the default bin assigned
  grails-app/domain/org/pih/warehouse/inventory/CycleCountItem.groovy
  grails-app/migrations/0.9.x/changelog-2025-02-06-2200-drop-not-null-constraint-on-bin-location-in-cycle-count-item.xml
  grails-app/migrations/0.9.x/changelog.xml
Labels: domain: backend, flag: schema change

OBPIH-6978 Fix creating a cycle count item with the default bin assigned (#5032)
  grails-app/domain/org/pih/warehouse/inventory/CycleCountItem.groovy
  grails-app/migrations/0.9.x/changelog-2025-02-06-2200-drop-not-null-constraint-on-bin-location-in-cycle-count-item.xml
  grails-app/migrations/0.9.x/changelog.xml
Labels: domain: backend, flag: schema change

OBPIH-6894 Add mocked data
  src/js/consts/countingPageMockedData.js
Labels: domain: frontend

OBPIH-6894 Add header
  src/js/components/cycleCount/toCountTab/CountStepHeader.jsx
Labels: domain: frontend

OBPIH-6894 Add application url
  src/js/consts/applicationUrls.js
Labels: domain: frontend

OBPIH-6894 Add managing state for single table
  src/js/hooks/cycleCount/useCountStepTable.jsx
Labels: domain: frontend

OBPIH-6894 Add hook for managing state for all tables
  src/js/hooks/cycleCount/useCountStep.jsx
Labels: domain: frontend

OBPIH-6894 Adjust input components
  src/js/components/form-elements/v2/DateField.jsx
  src/js/components/form-elements/v2/SelectField.jsx
  src/js/components/form-elements/v2/TextInput.jsx
Labels: domain: frontend

OBPIH-6894 Add new route
  src/js/components/Router.jsx
Labels: domain: frontend

OBPIH-6894 Add styling and adjust data table
  src/js/components/DataTable/v2/DataTable.jsx
  src/js/components/DataTable/v2/DataTableBody.jsx
  src/js/components/cycleCount/cycleCount.scss
  src/js/hooks/useDataTable.js
Labels: domain: frontend

OBPIH-6894 Add hooks for managing tables
  src/js/components/cycleCount/toCountTab/CountStep.jsx
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
Labels: domain: frontend

OBPIH-6894 Move to counting step and add redirect
  src/js/components/cycleCount/CycleCount.jsx
  src/js/components/cycleCount/toCountTab/CycleCountToCount.jsx
  src/js/hooks/cycleCount/useToCountTab.jsx
Labels: domain: frontend

OBPIH-6894 Add translations
  grails-app/i18n/messages.properties
Labels: none

OBPIH-6894 Add validation
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
Labels: domain: frontend

OBPIH-6894 Add new translations
  grails-app/i18n/messages.properties
Labels: none

OBPIH-6894 Pass validation errors as a props
  src/js/components/cycleCount/cycleCount.scss
  src/js/components/cycleCount/toCountTab/CountStep.jsx
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
Labels: domain: frontend

OBPIH-6894 Fix inputs
  src/js/components/form-elements/v2/DateField.jsx
  src/js/components/form-elements/v2/SelectField.jsx
  src/js/components/form-elements/v2/TextInput.jsx
Labels: domain: frontend

OBPIH-6894 Fix loosing onBlur in table
  src/js/components/cycleCount/toCountTab/CountStep.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/useForceUpdate.js
Labels: domain: frontend

OBPIH-6894 Add hook for managing state for all tables
  src/js/hooks/cycleCount/useCountStep.jsx
Labels: domain: frontend

OBPIH-6894 Add managing state for single table
  src/js/hooks/cycleCount/useCountStepTable.jsx
Labels: domain: frontend

OBPIH-6894 Add styling and adjust data table
  src/js/components/DataTable/v2/DataTable.jsx
  src/js/components/cycleCount/cycleCount.scss
Labels: domain: frontend

OBPIH-6894 Adjust input components
  src/js/components/form-elements/v2/DateField.jsx
  src/js/components/form-elements/v2/SelectField.jsx
  src/js/components/form-elements/v2/TextInput.jsx
Labels: domain: frontend

OBPIH-6894 Add hooks for managing tables
  src/js/components/cycleCount/toCountTab/CountStep.jsx
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
Labels: domain: frontend

OBPIH-6894 Add translations
  grails-app/i18n/messages.properties
Labels: none

OBPIH-6894 Fix loosing onBlur in table
  src/js/components/cycleCount/toCountTab/CountStep.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
Labels: domain: frontend

OBPIH-6894 Add new translations
  grails-app/i18n/messages.properties
Labels: none

OBPIH-6894 Fix inputs
  src/js/components/form-elements/v2/DateField.jsx
  src/js/components/form-elements/v2/SelectField.jsx
  src/js/components/form-elements/v2/TextInput.jsx
Labels: domain: frontend

OBPIH-6894 Pass validation errors as a props
  src/js/components/cycleCount/cycleCount.scss
  src/js/components/cycleCount/toCountTab/CountStep.jsx
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
Labels: domain: frontend

OBPIH-6894 Add types and action
  src/js/actions/index.js
  src/js/actions/types.js
  src/js/reducers/index.jsx
Labels: domain: frontend

OBPIH-6894 Add validation
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
Labels: domain: frontend

OBPIH-6894 Add cycleCount reducer
  src/js/reducers/cycleCountReducer.js
Labels: domain: frontend

OBPIH-6894 Fix styling, add border
  src/js/components/cycleCount/cycleCount.scss
Labels: domain: frontend

OBPIH-6894 Change validation messages
  grails-app/i18n/messages.properties
Labels: none
