Repository openboxes/openboxes, changes with the labels that .github/labeler.yml gives for each.
All labels: domain: backend, domain: frontend, domain: devops, domain: documentation, flag: schema change

OBPIH-7173 Add null as a fallbacks for lot number
  grails-app/domain/org/pih/warehouse/inventory/InventoryItem.groovy
  grails-app/init/org/pih/warehouse/BootStrap.groovy
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemCommand.groovy
Labels: domain: backend, domain: frontend

OBPIH-7173 Add null as a fallbacks for lot number
  grails-app/domain/org/pih/warehouse/inventory/InventoryItem.groovy
  grails-app/init/org/pih/warehouse/BootStrap.groovy
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemCommand.groovy
Labels: domain: backend, domain: frontend

OBPIH-7169 Rename info bar
  src/js/components/cycleCount/CycleCountStockDiscrepancyInfoBar.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
Labels: domain: frontend

OBPIH-7169 Detect discrepancy caused by removed inventories during co… (#5198)
  grails-app/i18n/messages.properties
  grails-app/services/org/pih/warehouse/inventory/CycleCountProductAvailabilityService.groovy
  src/js/components/cycleCount/CycleCountStockDiscrepancyInfoBar.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStep.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: backend, domain: frontend

OBPIH-6381 Wrap Text for long product names on Goods Receipt Note (#5197)
  grails-app/views/goodsReceiptNote/print.gsp
Labels: domain: frontend

OBPIH-6780 Remove unused footer styles
  grails-app/views/deliveryNote/print.gsp
Labels: domain: frontend

OBPIH-7165 Sort Picklist items by Bin Locations
  grails-app/views/picklist/_page.gsp
  grails-app/views/picklist/_printPage.gsp
Labels: domain: frontend

OBPIH-7173 Code style improvement
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemCommand.groovy
Labels: domain: backend

OBPIH-7173 Rows duplicated when add the same inventory with no lot as added on recount (fixes after QA) (#5200)
  grails-app/domain/org/pih/warehouse/inventory/InventoryItem.groovy
  grails-app/init/org/pih/warehouse/BootStrap.groovy
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemCommand.groovy
Labels: domain: backend, domain: frontend

OBPIH-7168 Add new translation
  grails-app/i18n/messages.properties
Labels: none

OBPIH-7168 Fix errors related to empty table
  src/js/components/cycleCount/toResolveTab/ResolveStep.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

OBPIH-7168 Fix closing cycle count when no items exist
  grails-app/domain/org/pih/warehouse/inventory/CycleCount.groovy
Labels: domain: backend

OBPIH-7168 Fix duplicated label
  grails-app/i18n/messages.properties
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
Labels: domain: frontend

OBPIH-7168 Fix issues with product, moving items to the bottom and merging lines
  grails-app/domain/org/pih/warehouse/inventory/CycleCount.groovy
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: backend, domain: frontend

OBPIH-7202 Fix sending a refresh request for cycle count that was COMPLETED
  src/js/actions/types.js
  src/js/components/cycleCount/toResolveTab/ResolveStepHeader.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/reducers/cycleCountReducer.js
Labels: domain: frontend

OBPIH-7202 Fix sending a refresh request for cycle count that was COM… (#5201)
  src/js/actions/types.js
  src/js/components/cycleCount/toResolveTab/ResolveStepHeader.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/reducers/cycleCountReducer.js
Labels: domain: frontend

OBPIH-6780 Add Page numbers on Picklist and Delivery Note (#5199)
  grails-app/views/deliveryNote/print.gsp
  grails-app/views/picklist/print.gsp
Labels: domain: frontend

OBPIH-6962 Allow Export of only Results on Product Source List Page
  grails-app/controllers/org/pih/warehouse/product/ProductSupplierController.groovy
  grails-app/services/org/pih/warehouse/data/ProductSupplierService.groovy
  src/js/components/productSupplier/ProductSupplierListTable.jsx
  src/js/consts/applicationUrls.js
  src/js/hooks/list-pages/productSupplier/useProductSupplierActions.jsx
  src/main/groovy/org/pih/warehouse/product/ProductSupplierFilterCommand.groovy
Labels: domain: backend, domain: frontend

OBPIH-6962 Add small corrections
  grails-app/controllers/org/pih/warehouse/product/ProductSupplierController.groovy
  src/js/components/productSupplier/ProductSupplierListTable.jsx
  src/js/consts/applicationUrls.js
Labels: domain: backend, domain: frontend

OBPIH-6962 Add small corrections
  grails-app/controllers/org/pih/warehouse/product/ProductSupplierController.groovy
  grails-app/services/org/pih/warehouse/data/ProductSupplierService.groovy
Labels: domain: backend

OBPIH-7168 Remove validation
  src/js/hooks/cycleCount/useResolveStep.js
  src/main/groovy/org/pih/warehouse/inventory/CycleCountSubmitRecountCommand.groovy
Labels: domain: backend, domain: frontend

OBPIH-7219 Wording and UI improvements cycle count
  grails-app/i18n/messages.properties
  src/js/components/cycleCount/allProductsTab/AllProductsTabFooter.jsx
  src/js/components/cycleCount/allProductsTab/CycleCountAllProducts.jsx
  src/js/components/form-elements/v2/style.scss
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

OBPIH-7168 Fix closing cycle count when no items exist
  grails-app/domain/org/pih/warehouse/inventory/CycleCount.groovy
Labels: domain: backend

OBPIH-7168 Fix duplicated label
  grails-app/i18n/messages.properties
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
Labels: domain: frontend

OBPIH-7168 Fix errors related to empty table
  src/js/components/cycleCount/toResolveTab/ResolveStep.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

OBPIH-7168 Add new translation
  grails-app/i18n/messages.properties
Labels: none

OBPIH-7168 Fix issues with product, moving items to the bottom and merging lines
  grails-app/domain/org/pih/warehouse/inventory/CycleCount.groovy
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: backend, domain: frontend

OBPIH-7219 Add small improvements
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

OBPIH-7219 Add small improvements
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

OBPIH-7168 Fixes after review
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: frontend

add support for canceling a count
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/i18n/messages.properties
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/css/main.scss
  src/js/api/services/CycleCountApi.js
  src/js/components/cycleCount/toCountTab/CycleCountToCount.jsx
  src/js/components/cycleCount/toResolveTab/CycleCountToResolve.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStep.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepHeader.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/hooks/cycleCount/useResolveStepValidation.js
  src/js/hooks/cycleCount/useToCountTab.jsx
  src/js/hooks/cycleCount/useToResolveTab.jsx
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemCommand.groovy
  src/test/groovy/unit/org/pih/warehouse/inventory/CycleCountProductAvailabilityServiceSpec.groovy
Labels: domain: backend, domain: frontend

OBPIH-7165 Sort Picklist items by Bin Locations
  grails-app/i18n/messages.properties
  grails-app/services/org/pih/warehouse/inventory/StockMovementService.groovy
  grails-app/views/stockMovement/show.gsp
Labels: domain: backend, domain: frontend

OBPIH-7165 Sort Picklist items by Bin Locations
  grails-app/i18n/messages.properties
  grails-app/services/org/pih/warehouse/inventory/StockMovementService.groovy
  grails-app/views/stockMovement/show.gsp
Labels: domain: backend, domain: frontend

OBPIH-7165 Change stepNumber
  grails-app/services/org/pih/warehouse/inventory/StockMovementService.groovy
  grails-app/views/stockMovement/show.gsp
Labels: domain: backend, domain: frontend

OBPIH-7168 Fix after review
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: frontend

OBPIH-7219 Corrections after code review
  src/js/components/cycleCount/allProductsTab/AllProductsTabFooter.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

OBPIH-7165 Remove DOMContentLoaded listener
  grails-app/views/stockMovement/show.gsp
Labels: domain: frontend

OBPIH-7168 Delete all inventories when recount in progress (without status changes) (#5204)
  grails-app/i18n/messages.properties
  src/js/components/cycleCount/toResolveTab/ResolveStep.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

OBPIH-7169 Fix items not being removed when stock is removed during recount
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/i18n/messages.properties
  grails-app/services/org/pih/warehouse/inventory/CycleCountProductAvailabilityService.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/js/api/services/CycleCountApi.js
  src/js/api/urls.js
  src/js/components/cycleCount/CycleCountStockDiscrepancyInfoBar.jsx
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: backend, domain: frontend

OBPIH-7169 Add missing default translation
  src/js/components/cycleCount/CycleCountStockDiscrepancyInfoBar.jsx
Labels: domain: frontend

.github/labeler.yml:

# Automatically adds labels to a pull request.
# https://github.com/actions/labeler

"type: bug":
  - head-branch: ['^bug/', '^bugfix/']

"type: feature":
  - head-branch: ['^feature/', '^feat/', '^ft/']

"type: maintenance":
  - head-branch: ['^maintenance/', '^techdebt/', '^chore/']

"type: release":
  - head-branch: ['^release/']

"warn: do not squash":
  - head-branch: ['^release/', '^develop', '^master']

"domain: l10n":
  - head-branch: ['l10n']
  - changed-files:
      - any-glob-to-any-file:
          - 'grails-app/i18n/**/*'

"flag: ignore in release notes":
  - head-branch: ['l10n']

"domain: backend":
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main/groovy/**/*'
      - 'grails-app/controllers/**/*'
      - 'grails-app/domain/**/*'
      - 'grails-app/jobs/**/*'
      - 'grails-app/services/**/*'

"domain: frontend":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/taglib/**/*'
      - '**/*.js'
      - '**/*.jsx'
      - '**/*.scss'
      - '**/*.css'
      - '**/*.html'
      - '**/*.gsp'

"domain: devops":
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - 'docker/**/*'

"domain: documentation":
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '**/*.md'
      - 'readthedocs.yml'
      - 'mkdocs.yml'

"flag: config change":
- all:
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/conf/**/*'
      - 'grails-app/init/**/*'
      - '**/*.gradle'
      - '**/*.properties'
      - 'package.json'
      - 'package-lock.json'
    - all-globs-to-all-files:
      - '!grails-app/i18n/**/*'

"flag: schema change":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/migrations/**/*'
