Repository openboxes/openboxes, changes with the labels that .github/labeler.yml gives for each.
All labels: domain: backend, domain: frontend, domain: devops, domain: documentation, flag: schema change

.github/labeler.yml:

# Automatically adds labels to a pull request.
# https://github.com/actions/labeler

"type: bug":
  - head-branch: ['^bug/', '^bugfix/']

"type: feature":
  - head-branch: ['^feature/', '^feat/', '^ft/']

"type: maintenance":
  - head-branch: ['^maintenance/', '^techdebt/', '^chore/']

"type: release":
  - head-branch: ['^release/']

"warn: do not squash":
  - head-branch: ['^release/', '^develop', '^master']

"domain: l10n":
  - head-branch: ['l10n']
  - changed-files:
      - any-glob-to-any-file:
          - 'grails-app/i18n/**/*'

"flag: ignore in release notes":
  - head-branch: ['l10n']

"domain: backend":
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main/groovy/**/*'
      - 'grails-app/controllers/**/*'
      - 'grails-app/domain/**/*'
      - 'grails-app/jobs/**/*'
      - 'grails-app/services/**/*'

"domain: frontend":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/taglib/**/*'
      - '**/*.js'
      - '**/*.jsx'
      - '**/*.scss'
      - '**/*.css'
      - '**/*.html'
      - '**/*.gsp'

"domain: devops":
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - 'docker/**/*'

"domain: documentation":
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '**/*.md'
      - 'readthedocs.yml'
      - 'mkdocs.yml'

"flag: config change":
- all:
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/conf/**/*'
      - 'grails-app/init/**/*'
      - '**/*.gradle'
      - '**/*.properties'
      - 'package.json'
      - 'package-lock.json'
    - all-globs-to-all-files:
      - '!grails-app/i18n/**/*'

"flag: schema change":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/migrations/**/*'

OBPIH-7018 Fix after review
  grails-app/migrations/views/cycle-count-session.sql
  src/js/hooks/cycleCount/useCountStep.jsx
Labels: domain: frontend, flag: schema change

OBPIH-7054 Add conditional className logic for tooltip display
  grails-app/migrations/views/cycle-count-session.sql
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend, flag: schema change

OBPIH-7018 fix eslint
  src/js/hooks/cycleCount/useCountStep.jsx
Labels: domain: frontend

OBPIH-7003 Corrections after code review
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
  src/js/consts/cycleCountColumn.js
  src/js/hooks/cycleCount/useAllProductsTab.jsx
  src/js/hooks/cycleCount/useToCountTab.jsx
  src/js/hooks/cycleCount/useToResolveTab.jsx
Labels: domain: frontend

Revert "OBPIH-7057 Continue resolve workflow with products from last count after save"
  src/js/actions/index.js
  src/js/hooks/cycleCount/useCountStep.jsx
Labels: domain: frontend

Update source file messages.properties
  grails-app/i18n/messages.properties
Labels: none

New translations messages.properties (French)
  grails-app/i18n/messages_fr.properties
Labels: none

OBPIH-7077 Shorten the name of Bin location in resolve step
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

OBPIH-7079 Change association from user to person for assignee in cycle count item
  grails-app/domain/org/pih/warehouse/inventory/CycleCountItem.groovy
  grails-app/migrations/0.9.x/changelog-2025-03-11-1300-drop-user-foreign-key-from-assignee-in-cycle-count-item.xml
  grails-app/migrations/0.9.x/changelog-2025-03-11-1400-add-person-foreign-key-for-assignee-in-cycle-count-item.xml
  grails-app/migrations/0.9.x/changelog.xml
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemCommand.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemDto.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountUpdateItemCommand.groovy
Labels: domain: backend, flag: schema change

removing /items from uri
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/js/api/urls.js
  src/js/components/cycleCount/toResolveTab/ResolveStepHeader.jsx
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: backend, domain: frontend

OBPIH-7020 Implement cycle count session ranking using last counted date
  grails-app/migrations/views/changelog.xml
  grails-app/migrations/views/cycle-count-frequency.sql
  grails-app/migrations/views/cycle-count-metadata.sql
  grails-app/migrations/views/cycle-count-session.sql
  grails-app/migrations/views/product-classification.sql
Labels: flag: schema change

OBPIH-7020 Moved the ranking algorithm (sort order logic) into the candidates query
  grails-app/domain/org/pih/warehouse/inventory/CycleCountCandidate.groovy
  grails-app/migrations/views/cycle-count-session.sql
  grails-app/migrations/views/drop-all-views.xml
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
Labels: domain: backend, flag: schema change

OBPIH-7020 Created cycle_count_candidate view to handle complex ranking requirements
  grails-app/migrations/views/changelog.xml
  grails-app/migrations/views/cycle-count-candidate.sql
  grails-app/migrations/views/cycle-count-frequency.sql
  grails-app/migrations/views/cycle-count-session.sql
  grails-app/migrations/views/drop-all-views.xml
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
Labels: domain: backend, flag: schema change

OBPIH-7020 Removed temporary code used to materialize a view used to test performance
  grails-app/migrations/views/cycle-count-frequency.sql
Labels: flag: schema change

OBPIH-7010 add reload button in recount flow to refresh QoH (#5092)
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/domain/org/pih/warehouse/inventory/CycleCount.groovy
  grails-app/i18n/messages.properties
  grails-app/services/org/pih/warehouse/inventory/CycleCountProductAvailabilityService.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountTransactionService.groovy
  src/js/api/services/CycleCountApi.js
  src/js/api/urls.js
  src/js/components/cycleCount/toResolveTab/ResolveStep.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepHeader.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/main/groovy/org/pih/warehouse/inventory/CycleCountStartCommand.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountStartRecountCommand.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountStatus.groovy
  src/test/groovy/unit/org/pih/warehouse/inventory/CycleCountProductAvailabilityServiceSpec.groovy
  src/test/groovy/unit/org/pih/warehouse/inventory/CycleCountTransactionServiceSpec.groovy
Labels: domain: backend, domain: frontend

New translations messages.properties (French)
  grails-app/i18n/messages_fr.properties
Labels: none

New translations messages.properties (Spanish)
  grails-app/i18n/messages_es.properties
Labels: none

New translations messages.properties (Arabic)
  grails-app/i18n/messages_ar.properties
Labels: none

New translations messages.properties (Czech)
  grails-app/i18n/messages_cs.properties
Labels: none

New translations messages.properties (German)
  grails-app/i18n/messages_de.properties
Labels: none

New translations messages.properties (Finnish)
  grails-app/i18n/messages_fi.properties
Labels: none

New translations messages.properties (Italian)
  grails-app/i18n/messages_it.properties
Labels: none

New translations messages.properties (Dutch)
  grails-app/i18n/messages_nl.properties
Labels: none

New translations messages.properties (Portuguese)
  grails-app/i18n/messages_pt.properties
Labels: none

New translations messages.properties (Chinese Simplified)
  grails-app/i18n/messages_zh.properties
Labels: none

New translations messages.properties (Swahili)
  grails-app/i18n/messages_sw.properties
Labels: none

New translations messages.properties (Haitian Creole)
  grails-app/i18n/messages_ht.properties
Labels: none

New translations messages.properties (Kinyarwanda)
  grails-app/i18n/messages_rw.properties
Labels: none

New translations messages.properties (Acholi)
  grails-app/i18n/messages_ach.properties
Labels: none

Update source file messages.properties
  grails-app/i18n/messages.properties
Labels: none

reorder operations when completing a count
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
Labels: domain: backend

minor fix in variables
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
Labels: domain: backend

OBPIH-7032 Complete count after count with no discrepancy or after recount (#5109)
  grails-app/domain/org/pih/warehouse/inventory/CycleCount.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountStatus.groovy
Labels: domain: backend

OBPIH-7020 Removed subquery by pulling most recent date counted from cycle count metadata
  grails-app/domain/org/pih/warehouse/inventory/CycleCountCandidate.groovy
  grails-app/migrations/views/cycle-count-metadata.sql
  grails-app/migrations/views/cycle-count-session.sql
  grails-app/migrations/views/product-classification.sql
  grails-app/migrations/views/product-count-history.sql
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountCandidateFilterCommand.groovy
Labels: domain: backend, flag: schema change

OBPIH-7078 Add tooltip to the date on the resolve step
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

OBPIH-7003 Fix last count date
  src/js/consts/cycleCountColumn.js
Labels: domain: frontend

Fix resolving workflow to look for cycle count, not cycle count request
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountStartRecountBatchCommand.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountStartRecountCommand.groovy
Labels: domain: backend

OBPIH-7072 Fix transient not saved exception when creating a new inventory item in cycle count workflow
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
Labels: domain: backend

Fix property name for validation
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
Labels: domain: backend

OBPIH-6939 Fix dateLastCount
  src/js/hooks/cycleCount/useAllProductsTab.jsx
Labels: domain: frontend
