Repository openboxes/openboxes, changes with the labels that .github/labeler.yml gives for each.
All labels: domain: backend, domain: frontend, domain: devops, domain: documentation, flag: schema change

OBPIH-7078 Add tooltip to the date on the resolve step + add error icon and tooltip for CountedBy and RecountedBy select (#5115)
  grails-app/i18n/messages.properties
  src/js/components/cycleCount/cycleCount.scss
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

New translations messages.properties (French)
  grails-app/i18n/messages_fr.properties
Labels: none

New translations messages.properties (Spanish)
  grails-app/i18n/messages_es.properties
Labels: none

New translations messages.properties (Arabic)
  grails-app/i18n/messages_ar.properties
Labels: none

New translations messages.properties (Czech)
  grails-app/i18n/messages_cs.properties
Labels: none

New translations messages.properties (German)
  grails-app/i18n/messages_de.properties
Labels: none

New translations messages.properties (Finnish)
  grails-app/i18n/messages_fi.properties
Labels: none

New translations messages.properties (Italian)
  grails-app/i18n/messages_it.properties
Labels: none

New translations messages.properties (Dutch)
  grails-app/i18n/messages_nl.properties
Labels: none

New translations messages.properties (Portuguese)
  grails-app/i18n/messages_pt.properties
Labels: none

New translations messages.properties (Chinese Simplified)
  grails-app/i18n/messages_zh.properties
Labels: none

New translations messages.properties (Swahili)
  grails-app/i18n/messages_sw.properties
Labels: none

New translations messages.properties (Haitian Creole)
  grails-app/i18n/messages_ht.properties
Labels: none

New translations messages.properties (Kinyarwanda)
  grails-app/i18n/messages_rw.properties
Labels: none

New translations messages.properties (Acholi)
  grails-app/i18n/messages_ach.properties
Labels: none

OBPIH-7097 Fix after review
  grails-app/services/org/pih/warehouse/inventory/CycleCountProductAvailabilityService.groovy
Labels: domain: backend

add unit test and modify logic when checking if item was custom added
  grails-app/services/org/pih/warehouse/inventory/CycleCountProductAvailabilityService.groovy
  src/test/groovy/unit/org/pih/warehouse/inventory/CycleCountProductAvailabilityServiceSpec.groovy
Labels: domain: backend

OBPIH-7097 Can't save at the end of recount when adding a custom row on counting step (#5136)
  grails-app/services/org/pih/warehouse/inventory/CycleCountProductAvailabilityService.groovy
  src/test/groovy/unit/org/pih/warehouse/inventory/CycleCountProductAvailabilityServiceSpec.groovy
Labels: domain: backend

OBPIH-7087 Fix date format
  grails-app/init/org/pih/warehouse/BootStrap.groovy
  grails-app/migrations/views/cycle-count-session.sql
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend, flag: schema change

OBPIH-7015 Improve blind count form (#5137)
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  grails-app/views/cycleCount/_printCount.gsp
  grails-app/views/cycleCount/_printRecount.gsp
  src/js/api/services/CycleCountApi.js
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: backend, domain: frontend

OBPIH-7076 Show recount difference for new lines
  src/js/components/DataTable/v2/ArrowValueIndicator.jsx
  src/js/consts/arrowValueIndicatorVariant.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

OBPIH-7076 Remove receiving bin locations from dropdown
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

OBPIH-7076 Fix persisting validation without refreshing
  src/js/components/cycleCount/toCountTab/CountStep.jsx
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStep.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useCountStepValidation.js
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/js/hooks/cycleCount/useResolveStepValidation.js
  src/js/hooks/useForceRender.js
Labels: domain: frontend

OBPIH-7087 Fix format data
  grails-app/init/org/pih/warehouse/BootStrap.groovy
  grails-app/migrations/views/cycle-count-session.sql
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/main/groovy/org/pih/warehouse/inventory/CycleCountUpdateItemCommand.groovy
Labels: domain: backend, domain: frontend, flag: schema change

OBPIH-7087 Edited value of Date counted is not saved
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/main/groovy/org/pih/warehouse/inventory/CycleCountUpdateItemCommand.groovy
Labels: domain: backend, domain: frontend

OBPIH-6990 Fix sorting bug
  src/main/groovy/org/pih/warehouse/api/PartialReceiptContainer.groovy
Labels: domain: backend

OBPIH-7076 Unexpected validation on qty field after triggering qty validation and save (#5134)
  src/js/components/DataTable/v2/ArrowValueIndicator.jsx
  src/js/components/cycleCount/toCountTab/CountStep.jsx
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStep.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
  src/js/consts/arrowValueIndicatorVariant.js
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useCountStepValidation.js
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/js/hooks/cycleCount/useResolveStepValidation.js
  src/js/hooks/useForceRender.js
Labels: domain: frontend

OBPIH-7087 Corrections after code review
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountUpdateItemCommand.groovy
Labels: domain: backend

OBPIH-7087 Remove semicolon
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
Labels: domain: backend

OBPIH-7018 Fix erasing the draft when submitting a count
  src/js/hooks/cycleCount/useCountStep.jsx
Labels: domain: frontend

OBPIH-7078 Corrections after code review
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
Labels: domain: backend

OBPIH-7061 Prevent fractional values in cycle count quantity field
  grails-app/views/inventoryItem/_showRecordInventory.gsp
Labels: domain: frontend

OBPIH-7061 Prevent fractional values in cycle count quantity field
  grails-app/views/inventoryItem/_showRecordInventory.gsp
Labels: domain: frontend

OBPIH-7061 Fix syntax
  grails-app/views/inventoryItem/_showRecordInventory.gsp
Labels: domain: frontend

OBPIH-7061 Corrections after code review
  grails-app/views/inventoryItem/_showRecordInventory.gsp
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/js/utils/preventFractionalValues.js
Labels: domain: frontend

OBPIH-7061 Add parseInt after click 'next'
  grails-app/init/org/pih/warehouse/BootStrap.groovy
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/js/utils/preventFractionalValues.js
Labels: domain: frontend

OBPIH-7061 Remove clearData
  grails-app/init/org/pih/warehouse/BootStrap.groovy
Labels: none

OBPIH-7061 Add parseInt on onBlur
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

OBPIH-7033 Prevent starting count with amount of selected items more than expected in configuration
  grails-app/conf/runtime.groovy
  grails-app/controllers/org/pih/warehouse/api/ApiController.groovy
  grails-app/i18n/messages.properties
  src/js/hooks/cycleCount/useAllProductsTab.jsx
  src/js/hooks/cycleCount/useToCountTab.jsx
  src/js/hooks/cycleCount/useToResolveTab.jsx
  src/js/hooks/useThrowError.js
  src/js/reducers/sessionReducer.jsx
Labels: domain: backend, domain: frontend

OBPIH-7033 Fix quantity counted difference
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/js/hooks/cycleCount/useToCountTab.jsx
  src/js/hooks/cycleCount/useToResolveTab.jsx
Labels: domain: frontend

.github/labeler.yml:

# Automatically adds labels to a pull request.
# https://github.com/actions/labeler

"type: bug":
  - head-branch: ['^bug/', '^bugfix/']

"type: feature":
  - head-branch: ['^feature/', '^feat/', '^ft/']

"type: maintenance":
  - head-branch: ['^maintenance/', '^techdebt/', '^chore/']

"type: release":
  - head-branch: ['^release/']

"warn: do not squash":
  - head-branch: ['^release/', '^develop', '^master']

"domain: l10n":
  - head-branch: ['l10n']
  - changed-files:
      - any-glob-to-any-file:
          - 'grails-app/i18n/**/*'

"flag: ignore in release notes":
  - head-branch: ['l10n']

"domain: backend":
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main/groovy/**/*'
      - 'grails-app/controllers/**/*'
      - 'grails-app/domain/**/*'
      - 'grails-app/jobs/**/*'
      - 'grails-app/services/**/*'

"domain: frontend":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/taglib/**/*'
      - '**/*.js'
      - '**/*.jsx'
      - '**/*.scss'
      - '**/*.css'
      - '**/*.html'
      - '**/*.gsp'

"domain: devops":
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - 'docker/**/*'

"domain: documentation":
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '**/*.md'
      - 'readthedocs.yml'
      - 'mkdocs.yml'

"flag: config change":
- all:
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/conf/**/*'
      - 'grails-app/init/**/*'
      - '**/*.gradle'
      - '**/*.properties'
      - 'package.json'
      - 'package-lock.json'
    - all-globs-to-all-files:
      - '!grails-app/i18n/**/*'

"flag: schema change":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/migrations/**/*'
