Repository openboxes/openboxes, changes with the labels that .github/labeler.yml gives for each.
All labels: domain: backend, domain: frontend, domain: devops, domain: documentation, flag: schema change

add unit tests for two digit year format
  src/test/groovy/unit/org/pih/warehouse/utils/DateUtilSpec.groovy
  src/test/groovy/unit/org/pih/warehouse/utils/databinding/InstantValueConverterSpec.groovy
  src/test/groovy/unit/org/pih/warehouse/utils/databinding/LocalDateValueConverterSpec.groovy
Labels: none

OBPIH-6937 Create details form (fix after QA) (#5029)
  src/js/components/stock-movement-wizard/inboundV2/InboundV2.jsx
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2Create.jsx
  src/js/hooks/inboundV2/useInboundValidation.js
Labels: domain: frontend

fix need to specify toString() when deserializing java.time classes to json
  grails-app/init/org/pih/warehouse/BootStrap.groovy
Labels: none

clarify reasoning behind not using local server time
  grails-app/utils/org/pih/warehouse/databinding/InstantValueConverter.groovy
Labels: none

make DateUtilSpec assertions clearer
  src/test/groovy/unit/org/pih/warehouse/utils/DateUtilSpec.groovy
  src/test/groovy/unit/org/pih/warehouse/utils/databinding/InstantValueConverterSpec.groovy
Labels: none

OBPIH-6895 Update conditions in div elements
  src/js/components/cycleCount/cycleCount.scss
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
Labels: domain: frontend

OBPIH-6895 Add padding
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
Labels: domain: frontend

OBPIH-6895 Load the count confirmation page (#5035)
  grails-app/i18n/messages.properties
  src/js/components/cycleCount/cycleCount.scss
  src/js/components/cycleCount/toCountTab/ConfirmStepHeader.jsx
  src/js/components/cycleCount/toCountTab/CountStep.jsx
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
Labels: domain: frontend

OBPIH-6941 Adjust columns widths in cycle count tables
  src/js/components/DataTable/v2/DataTableBody.jsx
  src/js/components/DataTable/v2/DataTableHeader.jsx
  src/js/hooks/cycleCount/useAllProductsTab.jsx
Labels: domain: frontend

OBPIH-6938 Corrections after code review
  src/js/hooks/useTableCheckboxes.js
Labels: domain: frontend

New translations messages.properties (French)
  grails-app/i18n/messages_fr.properties
Labels: none

New translations messages.properties (Spanish)
  grails-app/i18n/messages_es.properties
Labels: none

New translations messages.properties (Arabic)
  grails-app/i18n/messages_ar.properties
Labels: none

New translations messages.properties (Czech)
  grails-app/i18n/messages_cs.properties
Labels: none

New translations messages.properties (German)
  grails-app/i18n/messages_de.properties
Labels: none

New translations messages.properties (Finnish)
  grails-app/i18n/messages_fi.properties
Labels: none

New translations messages.properties (Italian)
  grails-app/i18n/messages_it.properties
Labels: none

New translations messages.properties (Dutch)
  grails-app/i18n/messages_nl.properties
Labels: none

New translations messages.properties (Portuguese)
  grails-app/i18n/messages_pt.properties
Labels: none

New translations messages.properties (Chinese Simplified)
  grails-app/i18n/messages_zh.properties
Labels: none

New translations messages.properties (Swahili)
  grails-app/i18n/messages_sw.properties
Labels: none

New translations messages.properties (Haitian Creole)
  grails-app/i18n/messages_ht.properties
Labels: none

New translations messages.properties (Kinyarwanda)
  grails-app/i18n/messages_rw.properties
Labels: none

New translations messages.properties (Acholi)
  grails-app/i18n/messages_ach.properties
Labels: none

OBPIH-6941 Add widths for toCountTab and toResolveTab
  src/js/hooks/cycleCount/useToCountTab.jsx
  src/js/hooks/cycleCount/useToResolveTab.jsx
Labels: domain: frontend

Update source file messages.properties
  grails-app/i18n/messages.properties
Labels: none

OBPIH 6960 Create items array form (#5028)
  grails-app/i18n/messages.properties
  src/js/api/urls.js
  src/js/components/DataTable/DataTable.scss
  src/js/components/DataTable/TableCell.jsx
  src/js/components/DataTable/TableHeaderCell.jsx
  src/js/components/DataTable/v2/DataTable.jsx
  src/js/components/DataTable/v2/DataTableBody.jsx
  src/js/components/DataTable/v2/DataTableHeader.jsx
  src/js/components/productSupplier/create/ProductSupplierForm.jsx
  src/js/components/stock-movement-wizard/inboundV2/InboundV2.jsx
  src/js/components/stock-movement-wizard/inboundV2/inboundV2.scss
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2AddItems.jsx
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2Create.jsx
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2Send.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsColumns.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsForm.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsValidation.js
  src/js/hooks/inboundV2/create/useInboundCreateForm.js
  src/js/hooks/inboundV2/create/useInboundCreateValidation.js
Labels: domain: frontend

OBPIH-6980 Counted by field doesn't include newly created person/user
  src/js/hooks/cycleCount/useCountStep.jsx
Labels: domain: frontend

OBPIH-6980 Remove users from useSelector
  src/js/hooks/cycleCount/useCountStep.jsx
Labels: domain: frontend

fix message.properties merge commit
  grails-app/i18n/messages.properties
Labels: none

addressing minor review comments
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountDto.groovy
Labels: domain: backend

OBPIH-6965 add data binding support for java.time classes (#5023)
  grails-app/conf/application.yml
  grails-app/controllers/org/pih/warehouse/api/StockMovementApiController.groovy
  grails-app/init/org/pih/warehouse/BootStrap.groovy
  grails-app/utils/org/pih/warehouse/DateUtil.groovy
  grails-app/utils/org/pih/warehouse/databinding/DataBindingConstants.groovy
  grails-app/utils/org/pih/warehouse/databinding/InstantValueConverter.groovy
  grails-app/utils/org/pih/warehouse/databinding/LocalDateValueConverter.groovy
  grails-app/utils/org/pih/warehouse/databinding/StringValueConverter.groovy
  src/main/groovy/org/pih/warehouse/core/Constants.groovy
  src/main/groovy/util/StringUtil.groovy
  src/test/groovy/unit/org/pih/warehouse/utils/DateUtilSpec.groovy
  src/test/groovy/unit/org/pih/warehouse/utils/databinding/InstantValueConverterSpec.groovy
  src/test/groovy/unit/org/pih/warehouse/utils/databinding/LocalDateValueConverterSpec.groovy
Labels: domain: backend

User timezone not taken into account when displaying timestamps (fixes #5038)
  grails-app/taglib/org/pih/warehouse/FormatTagLib.groovy
Labels: domain: frontend

Default logo returns a 404 error (fixes #5041)
  grails-app/conf/application.yml
Labels: none

OBGM-739 Added more content to the configuration guide
  docs/admin-guide/configuration/application.md
  docs/admin-guide/configuration/barcode.md
  docs/admin-guide/configuration/bom.md
  docs/admin-guide/configuration/caching.md
  docs/admin-guide/configuration/connection-pool.md
  docs/admin-guide/configuration/crowdin.md
  docs/admin-guide/configuration/database.md
  docs/admin-guide/configuration/firewall.md
  docs/admin-guide/configuration/forecasting.md
  docs/admin-guide/configuration/img.png
  docs/admin-guide/configuration/job-scheduling.md
  docs/admin-guide/configuration/localization.md
  docs/admin-guide/configuration/logging.md
  docs/admin-guide/configuration/logo-document.md
  docs/admin-guide/configuration/logo-label.md
  docs/admin-guide/configuration/logo.md
  docs/admin-guide/configuration/logrotate.md
  docs/admin-guide/configuration/pagination.md
  docs/admin-guide/configuration/swap-space.md
  docs/admin-guide/configuration/thread-pool.md
  docs/admin-guide/configuration/upload-max-file-size.md
  docs/admin-guide/configuration/uploads.md
  mkdocs.yml
Labels: domain: documentation

for kacper
  grails-app/domain/org/pih/warehouse/inventory/CycleCount.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
Labels: domain: backend

OBPIH-6931 filter cycle count candidates by cycle count status (#5030)
  grails-app/domain/org/pih/warehouse/inventory/CycleCount.groovy
  grails-app/domain/org/pih/warehouse/inventory/CycleCountCandidate.groovy
  grails-app/i18n/messages.properties
  grails-app/migrations/0.9.x/changelog-2025-02-06-0000-add-column-status-to-cycle-count.xml
  grails-app/migrations/0.9.x/changelog.xml
  grails-app/migrations/views/cycle-count-session.sql
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/js/consts/cycleCountCandidateStatus.js
  src/js/consts/cycleCountStatus.js
  src/js/hooks/cycleCount/useToCountTab.jsx
  src/js/hooks/cycleCount/useToResolveTab.jsx
  src/main/groovy/org/pih/warehouse/inventory/CycleCountCandidateFilterCommand.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountCandidateStatus.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountDto.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountRequestStatus.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountStatus.groovy
Labels: domain: backend, domain: frontend, flag: schema change

New translations messages.properties (French)
  grails-app/i18n/messages_fr.properties
Labels: none

New translations messages.properties (Spanish)
  grails-app/i18n/messages_es.properties
Labels: none

New translations messages.properties (Arabic)
  grails-app/i18n/messages_ar.properties
Labels: none

.github/labeler.yml:

# Automatically adds labels to a pull request.
# https://github.com/actions/labeler

"type: bug":
  - head-branch: ['^bug/', '^bugfix/']

"type: feature":
  - head-branch: ['^feature/', '^feat/', '^ft/']

"type: maintenance":
  - head-branch: ['^maintenance/', '^techdebt/', '^chore/']

"type: release":
  - head-branch: ['^release/']

"warn: do not squash":
  - head-branch: ['^release/', '^develop', '^master']

"domain: l10n":
  - head-branch: ['l10n']
  - changed-files:
      - any-glob-to-any-file:
          - 'grails-app/i18n/**/*'

"flag: ignore in release notes":
  - head-branch: ['l10n']

"domain: backend":
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main/groovy/**/*'
      - 'grails-app/controllers/**/*'
      - 'grails-app/domain/**/*'
      - 'grails-app/jobs/**/*'
      - 'grails-app/services/**/*'

"domain: frontend":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/taglib/**/*'
      - '**/*.js'
      - '**/*.jsx'
      - '**/*.scss'
      - '**/*.css'
      - '**/*.html'
      - '**/*.gsp'

"domain: devops":
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - 'docker/**/*'

"domain: documentation":
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '**/*.md'
      - 'readthedocs.yml'
      - 'mkdocs.yml'

"flag: config change":
- all:
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/conf/**/*'
      - 'grails-app/init/**/*'
      - '**/*.gradle'
      - '**/*.properties'
      - 'package.json'
      - 'package-lock.json'
    - all-globs-to-all-files:
      - '!grails-app/i18n/**/*'

"flag: schema change":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/migrations/**/*'
