Repository openboxes/openboxes, changes with the labels that .github/labeler.yml gives for each.
All labels: domain: backend, domain: frontend, domain: devops, domain: documentation, flag: schema change

OBPIH-6974 Add hooks for handling logic and fix styling
  src/js/components/cycleCount/cycleCount.scss
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

OBPIH-6974 Add new date format for displaying in header
  src/js/consts/timeFormat.js
Labels: domain: frontend

OBPIH-6974 Add resolve step & header
  src/js/components/cycleCount/toResolveTab/ResolveStep.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepHeader.jsx
Labels: domain: frontend

OBPIH-6974 Add resolve step table
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
Labels: domain: frontend

OBPIH-6974 Fix eslint errors
  src/js/actions/index.js
  src/js/consts/discrepancyReasonCode.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

OBPIH-6974 Adjust columns sizes
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

Default logo returns a 404 error (fixes #5041) (#5043)
  grails-app/conf/application.yml
Labels: none

OBPIH-6909 Unify roles on menu items in navbar (#5049)
  grails-app/views/common/_menuicons.gsp
  grails-app/views/dashboard/megamenu.gsp
  src/js/components/Layout/menu/MenuConfigurationSubsection.jsx
  src/js/components/Layout/menu/MenuSection.jsx
  src/js/components/Layout/menu/MenuSubsection.jsx
  src/js/tests/menu/__snapshots__/Menu.test.jsx.snap
Labels: domain: frontend

OBPIH-6944 Corrections after code review
  src/js/hooks/cycleCount/useAllProductsTab.jsx
  src/js/hooks/useTableDataV2.js
Labels: domain: frontend

OBPIH-6944 Remove unnecesary comments
  src/js/hooks/useTableDataV2.js
Labels: domain: frontend

OBPIH-6975 Add arrow value indicator component and enum
  src/js/components/DataTable/v2/ArrowValueIndicator.jsx
  src/js/consts/arrowValueIndicatorVariant.js
Labels: domain: frontend

OBPIH-6975 Add new translations
  grails-app/i18n/messages.properties
Labels: none

OBPIH-6975 Add styles
  src/js/components/DataTable/DataTable.scss
  src/js/components/cycleCount/cycleCount.scss
Labels: domain: frontend

OBPIH-6975 Apply new component to the resolve step table
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

OBPIH-6895 Corrections after code review
  src/js/hooks/cycleCount/useCountStepTable.jsx
Labels: domain: frontend

New translations messages.properties (Spanish)
  grails-app/i18n/messages_es.properties
Labels: none

OBPIH-6895 fix getValueToDisplay function
  src/js/hooks/cycleCount/useCountStepTable.jsx
Labels: domain: frontend

OBPIH-6896 Implement perform count API
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/domain/org/pih/warehouse/inventory/Transaction.groovy
  grails-app/i18n/messages.properties
  grails-app/migrations/0.9.x/changelog-2025-02-11-1530-add-column-cycle-count-to-transaction.xml
  grails-app/migrations/0.9.x/changelog-2025-02-12-1300-add-cycle-count-related-transaction-types.xml
  grails-app/migrations/0.9.x/changelog.xml
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/main/groovy/org/pih/warehouse/core/Constants.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountSubmitCountCommand.groovy
Labels: domain: backend, flag: schema change

OBPIH-6944 Content refreshes twice when switching tabs (#5052)
  src/js/components/cycleCount/CycleCount.jsx
  src/js/components/cycleCount/allProductsTab/CycleCountAllProducts.jsx
  src/js/hooks/cycleCount/useAllProductsTab.jsx
Labels: domain: frontend

OBPIH-6975 Create component for columns with up vs down styling (#5053)
  grails-app/i18n/messages.properties
  src/js/components/DataTable/DataTable.scss
  src/js/components/DataTable/v2/ArrowValueIndicator.jsx
  src/js/components/cycleCount/cycleCount.scss
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
  src/js/consts/arrowValueIndicatorVariant.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

Add custom className for counted by select
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/components/form-elements/v2/SelectField.jsx
  src/js/components/form-elements/v2/style.scss
  src/js/hooks/cycleCount/useCountStepTable.jsx
Labels: domain: frontend

OBPIH-6974 Change date format
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
  src/js/consts/timeFormat.js
Labels: domain: frontend

OBPIH-6974 Rename recipients to users
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

OBPIH-6944 Content refreshes twice when switching tabs
  src/js/hooks/cycleCount/useToCountTab.jsx
  src/js/hooks/cycleCount/useToResolveTab.jsx
Labels: domain: frontend

OBPIH-6896 Fixes after review
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountSubmitCountCommand.groovy
Labels: domain: backend

skip setting Sentry context if Sentry is disabled
  grails-app/controllers/org/pih/warehouse/SentryInterceptor.groovy
Labels: domain: backend

OBPIH-6980 corrections after code review
  src/js/components/cycleCount/cycleCount.scss
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/components/form-elements/v2/style.scss
  src/js/hooks/cycleCount/useCountStepTable.jsx
Labels: domain: frontend

fix empty error message, remove redundant parenthesis
  grails-app/i18n/messages.properties
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
Labels: domain: backend

OBPIH-6945 Incorrect bin location displayed after changing location
  src/js/components/Filter/FilterForm.jsx
  src/js/components/cycleCount/CycleCount.jsx
  src/js/components/cycleCount/CycleCountFilters.jsx
  src/js/hooks/cycleCount/useCycleCountFilters.js
Labels: domain: frontend

OBPIH-7030 remove error message
  src/js/components/cycleCount/cycleCount.scss
  src/js/components/form-elements/v2/DateField.jsx
  src/js/components/form-elements/v2/SelectField.jsx
  src/js/components/form-elements/v2/TextInput.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/wrappers/InputWrapper.jsx
Labels: domain: frontend

OBPIH-6945 Rename isLoadingFilter to isLoading
  src/js/components/Filter/FilterForm.jsx
  src/js/components/cycleCount/CycleCount.jsx
  src/js/components/cycleCount/CycleCountFilters.jsx
  src/js/hooks/cycleCount/useCycleCountFilters.js
Labels: domain: frontend

OBPIH-6945 Add translate for loading
  src/js/components/Filter/FilterForm.jsx
Labels: domain: frontend

OBPIH-6945 Add loading text
  src/js/components/Filter/FilterForm.jsx
  src/js/components/Filter/FilterStyles.scss
Labels: domain: frontend

OBPIH-6896 Implement perform count API (#5048)
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/domain/org/pih/warehouse/inventory/Transaction.groovy
  grails-app/i18n/messages.properties
  grails-app/migrations/0.9.x/changelog-2025-02-11-1530-add-column-cycle-count-to-transaction.xml
  grails-app/migrations/0.9.x/changelog-2025-02-12-1300-add-cycle-count-related-transaction-types.xml
  grails-app/migrations/0.9.x/changelog.xml
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/main/groovy/org/pih/warehouse/core/Constants.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountSubmitCountCommand.groovy
Labels: domain: backend, flag: schema change

OBPIH-6944 Content refreshes twice when switching tabs (fix) (#5054)
  src/js/hooks/cycleCount/useToCountTab.jsx
  src/js/hooks/cycleCount/useToResolveTab.jsx
Labels: domain: frontend

OBPIH-6974 Create the recount form connecting with the data (#5047)
  grails-app/i18n/messages.properties
  src/js/actions/index.js
  src/js/actions/types.js
  src/js/components/DataTable/DataTable.scss
  src/js/components/DataTable/v2/ArrowValueIndicator.jsx
  src/js/components/Router.jsx
  src/js/components/cycleCount/CycleCount.jsx
  src/js/components/cycleCount/cycleCount.scss
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/components/cycleCount/toResolveTab/CycleCountToResolve.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStep.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepHeader.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
  src/js/consts/applicationUrls.js
  src/js/consts/arrowValueIndicatorVariant.js
  src/js/consts/cycleCountColumn.js
  src/js/consts/timeFormat.js
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/js/hooks/cycleCount/useToResolveTab.jsx
  src/js/reducers/cycleCountReducer.js
Labels: domain: frontend

New translations messages.properties (French)
  grails-app/i18n/messages_fr.properties
Labels: none

New translations messages.properties (Spanish)
  grails-app/i18n/messages_es.properties
Labels: none

New translations messages.properties (Arabic)
  grails-app/i18n/messages_ar.properties
Labels: none

New translations messages.properties (Czech)
  grails-app/i18n/messages_cs.properties
Labels: none

.github/labeler.yml:

# Automatically adds labels to a pull request.
# https://github.com/actions/labeler

"type: bug":
  - head-branch: ['^bug/', '^bugfix/']

"type: feature":
  - head-branch: ['^feature/', '^feat/', '^ft/']

"type: maintenance":
  - head-branch: ['^maintenance/', '^techdebt/', '^chore/']

"type: release":
  - head-branch: ['^release/']

"warn: do not squash":
  - head-branch: ['^release/', '^develop', '^master']

"domain: l10n":
  - head-branch: ['l10n']
  - changed-files:
      - any-glob-to-any-file:
          - 'grails-app/i18n/**/*'

"flag: ignore in release notes":
  - head-branch: ['l10n']

"domain: backend":
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main/groovy/**/*'
      - 'grails-app/controllers/**/*'
      - 'grails-app/domain/**/*'
      - 'grails-app/jobs/**/*'
      - 'grails-app/services/**/*'

"domain: frontend":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/taglib/**/*'
      - '**/*.js'
      - '**/*.jsx'
      - '**/*.scss'
      - '**/*.css'
      - '**/*.html'
      - '**/*.gsp'

"domain: devops":
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - 'docker/**/*'

"domain: documentation":
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '**/*.md'
      - 'readthedocs.yml'
      - 'mkdocs.yml'

"flag: config change":
- all:
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/conf/**/*'
      - 'grails-app/init/**/*'
      - '**/*.gradle'
      - '**/*.properties'
      - 'package.json'
      - 'package-lock.json'
    - all-globs-to-all-files:
      - '!grails-app/i18n/**/*'

"flag: schema change":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/migrations/**/*'
