Repository openboxes/openboxes, changes with the labels that .github/labeler.yml gives for each.
All labels: domain: backend, domain: frontend, domain: devops, domain: documentation, flag: schema change

.github/labeler.yml:

# Automatically adds labels to a pull request.
# https://github.com/actions/labeler

"type: bug":
  - head-branch: ['^bug/', '^bugfix/']

"type: feature":
  - head-branch: ['^feature/', '^feat/', '^ft/']

"type: maintenance":
  - head-branch: ['^maintenance/', '^techdebt/', '^chore/']

"type: release":
  - head-branch: ['^release/']

"warn: do not squash":
  - head-branch: ['^release/', '^develop', '^master']

"domain: l10n":
  - head-branch: ['l10n']
  - changed-files:
      - any-glob-to-any-file:
          - 'grails-app/i18n/**/*'

"flag: ignore in release notes":
  - head-branch: ['l10n']

"domain: backend":
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main/groovy/**/*'
      - 'grails-app/controllers/**/*'
      - 'grails-app/domain/**/*'
      - 'grails-app/jobs/**/*'
      - 'grails-app/services/**/*'

"domain: frontend":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/taglib/**/*'
      - '**/*.js'
      - '**/*.jsx'
      - '**/*.scss'
      - '**/*.css'
      - '**/*.html'
      - '**/*.gsp'

"domain: devops":
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - 'docker/**/*'

"domain: documentation":
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '**/*.md'
      - 'readthedocs.yml'
      - 'mkdocs.yml'

"flag: config change":
- all:
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/conf/**/*'
      - 'grails-app/init/**/*'
      - '**/*.gradle'
      - '**/*.properties'
      - 'package.json'
      - 'package-lock.json'
    - all-globs-to-all-files:
      - '!grails-app/i18n/**/*'

"flag: schema change":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/migrations/**/*'

Fix resolving workflow to look for cycle count, not cycle count request (#5116)
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountStartRecountBatchCommand.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountStartRecountCommand.groovy
Labels: domain: backend

OBPIH-7072 Fix transient not saved exception when creating a new inve… (#5117)
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
Labels: domain: backend

OBPIH-7079 Change association from user to person for assignee in cyc… (#5114)
  grails-app/domain/org/pih/warehouse/inventory/CycleCountItem.groovy
  grails-app/migrations/0.9.x/changelog-2025-03-11-1300-drop-user-foreign-key-from-assignee-in-cycle-count-item.xml
  grails-app/migrations/0.9.x/changelog-2025-03-11-1400-add-person-foreign-key-for-assignee-in-cycle-count-item.xml
  grails-app/migrations/0.9.x/changelog.xml
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemCommand.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemDto.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountUpdateItemCommand.groovy
Labels: domain: backend, flag: schema change

OBPIH-6939 Show minimum of cycle count date and inventory in Last Counted date column (#5118)
  src/js/hooks/cycleCount/useAllProductsTab.jsx
Labels: domain: frontend

OBPIH-7018 Draft unfinished count workflow (#5105)
  grails-app/i18n/messages.properties
  src/js/actions/index.js
  src/js/actions/types.js
  src/js/components/cycleCount/CycleCountDraftInfoBar.jsx
  src/js/components/cycleCount/cycleCount.scss
  src/js/components/cycleCount/toCountTab/CycleCountToCount.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useDraftInfoBar.js
  src/js/reducers/cycleCountReducer.js
Labels: domain: frontend

Update source file messages.properties
  grails-app/i18n/messages.properties
Labels: none

New translations messages.properties (French)
  grails-app/i18n/messages_fr.properties
Labels: none

New translations messages.properties (Spanish)
  grails-app/i18n/messages_es.properties
Labels: none

New translations messages.properties (Arabic)
  grails-app/i18n/messages_ar.properties
Labels: none

New translations messages.properties (Czech)
  grails-app/i18n/messages_cs.properties
Labels: none

New translations messages.properties (German)
  grails-app/i18n/messages_de.properties
Labels: none

New translations messages.properties (Finnish)
  grails-app/i18n/messages_fi.properties
Labels: none

New translations messages.properties (Italian)
  grails-app/i18n/messages_it.properties
Labels: none

New translations messages.properties (Dutch)
  grails-app/i18n/messages_nl.properties
Labels: none

New translations messages.properties (Portuguese)
  grails-app/i18n/messages_pt.properties
Labels: none

New translations messages.properties (Chinese Simplified)
  grails-app/i18n/messages_zh.properties
Labels: none

New translations messages.properties (Swahili)
  grails-app/i18n/messages_sw.properties
Labels: none

New translations messages.properties (Haitian Creole)
  grails-app/i18n/messages_ht.properties
Labels: none

New translations messages.properties (Kinyarwanda)
  grails-app/i18n/messages_rw.properties
Labels: none

New translations messages.properties (Acholi)
  grails-app/i18n/messages_ach.properties
Labels: none

OBPIH-6902 Add url for submitting recount
  src/js/api/urls.js
Labels: domain: frontend

OBPIH-6902 Fix issue with starting recount
  src/js/actions/index.js
Labels: domain: frontend

OBPIH-6902 Fix merging items, add submit
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: frontend

OBPIH-6902 Fix start resolution issue, fix issue with saving recounted by
  src/js/api/services/CycleCountApi.js
  src/js/components/cycleCount/toResolveTab/ResolveStep.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
Labels: domain: frontend

OBPIH-7003 Fix performance issue
  src/js/components/cycleCount/toCountTab/CountStep.jsx
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStep.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/js/hooks/useArrowsNavigation.jsx
  src/js/hooks/useFocusOnMatch.js
Labels: domain: frontend

OBPIH-7091 Add validation for recounted by
  src/js/components/cycleCount/toResolveTab/ResolveStep.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/hooks/cycleCount/useResolveStepValidation.js
Labels: domain: frontend

OBPIH-7091 Block moving forward without recounted by
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: frontend

OBPIH-7080 Fixed issue with unique constraint on inventory level; allow user to export via XLS
  grails-app/controllers/org/pih/warehouse/inventory/InventoryLevelController.groovy
  grails-app/domain/org/pih/warehouse/inventory/InventoryLevel.groovy
  grails-app/services/org/pih/warehouse/importer/InventoryLevelImportDataService.groovy
  grails-app/views/product/_inventoryLevels.gsp
Labels: domain: backend, domain: frontend

OBPIH-6902 Save on recount confirmation page (3.2.3) (#5119)
  src/js/actions/index.js
  src/js/api/services/CycleCountApi.js
  src/js/api/urls.js
  src/js/components/cycleCount/toResolveTab/ResolveStep.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: frontend

OBPIH-7091 Recounted By filed validation in recount workflow (#5120)
  src/js/components/cycleCount/toResolveTab/ResolveStep.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/hooks/cycleCount/useResolveStepValidation.js
Labels: domain: frontend

OBPIH-7078 Add error tooltip on counted by select
  grails-app/i18n/messages.properties
  src/js/components/cycleCount/cycleCount.scss
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
Labels: domain: frontend

OBPIH-7080 Removed new blank constraint on ABC class that was causing tests to fail
  grails-app/domain/org/pih/warehouse/inventory/InventoryLevel.groovy
Labels: domain: backend

OBPIH-7078 Add error icon + tooltip to recountedBy select
  src/js/components/cycleCount/cycleCount.scss
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
Labels: domain: frontend

OBPIH-7078 Add position-relative className
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
Labels: domain: frontend

fix status not updating to in progress when editing a count
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
Labels: domain: backend

New translations messages.properties (Spanish)
  grails-app/i18n/messages_es.properties
Labels: none

OBPIH-7020 Rank candidates with negative inventory items first
  grails-app/domain/org/pih/warehouse/inventory/CycleCountCandidate.groovy
  grails-app/migrations/views/cycle-count-candidate.sql
Labels: domain: backend, flag: schema change

OBPIH-7020 Added "included" property to classify records with QoH > 0 OR has negative inventory items
  grails-app/domain/org/pih/warehouse/inventory/CycleCountCandidate.groovy
  grails-app/migrations/views/cycle-count-candidate.sql
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
Labels: domain: backend, flag: schema change

don't auto fill global search input when hover over results
  grails-app/views/taglib/_globalSearch.gsp
  grails-app/views/taglib/_globalSearchStatic.gsp
Labels: domain: frontend

OBPIH-7074 Change starting recount
  src/js/consts/cycleCountStatus.js
  src/js/hooks/cycleCount/useCountStep.jsx
Labels: domain: frontend
