Repository openboxes/openboxes, changes with the labels that .github/labeler.yml gives for each.
All labels: domain: backend, domain: frontend, domain: devops, domain: documentation, flag: schema change

.github/labeler.yml:

# Automatically adds labels to a pull request.
# https://github.com/actions/labeler

"type: bug":
  - head-branch: ['^bug/', '^bugfix/']

"type: feature":
  - head-branch: ['^feature/', '^feat/', '^ft/']

"type: maintenance":
  - head-branch: ['^maintenance/', '^techdebt/', '^chore/']

"type: release":
  - head-branch: ['^release/']

"warn: do not squash":
  - head-branch: ['^release/', '^develop', '^master']

"domain: l10n":
  - head-branch: ['l10n']
  - changed-files:
      - any-glob-to-any-file:
          - 'grails-app/i18n/**/*'

"flag: ignore in release notes":
  - head-branch: ['l10n']

"domain: backend":
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main/groovy/**/*'
      - 'grails-app/controllers/**/*'
      - 'grails-app/domain/**/*'
      - 'grails-app/jobs/**/*'
      - 'grails-app/services/**/*'

"domain: frontend":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/taglib/**/*'
      - '**/*.js'
      - '**/*.jsx'
      - '**/*.scss'
      - '**/*.css'
      - '**/*.html'
      - '**/*.gsp'

"domain: devops":
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - 'docker/**/*'

"domain: documentation":
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '**/*.md'
      - 'readthedocs.yml'
      - 'mkdocs.yml'

"flag: config change":
- all:
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/conf/**/*'
      - 'grails-app/init/**/*'
      - '**/*.gradle'
      - '**/*.properties'
      - 'package.json'
      - 'package-lock.json'
    - all-globs-to-all-files:
      - '!grails-app/i18n/**/*'

"flag: schema change":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/migrations/**/*'

OBPIH-7114 Date picker selects day before if your local timezone is behind UTC (#5172)
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/utils/dateUtils.js
Labels: domain: frontend

OBPIH-7129 Count difference column should be recalculated against updated QOH after reload (#5173)
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

New translations messages.properties (French)
  grails-app/i18n/messages_fr.properties
Labels: none

New translations messages.properties (Spanish)
  grails-app/i18n/messages_es.properties
Labels: none

New translations messages.properties (Arabic)
  grails-app/i18n/messages_ar.properties
Labels: none

New translations messages.properties (Czech)
  grails-app/i18n/messages_cs.properties
Labels: none

New translations messages.properties (German)
  grails-app/i18n/messages_de.properties
Labels: none

New translations messages.properties (Finnish)
  grails-app/i18n/messages_fi.properties
Labels: none

New translations messages.properties (Italian)
  grails-app/i18n/messages_it.properties
Labels: none

New translations messages.properties (Dutch)
  grails-app/i18n/messages_nl.properties
Labels: none

New translations messages.properties (Portuguese)
  grails-app/i18n/messages_pt.properties
Labels: none

New translations messages.properties (Chinese Simplified)
  grails-app/i18n/messages_zh.properties
Labels: none

New translations messages.properties (Swahili)
  grails-app/i18n/messages_sw.properties
Labels: none

New translations messages.properties (Haitian Creole)
  grails-app/i18n/messages_ht.properties
Labels: none

New translations messages.properties (Kinyarwanda)
  grails-app/i18n/messages_rw.properties
Labels: none

New translations messages.properties (Acholi)
  grails-app/i18n/messages_ach.properties
Labels: none

Update source file messages.properties
  grails-app/i18n/messages.properties
Labels: none

OBPIH-7144 Add trims in lot validation
  src/js/hooks/cycleCount/useInventoryValidation.js
Labels: domain: frontend

OBPIH-7146 Added refresh/export/import buttons
  src/js/components/stock-movement-wizard/inbound/AddItemsPage.jsx
  src/js/components/stock-movement-wizard/inboundV2/InboundV2.jsx
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2AddItems.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsForm.jsx
Labels: domain: frontend

OBPIH-7145 Fix calculating recount difference
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: frontend

OBPIH-7145 Fix blocking save
  src/js/components/cycleCount/ConfirmStepHeader.jsx
Labels: domain: frontend

OBPIH-7144 Trigger validation on next when add lot with spaces (#5175)
  src/js/hooks/cycleCount/useInventoryValidation.js
Labels: domain: frontend

OBPIH-7146 Fix some bugs
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2AddItems.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsColumns.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsForm.jsx
Labels: domain: frontend

OBPIH-7146 Add classname to input
  src/js/components/stock-movement-wizard/inbound/AddItemsPage.jsx
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2AddItems.jsx
Labels: domain: frontend

OBPIH-7146 Merge changes from OBPIH-6960
  src/js/components/DataTable/DataTable.scss
  src/js/components/DataTable/TableHeaderCell.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsColumns.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsForm.jsx
Labels: domain: frontend

OBPIH-7146 Fix eslint error
  src/js/components/DataTable/TableHeaderCell.jsx
Labels: domain: frontend

OBPIH-7146 Add import/export endpoints to urls file
  src/js/api/urls.js
  src/js/hooks/inboundV2/addItems/useInboundAddItemsForm.jsx
Labels: domain: frontend

OBPIH-7008 Add new translations
  grails-app/i18n/messages.properties
Labels: none

OBPIH-7008 Modify confirmation modal to handle arguments in translation function
  src/js/utils/ConfirmModal.jsx
Labels: domain: frontend

OBPIH-7008 Change submitting recount to use api client with custom error handler
  src/js/api/services/CycleCountApi.js
Labels: domain: frontend

OBPIH-7008 Add counting errors amount
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: frontend

OBPIH-7149 Fix default display date format
  src/main/groovy/org/pih/warehouse/core/Constants.groovy
Labels: domain: backend

OBPIH-7152 Fix Single-select filter input issue
  src/js/components/form-elements/FilterSelectField.jsx
Labels: domain: frontend

OBPIH-7149 Rename constants DISPLAY_DATE_FORMAT
  grails-app/conf/runtime.groovy
  src/main/groovy/org/pih/warehouse/core/Constants.groovy
Labels: domain: backend

OBPIH-7128 Fix bug with elements not being removed from a SortedSet
  grails-app/domain/org/pih/warehouse/inventory/CycleCountItem.groovy
  src/test/groovy/unit/org/pih/warehouse/inventory/CycleCountTransactionServiceSpec.groovy
Labels: domain: backend

OBPIH-7144 Fix validation inconsistencies (null vs empty string)
  src/js/hooks/cycleCount/useInventoryValidation.js
Labels: domain: frontend

OBPIH-7150 Add arrow navigation and prevent fractional values on quantity field
  src/js/components/stock-movement-wizard/inboundV2/InboundV2.jsx
  src/js/components/stock-movement-wizard/inboundV2/inboundV2.scss
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2AddItems.jsx
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2Create.jsx
  src/js/consts/inboundColumns.js
  src/js/hooks/inboundV2/addItems/useInboundAddItemsColumns.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsForm.jsx
  src/js/hooks/useArrowsNavigation.jsx
Labels: domain: frontend

fix unit tests
  grails-app/domain/org/pih/warehouse/inventory/CycleCountItem.groovy
  src/test/groovy/unit/org/pih/warehouse/inventory/CycleCountProductAvailabilityServiceSpec.groovy
  src/test/groovy/unit/org/pih/warehouse/inventory/CycleCountSpec.groovy
  src/test/groovy/unit/org/pih/warehouse/inventory/CycleCountTransactionServiceSpec.groovy
Labels: domain: backend

New translations messages.properties (French)
  grails-app/i18n/messages_fr.properties
Labels: none

New translations messages.properties (French)
  grails-app/i18n/messages_fr.properties
Labels: none
