Repository openboxes/openboxes, changes with the labels that .github/labeler.yml gives for each.
All labels: domain: backend, domain: frontend, domain: devops, domain: documentation, flag: schema change

OBPIH-7022 Fix cycle counts id query parameter used in get request (#5089)
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  grails-app/views/cycleCount/_printRecount.gsp
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: backend, domain: frontend

OBPIH-7038 Move assignee validation to the frontend
  src/js/components/cycleCount/toCountTab/CountStep.jsx
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useCountStepValidation.js
  src/main/groovy/org/pih/warehouse/inventory/CycleCountUpdateItemCommand.groovy
Labels: domain: backend, domain: frontend

OBPIH-7038 Fix fetching bins
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/js/utils/option-utils.jsx
Labels: domain: frontend

OBPIH-7038 Fix displaying dates
  src/js/hooks/cycleCount/useCountStepTable.jsx
Labels: domain: frontend

OBPIH-7038 (Edited) Adjustment to validation in count step to support save by row (#5090)
  src/js/components/cycleCount/toCountTab/CountStep.jsx
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useCountStepValidation.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/js/utils/option-utils.jsx
  src/main/groovy/org/pih/warehouse/inventory/CycleCountUpdateItemCommand.groovy
Labels: domain: backend, domain: frontend

OBPIH-6947 Number of rows per page shouldn't reset when navigating through tabs
  src/js/components/cycleCount/CycleCount.jsx
  src/js/components/cycleCount/allProductsTab/CycleCountAllProducts.jsx
  src/js/components/cycleCount/toCountTab/CycleCountToCount.jsx
  src/js/components/cycleCount/toResolveTab/CycleCountToResolve.jsx
Labels: domain: frontend

OBPIH-6947 Add small corrections
  src/js/components/cycleCount/CycleCount.jsx
  src/js/components/cycleCount/allProductsTab/CycleCountAllProducts.jsx
  src/js/components/cycleCount/toCountTab/CycleCountToCount.jsx
  src/js/components/cycleCount/toResolveTab/CycleCountToResolve.jsx
Labels: domain: frontend

OBPIH-6947 Add comment
  src/js/components/cycleCount/CycleCount.jsx
Labels: domain: frontend

New translations messages.properties (Spanish)
  grails-app/i18n/messages_es.properties
Labels: none

New translations messages.properties (Spanish)
  grails-app/i18n/messages_es.properties
Labels: none

add reload button in recount flow to refresh QoH
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/domain/org/pih/warehouse/inventory/CycleCount.groovy
  grails-app/i18n/messages.properties
  grails-app/services/org/pih/warehouse/inventory/CycleCountProductAvailabilityService.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountTransactionService.groovy
  src/js/api/services/CycleCountApi.js
  src/js/api/urls.js
  src/js/components/cycleCount/toResolveTab/ResolveStep.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepHeader.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/main/groovy/org/pih/warehouse/inventory/CycleCountStartCommand.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountStartRecountCommand.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountStatus.groovy
  src/test/groovy/unit/org/pih/warehouse/inventory/CycleCountProductAvailabilityServiceSpec.groovy
  src/test/groovy/unit/org/pih/warehouse/inventory/CycleCountTransactionServiceSpec.groovy
Labels: domain: backend, domain: frontend

OBPIH-7017 Fixed bug with imported inventory levels not being saved; added fail-fast validation for inventory levels tied to internal locations
  grails-app/services/org/pih/warehouse/importer/InventoryLevelImportDataService.groovy
Labels: domain: backend

OBPIH-6939 product_count_history view should return one row per inventory and product
  grails-app/migrations/views/cycle-count-session.sql
  grails-app/migrations/views/product-count-history.sql
Labels: flag: schema change

OBPIH-6947 Corrections after code review
  src/js/components/cycleCount/CycleCount.jsx
  src/js/hooks/useCycleCountPagination.js
Labels: domain: frontend

OBPIH-6950 Call the update count APIs when editing/creating a cycle count item (fixes after QA)
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepValidation.js
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemCommand.groovy
Labels: domain: backend, domain: frontend

OBPIH-7005 Allow multiselect in bin location filter without erasing string
  src/js/components/form-elements/FilterSelectField.jsx
Labels: domain: frontend

OBPIH-6950 Call the update count APIs when editing/creating a cycle c… (#5094)
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepValidation.js
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemCommand.groovy
Labels: domain: backend, domain: frontend

OBPIH-7005 Allow multiselect in bin location filter without erasing string (#5095)
  src/js/components/form-elements/FilterSelectField.jsx
Labels: domain: frontend

OBPIH-7017 Fixed bug with imported inventory levels not being saved (#5093)
  grails-app/services/org/pih/warehouse/importer/InventoryLevelImportDataService.groovy
Labels: domain: backend

OBPIH-6946 Apply checkbox on To Count tab after selecting from All Products tab (#5086)
  src/js/components/cycleCount/CycleCount.jsx
  src/js/components/cycleCount/allProductsTab/CycleCountAllProducts.jsx
  src/js/components/cycleCount/toCountTab/CycleCountToCount.jsx
  src/js/hooks/cycleCount/useAllProductsTab.jsx
  src/js/hooks/cycleCount/useToCountTab.jsx
  src/js/hooks/useTableCheckboxes.js
Labels: domain: frontend

OBPIH-6947 resolve conflicts
  src/js/components/cycleCount/CycleCount.jsx
  src/js/components/cycleCount/CycleCountToCount.jsx
Labels: domain: frontend

OBPIH-6947 change file directory
  src/js/components/cycleCount/CycleCount.jsx
  src/js/components/cycleCount/toCountTab/CycleCountToCount.jsx
Labels: domain: frontend

OBPIH-6947 Number of rows per page shouldn't reset when navigating through tabs (#5091)
  src/js/components/cycleCount/CycleCount.jsx
  src/js/components/cycleCount/allProductsTab/CycleCountAllProducts.jsx
  src/js/components/cycleCount/toCountTab/CycleCountToCount.jsx
  src/js/components/cycleCount/toResolveTab/CycleCountToResolve.jsx
  src/js/hooks/useCycleCountPagination.js
Labels: domain: frontend

OBPIH-7050 Make assignee nullable for new rows
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemCommand.groovy
Labels: domain: backend

OBPIH-7050 Use real data and merge cycle count items on resolve step
  src/js/components/cycleCount/toResolveTab/ResolveStep.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/js/hooks/cycleCount/useResolveStepValidation.js
Labels: domain: frontend

OBPIH-6958 Jump back to top of the page when changing page
  src/js/components/cycleCount/CycleCount.jsx
Labels: domain: frontend

OBPIH-7005 Add prevent Backspace on empty input
  src/js/components/form-elements/FilterSelectField.jsx
Labels: domain: frontend

OBPIH-7050 Fix filtering on count step
  src/js/hooks/cycleCount/useCountStep.jsx
Labels: domain: frontend

OBPIH-6939 Fixed issues with GROUP BYs within views and subqueries
  grails-app/migrations/views/cycle-count-session.sql
  grails-app/migrations/views/product-count-history.sql
  grails-app/migrations/views/product-cycle-count-history.sql
Labels: flag: schema change

OBPIH-6939 Added comments to the cycle count session and other views
  grails-app/migrations/views/cycle-count-session.sql
  grails-app/migrations/views/product-physical-count-history.sql
Labels: flag: schema change

OBPIH-6939 Show minimum of cycle count date and inventory in Last Counted date column (#5075)
  grails-app/migrations/views/changelog.xml
  grails-app/migrations/views/cycle-count-session.sql
  grails-app/migrations/views/product-count-history.sql
  grails-app/migrations/views/product-cycle-count-history.sql
  grails-app/migrations/views/product-physical-count-history.sql
  grails-app/migrations/views/product-receipt-history.sql
  src/js/hooks/cycleCount/useAllProductsTab.jsx
Labels: domain: frontend, flag: schema change

OBPIH-7050 Replace mocked data with real data in Resolve workflow (#5096)
  src/js/components/cycleCount/toResolveTab/ResolveStep.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/js/hooks/cycleCount/useResolveStepValidation.js
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemCommand.groovy
Labels: domain: backend, domain: frontend

OBPIH-6958 Jump back to top of the page when changing page (#5097)
  src/js/components/cycleCount/CycleCount.jsx
Labels: domain: frontend

OBPIH-7005 Allow multiselect in bin location filter without erasing string (improvement after QA) (#5098)
  src/js/components/form-elements/FilterSelectField.jsx
Labels: domain: frontend

OBPIH-6981 Fix creating a cycle count item with default bin
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemCommand.groovy
Labels: domain: backend

OBPIH-6981 Fix creating a cycle count item with default bin
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemCommand.groovy
Labels: domain: backend

OBPIH-7003-2 Fix focus on counted by select
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

OBPIH-7003-2 Fix focus on counted by select
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

OBPIH-6929 Hook show negative quantity filter when fetching candidates
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountCandidateFilterCommand.groovy
Labels: domain: backend

OBPIH-7060 Move fetching bin locations to redux
  src/js/actions/index.js
  src/js/actions/types.js
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/js/reducers/cycleCountReducer.js
Labels: domain: frontend

.github/labeler.yml:

# Automatically adds labels to a pull request.
# https://github.com/actions/labeler

"type: bug":
  - head-branch: ['^bug/', '^bugfix/']

"type: feature":
  - head-branch: ['^feature/', '^feat/', '^ft/']

"type: maintenance":
  - head-branch: ['^maintenance/', '^techdebt/', '^chore/']

"type: release":
  - head-branch: ['^release/']

"warn: do not squash":
  - head-branch: ['^release/', '^develop', '^master']

"domain: l10n":
  - head-branch: ['l10n']
  - changed-files:
      - any-glob-to-any-file:
          - 'grails-app/i18n/**/*'

"flag: ignore in release notes":
  - head-branch: ['l10n']

"domain: backend":
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main/groovy/**/*'
      - 'grails-app/controllers/**/*'
      - 'grails-app/domain/**/*'
      - 'grails-app/jobs/**/*'
      - 'grails-app/services/**/*'

"domain: frontend":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/taglib/**/*'
      - '**/*.js'
      - '**/*.jsx'
      - '**/*.scss'
      - '**/*.css'
      - '**/*.html'
      - '**/*.gsp'

"domain: devops":
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - 'docker/**/*'

"domain: documentation":
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '**/*.md'
      - 'readthedocs.yml'
      - 'mkdocs.yml'

"flag: config change":
- all:
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/conf/**/*'
      - 'grails-app/init/**/*'
      - '**/*.gradle'
      - '**/*.properties'
      - 'package.json'
      - 'package-lock.json'
    - all-globs-to-all-files:
      - '!grails-app/i18n/**/*'

"flag: schema change":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/migrations/**/*'
