Repository openboxes/openboxes, changes with the labels that .github/labeler.yml gives for each.
All labels: domain: backend, domain: frontend, domain: devops, domain: documentation, flag: schema change

OBPIH-7150 Reduce row height
  src/js/components/DataTable/DataTable.scss
  src/js/components/form-elements/v2/style.scss
  src/js/components/stock-movement-wizard/inboundV2/inboundV2.scss
  src/js/hooks/inboundV2/addItems/useInboundAddItemsColumns.jsx
Labels: domain: frontend

OBPIH-7128 Fix bug with elements not being removed from a SortedSet (#5182)
  grails-app/domain/org/pih/warehouse/inventory/CycleCountItem.groovy
  src/test/groovy/unit/org/pih/warehouse/inventory/CycleCountProductAvailabilityServiceSpec.groovy
  src/test/groovy/unit/org/pih/warehouse/inventory/CycleCountSpec.groovy
  src/test/groovy/unit/org/pih/warehouse/inventory/CycleCountTransactionServiceSpec.groovy
Labels: domain: backend

OBPIH-7008 Inventory changed when saving on resolve workflow (#5180)
  grails-app/i18n/messages.properties
  src/js/api/services/CycleCountApi.js
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/utils/ConfirmModal.jsx
Labels: domain: frontend

OBPIH-7145 Incorrect and blocked recount difference when add background inventory item during recount (#5176)
  src/js/components/cycleCount/ConfirmStepHeader.jsx
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: frontend

New translations messages.properties (French)
  grails-app/i18n/messages_fr.properties
Labels: none

New translations messages.properties (Spanish)
  grails-app/i18n/messages_es.properties
Labels: none

New translations messages.properties (Arabic)
  grails-app/i18n/messages_ar.properties
Labels: none

New translations messages.properties (Czech)
  grails-app/i18n/messages_cs.properties
Labels: none

New translations messages.properties (German)
  grails-app/i18n/messages_de.properties
Labels: none

New translations messages.properties (Finnish)
  grails-app/i18n/messages_fi.properties
Labels: none

New translations messages.properties (Italian)
  grails-app/i18n/messages_it.properties
Labels: none

New translations messages.properties (Dutch)
  grails-app/i18n/messages_nl.properties
Labels: none

New translations messages.properties (Portuguese)
  grails-app/i18n/messages_pt.properties
Labels: none

New translations messages.properties (Chinese Simplified)
  grails-app/i18n/messages_zh.properties
Labels: none

New translations messages.properties (Swahili)
  grails-app/i18n/messages_sw.properties
Labels: none

New translations messages.properties (Haitian Creole)
  grails-app/i18n/messages_ht.properties
Labels: none

New translations messages.properties (Kinyarwanda)
  grails-app/i18n/messages_rw.properties
Labels: none

New translations messages.properties (Acholi)
  grails-app/i18n/messages_ach.properties
Labels: none

Update source file messages.properties
  grails-app/i18n/messages.properties
Labels: none

OBPIH-7150 Improved validation
  src/css/main.scss
  src/js/components/form-elements/v2/style.scss
  src/js/components/stock-movement-wizard/inboundV2/inboundV2.scss
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2AddItems.jsx
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2Create.jsx
  src/js/consts/inboundColumns.js
  src/js/hooks/inboundV2/addItems/useInboundAddItemsColumns.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsValidation.js
  src/js/hooks/useArrowsNavigation.jsx
Labels: domain: frontend

OBPIH-7150 Small improvements
  src/js/components/stock-movement-wizard/inboundV2/inboundV2.scss
  src/js/hooks/inboundV2/addItems/useInboundAddItemsColumns.jsx
Labels: domain: frontend

OBPIH-7150 Add value copying on Arrow Down with Ctrl key in table navigation
  src/js/consts/inboundColumns.js
  src/js/hooks/inboundV2/addItems/useInboundAddItemsColumns.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsValidation.js
  src/js/hooks/useArrowsNavigation.jsx
Labels: domain: frontend

OBPIH-7150 Improve arrow navigation
  src/js/hooks/inboundV2/addItems/useInboundAddItemsColumns.jsx
  src/js/hooks/useArrowsNavigation.jsx
Labels: domain: frontend

OBPIH-7150 Add small corrections
  src/js/hooks/inboundV2/addItems/useInboundAddItemsColumns.jsx
Labels: domain: frontend

OBPIH-7150 Remove prevent fractional values
  src/js/hooks/inboundV2/addItems/useInboundAddItemsColumns.jsx
Labels: domain: frontend

OBPIH-7150 Add parseInt on onBlur
  src/js/hooks/inboundV2/addItems/useInboundAddItemsColumns.jsx
Labels: domain: frontend

OBPIH-7150 Add small correciton
  src/js/hooks/inboundV2/addItems/useInboundAddItemsColumns.jsx
Labels: domain: frontend

OBPIH-7150 Add comment
  src/js/hooks/useArrowsNavigation.jsx
Labels: domain: frontend

OBPIH-7150 Add return
  src/js/hooks/useArrowsNavigation.jsx
Labels: domain: frontend

OBPIH-7150 Add trigger on onBlur
  src/js/hooks/inboundV2/addItems/useInboundAddItemsColumns.jsx
Labels: domain: frontend

New Crowdin updates (#5174)
  grails-app/i18n/messages_ach.properties
  grails-app/i18n/messages_ar.properties
  grails-app/i18n/messages_cs.properties
  grails-app/i18n/messages_de.properties
  grails-app/i18n/messages_es.properties
  grails-app/i18n/messages_fi.properties
  grails-app/i18n/messages_fr.properties
  grails-app/i18n/messages_ht.properties
  grails-app/i18n/messages_it.properties
  grails-app/i18n/messages_nl.properties
  grails-app/i18n/messages_pt.properties
  grails-app/i18n/messages_rw.properties
  grails-app/i18n/messages_sw.properties
  grails-app/i18n/messages_zh.properties
Labels: none

OBPIH-7157 Add multi-fill for recipients in inbound add items
  src/css/main.scss
  src/js/components/DataTable/DataTable.scss
  src/js/components/stock-movement-wizard/inboundV2/inboundV2.scss
  src/js/hooks/inboundV2/addItems/useInboundAddItemsColumns.jsx
Labels: domain: frontend

OBPIH-7157 Add small corrections
  src/js/hooks/inboundV2/addItems/useInboundAddItemsColumns.jsx
Labels: domain: frontend

OBPIH-7157 Improve styles
  src/js/components/DataTable/DataTable.scss
  src/js/components/stock-movement-wizard/inboundV2/inboundV2.scss
  src/js/hooks/inboundV2/addItems/useInboundAddItemsColumns.jsx
Labels: domain: frontend

OBPIH-7166 Add saving before reload
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: frontend

OBPIH-7146 Corrections after code review
  src/js/api/services/StockMovementApi.js
  src/js/api/urls.js
  src/js/consts/applicationUrls.js
  src/js/hooks/inboundV2/addItems/useInboundAddItemsForm.jsx
Labels: domain: frontend

OBPIH-7150 Corrections after code review
  src/js/hooks/useArrowsNavigation.jsx
Labels: domain: frontend

OBPIH-7151 Date format in inbound workflow
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2Create.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsColumns.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsForm.jsx
  src/js/hooks/inboundV2/create/useInboundCreateForm.js
  src/js/utils/dateUtils.js
Labels: domain: frontend

OBPIH-7166 Call save before a reload on recount (#5186)
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: frontend

OBPIH-7157 Add multi-fill for recipients in inbound add items (#5185)
  src/css/main.scss
  src/js/components/stock-movement-wizard/inboundV2/inboundV2.scss
  src/js/hooks/inboundV2/addItems/useInboundAddItemsColumns.jsx
Labels: domain: frontend

.github/labeler.yml:

# Automatically adds labels to a pull request.
# https://github.com/actions/labeler

"type: bug":
  - head-branch: ['^bug/', '^bugfix/']

"type: feature":
  - head-branch: ['^feature/', '^feat/', '^ft/']

"type: maintenance":
  - head-branch: ['^maintenance/', '^techdebt/', '^chore/']

"type: release":
  - head-branch: ['^release/']

"warn: do not squash":
  - head-branch: ['^release/', '^develop', '^master']

"domain: l10n":
  - head-branch: ['l10n']
  - changed-files:
      - any-glob-to-any-file:
          - 'grails-app/i18n/**/*'

"flag: ignore in release notes":
  - head-branch: ['l10n']

"domain: backend":
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main/groovy/**/*'
      - 'grails-app/controllers/**/*'
      - 'grails-app/domain/**/*'
      - 'grails-app/jobs/**/*'
      - 'grails-app/services/**/*'

"domain: frontend":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/taglib/**/*'
      - '**/*.js'
      - '**/*.jsx'
      - '**/*.scss'
      - '**/*.css'
      - '**/*.html'
      - '**/*.gsp'

"domain: devops":
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - 'docker/**/*'

"domain: documentation":
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '**/*.md'
      - 'readthedocs.yml'
      - 'mkdocs.yml'

"flag: config change":
- all:
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/conf/**/*'
      - 'grails-app/init/**/*'
      - '**/*.gradle'
      - '**/*.properties'
      - 'package.json'
      - 'package-lock.json'
    - all-globs-to-all-files:
      - '!grails-app/i18n/**/*'

"flag: schema change":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/migrations/**/*'
