Repository openboxes/openboxes, changes with the labels that .github/labeler.yml gives for each.
All labels: domain: backend, domain: frontend, domain: devops, domain: documentation, flag: schema change

New translations messages.properties (Italian)
  grails-app/i18n/messages_it.properties
Labels: none

New translations messages.properties (Dutch)
  grails-app/i18n/messages_nl.properties
Labels: none

New translations messages.properties (Portuguese)
  grails-app/i18n/messages_pt.properties
Labels: none

New translations messages.properties (Chinese Simplified)
  grails-app/i18n/messages_zh.properties
Labels: none

New translations messages.properties (Swahili)
  grails-app/i18n/messages_sw.properties
Labels: none

New translations messages.properties (Haitian Creole)
  grails-app/i18n/messages_ht.properties
Labels: none

New translations messages.properties (Kinyarwanda)
  grails-app/i18n/messages_rw.properties
Labels: none

New translations messages.properties (Acholi)
  grails-app/i18n/messages_ach.properties
Labels: none

Update source file messages.properties
  grails-app/i18n/messages.properties
Labels: none

OBGM-739 Improved documentation related to general settings i.e. data source, connection pool, server URL
  docs/admin-guide/configuration/connection-pool.md
  docs/admin-guide/configuration/context-path.md
  docs/admin-guide/configuration/database.md
  docs/admin-guide/configuration/email.md
  docs/admin-guide/configuration/overrides.md
  docs/admin-guide/configuration/server-url.md
  docs/admin-guide/configuration/url.md
Labels: domain: documentation

OBPIH-6967 Connect start count API with the frontend
  src/js/api/services/CycleCountApi.js
  src/js/api/urls.js
  src/js/hooks/cycleCount/useToCountTab.jsx
Labels: domain: frontend

OBPIH-6967 Connect start count API with the frontend (#5026)
  src/js/api/services/CycleCountApi.js
  src/js/api/urls.js
  src/js/hooks/cycleCount/useToCountTab.jsx
Labels: domain: frontend

build table for TO COUNT tab. Temporarily populated with all cycle count requests.
  grails-app/i18n/messages.properties
  src/js/components/cycleCount/CycleCount.jsx
  src/js/components/cycleCount/CycleCountToResolve.jsx
  src/js/hooks/cycleCount/useToResolveTab.jsx
Labels: domain: frontend

send proper request to start recount
  grails-app/i18n/messages.properties
  src/js/hooks/cycleCount/useToCountTab.jsx
  src/js/hooks/cycleCount/useToResolveTab.jsx
Labels: domain: frontend

OBPIH-6966 Create an endpoint to get cycle counts
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
Labels: domain: backend

fix asDate method and add tests
  grails-app/conf/application.yml
  grails-app/utils/org/pih/warehouse/DateUtil.groovy
  grails-app/utils/org/pih/warehouse/databinding/DataBindingConstants.groovy
  grails-app/utils/org/pih/warehouse/databinding/InstantValueConverter.groovy
  grails-app/utils/org/pih/warehouse/databinding/LocalDateValueConverter.groovy
  src/test/groovy/unit/org/pih/warehouse/utils/DateUtilSpec.groovy
Labels: none

OBPIH-6960 Create items array form
  grails-app/i18n/messages.properties
  src/js/api/urls.js
  src/js/components/DataTable/DataTable.scss
  src/js/components/DataTable/TableCell.jsx
  src/js/components/DataTable/TableHeaderCell.jsx
  src/js/components/DataTable/v2/DataTable.jsx
  src/js/components/DataTable/v2/DataTableBody.jsx
  src/js/components/DataTable/v2/DataTableHeader.jsx
  src/js/components/productSupplier/create/ProductSupplierForm.jsx
  src/js/components/productSupplier/create/subsections/PreferenceTypeVariations.jsx
  src/js/components/stock-movement-wizard/inbound/AddItemsPage.jsx
  src/js/components/stock-movement-wizard/inboundV2/InboundV2.jsx
  src/js/components/stock-movement-wizard/inboundV2/InboundV2Header.jsx
  src/js/components/stock-movement-wizard/inboundV2/inboundV2.scss
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2AddItems.jsx
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2Create.jsx
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2Send.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsColumns.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsForm.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsValidation.js
  src/js/hooks/inboundV2/create/useInboundCreateForm.js
  src/js/hooks/inboundV2/create/useInboundCreateValidation.js
Labels: domain: frontend

OBPIH-6966 Create an endpoint to get cycle counts (#5027)
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
Labels: domain: backend

OBPIH-6960 added few improvements
  src/js/components/stock-movement-wizard/inbound/AddItemsPage.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsColumns.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsForm.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsValidation.js
Labels: domain: frontend

OBPIH-6960 removed unnecessary line
  src/js/components/productSupplier/create/subsections/PreferenceTypeVariations.jsx
  src/js/components/stock-movement-wizard/inboundV2/InboundV2.jsx
Labels: domain: frontend

OBPIH-6937 corrections after QA tests
  src/js/components/stock-movement-wizard/inboundV2/InboundV2.jsx
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2Create.jsx
  src/js/hooks/inboundV2/useInboundValidation.js
Labels: domain: frontend

OBPIH-6960 validation corrections
  src/js/hooks/inboundV2/addItems/useInboundAddItemsValidation.js
  src/js/hooks/inboundV2/create/useInboundCreateValidation.js
Labels: domain: frontend

OBPIH-6937 fixed test errors
  src/js/components/stock-movement-wizard/inboundV2/InboundV2.jsx
Labels: domain: frontend

OBPIH-6937 fixed test errors
  src/js/hooks/inboundV2/useInboundValidation.js
Labels: domain: frontend

OBPIH-6853 build table for TO RESOLVE tab (#5025)
  grails-app/i18n/messages.properties
  src/js/components/cycleCount/CycleCount.jsx
  src/js/components/cycleCount/CycleCountToResolve.jsx
  src/js/hooks/cycleCount/useToResolveTab.jsx
Labels: domain: frontend

New translations messages.properties (French)
  grails-app/i18n/messages_fr.properties
Labels: none

New translations messages.properties (Spanish)
  grails-app/i18n/messages_es.properties
Labels: none

New translations messages.properties (Arabic)
  grails-app/i18n/messages_ar.properties
Labels: none

New translations messages.properties (Czech)
  grails-app/i18n/messages_cs.properties
Labels: none

New translations messages.properties (German)
  grails-app/i18n/messages_de.properties
Labels: none

New translations messages.properties (Finnish)
  grails-app/i18n/messages_fi.properties
Labels: none

New translations messages.properties (Italian)
  grails-app/i18n/messages_it.properties
Labels: none

New translations messages.properties (Dutch)
  grails-app/i18n/messages_nl.properties
Labels: none

New translations messages.properties (Portuguese)
  grails-app/i18n/messages_pt.properties
Labels: none

New translations messages.properties (Chinese Simplified)
  grails-app/i18n/messages_zh.properties
Labels: none

New translations messages.properties (Swahili)
  grails-app/i18n/messages_sw.properties
Labels: none

New translations messages.properties (Haitian Creole)
  grails-app/i18n/messages_ht.properties
Labels: none

New translations messages.properties (Kinyarwanda)
  grails-app/i18n/messages_rw.properties
Labels: none

New translations messages.properties (Acholi)
  grails-app/i18n/messages_ach.properties
Labels: none

OBPIH-6960 corrections after code review
  grails-app/i18n/messages.properties
  src/js/components/DataTable/v2/DataTable.jsx
  src/js/components/DataTable/v2/DataTableBody.jsx
  src/js/components/DataTable/v2/DataTableHeader.jsx
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2AddItems.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsColumns.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsForm.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsValidation.js
  src/js/hooks/inboundV2/create/useInboundCreateForm.js
Labels: domain: frontend

.github/labeler.yml:

# Automatically adds labels to a pull request.
# https://github.com/actions/labeler

"type: bug":
  - head-branch: ['^bug/', '^bugfix/']

"type: feature":
  - head-branch: ['^feature/', '^feat/', '^ft/']

"type: maintenance":
  - head-branch: ['^maintenance/', '^techdebt/', '^chore/']

"type: release":
  - head-branch: ['^release/']

"warn: do not squash":
  - head-branch: ['^release/', '^develop', '^master']

"domain: l10n":
  - head-branch: ['l10n']
  - changed-files:
      - any-glob-to-any-file:
          - 'grails-app/i18n/**/*'

"flag: ignore in release notes":
  - head-branch: ['l10n']

"domain: backend":
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main/groovy/**/*'
      - 'grails-app/controllers/**/*'
      - 'grails-app/domain/**/*'
      - 'grails-app/jobs/**/*'
      - 'grails-app/services/**/*'

"domain: frontend":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/taglib/**/*'
      - '**/*.js'
      - '**/*.jsx'
      - '**/*.scss'
      - '**/*.css'
      - '**/*.html'
      - '**/*.gsp'

"domain: devops":
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - 'docker/**/*'

"domain: documentation":
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '**/*.md'
      - 'readthedocs.yml'
      - 'mkdocs.yml'

"flag: config change":
- all:
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/conf/**/*'
      - 'grails-app/init/**/*'
      - '**/*.gradle'
      - '**/*.properties'
      - 'package.json'
      - 'package-lock.json'
    - all-globs-to-all-files:
      - '!grails-app/i18n/**/*'

"flag: schema change":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/migrations/**/*'
