Repository openboxes/openboxes, changes with the labels that .github/labeler.yml gives for each.
All labels: domain: backend, domain: frontend, domain: devops, domain: documentation, flag: schema change

New translations messages.properties (German)
  grails-app/i18n/messages_de.properties
Labels: none

New translations messages.properties (Finnish)
  grails-app/i18n/messages_fi.properties
Labels: none

New translations messages.properties (Italian)
  grails-app/i18n/messages_it.properties
Labels: none

New translations messages.properties (Dutch)
  grails-app/i18n/messages_nl.properties
Labels: none

New translations messages.properties (Portuguese)
  grails-app/i18n/messages_pt.properties
Labels: none

New translations messages.properties (Chinese Simplified)
  grails-app/i18n/messages_zh.properties
Labels: none

New translations messages.properties (Swahili)
  grails-app/i18n/messages_sw.properties
Labels: none

New translations messages.properties (Haitian Creole)
  grails-app/i18n/messages_ht.properties
Labels: none

New translations messages.properties (Kinyarwanda)
  grails-app/i18n/messages_rw.properties
Labels: none

New translations messages.properties (Acholi)
  grails-app/i18n/messages_ach.properties
Labels: none

OBPIH-6895 resolve confilcts
  src/js/components/cycleCount/toCountTab/CountStep.jsx
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/consts/timeFormat.js
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
Labels: domain: frontend

OBPIH-6895 corrections after code review
  src/js/hooks/cycleCount/useCountStepTable.jsx
Labels: domain: frontend

OBPIH-6980 corrections after code review
  src/js/hooks/cycleCount/useCountStepTable.jsx
Labels: domain: frontend

Update source file messages.properties
  grails-app/i18n/messages.properties
Labels: none

Update src/js/components/Filter/FilterForm.jsx
  src/js/components/Filter/FilterForm.jsx
Labels: domain: frontend

OBPIH-6980 add new classname min-width-250
  src/css/main.scss
  src/js/components/cycleCount/cycleCount.scss
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
Labels: domain: frontend

properly call start recount from frontend, fix message.properties merge issues
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/i18n/messages.properties
  src/js/actions/index.js
Labels: domain: backend, domain: frontend

OBPIH-6898 Cycle count start recount API (#5051)
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/i18n/messages.properties
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/js/actions/index.js
  src/js/api/services/CycleCountApi.js
  src/js/api/urls.js
  src/js/hooks/cycleCount/useToCountTab.jsx
  src/main/groovy/org/pih/warehouse/core/dtos/BatchCommandUtils.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountStartCommand.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountStartRecountBatchCommand.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountStartRecountCommand.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountStatus.groovy
Labels: domain: backend, domain: frontend

OBPIH-6982 Improvements to Bin location select on count step
  grails-app/i18n/messages.properties
  src/js/components/DataTable/TableCell.jsx
  src/js/components/cycleCount/toCountTab/CountStep.jsx
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/components/form-elements/v2/DateField.jsx
  src/js/consts/timeFormat.js
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/utils/groupBinLocationsByZone.jsx
Labels: domain: frontend

OBPIH-6982 fix messages.properties
  grails-app/i18n/messages.properties
Labels: none

OBPIH-6982 add classnames
  src/js/components/cycleCount/cycleCount.scss
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/utils/groupBinLocationsByZone.jsx
Labels: domain: frontend

New translations messages.properties (French)
  grails-app/i18n/messages_fr.properties
Labels: none

New translations messages.properties (Spanish)
  grails-app/i18n/messages_es.properties
Labels: none

New translations messages.properties (Arabic)
  grails-app/i18n/messages_ar.properties
Labels: none

New translations messages.properties (Czech)
  grails-app/i18n/messages_cs.properties
Labels: none

New translations messages.properties (German)
  grails-app/i18n/messages_de.properties
Labels: none

New translations messages.properties (Finnish)
  grails-app/i18n/messages_fi.properties
Labels: none

New translations messages.properties (Italian)
  grails-app/i18n/messages_it.properties
Labels: none

New translations messages.properties (Dutch)
  grails-app/i18n/messages_nl.properties
Labels: none

New translations messages.properties (Portuguese)
  grails-app/i18n/messages_pt.properties
Labels: none

New translations messages.properties (Chinese Simplified)
  grails-app/i18n/messages_zh.properties
Labels: none

New translations messages.properties (Swahili)
  grails-app/i18n/messages_sw.properties
Labels: none

New translations messages.properties (Haitian Creole)
  grails-app/i18n/messages_ht.properties
Labels: none

New translations messages.properties (Kinyarwanda)
  grails-app/i18n/messages_rw.properties
Labels: none

New translations messages.properties (Acholi)
  grails-app/i18n/messages_ach.properties
Labels: none

OBPIH-6982 fix messages properties
  grails-app/i18n/messages.properties
Labels: none

Update source file messages.properties
  grails-app/i18n/messages.properties
Labels: none

WIP: initial implementation of submit recount API
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/domain/org/pih/warehouse/inventory/CycleCount.groovy
  grails-app/i18n/messages.properties
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/main/groovy/org/pih/warehouse/core/Constants.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountSubmitRecountCommand.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountTransactionCreator.groovy
  src/main/groovy/org/pih/warehouse/inventory/ProductInventorySnapshotSource.groovy
  src/main/groovy/org/pih/warehouse/inventory/ProductInventorySnapshotTaker.groovy
Labels: domain: backend

Update src/js/utils/groupBinLocationsByZone.jsx
  src/js/utils/groupBinLocationsByZone.jsx
Labels: domain: frontend

OBPIH-7030 add custom-tooltip-v2
  src/css/main.scss
  src/js/components/cycleCount/cycleCount.scss
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/utils/groupBinLocationsByZone.jsx
  src/js/wrappers/TooltipWrapper.jsx
Labels: domain: frontend

.github/labeler.yml:

# Automatically adds labels to a pull request.
# https://github.com/actions/labeler

"type: bug":
  - head-branch: ['^bug/', '^bugfix/']

"type: feature":
  - head-branch: ['^feature/', '^feat/', '^ft/']

"type: maintenance":
  - head-branch: ['^maintenance/', '^techdebt/', '^chore/']

"type: release":
  - head-branch: ['^release/']

"warn: do not squash":
  - head-branch: ['^release/', '^develop', '^master']

"domain: l10n":
  - head-branch: ['l10n']
  - changed-files:
      - any-glob-to-any-file:
          - 'grails-app/i18n/**/*'

"flag: ignore in release notes":
  - head-branch: ['l10n']

"domain: backend":
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main/groovy/**/*'
      - 'grails-app/controllers/**/*'
      - 'grails-app/domain/**/*'
      - 'grails-app/jobs/**/*'
      - 'grails-app/services/**/*'

"domain: frontend":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/taglib/**/*'
      - '**/*.js'
      - '**/*.jsx'
      - '**/*.scss'
      - '**/*.css'
      - '**/*.html'
      - '**/*.gsp'

"domain: devops":
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - 'docker/**/*'

"domain: documentation":
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '**/*.md'
      - 'readthedocs.yml'
      - 'mkdocs.yml'

"flag: config change":
- all:
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/conf/**/*'
      - 'grails-app/init/**/*'
      - '**/*.gradle'
      - '**/*.properties'
      - 'package.json'
      - 'package-lock.json'
    - all-globs-to-all-files:
      - '!grails-app/i18n/**/*'

"flag: schema change":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/migrations/**/*'
