Repository openboxes/openboxes, changes with the labels that .github/labeler.yml gives for each.
All labels: domain: backend, domain: frontend, domain: devops, domain: documentation, flag: schema change

OBPIH-7219 add displaying 'NO LOT' on placeholder
  src/js/components/form-elements/v2/style.scss
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

OBPIH-7165 Change text
  grails-app/i18n/messages.properties
  grails-app/views/stockMovement/show.gsp
Labels: domain: frontend

OBPIH-7169 Fix items not being removed when stock is removed during r… (#5207)
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/i18n/messages.properties
  grails-app/services/org/pih/warehouse/inventory/CycleCountProductAvailabilityService.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/js/api/services/CycleCountApi.js
  src/js/api/urls.js
  src/js/components/cycleCount/CycleCountStockDiscrepancyInfoBar.jsx
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: backend, domain: frontend

OBPIH-7165 Sort Picklist items by Bin Locations (#5208)
  grails-app/i18n/messages.properties
  grails-app/services/org/pih/warehouse/inventory/StockMovementService.groovy
Labels: domain: backend

OBPIH-7219 Improvements after code review
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

OBPIH-7219 Resolve conflicts
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

OBPIH-7169 Fix sending refresh request with removeOutOfStockItemsExpliciltly param
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: frontend

Update source file messages.properties
  grails-app/i18n/messages.properties
Labels: none

New translations messages.properties (French)
  grails-app/i18n/messages_fr.properties
Labels: none

New translations messages.properties (Spanish)
  grails-app/i18n/messages_es.properties
Labels: none

New translations messages.properties (Arabic)
  grails-app/i18n/messages_ar.properties
Labels: none

New translations messages.properties (Czech)
  grails-app/i18n/messages_cs.properties
Labels: none

New translations messages.properties (German)
  grails-app/i18n/messages_de.properties
Labels: none

New translations messages.properties (Finnish)
  grails-app/i18n/messages_fi.properties
Labels: none

New translations messages.properties (Italian)
  grails-app/i18n/messages_it.properties
Labels: none

New translations messages.properties (Dutch)
  grails-app/i18n/messages_nl.properties
Labels: none

New translations messages.properties (Portuguese)
  grails-app/i18n/messages_pt.properties
Labels: none

New translations messages.properties (Chinese Simplified)
  grails-app/i18n/messages_zh.properties
Labels: none

New translations messages.properties (Swahili)
  grails-app/i18n/messages_sw.properties
Labels: none

New translations messages.properties (Haitian Creole)
  grails-app/i18n/messages_ht.properties
Labels: none

New translations messages.properties (Kinyarwanda)
  grails-app/i18n/messages_rw.properties
Labels: none

New translations messages.properties (Acholi)
  grails-app/i18n/messages_ach.properties
Labels: none

OBPIH-7169 Fix sending refresh request with removeOutOfStockItemsExpl… (#5209)
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: frontend

OBPIH-7177 Remove calling PA while creating fresh cc item
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
Labels: domain: backend

OBPIH-7218 Shift demand start date on the Demand tab to the first day of month
  grails-app/controllers/org/pih/warehouse/inventory/InventoryItemController.groovy
Labels: domain: backend

OBPIH-7218 Shift demand start date on the Demand tab to the first day of month
  grails-app/controllers/org/pih/warehouse/inventory/InventoryItemController.groovy
Labels: domain: backend

OBPIH-7185 Changing order on receiving page deletes entered data
  src/js/components/receiving/PartialReceivingPage.jsx
Labels: domain: frontend

OBPIH-7185 Small correction
  src/js/components/receiving/PartialReceivingPage.jsx
Labels: domain: frontend

OBPIH-7219 Remove checking if value is empty
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

OBPIH-7185 Changing order on receiving page deletes entered data
  src/js/components/receiving/PartialReceivingPage.jsx
Labels: domain: frontend

OBPIH-7185 Changing order on receiving page deletes entered data
  src/js/components/receiving/PartialReceivingPage.jsx
Labels: domain: frontend

OBPIH-7218 Use the same starting point for demand calculation
  grails-app/services/org/pih/warehouse/forecasting/ForecastingService.groovy
Labels: domain: backend

OBPIH-7185 Change translate
  src/js/components/receiving/PartialReceivingPage.jsx
Labels: domain: frontend

OBPIH-7185 Add defaultLabel
  src/js/components/receiving/PartialReceivingPage.jsx
  src/js/consts/receivingSortOptions.js
Labels: domain: frontend

OBPIH-7219 Wording and UI improvements cycle count (#5203)
  grails-app/i18n/messages.properties
  src/js/components/cycleCount/allProductsTab/CycleCountAllProducts.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

add support for canceling a count
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/i18n/messages.properties
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/css/main.scss
  src/js/api/services/CycleCountApi.js
  src/js/components/cycleCount/toCountTab/CycleCountToCount.jsx
  src/js/components/cycleCount/toResolveTab/CycleCountToResolve.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStep.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepHeader.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/hooks/cycleCount/useResolveStepValidation.js
  src/js/hooks/cycleCount/useToCountTab.jsx
  src/js/hooks/cycleCount/useToResolveTab.jsx
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemCommand.groovy
  src/test/groovy/unit/org/pih/warehouse/inventory/CycleCountProductAvailabilityServiceSpec.groovy
Labels: domain: backend, domain: frontend

add docstrings
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/hooks/cycleCount/useResolveStepValidation.js
Labels: domain: frontend

OBPIH-7169 Fix issue with product name, recounted date, recounted by
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: frontend

OBPIH-7169 Fix disappearing product name and recounted by (#5213)
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: frontend

OBPIH-7185 Change saving logic
  src/js/components/receiving/PartialReceivingPage.jsx
Labels: domain: frontend

.github/labeler.yml:

# Automatically adds labels to a pull request.
# https://github.com/actions/labeler

"type: bug":
  - head-branch: ['^bug/', '^bugfix/']

"type: feature":
  - head-branch: ['^feature/', '^feat/', '^ft/']

"type: maintenance":
  - head-branch: ['^maintenance/', '^techdebt/', '^chore/']

"type: release":
  - head-branch: ['^release/']

"warn: do not squash":
  - head-branch: ['^release/', '^develop', '^master']

"domain: l10n":
  - head-branch: ['l10n']
  - changed-files:
      - any-glob-to-any-file:
          - 'grails-app/i18n/**/*'

"flag: ignore in release notes":
  - head-branch: ['l10n']

"domain: backend":
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main/groovy/**/*'
      - 'grails-app/controllers/**/*'
      - 'grails-app/domain/**/*'
      - 'grails-app/jobs/**/*'
      - 'grails-app/services/**/*'

"domain: frontend":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/taglib/**/*'
      - '**/*.js'
      - '**/*.jsx'
      - '**/*.scss'
      - '**/*.css'
      - '**/*.html'
      - '**/*.gsp'

"domain: devops":
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - 'docker/**/*'

"domain: documentation":
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '**/*.md'
      - 'readthedocs.yml'
      - 'mkdocs.yml'

"flag: config change":
- all:
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/conf/**/*'
      - 'grails-app/init/**/*'
      - '**/*.gradle'
      - '**/*.properties'
      - 'package.json'
      - 'package-lock.json'
    - all-globs-to-all-files:
      - '!grails-app/i18n/**/*'

"flag: schema change":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/migrations/**/*'
