Repository openboxes/openboxes, changes with the labels that .github/labeler.yml gives for each.
All labels: domain: backend, domain: frontend, domain: devops, domain: documentation, flag: schema change

.github/labeler.yml:

# Automatically adds labels to a pull request.
# https://github.com/actions/labeler

"type: bug":
  - head-branch: ['^bug/', '^bugfix/']

"type: feature":
  - head-branch: ['^feature/', '^feat/', '^ft/']

"type: maintenance":
  - head-branch: ['^maintenance/', '^techdebt/', '^chore/']

"type: release":
  - head-branch: ['^release/']

"warn: do not squash":
  - head-branch: ['^release/', '^develop', '^master']

"domain: l10n":
  - head-branch: ['l10n']
  - changed-files:
      - any-glob-to-any-file:
          - 'grails-app/i18n/**/*'

"flag: ignore in release notes":
  - head-branch: ['l10n']

"domain: backend":
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main/groovy/**/*'
      - 'grails-app/controllers/**/*'
      - 'grails-app/domain/**/*'
      - 'grails-app/jobs/**/*'
      - 'grails-app/services/**/*'

"domain: frontend":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/taglib/**/*'
      - '**/*.js'
      - '**/*.jsx'
      - '**/*.scss'
      - '**/*.css'
      - '**/*.html'
      - '**/*.gsp'

"domain: devops":
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - 'docker/**/*'

"domain: documentation":
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '**/*.md'
      - 'readthedocs.yml'
      - 'mkdocs.yml'

"flag: config change":
- all:
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/conf/**/*'
      - 'grails-app/init/**/*'
      - '**/*.gradle'
      - '**/*.properties'
      - 'package.json'
      - 'package-lock.json'
    - all-globs-to-all-files:
      - '!grails-app/i18n/**/*'

"flag: schema change":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/migrations/**/*'

New translations messages.properties (Finnish)
  grails-app/i18n/messages_fi.properties
Labels: none

New translations messages.properties (Italian)
  grails-app/i18n/messages_it.properties
Labels: none

New translations messages.properties (Dutch)
  grails-app/i18n/messages_nl.properties
Labels: none

New translations messages.properties (Portuguese)
  grails-app/i18n/messages_pt.properties
Labels: none

New translations messages.properties (Chinese Simplified)
  grails-app/i18n/messages_zh.properties
Labels: none

New translations messages.properties (Swahili)
  grails-app/i18n/messages_sw.properties
Labels: none

New translations messages.properties (Haitian Creole)
  grails-app/i18n/messages_ht.properties
Labels: none

New translations messages.properties (Kinyarwanda)
  grails-app/i18n/messages_rw.properties
Labels: none

New translations messages.properties (Acholi)
  grails-app/i18n/messages_ach.properties
Labels: none

support a wider range of dateShipped inputs
  grails-app/conf/application.yml
  grails-app/controllers/org/pih/warehouse/api/StockMovementApiController.groovy
  grails-app/utils/org/pih/warehouse/DateUtil.groovy
  grails-app/utils/org/pih/warehouse/databinding/DataBindingConstants.groovy
  grails-app/utils/org/pih/warehouse/databinding/InstantValueConverter.groovy
  src/main/groovy/org/pih/warehouse/core/Constants.groovy
  src/test/groovy/unit/org/pih/warehouse/utils/DateUtilSpec.groovy
  src/test/groovy/unit/org/pih/warehouse/utils/databinding/InstantValueConverterSpec.groovy
Labels: domain: backend

Update source file messages.properties
  grails-app/i18n/messages.properties
Labels: none

OBPIH-6960 fix blur
  src/js/hooks/inboundV2/addItems/useInboundAddItemsColumns.jsx
Labels: domain: frontend

OBPIH-6960 Add small improvements
  src/js/components/DataTable/TableHeaderCell.jsx
Labels: domain: frontend

OBPIH-6960 fix blur
  src/js/components/DataTable/TableHeaderCell.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsColumns.jsx
Labels: domain: frontend

OBPIH-6960 improve onChange
  src/js/hooks/inboundV2/addItems/useInboundAddItemsColumns.jsx
Labels: domain: frontend

OBPIH-6979 Add comment field for fetched rows
  src/js/hooks/cycleCount/useCountStepTable.jsx
Labels: domain: frontend

OBPIH-6981 Remove unnecessary imports
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
Labels: domain: backend

OBPIH-6981 Fixes after review (part 1)
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemCommand.groovy
Labels: domain: backend

OBPIH-6981 Create the update cycle count APIs (update, delete, create a custom item)
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/domain/org/pih/warehouse/inventory/CycleCountItem.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountCustomItemCommand.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemDto.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountUpdateItemCommand.groovy
Labels: domain: backend

OBPIH-6981 Fixes after review (part 2)
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/domain/org/pih/warehouse/inventory/CycleCountItem.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemDto.groovy
Labels: domain: backend

OBPIH-6981 Move one import higher
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
Labels: domain: backend

OBPIH-6981 Fix naming for cycle count custom item methods
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
Labels: domain: backend

OBPIH-6981 Remove fixme comment
  src/main/groovy/org/pih/warehouse/inventory/CycleCountUpdateItemCommand.groovy
Labels: domain: backend

OBPIH-6960 Create items array form (fix after QA)
  src/js/components/DataTable/DataTable.scss
  src/js/components/DataTable/TableHeaderCell.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsColumns.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsForm.jsx
Labels: domain: frontend

OBPIH-6960 fix quantityRequested onChange
  src/js/hooks/inboundV2/addItems/useInboundAddItemsColumns.jsx
Labels: domain: frontend

OBPIH-6960 Add new tooltip
  src/css/main.scss
  src/js/components/DataTable/TableHeaderCell.jsx
  src/js/wrappers/CustomTooltip.jsx
Labels: domain: frontend

OBPIH-6981 Create the update cycle count APIs (#5061)
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/domain/org/pih/warehouse/inventory/CycleCountItem.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemCommand.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemDto.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountUpdateItemCommand.groovy
Labels: domain: backend

OBPIH-6984 Improve validations on existing inventories on count step (#5066)
  src/css/main.scss
  src/js/hooks/cycleCount/useCountStepValidation.js
  src/js/hooks/cycleCount/useInventoryValidation.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/js/hooks/cycleCount/useResolveStepValidation.js
Labels: domain: frontend

OBPIH-6979 Comment field is missing for existing inventories on count step (#5069)
  src/js/hooks/cycleCount/useCountStepTable.jsx
Labels: domain: frontend

OBPIH-6960 fix eslint error
  src/js/components/DataTable/TableHeaderCell.jsx
Labels: domain: frontend

OBPIH-7027 Align order of inventory items in count and recount workflow with order on stock card
  grails-app/domain/org/pih/warehouse/inventory/CycleCount.groovy
  grails-app/domain/org/pih/warehouse/inventory/CycleCountItem.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
Labels: domain: backend

OBPIH-7027 Remove unnecessary code
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
Labels: domain: backend

OBPIH-7027 Remove unnecessary brackets
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
Labels: domain: backend

OBPIH-7027 Corrections after code review
  grails-app/domain/org/pih/warehouse/inventory/CycleCount.groovy
  grails-app/domain/org/pih/warehouse/inventory/CycleCountItem.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
Labels: domain: backend

OBPIH-7027 Add minor change
  grails-app/domain/org/pih/warehouse/inventory/CycleCountItem.groovy
Labels: domain: backend

OBPIH-7027 Add minor changes
  grails-app/domain/org/pih/warehouse/inventory/CycleCountItem.groovy
Labels: domain: backend

OBPIH-6960 fix eslint errors
  src/js/components/DataTable/TableHeaderCell.jsx
Labels: domain: frontend

OBPIH-7027 fix tests error
  grails-app/domain/org/pih/warehouse/inventory/CycleCountItem.groovy
Labels: domain: backend

OBPIH-7027 fix tests error
  grails-app/domain/org/pih/warehouse/inventory/CycleCountItem.groovy
Labels: domain: backend

OBPIH-7003 Add navigating in textField and dateField
  package.json
  src/js/components/cycleCount/cycleCount.scss
  src/js/components/form-elements/v2/DateField.jsx
  src/js/components/form-elements/v2/TextInput.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
Labels: domain: frontend
