Repository openboxes/openboxes, changes with the labels that .github/labeler.yml gives for each.
All labels: domain: backend, domain: frontend, domain: devops, domain: documentation, flag: schema change

OBPIH-6197 Minor cleanup before merging to develop
  docs/admin-guide/configuration/basics.md
  docs/index.md
  mkdocs.yml
Labels: domain: documentation

OBPIH-6932 Incorrect page indicator after changing rows per page (#5011)
  src/js/hooks/useTablePagination.js
Labels: domain: frontend

OBPIH-6850 Create table component to count tab (#5012)
  src/js/hooks/cycleCount/useAllProductsTab.jsx
  src/js/hooks/cycleCount/useToCountTab.jsx
  src/js/utils/form-values-utils.jsx
Labels: domain: frontend

OBPIH-6940 Adjust display of product name in cycle count tables to 2 rows only (#5014)
  src/js/components/cycleCount/cycleCount.scss
  src/js/hooks/cycleCount/useAllProductsTab.jsx
Labels: domain: frontend

New Crowdin updates (#4979)
  grails-app/i18n/messages_ach.properties
  grails-app/i18n/messages_ar.properties
  grails-app/i18n/messages_cs.properties
  grails-app/i18n/messages_de.properties
  grails-app/i18n/messages_es.properties
  grails-app/i18n/messages_fi.properties
  grails-app/i18n/messages_fr.properties
  grails-app/i18n/messages_ht.properties
  grails-app/i18n/messages_it.properties
  grails-app/i18n/messages_nl.properties
  grails-app/i18n/messages_pt.properties
  grails-app/i18n/messages_rw.properties
  grails-app/i18n/messages_sw.properties
  grails-app/i18n/messages_zh.properties
Labels: none

filter out empty ABC classes from cycle count filter dropdown
  grails-app/services/org/pih/warehouse/product/ProductClassificationService.groovy
  src/integration-test/groovy/org/pih/warehouse/api/spec/product/ProductClassificationApiListFiltersOutEmptySpec.groovy
Labels: domain: backend

OBPIH-6942 Display only 4 bin locations, add indicator for the hidden bin locations
  src/js/hooks/cycleCount/useAllProductsTab.jsx
  src/js/hooks/cycleCount/useToCountTab.jsx
Labels: domain: frontend

OBPIH-6933 Hide pagination when loading and no results are available
  src/js/components/DataTable/v2/DataTable.jsx
Labels: domain: frontend

OBPIH-6933 Change the current page to first/last when going out of the page limit
  src/js/hooks/useTablePagination.js
Labels: domain: frontend

OBPIH-6933 Fixes after review
  src/js/hooks/useTablePagination.js
Labels: domain: frontend

OBPIH-6937 implemented a few improvements
  grails-app/i18n/messages.properties
  src/js/api/services/StockMovementApi.js
  src/js/api/urls.js
  src/js/components/stock-movement-wizard/inboundV2/InboundV2.jsx
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2Create.jsx
  src/js/hooks/inboundV2/useInboundForm.js
  src/js/hooks/inboundV2/useInboundV2Validation.js
  src/js/hooks/useWizard.js
Labels: domain: frontend

OBPIH-6937 updated defaultMessage to use correct capitalization (StockList → Stocklist)
  src/js/api/services/StockMovementApi.js
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2Create.jsx
Labels: domain: frontend

OBPIH-6937 fixed imports
  src/js/components/stock-movement-wizard/inboundV2/InboundV2.jsx
Labels: domain: frontend

OBPIH-6937 send only IDs for origin, destination, and requestedBy in stock movement
  src/js/hooks/inboundV2/useInboundForm.js
Labels: domain: frontend

OBPIH-6936 filter out empty ABC classes from cycle count filter dropdown (#5017)
  grails-app/services/org/pih/warehouse/product/ProductClassificationService.groovy
  src/integration-test/groovy/org/pih/warehouse/api/spec/product/ProductClassificationApiListFiltersOutEmptySpec.groovy
Labels: domain: backend

OBPIH-6942 Limit Bin Locations display to 4 first entries (#5013)
  src/js/hooks/cycleCount/useAllProductsTab.jsx
  src/js/hooks/cycleCount/useToCountTab.jsx
Labels: domain: frontend

OBPIH-6933 User can manually enter a page number outside the valid page range (#5016)
  src/js/components/DataTable/v2/DataTable.jsx
  src/js/hooks/useTablePagination.js
Labels: domain: frontend

OBPIH-6937 added small corrections
  src/js/hooks/inboundV2/useInboundForm.js
  src/js/hooks/inboundV2/useInboundValidation.js
Labels: domain: frontend

OBPIH-6893 Create the batch start count API
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/domain/org/pih/warehouse/inventory/CycleCount.groovy
  grails-app/domain/org/pih/warehouse/inventory/CycleCountItem.groovy
  grails-app/domain/org/pih/warehouse/inventory/CycleCountRequest.groovy
  grails-app/i18n/messages.properties
  grails-app/migrations/0.9.x/changelog-2025-01-17-1800-create-table-cycle-count.xml
  grails-app/migrations/0.9.x/changelog-2025-01-17-1830-add-column-cycle-count-to-cycle-count-request.xml
  grails-app/migrations/0.9.x/changelog-2025-01-17-1900-create-table-cycle-count-item.xml
  grails-app/migrations/0.9.x/changelog.xml
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountDto.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemBasicDto.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemStatus.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountStartBatchCommand.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountStartCommand.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountStatus.groovy
  src/main/groovy/org/pih/warehouse/inventory/DiscrepancyCause.groovy
Labels: domain: backend, flag: schema change

remove duplicates from product classification list endpoint
  grails-app/services/org/pih/warehouse/product/ProductClassificationService.groovy
  src/integration-test/groovy/org/pih/warehouse/api/spec/product/ProductClassificationApiCRUDSpec.groovy
Labels: domain: backend

use ABC Class from inventory level in cycle count products list if defined
  grails-app/migrations/views/cycle-count-session.sql
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
Labels: domain: backend, flag: schema change

OBPIH-6959 use ABC Class from inventory level in cycle count products list (#5020)
  grails-app/migrations/views/cycle-count-session.sql
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
Labels: domain: backend, flag: schema change

don't use stream when collecting product classifications
  grails-app/services/org/pih/warehouse/product/ProductClassificationService.groovy
Labels: domain: backend

OBPIH-6935 changed naming
  src/js/actions/types.js
  src/js/reducers/InboundReducer.jsx
  src/js/reducers/index.jsx
Labels: domain: frontend

OBPIH-6937 shortened function and constant names for stock movement
  src/js/api/services/StockMovementApi.js
  src/js/api/urls.js
  src/js/hooks/inboundV2/useInboundForm.js
Labels: domain: frontend

OBPIH-6936 remove duplicates from product classification list endpoint (#5019)
  grails-app/services/org/pih/warehouse/product/ProductClassificationService.groovy
  src/integration-test/groovy/org/pih/warehouse/api/spec/product/ProductClassificationApiCRUDSpec.groovy
Labels: domain: backend

OBPIH-6937 Create details form (#5015)
  src/js/api/services/StockMovementApi.js
  src/js/api/urls.js
  src/js/components/stock-movement-wizard/inboundV2/InboundV2.jsx
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2Create.jsx
  src/js/hooks/inboundV2/useInboundForm.js
  src/js/hooks/inboundV2/useInboundValidation.js
  src/js/hooks/useWizard.js
Labels: domain: frontend

OBPIH-6935 Create a reducer for inbound workflow data (#5009)
  src/js/actions/types.js
  src/js/reducers/InboundReducer.jsx
  src/js/reducers/index.jsx
Labels: domain: frontend

OBPIH-6893 Temporary branch to test data binding for path variables against different request methods
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  src/main/groovy/org/pih/warehouse/inventory/TestCommand.groovy
Labels: domain: backend

OBPIH-6893 Improvements after review
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/domain/org/pih/warehouse/inventory/CycleCount.groovy
  grails-app/domain/org/pih/warehouse/inventory/CycleCountItem.groovy
  grails-app/domain/org/pih/warehouse/inventory/CycleCountRequest.groovy
  grails-app/migrations/0.9.x/changelog-2025-01-17-1900-create-table-cycle-count-item.xml
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  grails-app/services/org/pih/warehouse/inventory/ProductAvailabilityService.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountDto.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemDto.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountStatus.groovy
  src/main/groovy/org/pih/warehouse/inventory/DiscrepancyReasonCode.groovy
Labels: domain: backend, flag: schema change

add data binding support for java.time classes
  grails-app/conf/application.yml
  grails-app/controllers/org/pih/warehouse/api/StockMovementApiController.groovy
  grails-app/utils/org/pih/warehouse/DateUtil.groovy
  grails-app/utils/org/pih/warehouse/databinding/InstantValueConverter.groovy
  grails-app/utils/org/pih/warehouse/databinding/LocalDateValueConverter.groovy
  grails-app/utils/org/pih/warehouse/databinding/StringValueConverter.groovy
  src/main/groovy/org/pih/warehouse/core/Constants.groovy
  src/main/groovy/util/StringUtil.groovy
  src/test/groovy/unit/org/pih/warehouse/utils/databinding/InstantValueConverterSpec.groovy
  src/test/groovy/unit/org/pih/warehouse/utils/databinding/LocalDateValueConverterSpec.groovy
Labels: domain: backend

DO NOT MERGE! example implementation of binding java.time types
  grails-app/controllers/org/pih/warehouse/TestingDatesApiController.groovy
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/domain/org/pih/warehouse/TestingDates.groovy
  grails-app/init/org/pih/warehouse/BootStrap.groovy
  grails-app/migrations/0.9.x/changelog-2025-01-01-0000-TEMP_MIGRATION.xml
  grails-app/migrations/0.9.x/changelog.xml
  grails-app/utils/org/pih/warehouse/TestingDatesDto.groovy
  src/integration-test/groovy/org/pih/warehouse/api/client/TestingDatesApi.groovy
  src/integration-test/groovy/org/pih/warehouse/api/client/TestingDatesApiWrapper.groovy
  src/integration-test/groovy/org/pih/warehouse/api/spec/TestingDatesApiSpec.groovy
Labels: domain: backend, flag: schema change

OBPIH-6893 Fixes after review
  grails-app/domain/org/pih/warehouse/inventory/CycleCount.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemStatus.groovy
Labels: domain: backend

OBPIH-6893 Create the batch start count API (#5018)
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/domain/org/pih/warehouse/inventory/CycleCount.groovy
  grails-app/domain/org/pih/warehouse/inventory/CycleCountItem.groovy
  grails-app/domain/org/pih/warehouse/inventory/CycleCountRequest.groovy
  grails-app/i18n/messages.properties
  grails-app/migrations/0.9.x/changelog-2025-01-17-1800-create-table-cycle-count.xml
  grails-app/migrations/0.9.x/changelog-2025-01-17-1830-add-column-cycle-count-to-cycle-count-request.xml
  grails-app/migrations/0.9.x/changelog-2025-01-17-1900-create-table-cycle-count-item.xml
  grails-app/migrations/0.9.x/changelog.xml
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  grails-app/services/org/pih/warehouse/inventory/ProductAvailabilityService.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountDto.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemDto.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemStatus.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountStartBatchCommand.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountStartCommand.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountStatus.groovy
  src/main/groovy/org/pih/warehouse/inventory/DiscrepancyReasonCode.groovy
Labels: domain: backend, flag: schema change

New translations messages.properties (French)
  grails-app/i18n/messages_fr.properties
Labels: none

New translations messages.properties (Spanish)
  grails-app/i18n/messages_es.properties
Labels: none

New translations messages.properties (Arabic)
  grails-app/i18n/messages_ar.properties
Labels: none

New translations messages.properties (Czech)
  grails-app/i18n/messages_cs.properties
Labels: none

New translations messages.properties (German)
  grails-app/i18n/messages_de.properties
Labels: none

New translations messages.properties (Finnish)
  grails-app/i18n/messages_fi.properties
Labels: none

.github/labeler.yml:

# Automatically adds labels to a pull request.
# https://github.com/actions/labeler

"type: bug":
  - head-branch: ['^bug/', '^bugfix/']

"type: feature":
  - head-branch: ['^feature/', '^feat/', '^ft/']

"type: maintenance":
  - head-branch: ['^maintenance/', '^techdebt/', '^chore/']

"type: release":
  - head-branch: ['^release/']

"warn: do not squash":
  - head-branch: ['^release/', '^develop', '^master']

"domain: l10n":
  - head-branch: ['l10n']
  - changed-files:
      - any-glob-to-any-file:
          - 'grails-app/i18n/**/*'

"flag: ignore in release notes":
  - head-branch: ['l10n']

"domain: backend":
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main/groovy/**/*'
      - 'grails-app/controllers/**/*'
      - 'grails-app/domain/**/*'
      - 'grails-app/jobs/**/*'
      - 'grails-app/services/**/*'

"domain: frontend":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/taglib/**/*'
      - '**/*.js'
      - '**/*.jsx'
      - '**/*.scss'
      - '**/*.css'
      - '**/*.html'
      - '**/*.gsp'

"domain: devops":
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - 'docker/**/*'

"domain: documentation":
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '**/*.md'
      - 'readthedocs.yml'
      - 'mkdocs.yml'

"flag: config change":
- all:
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/conf/**/*'
      - 'grails-app/init/**/*'
      - '**/*.gradle'
      - '**/*.properties'
      - 'package.json'
      - 'package-lock.json'
    - all-globs-to-all-files:
      - '!grails-app/i18n/**/*'

"flag: schema change":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/migrations/**/*'
