Repository openboxes/openboxes, changes with the labels that .github/labeler.yml gives for each.
All labels: domain: backend, domain: frontend, domain: devops, domain: documentation, flag: schema change

.github/labeler.yml:

# Automatically adds labels to a pull request.
# https://github.com/actions/labeler

"type: bug":
  - head-branch: ['^bug/', '^bugfix/']

"type: feature":
  - head-branch: ['^feature/', '^feat/', '^ft/']

"type: maintenance":
  - head-branch: ['^maintenance/', '^techdebt/', '^chore/']

"type: release":
  - head-branch: ['^release/']

"warn: do not squash":
  - head-branch: ['^release/', '^develop', '^master']

"domain: l10n":
  - head-branch: ['l10n']
  - changed-files:
      - any-glob-to-any-file:
          - 'grails-app/i18n/**/*'

"flag: ignore in release notes":
  - head-branch: ['l10n']

"domain: backend":
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main/groovy/**/*'
      - 'grails-app/controllers/**/*'
      - 'grails-app/domain/**/*'
      - 'grails-app/jobs/**/*'
      - 'grails-app/services/**/*'

"domain: frontend":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/taglib/**/*'
      - '**/*.js'
      - '**/*.jsx'
      - '**/*.scss'
      - '**/*.css'
      - '**/*.html'
      - '**/*.gsp'

"domain: devops":
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - 'docker/**/*'

"domain: documentation":
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '**/*.md'
      - 'readthedocs.yml'
      - 'mkdocs.yml'

"flag: config change":
- all:
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/conf/**/*'
      - 'grails-app/init/**/*'
      - '**/*.gradle'
      - '**/*.properties'
      - 'package.json'
      - 'package-lock.json'
    - all-globs-to-all-files:
      - '!grails-app/i18n/**/*'

"flag: schema change":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/migrations/**/*'

OBPIH-6990 Change sort direction
  src/main/groovy/org/pih/warehouse/api/PartialReceiptContainer.groovy
Labels: domain: backend

OBPIH-7061 Fix prevent fraction values on arrow navigation
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/js/hooks/useArrowsNavigation.jsx
Labels: domain: frontend

OBPIH-7122 Simplify itemsFromResolve mapping logic
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: frontend

Replace == with ===
  src/js/hooks/cycleCount/useInventoryValidation.js
Labels: domain: frontend

OBPIH-7100 Move custom items to the bottom and persist ordering
  grails-app/domain/org/pih/warehouse/inventory/CycleCountItem.groovy
  src/js/hooks/cycleCount/useResolveStep.js
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemDto.groovy
Labels: domain: backend, domain: frontend

OBPIH-7114 Add util for handling utc time
  src/js/utils/dateUtils.js
Labels: domain: frontend

OBPIH-7114 Fix issues with selecting dates in timezone -X
  src/js/components/form-elements/v2/DateField.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

OBPIH-7114 Replace hardcoded dates with values from object
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

OBPIH-7114 Fix dates behind UTC
  src/js/components/form-elements/v2/DateField.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/js/utils/dateUtils.js
Labels: domain: frontend

OBPIH-7100 Add comment to the moveCustomItemsToTheBottom
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: frontend

OBPIH-7099 Prevent doing multiclik on Save on to count and recount steps (#5146)
  src/js/components/cycleCount/ConfirmStepHeader.jsx
  src/js/components/cycleCount/toCountTab/CountStep.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/utils/confirmationModalUtils.jsx
Labels: domain: frontend

OBPIH-7038 (Edited) Adjustment to validation in count step to support save by row (#5144)
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepValidation.js
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/hooks/cycleCount/useResolveStepValidation.js
Labels: domain: frontend

OBPIH-7096 force adjustment transactions to be after product inventory ones (#5154)
  grails-app/services/org/pih/warehouse/inventory/CycleCountTransactionService.groovy
  src/test/groovy/unit/org/pih/warehouse/inventory/CycleCountTransactionServiceSpec.groovy
Labels: domain: backend

OBPIH-7101 FIX. Handle null when comparing expiration dates (#5159)
  src/js/hooks/cycleCount/useInventoryValidation.js
Labels: domain: frontend

OBPIH-7100 Fix and improve deleting new lines on recount form (Fix ordering) (#5160)
  grails-app/domain/org/pih/warehouse/inventory/CycleCountItem.groovy
  src/js/hooks/cycleCount/useResolveStep.js
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemDto.groovy
Labels: domain: backend, domain: frontend

OBPIH-7107 Fixes after review
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/domain/org/pih/warehouse/inventory/PendingCycleCountRequest.groovy
  grails-app/init/org/pih/warehouse/BootStrap.groovy
  grails-app/migrations/views/changelog.xml
  grails-app/migrations/views/pending_cycle_count_request.sql
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/js/api/urls.js
  src/js/hooks/cycleCount/useToCountTab.jsx
  src/js/hooks/cycleCount/useToResolveTab.jsx
Labels: domain: backend, domain: frontend, flag: schema change

OBPIH-7107 Improve performance for candidates on to count and to reso… (#5158)
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/domain/org/pih/warehouse/inventory/PendingCycleCountRequest.groovy
  grails-app/init/org/pih/warehouse/BootStrap.groovy
  grails-app/migrations/views/changelog.xml
  grails-app/migrations/views/pending_cycle_count_request.sql
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/js/api/urls.js
  src/js/hooks/cycleCount/useToCountTab.jsx
  src/js/hooks/cycleCount/useToResolveTab.jsx
Labels: domain: backend, domain: frontend, flag: schema change

OBPIH-7099 Fix disabling save button on count/recount step
  src/js/components/cycleCount/ConfirmStepHeader.jsx
  src/js/components/cycleCount/toCountTab/CountStep.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStep.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: frontend

OBPIH-7099 Fix disabling save button on count/recount step (#5161)
  src/js/components/cycleCount/ConfirmStepHeader.jsx
  src/js/components/cycleCount/toCountTab/CountStep.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStep.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: frontend

New translations messages.properties (French)
  grails-app/i18n/messages_fr.properties
Labels: none

use bin location not facility when looking up product availability
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
Labels: domain: backend

OBPIH-6990 Add ability to sort receiving screen in alphabetical order (#5129)
  grails-app/controllers/org/pih/warehouse/api/PartialReceivingApiController.groovy
  grails-app/i18n/messages.properties
  grails-app/services/org/pih/warehouse/receiving/ReceiptService.groovy
  src/css/main.scss
  src/js/components/receiving/PartialReceivingPage.jsx
  src/js/components/receiving/ReceivingCheckScreen.jsx
  src/js/components/receiving/ReceivingPage.jsx
  src/js/consts/receivingSortOptions.js
  src/main/groovy/org/pih/warehouse/api/PartialReceiptContainer.groovy
Labels: domain: backend, domain: frontend

OBPIH-7114 Date picker selects day before if your local timezone is behind UTC (#5155)
  src/js/components/form-elements/v2/DateField.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

OBPIH-7122 Recount workflow validations (#5157)
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: backend, domain: frontend

OBPIH-7061 Prevent fractional values in cycle count quantity field (#5141)
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/js/hooks/useArrowsNavigation.jsx
Labels: domain: frontend

New translations messages.properties (French)
  grails-app/i18n/messages_fr.properties
Labels: none

New translations messages.properties (Spanish)
  grails-app/i18n/messages_es.properties
Labels: none

New translations messages.properties (Arabic)
  grails-app/i18n/messages_ar.properties
Labels: none

New translations messages.properties (Czech)
  grails-app/i18n/messages_cs.properties
Labels: none

New translations messages.properties (German)
  grails-app/i18n/messages_de.properties
Labels: none

New translations messages.properties (Finnish)
  grails-app/i18n/messages_fi.properties
Labels: none

New translations messages.properties (Italian)
  grails-app/i18n/messages_it.properties
Labels: none

New translations messages.properties (Dutch)
  grails-app/i18n/messages_nl.properties
Labels: none

New translations messages.properties (Portuguese)
  grails-app/i18n/messages_pt.properties
Labels: none

New translations messages.properties (Chinese Simplified)
  grails-app/i18n/messages_zh.properties
Labels: none

New translations messages.properties (Swahili)
  grails-app/i18n/messages_sw.properties
Labels: none

New translations messages.properties (Haitian Creole)
  grails-app/i18n/messages_ht.properties
Labels: none

New translations messages.properties (Kinyarwanda)
  grails-app/i18n/messages_rw.properties
Labels: none

New translations messages.properties (Acholi)
  grails-app/i18n/messages_ach.properties
Labels: none

OBPIH-7114 fix. Handle null when parsing expiration date to moment
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: frontend
