Repository openboxes/openboxes, changes with the labels that .github/labeler.yml gives for each.
All labels: domain: backend, domain: frontend, domain: devops, domain: documentation, flag: schema change

.github/labeler.yml:

# Automatically adds labels to a pull request.
# https://github.com/actions/labeler

"type: bug":
  - head-branch: ['^bug/', '^bugfix/']

"type: feature":
  - head-branch: ['^feature/', '^feat/', '^ft/']

"type: maintenance":
  - head-branch: ['^maintenance/', '^techdebt/', '^chore/']

"type: release":
  - head-branch: ['^release/']

"warn: do not squash":
  - head-branch: ['^release/', '^develop', '^master']

"domain: l10n":
  - head-branch: ['l10n']
  - changed-files:
      - any-glob-to-any-file:
          - 'grails-app/i18n/**/*'

"flag: ignore in release notes":
  - head-branch: ['l10n']

"domain: backend":
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main/groovy/**/*'
      - 'grails-app/controllers/**/*'
      - 'grails-app/domain/**/*'
      - 'grails-app/jobs/**/*'
      - 'grails-app/services/**/*'

"domain: frontend":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/taglib/**/*'
      - '**/*.js'
      - '**/*.jsx'
      - '**/*.scss'
      - '**/*.css'
      - '**/*.html'
      - '**/*.gsp'

"domain: devops":
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - 'docker/**/*'

"domain: documentation":
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '**/*.md'
      - 'readthedocs.yml'
      - 'mkdocs.yml'

"flag: config change":
- all:
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/conf/**/*'
      - 'grails-app/init/**/*'
      - '**/*.gradle'
      - '**/*.properties'
      - 'package.json'
      - 'package-lock.json'
    - all-globs-to-all-files:
      - '!grails-app/i18n/**/*'

"flag: schema change":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/migrations/**/*'

New translations messages.properties (Czech)
  grails-app/i18n/messages_cs.properties
Labels: none

New translations messages.properties (German)
  grails-app/i18n/messages_de.properties
Labels: none

New translations messages.properties (Finnish)
  grails-app/i18n/messages_fi.properties
Labels: none

New translations messages.properties (Italian)
  grails-app/i18n/messages_it.properties
Labels: none

New translations messages.properties (Dutch)
  grails-app/i18n/messages_nl.properties
Labels: none

New translations messages.properties (Portuguese)
  grails-app/i18n/messages_pt.properties
Labels: none

New translations messages.properties (Chinese Simplified)
  grails-app/i18n/messages_zh.properties
Labels: none

New translations messages.properties (Swahili)
  grails-app/i18n/messages_sw.properties
Labels: none

New translations messages.properties (Haitian Creole)
  grails-app/i18n/messages_ht.properties
Labels: none

New translations messages.properties (Kinyarwanda)
  grails-app/i18n/messages_rw.properties
Labels: none

New translations messages.properties (Acholi)
  grails-app/i18n/messages_ach.properties
Labels: none

Update source file messages.properties
  grails-app/i18n/messages.properties
Labels: none

OBPIH-6895 Load the count confirmation page (fix after QA)
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/components/form-elements/v2/DateField.jsx
  src/js/consts/timeFormat.js
  src/js/hooks/cycleCount/useCountStepTable.jsx
Labels: domain: frontend

OBPIH-6895 fix binLocation
  src/js/hooks/cycleCount/useCountStepTable.jsx
Labels: domain: frontend

OBPIH-6938 Add function resetCheckboxes for better readability
  src/js/hooks/useTableCheckboxes.js
Labels: domain: frontend

OBPIH-6895 corrections after code review
  src/js/components/cycleCount/toCountTab/CountStep.jsx
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/components/form-elements/v2/DateField.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
Labels: domain: frontend

OBPIH-6895 corrections after code review
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
Labels: domain: frontend

fix missing status error when saving cycle count
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
Labels: domain: backend

OBPIH-6909 Unify roles on menu items in navbar
  grails-app/views/common/_menuicons.gsp
  grails-app/views/dashboard/megamenu.gsp
  src/js/components/Layout/menu/MenuConfigurationSubsection.jsx
  src/js/components/Layout/menu/MenuSection.jsx
  src/js/components/Layout/menu/MenuSubsection.jsx
Labels: domain: frontend

OBPIH-6938 Checkbox state and indicator persist across location changes (#5037)
  src/js/hooks/useTableCheckboxes.js
Labels: domain: frontend

OBPIH-6941 Adjust columns widths in cycle count tables (#5039)
  src/js/components/DataTable/v2/DataTableBody.jsx
  src/js/components/DataTable/v2/DataTableHeader.jsx
  src/js/hooks/cycleCount/useAllProductsTab.jsx
  src/js/hooks/cycleCount/useToCountTab.jsx
  src/js/hooks/cycleCount/useToResolveTab.jsx
Labels: domain: frontend

OBPIH-6945 Incorrect bin location displayed after changing location
  fixed: run "git cherry-pick --continue")
  src/js/components/DataTable/TableCell.jsx
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/components/form-elements/v2/style.scss
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
Labels: domain: frontend

OBPIH-6945 Incorrect bin location displayed after changing location
  src/js/components/cycleCount/cycleCount.scss
  src/js/components/cycleCount/toCountTab/CountStep.jsx
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/consts/timeFormat.js
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
Labels: domain: frontend

Cycle count start recount API
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/i18n/messages.properties
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/js/api/services/CycleCountApi.js
  src/js/api/urls.js
  src/js/hooks/cycleCount/useToCountTab.jsx
  src/js/hooks/cycleCount/useToResolveTab.jsx
  src/main/groovy/org/pih/warehouse/core/dtos/BatchCommand.groovy
  src/main/groovy/org/pih/warehouse/core/dtos/BatchCommandUtils.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountStartCommand.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountStartRecountBatchCommand.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountStartRecountCommand.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountStatus.groovy
Labels: domain: backend, domain: frontend

OBPIH-6909 Update menu snapshot
  src/js/tests/menu/__snapshots__/Menu.test.jsx.snap
Labels: none

remove unused BatchCommand class
  src/main/groovy/org/pih/warehouse/core/dtos/BatchCommand.groovy
Labels: domain: backend

OBPIH-6980 Add select-auto-width className
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/components/form-elements/v2/SelectField.jsx
  src/js/components/form-elements/v2/style.scss
  src/js/utils/form-utils.jsx
Labels: domain: frontend

OBPIH-6944 Content refreshes twice when switching tabs
  src/js/components/cycleCount/CycleCount.jsx
  src/js/components/cycleCount/allProductsTab/CycleCountAllProducts.jsx
  src/js/hooks/cycleCount/useAllProductsTab.jsx
  src/js/hooks/useTableDataV2.js
Labels: domain: frontend

OBPIH-6944 Content refreshes twice when switching tabs
  src/js/components/cycleCount/CycleCount.jsx
  src/js/components/cycleCount/allProductsTab/CycleCountAllProducts.jsx
  src/js/hooks/cycleCount/useAllProductsTab.jsx
  src/js/hooks/useTableDataV2.js
Labels: domain: frontend

OBPIH-6944 Content refreshes twice when switching tabs
  src/js/components/cycleCount/CycleCount.jsx
  src/js/components/cycleCount/allProductsTab/CycleCountAllProducts.jsx
  src/js/hooks/cycleCount/useAllProductsTab.jsx
  src/js/hooks/useTableDataV2.js
Labels: domain: frontend

OBPIH-6974 Add new translations
  grails-app/i18n/messages.properties
Labels: none

OBPIH-6974 Add discrepancy reason codes (temp)
  src/js/consts/discrepancyReasonCode.js
Labels: domain: frontend

OBPIH-6974 Move to the recounting page
  src/js/hooks/cycleCount/useToResolveTab.jsx
Labels: domain: frontend

OBPIH-6974 Add new route
  src/js/components/Router.jsx
  src/js/consts/applicationUrls.js
Labels: domain: frontend

OBPIH-6974 Add header namings in enum
  src/js/consts/cycleCountColumn.js
Labels: domain: frontend

OBPIH-6974 Remove empty new line
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
Labels: domain: frontend

OBPIH-6974 Add new redux action
  src/js/actions/index.js
  src/js/actions/types.js
  src/js/reducers/cycleCountReducer.js
Labels: domain: frontend

OBPIH-6974 Use already existing reason codes instead of discrepancies
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

OBPIH-6974 Move to resolve tab
  src/js/components/cycleCount/CycleCount.jsx
  src/js/components/cycleCount/toResolveTab/CycleCountToResolve.jsx
Labels: domain: frontend

OBPIH-6974 Add useMemo and useCallback hooks
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend
