Repository openboxes/openboxes, changes with the labels that .github/labeler.yml gives for each.
All labels: domain: backend, domain: frontend, domain: devops, domain: documentation, flag: schema change

OBPIH-7060 Page unresponsive when loading count page (#5101)
  src/js/actions/index.js
  src/js/actions/types.js
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/js/reducers/cycleCountReducer.js
Labels: domain: frontend

OBPIH-6981 Fix creating a cycle count item with default bin (#5099)
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemCommand.groovy
Labels: domain: backend

OBPIH-7003 Fix ProductSelect
  src/js/components/form-elements/v2/SelectField.jsx
  src/js/components/product-select/ProductSelect.jsx
Labels: domain: frontend

OBPIH-7003 Improve focus props logic
  grails-app/migrations/views/cycle-count-session.sql
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
  src/js/components/form-elements/v2/SelectField.jsx
Labels: domain: frontend, flag: schema change

OBPIH-7003 restore previous cycle-count-session
  grails-app/migrations/views/cycle-count-session.sql
Labels: flag: schema change

OBPIH-7055 Back button on Resolve page redirects to wrong tab (To Count instead of To Resolve)
  grails-app/i18n/messages.properties
  src/js/components/cycleCount/toResolveTab/ResolveStepHeader.jsx
Labels: domain: frontend

OBPIH-7055 Back button on Resolve page redirects to wrong tab (To Count instead of To Resolve)
  grails-app/i18n/messages.properties
  src/js/components/cycleCount/toResolveTab/ResolveStepHeader.jsx
Labels: domain: frontend

OBPIH-7056 Wording change: “resolve in progress” / “count in progress” to “in progress”, as it breaks the table
  grails-app/i18n/messages.properties
Labels: none

OBPIH-7057 Continue resolve workflow with products from last count after save
  src/js/actions/index.js
  src/js/hooks/cycleCount/useCountStep.jsx
Labels: domain: frontend

add tooltip and remove item if no availability
  grails-app/i18n/messages.properties
  grails-app/services/org/pih/warehouse/inventory/CycleCountProductAvailabilityService.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountTransactionService.groovy
  src/js/components/cycleCount/toResolveTab/ResolveStepHeader.jsx
  src/test/groovy/unit/org/pih/warehouse/inventory/CycleCountProductAvailabilityServiceSpec.groovy
Labels: domain: backend, domain: frontend

clean up CycleCountProductAvailabilityService
  grails-app/services/org/pih/warehouse/inventory/CycleCountProductAvailabilityService.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/test/groovy/unit/org/pih/warehouse/inventory/CycleCountProductAvailabilityServiceSpec.groovy
  src/test/groovy/unit/org/pih/warehouse/inventory/CycleCountTransactionServiceSpec.groovy
Labels: domain: backend

fix extra space to make eslint happy
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: frontend

OBPIH-7003 Fix countedBy, lastCounted and quantity scroll issue
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
  src/js/components/form-elements/v2/TextInput.jsx
  src/js/hooks/cycleCount/useAllProductsTab.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

OBPIH-7071 Count and Recount page do not immediately show the selected products
  src/js/hooks/cycleCount/useToCountTab.jsx
  src/js/hooks/cycleCount/useToResolveTab.jsx
Labels: domain: frontend

OBPIH-7014 Fix error during save with new line
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
Labels: domain: frontend

OBPIH-7014 Add saving, fix merging cycleCountItems
  src/js/components/cycleCount/toResolveTab/ResolveStep.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepHeader.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

OBPIH-7003 Refactor focus state management
  src/js/components/cycleCount/toCountTab/CountStep.jsx
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStep.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/js/hooks/useArrowsNavigation.jsx
  src/js/hooks/useFocusOnMatch.js
Labels: domain: frontend

OBPIH-7003 Add small correction
  src/js/hooks/cycleCount/useCountStepTable.jsx
Labels: domain: frontend

fix after merge. Adding ProductAvailabilityService dependency back to CycleCountService
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
Labels: domain: backend

mark count as completed after count with no discrepancy or after recount
  grails-app/domain/org/pih/warehouse/inventory/CycleCount.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountStatus.groovy
Labels: domain: backend

OBPIH-7072 Error occurs when adding a new line without a lot number
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
Labels: domain: backend

New translations messages.properties (French)
  grails-app/i18n/messages_fr.properties
Labels: none

New translations messages.properties (Spanish)
  grails-app/i18n/messages_es.properties
Labels: none

New translations messages.properties (Arabic)
  grails-app/i18n/messages_ar.properties
Labels: none

New translations messages.properties (Czech)
  grails-app/i18n/messages_cs.properties
Labels: none

New translations messages.properties (German)
  grails-app/i18n/messages_de.properties
Labels: none

New translations messages.properties (Finnish)
  grails-app/i18n/messages_fi.properties
Labels: none

New translations messages.properties (Italian)
  grails-app/i18n/messages_it.properties
Labels: none

New translations messages.properties (Dutch)
  grails-app/i18n/messages_nl.properties
Labels: none

New translations messages.properties (Portuguese)
  grails-app/i18n/messages_pt.properties
Labels: none

New translations messages.properties (Chinese Simplified)
  grails-app/i18n/messages_zh.properties
Labels: none

New translations messages.properties (Swahili)
  grails-app/i18n/messages_sw.properties
Labels: none

New translations messages.properties (Haitian Creole)
  grails-app/i18n/messages_ht.properties
Labels: none

New translations messages.properties (Kinyarwanda)
  grails-app/i18n/messages_rw.properties
Labels: none

New translations messages.properties (Acholi)
  grails-app/i18n/messages_ach.properties
Labels: none

Expand Root Cause selector for better visibility
  grails-app/migrations/views/cycle-count-session.sql
  src/css/main.scss
  src/js/components/DataTable/TableCell.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/js/wrappers/CustomTooltip.jsx
Labels: domain: frontend, flag: schema change

OBPIH-7054 Add some improvements
  grails-app/migrations/views/cycle-count-session.sql
  src/js/components/DataTable/TableCell.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend, flag: schema change

OBPIH-7018 Draft unfinished count workflow
  grails-app/i18n/messages.properties
  grails-app/migrations/views/cycle-count-session.sql
  src/js/actions/index.js
  src/js/actions/types.js
  src/js/components/cycleCount/CycleCountDraftInfoBar.jsx
  src/js/components/cycleCount/cycleCount.scss
  src/js/components/cycleCount/toCountTab/CycleCountToCount.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useDraftInfoBar.js
  src/js/reducers/cycleCountReducer.js
Labels: domain: frontend, flag: schema change

OBPIH-7018 Fix imports in the actions
  src/js/actions/index.js
Labels: domain: frontend

OBPIH-7018 Remove workaround in the view
  grails-app/migrations/views/cycle-count-session.sql
  src/js/hooks/cycleCount/useCountStep.jsx
Labels: domain: frontend, flag: schema change

.github/labeler.yml:

# Automatically adds labels to a pull request.
# https://github.com/actions/labeler

"type: bug":
  - head-branch: ['^bug/', '^bugfix/']

"type: feature":
  - head-branch: ['^feature/', '^feat/', '^ft/']

"type: maintenance":
  - head-branch: ['^maintenance/', '^techdebt/', '^chore/']

"type: release":
  - head-branch: ['^release/']

"warn: do not squash":
  - head-branch: ['^release/', '^develop', '^master']

"domain: l10n":
  - head-branch: ['l10n']
  - changed-files:
      - any-glob-to-any-file:
          - 'grails-app/i18n/**/*'

"flag: ignore in release notes":
  - head-branch: ['l10n']

"domain: backend":
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main/groovy/**/*'
      - 'grails-app/controllers/**/*'
      - 'grails-app/domain/**/*'
      - 'grails-app/jobs/**/*'
      - 'grails-app/services/**/*'

"domain: frontend":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/taglib/**/*'
      - '**/*.js'
      - '**/*.jsx'
      - '**/*.scss'
      - '**/*.css'
      - '**/*.html'
      - '**/*.gsp'

"domain: devops":
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - 'docker/**/*'

"domain: documentation":
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '**/*.md'
      - 'readthedocs.yml'
      - 'mkdocs.yml'

"flag: config change":
- all:
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/conf/**/*'
      - 'grails-app/init/**/*'
      - '**/*.gradle'
      - '**/*.properties'
      - 'package.json'
      - 'package-lock.json'
    - all-globs-to-all-files:
      - '!grails-app/i18n/**/*'

"flag: schema change":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/migrations/**/*'
