Repository openboxes/openboxes, changes with the labels that .github/labeler.yml gives for each.
All labels: domain: backend, domain: frontend, domain: devops, domain: documentation, flag: schema change

.github/labeler.yml:

# Automatically adds labels to a pull request.
# https://github.com/actions/labeler

"type: bug":
  - head-branch: ['^bug/', '^bugfix/']

"type: feature":
  - head-branch: ['^feature/', '^feat/', '^ft/']

"type: maintenance":
  - head-branch: ['^maintenance/', '^techdebt/', '^chore/']

"type: release":
  - head-branch: ['^release/']

"warn: do not squash":
  - head-branch: ['^release/', '^develop', '^master']

"domain: l10n":
  - head-branch: ['l10n']
  - changed-files:
      - any-glob-to-any-file:
          - 'grails-app/i18n/**/*'

"flag: ignore in release notes":
  - head-branch: ['l10n']

"domain: backend":
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main/groovy/**/*'
      - 'grails-app/controllers/**/*'
      - 'grails-app/domain/**/*'
      - 'grails-app/jobs/**/*'
      - 'grails-app/services/**/*'

"domain: frontend":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/taglib/**/*'
      - '**/*.js'
      - '**/*.jsx'
      - '**/*.scss'
      - '**/*.css'
      - '**/*.html'
      - '**/*.gsp'

"domain: devops":
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - 'docker/**/*'

"domain: documentation":
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '**/*.md'
      - 'readthedocs.yml'
      - 'mkdocs.yml'

"flag: config change":
- all:
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/conf/**/*'
      - 'grails-app/init/**/*'
      - '**/*.gradle'
      - '**/*.properties'
      - 'package.json'
      - 'package-lock.json'
    - all-globs-to-all-files:
      - '!grails-app/i18n/**/*'

"flag: schema change":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/migrations/**/*'

OBPIH-6894 Add types and action
  src/js/actions/index.js
  src/js/actions/types.js
  src/js/reducers/index.jsx
Labels: domain: frontend

OBPIH-6894 Add new route
  src/js/components/Router.jsx
Labels: domain: frontend

OBPIH-6894 Fix styling, add border
  src/js/components/cycleCount/cycleCount.scss
Labels: domain: frontend

OBPIH-6894 Fix displaying errors
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useCountStepValidation.js
Labels: domain: frontend

OBPIH-6894 Add propTypes and comments
  src/js/components/cycleCount/toCountTab/CountStepHeader.jsx
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
Labels: domain: frontend

OBPIH-6894 Remove unused property
  src/js/components/form-elements/v2/SelectField.jsx
Labels: domain: frontend

WIP: make cycle count status a real field
  grails-app/domain/org/pih/warehouse/inventory/CycleCount.groovy
  grails-app/domain/org/pih/warehouse/inventory/CycleCountCandidate.groovy
  grails-app/domain/org/pih/warehouse/inventory/CycleCountItem.groovy
  grails-app/i18n/messages.properties
  grails-app/migrations/0.9.x/changelog-2025-02-06-0000-add-column-status-to-cycle-count.xml
  grails-app/migrations/0.9.x/changelog.xml
  grails-app/migrations/views/cycle-count-session.sql
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/js/consts/cycleCountCandidateStatus.js
  src/js/consts/cycleCountStatusGroup.js
  src/js/hooks/cycleCount/useToCountTab.jsx
  src/js/hooks/cycleCount/useToResolveTab.jsx
  src/main/groovy/org/pih/warehouse/inventory/CycleCountCandidateFilterCommand.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountCandidateStatus.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountRequestStatus.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountStatus.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountStatusGroup.groovy
Labels: domain: backend, domain: frontend, flag: schema change

OBPIH-6940 Limit product names to 2 rows on to count tab
  src/js/hooks/cycleCount/useToCountTab.jsx
Labels: domain: frontend

OBPIH-6960 corrections after code review
  src/js/hooks/inboundV2/addItems/useInboundAddItemsForm.jsx
Labels: domain: frontend

OBPIH-6937 add .nullish() for validation
  src/js/hooks/inboundV2/useInboundValidation.js
Labels: domain: frontend

OBPIH-6894 Fixes after review
  src/js/actions/index.js
  src/js/consts/timeFormat.js
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/reducers/cycleCountReducer.js
Labels: domain: frontend

OBPIH-6894 Load the count step page (#5033)
  grails-app/i18n/messages.properties
  src/js/actions/index.js
  src/js/actions/types.js
  src/js/api/services/CycleCountApi.js
  src/js/components/DataTable/v2/DataTable.jsx
  src/js/components/DataTable/v2/DataTableBody.jsx
  src/js/components/Router.jsx
  src/js/components/cycleCount/CycleCount.jsx
  src/js/components/cycleCount/cycleCount.scss
  src/js/components/cycleCount/toCountTab/CountStep.jsx
  src/js/components/cycleCount/toCountTab/CountStepHeader.jsx
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/components/cycleCount/toCountTab/CycleCountToCount.jsx
  src/js/components/form-elements/v2/SelectField.jsx
  src/js/consts/applicationUrls.js
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useCountStepValidation.js
  src/js/hooks/cycleCount/useToCountTab.jsx
  src/js/hooks/useDataTable.js
  src/js/reducers/cycleCountReducer.js
  src/js/reducers/index.jsx
Labels: domain: frontend

OBPIH-6940 Adjust display of product name in cycle count tables to 2 rows only (fix after QA) (#5034)
  src/js/hooks/cycleCount/useToCountTab.jsx
Labels: domain: frontend

OBPIH-6895 Load the count confirmation page (2.2.1)
  grails-app/i18n/messages.properties
  src/js/components/Router.jsx
  src/js/components/cycleCount/cycleCount.scss
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/components/cycleCount/toCountTab/check/CheckStep.jsx
  src/js/components/cycleCount/toCountTab/check/CheckStepHeader.jsx
  src/js/components/cycleCount/toCountTab/check/CheckStepTable.jsx
  src/js/hooks/cycleCount/useCheckStep.jsx
Labels: domain: frontend

Update source file messages.properties
  grails-app/i18n/messages.properties
Labels: none

New translations messages.properties (French)
  grails-app/i18n/messages_fr.properties
Labels: none

New translations messages.properties (Spanish)
  grails-app/i18n/messages_es.properties
Labels: none

New translations messages.properties (Arabic)
  grails-app/i18n/messages_ar.properties
Labels: none

New translations messages.properties (Czech)
  grails-app/i18n/messages_cs.properties
Labels: none

New translations messages.properties (German)
  grails-app/i18n/messages_de.properties
Labels: none

New translations messages.properties (Finnish)
  grails-app/i18n/messages_fi.properties
Labels: none

New translations messages.properties (Italian)
  grails-app/i18n/messages_it.properties
Labels: none

New translations messages.properties (Dutch)
  grails-app/i18n/messages_nl.properties
Labels: none

New translations messages.properties (Portuguese)
  grails-app/i18n/messages_pt.properties
Labels: none

New translations messages.properties (Chinese Simplified)
  grails-app/i18n/messages_zh.properties
Labels: none

New translations messages.properties (Swahili)
  grails-app/i18n/messages_sw.properties
Labels: none

New translations messages.properties (Haitian Creole)
  grails-app/i18n/messages_ht.properties
Labels: none

New translations messages.properties (Kinyarwanda)
  grails-app/i18n/messages_rw.properties
Labels: none

New translations messages.properties (Acholi)
  grails-app/i18n/messages_ach.properties
Labels: none

cycle count candidate status resolves properly
  grails-app/domain/org/pih/warehouse/inventory/CycleCountItem.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/js/hooks/cycleCount/useToCountTab.jsx
  src/js/hooks/cycleCount/useToResolveTab.jsx
  src/main/groovy/org/pih/warehouse/inventory/CycleCountCandidateStatus.groovy
Labels: domain: backend, domain: frontend

clean up method recomputing cycle count status
  grails-app/domain/org/pih/warehouse/inventory/CycleCount.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
Labels: domain: backend

switch back to using hasMany for cycle count items
  grails-app/domain/org/pih/warehouse/inventory/CycleCount.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/js/hooks/cycleCount/useToCountTab.jsx
  src/js/hooks/cycleCount/useToResolveTab.jsx
  src/main/groovy/org/pih/warehouse/inventory/CycleCountDto.groovy
Labels: domain: backend, domain: frontend

OBPIH-6895 Load the count confirmation page (2.2.1)
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/i18n/messages.properties
  src/js/components/Router.jsx
  src/js/components/cycleCount/cycleCount.scss
  src/js/components/cycleCount/toCountTab/check/CheckStep.jsx
  src/js/components/cycleCount/toCountTab/check/CheckStepHeader.jsx
  src/js/components/cycleCount/toCountTab/check/CheckStepTable.jsx
  src/js/hooks/cycleCount/useCheckStep.jsx
Labels: domain: backend, domain: frontend

add padding
  src/js/components/cycleCount/cycleCount.scss
Labels: domain: frontend

OBPIH-6940 Add wrapping lines on to resolve tab
  src/js/hooks/cycleCount/useToResolveTab.jsx
Labels: domain: frontend

OBPIH-6940 Adjust display of product name in cycle count tables to 2 rows only (to resolve tab) (#5036)
  src/js/hooks/cycleCount/useToResolveTab.jsx
Labels: domain: frontend

remove checkStep components
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  src/js/components/Router.jsx
  src/js/components/cycleCount/cycleCount.scss
  src/js/components/cycleCount/toCountTab/ConfirmStepHeader.jsx
  src/js/components/cycleCount/toCountTab/CountStep.jsx
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/components/cycleCount/toCountTab/check/CheckStep.jsx
  src/js/components/cycleCount/toCountTab/check/CheckStepTable.jsx
  src/js/hooks/cycleCount/useCheckStep.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
Labels: domain: backend, domain: frontend

OBPIH-6895 Remove history push from useCountStep
  src/js/components/cycleCount/cycleCount.scss
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
Labels: domain: frontend

OBPIH-6895 Change className name
  src/js/components/cycleCount/cycleCount.scss
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
Labels: domain: frontend

OBPIH-6938 Checkbox state and indicator persist across location changes
  src/js/hooks/useTableCheckboxes.js
Labels: domain: frontend
