Repository openboxes/openboxes, changes with the labels that .github/labeler.yml gives for each.
All labels: domain: backend, domain: frontend, domain: devops, domain: documentation, flag: schema change

OBPIH-7146 Correcitons after code review
  src/js/components/DataTable/TableHeaderCell.jsx
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2AddItems.jsx
Labels: domain: frontend

OBPIH-7146 Rename stockMovement to identifier
  src/js/hooks/inboundV2/addItems/useInboundAddItemsForm.jsx
Labels: domain: frontend

OBPIH-7150 async loading for header recipients select
  src/js/hooks/inboundV2/addItems/useInboundAddItemsColumns.jsx
Labels: domain: frontend

OBPIH-7150 Remove unnecessary classname
  src/js/components/DataTable/DataTable.scss
Labels: domain: frontend

OBPIH-7167 Fix merging items when inventory is deleted
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: frontend

OBPIH-7167 Add comments
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: frontend

OBPIH-7150 Add comments
  src/js/hooks/useArrowsNavigation.jsx
Labels: domain: frontend

OBPIH-7151 Change format date and saving logic
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2Create.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsColumns.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsForm.jsx
  src/js/hooks/inboundV2/create/useInboundCreateForm.js
  src/js/utils/dateUtils.js
Labels: domain: frontend

New translations messages.properties (Spanish)
  grails-app/i18n/messages_es.properties
Labels: none

New translations messages.properties (Spanish)
  grails-app/i18n/messages_es.properties
Labels: none

OBPIH-7167 Deleted inventories are still visible after using reload button (#5188)
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: frontend

OBPIH-7175 Header improvements
  src/js/actions/index.js
  src/js/actions/types.js
  src/js/components/stock-movement-wizard/inboundV2/InboundHeader.jsx
  src/js/components/stock-movement-wizard/inboundV2/InboundV2.jsx
  src/js/consts/MockInboundV2Status.js
  src/js/consts/MockInboundV2Title.js
  src/js/hooks/inboundV2/addItems/useInboundAddItemsForm.jsx
  src/js/hooks/inboundV2/create/useInboundCreateForm.js
  src/js/reducers/InboundReducer.jsx
Labels: domain: frontend

OBPIH-7175 Add small corrections
  src/js/components/stock-movement-wizard/inboundV2/InboundHeader.jsx
  src/js/components/stock-movement-wizard/inboundV2/InboundV2.jsx
Labels: domain: frontend

OBPIH-7175 Add comment
  src/js/hooks/inboundV2/create/useInboundCreateForm.js
Labels: domain: frontend

OBPIH-7175 Add reducer improvements
  src/js/reducers/inboundReducer.jsx
  src/js/reducers/index.jsx
Labels: domain: frontend

OBPIH-7175 add braces to if statement
  src/js/reducers/inboundReducer.jsx
Labels: domain: frontend

OBPIH-7146 Add overflow-visible classname
  src/js/components/DataTable/DataTable.scss
  src/js/components/DataTable/v2/DataTable.jsx
Labels: domain: frontend

OBPIH-7170 Fix bug with cycle count missing cycle count items with the same bin
  grails-app/domain/org/pih/warehouse/inventory/CycleCountItem.groovy
Labels: domain: backend

OBPIH-7170 Fix bug with cycle count missing cycle count items with th… (#5191)
  grails-app/domain/org/pih/warehouse/inventory/CycleCountItem.groovy
Labels: domain: backend

OBPIH-7175 Add error handling for invalid id in fetchData
  src/js/hooks/inboundV2/addItems/useInboundAddItemsForm.jsx
  src/js/hooks/inboundV2/create/useInboundCreateForm.js
Labels: domain: frontend

OBPIH-7147 Improve validation
  src/js/hooks/inboundV2/addItems/useInboundAddItemsColumns.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsForm.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsValidation.js
Labels: domain: frontend

OBPIH-7146 Add import template/export template buttons to add items page (#5178)
  src/js/api/services/StockMovementApi.js
  src/js/components/DataTable/DataTable.scss
  src/js/components/DataTable/TableHeaderCell.jsx
  src/js/components/DataTable/v2/DataTable.jsx
  src/js/components/stock-movement-wizard/inboundV2/InboundV2.jsx
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2AddItems.jsx
  src/js/consts/applicationUrls.js
  src/js/hooks/inboundV2/addItems/useInboundAddItemsColumns.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsForm.jsx
Labels: domain: frontend

OBPIH-7157 Add fetching users
  src/js/hooks/inboundV2/addItems/useInboundAddItemsForm.jsx
  src/js/hooks/inboundV2/create/useInboundCreateForm.js
Labels: domain: frontend

OBPIH-7149 Fix default display date format (#5179)
  grails-app/conf/runtime.groovy
  src/main/groovy/org/pih/warehouse/core/Constants.groovy
Labels: domain: backend

OBPIH-7152 Fix Single-select filter input issue (#5181)
  src/js/components/form-elements/FilterSelectField.jsx
Labels: domain: frontend

OBPIH-7144 Trigger validation on next when add lot with spaces (#5175)
  src/js/hooks/cycleCount/useInventoryValidation.js
Labels: domain: frontend

OBPIH-7144 Trigger validation on next when add lot with spaces (#5183)
  src/js/hooks/cycleCount/useInventoryValidation.js
Labels: domain: frontend

OBPIH-7174 Improve validation
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2AddItems.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsColumns.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsForm.jsx
Labels: domain: frontend

OBPIH-7174 Improve validation
  src/js/components/stock-movement-wizard/inboundV2/InboundV2.jsx
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2AddItems.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsColumns.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsForm.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsValidation.js
Labels: domain: frontend

OBPIH-7174 Add small corrections
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2AddItems.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsColumns.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsForm.jsx
Labels: domain: frontend

OBPIH-7174 Add small corrections in if statement
  src/js/hooks/inboundV2/addItems/useInboundAddItemsForm.jsx
Labels: domain: frontend

OBPIH-7173 Fix default value for inventory item
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: frontend

OBPIH-7163 Fix exporting inventory levels
  grails-app/conf/runtime.groovy
Labels: none

OBPIH-7163 Fix exporting inventory levels (#5196)
  grails-app/conf/runtime.groovy
Labels: none

OBPIH-6381 Wrap Text for long product names on Goods Receipt Note
  grails-app/views/goodsReceiptNote/print.gsp
Labels: domain: frontend

OBPIH-7191 Replace null with empty string on count step
  src/js/hooks/cycleCount/useCountStep.jsx
Labels: domain: frontend

OBPIH-7173, OBPIH-7191 Rows duplicated when add the same inventory with no lot as added on recount (#5195)
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: frontend

OBPIH-7169 Detect discrepancy caused by removed inventories during count workflow
  grails-app/i18n/messages.properties
  grails-app/services/org/pih/warehouse/inventory/CycleCountProductAvailabilityService.groovy
  src/js/components/cycleCount/CycleCountDiscrepancyInfoBar.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStep.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: backend, domain: frontend

OBPIH-6780 Add Page numbers on Picklist and Delivery Note
  grails-app/views/deliveryNote/print.gsp
  grails-app/views/picklist/print.gsp
Labels: domain: frontend

OBPIH-6780 Change text color
  grails-app/views/deliveryNote/print.gsp
  grails-app/views/picklist/print.gsp
Labels: domain: frontend

.github/labeler.yml:

# Automatically adds labels to a pull request.
# https://github.com/actions/labeler

"type: bug":
  - head-branch: ['^bug/', '^bugfix/']

"type: feature":
  - head-branch: ['^feature/', '^feat/', '^ft/']

"type: maintenance":
  - head-branch: ['^maintenance/', '^techdebt/', '^chore/']

"type: release":
  - head-branch: ['^release/']

"warn: do not squash":
  - head-branch: ['^release/', '^develop', '^master']

"domain: l10n":
  - head-branch: ['l10n']
  - changed-files:
      - any-glob-to-any-file:
          - 'grails-app/i18n/**/*'

"flag: ignore in release notes":
  - head-branch: ['l10n']

"domain: backend":
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main/groovy/**/*'
      - 'grails-app/controllers/**/*'
      - 'grails-app/domain/**/*'
      - 'grails-app/jobs/**/*'
      - 'grails-app/services/**/*'

"domain: frontend":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/taglib/**/*'
      - '**/*.js'
      - '**/*.jsx'
      - '**/*.scss'
      - '**/*.css'
      - '**/*.html'
      - '**/*.gsp'

"domain: devops":
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - 'docker/**/*'

"domain: documentation":
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '**/*.md'
      - 'readthedocs.yml'
      - 'mkdocs.yml'

"flag: config change":
- all:
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/conf/**/*'
      - 'grails-app/init/**/*'
      - '**/*.gradle'
      - '**/*.properties'
      - 'package.json'
      - 'package-lock.json'
    - all-globs-to-all-files:
      - '!grails-app/i18n/**/*'

"flag: schema change":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/migrations/**/*'
