Repository openboxes/openboxes, changes with the labels that .github/labeler.yml gives for each.
All labels: domain: backend, domain: frontend, domain: devops, domain: documentation, flag: schema change

.github/labeler.yml:

# Automatically adds labels to a pull request.
# https://github.com/actions/labeler

"type: bug":
  - head-branch: ['^bug/', '^bugfix/']

"type: feature":
  - head-branch: ['^feature/', '^feat/', '^ft/']

"type: maintenance":
  - head-branch: ['^maintenance/', '^techdebt/', '^chore/']

"type: release":
  - head-branch: ['^release/']

"warn: do not squash":
  - head-branch: ['^release/', '^develop', '^master']

"domain: l10n":
  - head-branch: ['l10n']
  - changed-files:
      - any-glob-to-any-file:
          - 'grails-app/i18n/**/*'

"flag: ignore in release notes":
  - head-branch: ['l10n']

"domain: backend":
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main/groovy/**/*'
      - 'grails-app/controllers/**/*'
      - 'grails-app/domain/**/*'
      - 'grails-app/jobs/**/*'
      - 'grails-app/services/**/*'

"domain: frontend":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/taglib/**/*'
      - '**/*.js'
      - '**/*.jsx'
      - '**/*.scss'
      - '**/*.css'
      - '**/*.html'
      - '**/*.gsp'

"domain: devops":
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - 'docker/**/*'

"domain: documentation":
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '**/*.md'
      - 'readthedocs.yml'
      - 'mkdocs.yml'

"flag: config change":
- all:
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/conf/**/*'
      - 'grails-app/init/**/*'
      - '**/*.gradle'
      - '**/*.properties'
      - 'package.json'
      - 'package-lock.json'
    - all-globs-to-all-files:
      - '!grails-app/i18n/**/*'

"flag: schema change":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/migrations/**/*'

OBPIH-7033 Change notification type
  src/js/hooks/useThrowError.js
Labels: domain: frontend

OBPIH-7061 Corrections after code review
  grails-app/init/org/pih/warehouse/BootStrap.groovy
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

OBPIH-7061 Remove clearCycleCount
  grails-app/init/org/pih/warehouse/BootStrap.groovy
Labels: none

OBPIH-7061 Remove clearCycleCount
  grails-app/init/org/pih/warehouse/BootStrap.groovy
Labels: none

OBPIH-7020 Implement cycle count session ranking using last counted date (#5106)
  grails-app/domain/org/pih/warehouse/inventory/CycleCountCandidate.groovy
  grails-app/migrations/views/changelog.xml
  grails-app/migrations/views/cycle-count-candidate.sql
  grails-app/migrations/views/cycle-count-frequency.sql
  grails-app/migrations/views/cycle-count-metadata.sql
  grails-app/migrations/views/cycle-count-session.sql
  grails-app/migrations/views/drop-all-views.xml
  grails-app/migrations/views/product-classification.sql
  grails-app/migrations/views/product-count-history.sql
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountCandidateFilterCommand.groovy
Labels: domain: backend, flag: schema change

OBPIH-6994 don't auto fill global search input when hover over results (#5124)
  grails-app/views/taglib/_globalSearch.gsp
  grails-app/views/taglib/_globalSearchStatic.gsp
Labels: domain: frontend

WIP: fix unique expiration date validation
  src/js/hooks/cycleCount/useInventoryValidation.js
Labels: domain: frontend

OBPIH-7003 Fix validation
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

OBPIH-7003 Add small corrections
  src/js/hooks/cycleCount/useCountStepTable.jsx
Labels: domain: frontend

OBPIH-7038 Fix validation
  grails-app/init/org/pih/warehouse/BootStrap.groovy
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepValidation.js
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: frontend

OBPIH-7038 Remove clearCycleCountData
  grails-app/init/org/pih/warehouse/BootStrap.groovy
Labels: none

OBPIH-7003 Up/down arrow to navigate through cells in quantity column (fix after QA) (#5088)
  src/js/components/cycleCount/toCountTab/CountStep.jsx
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStep.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
  src/js/components/form-elements/v2/DateField.jsx
  src/js/components/form-elements/v2/SelectField.jsx
  src/js/components/form-elements/v2/TextInput.jsx
  src/js/components/product-select/ProductSelect.jsx
  src/js/consts/cycleCountColumn.js
  src/js/hooks/cycleCount/useAllProductsTab.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/js/hooks/cycleCount/useToCountTab.jsx
  src/js/hooks/cycleCount/useToResolveTab.jsx
  src/js/hooks/useArrowsNavigation.jsx
  src/js/hooks/useFocusOnMatch.js
Labels: domain: frontend

OBPIH-7033 Prevent start count / recount workflows with more than configurable number of products (#5142)
  grails-app/conf/runtime.groovy
  grails-app/controllers/org/pih/warehouse/api/ApiController.groovy
  grails-app/i18n/messages.properties
  src/js/hooks/cycleCount/useAllProductsTab.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/js/hooks/cycleCount/useToCountTab.jsx
  src/js/hooks/cycleCount/useToResolveTab.jsx
  src/js/hooks/useThrowError.js
  src/js/reducers/sessionReducer.jsx
Labels: domain: backend, domain: frontend

OBPIH-7018 Fix erasing the draft when submitting a count (#5140)
  src/js/hooks/cycleCount/useCountStep.jsx
Labels: domain: frontend

New translations messages.properties (French)
  grails-app/i18n/messages_fr.properties
Labels: none

New translations messages.properties (Spanish)
  grails-app/i18n/messages_es.properties
Labels: none

New translations messages.properties (Arabic)
  grails-app/i18n/messages_ar.properties
Labels: none

New translations messages.properties (Czech)
  grails-app/i18n/messages_cs.properties
Labels: none

New translations messages.properties (German)
  grails-app/i18n/messages_de.properties
Labels: none

New translations messages.properties (Finnish)
  grails-app/i18n/messages_fi.properties
Labels: none

New translations messages.properties (Italian)
  grails-app/i18n/messages_it.properties
Labels: none

New translations messages.properties (Dutch)
  grails-app/i18n/messages_nl.properties
Labels: none

New translations messages.properties (Portuguese)
  grails-app/i18n/messages_pt.properties
Labels: none

New translations messages.properties (Chinese Simplified)
  grails-app/i18n/messages_zh.properties
Labels: none

New translations messages.properties (Swahili)
  grails-app/i18n/messages_sw.properties
Labels: none

New translations messages.properties (Haitian Creole)
  grails-app/i18n/messages_ht.properties
Labels: none

New translations messages.properties (Kinyarwanda)
  grails-app/i18n/messages_rw.properties
Labels: none

New translations messages.properties (Acholi)
  grails-app/i18n/messages_ach.properties
Labels: none

OBPIH-7038 Add resetValidationState to useResolveStepValidation
  grails-app/migrations/0.8.x/changelog-2019-08-15-1229-alter-table-inventory-snapshot-add-unique-index.xml
  src/js/hooks/cycleCount/useResolveStepValidation.js
Labels: domain: frontend, flag: schema change

Update source file messages.properties
  grails-app/i18n/messages.properties
Labels: none

OBPIH-7100 Fix issues with deleting cycle count item from resolve step page
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

OBPIH-6990 Corrections after code review
  grails-app/i18n/messages.properties
  src/js/components/receiving/PartialReceivingPage.jsx
  src/js/consts/receivingSortOptions.js
Labels: domain: frontend

OBPIH-7099 Prevent doing multiclik on Save on to count and recount steps
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/utils/confirmationModalUtils.jsx
Labels: domain: frontend

default to UTC when parsing times for validation
  src/js/hooks/cycleCount/useInventoryValidation.js
Labels: domain: frontend

OBPIH-7098 Fields should remain enabled after clicking 'Save Progress' to trigger proper validation
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/main/groovy/org/pih/warehouse/inventory/CycleCountUpdateItemCommand.groovy
Labels: domain: backend, domain: frontend

OBPIH-7098 Add small corrections
  grails-app/init/org/pih/warehouse/BootStrap.groovy
  grails-app/migrations/0.8.x/changelog-2019-08-15-1229-alter-table-inventory-snapshot-add-unique-index.xml
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
Labels: domain: frontend, flag: schema change

OBPIH-7098 Add saving bin location
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/main/groovy/org/pih/warehouse/inventory/CycleCountUpdateItemCommand.groovy
Labels: domain: backend, domain: frontend

OBPIH-7102 Fix fake delete on count step
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
Labels: domain: frontend

OBPIH-7102 Fix blank styling
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

OBPIH-7102 Fix displaying 0 qty in tables
  src/js/hooks/cycleCount/useAllProductsTab.jsx
  src/js/hooks/cycleCount/useToCountTab.jsx
  src/js/hooks/cycleCount/useToResolveTab.jsx
Labels: domain: frontend
