Repository openboxes/openboxes, changes with the labels that .github/labeler.yml gives for each.
All labels: domain: backend, domain: frontend, domain: devops, domain: documentation, flag: schema change

.github/labeler.yml:

# Automatically adds labels to a pull request.
# https://github.com/actions/labeler

"type: bug":
  - head-branch: ['^bug/', '^bugfix/']

"type: feature":
  - head-branch: ['^feature/', '^feat/', '^ft/']

"type: maintenance":
  - head-branch: ['^maintenance/', '^techdebt/', '^chore/']

"type: release":
  - head-branch: ['^release/']

"warn: do not squash":
  - head-branch: ['^release/', '^develop', '^master']

"domain: l10n":
  - head-branch: ['l10n']
  - changed-files:
      - any-glob-to-any-file:
          - 'grails-app/i18n/**/*'

"flag: ignore in release notes":
  - head-branch: ['l10n']

"domain: backend":
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main/groovy/**/*'
      - 'grails-app/controllers/**/*'
      - 'grails-app/domain/**/*'
      - 'grails-app/jobs/**/*'
      - 'grails-app/services/**/*'

"domain: frontend":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/taglib/**/*'
      - '**/*.js'
      - '**/*.jsx'
      - '**/*.scss'
      - '**/*.css'
      - '**/*.html'
      - '**/*.gsp'

"domain: devops":
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - 'docker/**/*'

"domain: documentation":
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '**/*.md'
      - 'readthedocs.yml'
      - 'mkdocs.yml'

"flag: config change":
- all:
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/conf/**/*'
      - 'grails-app/init/**/*'
      - '**/*.gradle'
      - '**/*.properties'
      - 'package.json'
      - 'package-lock.json'
    - all-globs-to-all-files:
      - '!grails-app/i18n/**/*'

"flag: schema change":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/migrations/**/*'

OBPIH-7098 Add some improvements
  grails-app/init/org/pih/warehouse/BootStrap.groovy
  grails-app/migrations/0.8.x/changelog-2019-08-15-1229-alter-table-inventory-snapshot-add-unique-index.xml
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/main/groovy/org/pih/warehouse/inventory/CycleCountUpdateItemCommand.groovy
Labels: domain: backend, domain: frontend, flag: schema change

OBPIH-7098 Change date format
  src/js/hooks/cycleCount/useCountStepTable.jsx
Labels: domain: frontend

OBPIH-7061 Corrections after code review
  src/js/hooks/cycleCount/useCountStepTable.jsx
Labels: domain: frontend

OBPIH-7084 Corrections after code review
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemCommand.groovy
Labels: domain: backend

OBPIH-7109 Fix TransactionRequiredExceptions being thrown for the submit count/recount actions
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemCommand.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountSubmitCountCommand.groovy
Labels: domain: backend

fix missing = sign and date recounted display format
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
Labels: domain: backend, domain: frontend

fixes for OBPIH-7098-2
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemCommand.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountUpdateItemCommand.groovy
Labels: domain: backend, domain: frontend

OBPIH-7098 Corrections after code review
  grails-app/migrations/0.8.x/changelog-2019-08-15-1229-alter-table-inventory-snapshot-add-unique-index.xml
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemCommand.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountUpdateItemCommand.groovy
Labels: domain: backend, domain: frontend, flag: schema change

OBPIH-7089 restore grails-app/migrations/0.8.x/changelog-2019-08-15-1229-alter-table-inventory-snapshot-add-unique-index.xml
  grails-app/migrations/0.8.x/changelog-2019-08-15-1229-alter-table-inventory-snapshot-add-unique-index.xml
Labels: flag: schema change

OBPIH-7089 removing unnecessary imports
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemCommand.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountUpdateItemCommand.groovy
Labels: domain: backend

OBPIH-7098 Fix eslint error
  src/js/hooks/cycleCount/useCountStepTable.jsx
Labels: domain: frontend

OBPIH-7112 Fix fetching every cycle count object while counting
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
Labels: domain: frontend

OBPIH-7087 Remove semicolon
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
Labels: domain: backend

OBPIH-7087 Add comment to if statement
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
Labels: domain: backend

OBPIH-7034 Add checking if root cause is selected
  src/js/hooks/cycleCount/useResolveStepValidation.js
Labels: domain: frontend

OBPIH-7038 Add small correction
  src/js/hooks/cycleCount/useCountStep.jsx
Labels: domain: frontend

OBPIH-7038 Restore grails-app/migrations/0.8.x/changelog-2019-08-15-1229-alter-table-inventory-snapshot-add-unique-index.xml
  grails-app/migrations/0.8.x/changelog-2019-08-15-1229-alter-table-inventory-snapshot-add-unique-index.xml
Labels: flag: schema change

OBPIH-7112 Page unresponsive when showing resolve now pop-up (#5151)
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
Labels: domain: frontend

OBPIH-7100 Fix and improve deleting new lines on recount form (#5145)
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

OBPIH-7102 Delete button on new row in count workflow doesn't remove row from the table (#5147)
  src/js/hooks/cycleCount/useAllProductsTab.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/js/hooks/cycleCount/useToCountTab.jsx
  src/js/hooks/cycleCount/useToResolveTab.jsx
Labels: domain: frontend

OBPIH-7034 Root cause field behaviour (Fix after QA) (#5152)
  src/js/hooks/cycleCount/useResolveStepValidation.js
Labels: domain: frontend

OBPIH-7101 fix unique expiration date validation (#5143)
  src/js/hooks/cycleCount/useInventoryValidation.js
Labels: domain: frontend

OBPIH-7087 Edited value of Date counted is not saved (#5139)
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemCommand.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountUpdateItemCommand.groovy
Labels: domain: backend, domain: frontend

also display duplicate item error on lot number field
  src/js/hooks/cycleCount/useInventoryValidation.js
Labels: domain: frontend

make adjustment transactions slightly after product inventory ones
  grails-app/services/org/pih/warehouse/inventory/CycleCountTransactionService.groovy
  src/test/groovy/unit/org/pih/warehouse/inventory/CycleCountTransactionServiceSpec.groovy
Labels: domain: backend

Hide instructions in pull request template
  .github/pull_request_template.md
Labels: domain: devops, domain: documentation

OBPIH-7099 Added disabled state to prevent multiple clicks
  src/js/components/cycleCount/ConfirmStepHeader.jsx
Labels: domain: frontend

OBPIH-7109 Remove recomputeCycleCountStatus method
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
Labels: domain: backend

OBPIH-7099 Corrections after code review
  src/js/components/cycleCount/ConfirmStepHeader.jsx
  src/js/components/cycleCount/toCountTab/CountStep.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
Labels: domain: frontend

OBPIH-7122 Change mergeCycleCountItems logic
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: frontend

OBPIH-6899 Fix displaying count difference when quantity counted is 0
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

OBPIH-7122 Improve logic mergeCycleCountItems
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: frontend

OBPIH-7122 Remove console logs
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: frontend

OBPIH-7122 Edit comment
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: frontend

OBPIh-7061 Corrections after code review
  src/js/hooks/cycleCount/useCountStepTable.jsx
Labels: domain: frontend

OBPIH-7117 duplicate items error should also show on lot number field (#5153)
  src/js/hooks/cycleCount/useInventoryValidation.js
Labels: domain: frontend

OBPIH-7109 Fix TransactionRequiredExceptions being thrown for the sub… (#5149)
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemCommand.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountSubmitCountCommand.groovy
Labels: domain: backend

OBPIH-7107 Improve performance for candidates on to count and to resolve tabs
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/domain/org/pih/warehouse/inventory/CycleCountCandidateInProgress.groovy
  grails-app/init/org/pih/warehouse/BootStrap.groovy
  grails-app/migrations/views/changelog.xml
  grails-app/migrations/views/cycle-count-candidate-in-progress.sql
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/js/api/urls.js
  src/js/hooks/cycleCount/useToCountTab.jsx
  src/js/hooks/cycleCount/useToResolveTab.jsx
Labels: domain: backend, domain: frontend, flag: schema change

OBPIH-6899 Load the resolve discrepancies step page (Fix after QA) (#5156)
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

handle null when comparing expiration dates
  src/js/hooks/cycleCount/useInventoryValidation.js
Labels: domain: frontend
