Repository openboxes/openboxes, changes with the labels that .github/labeler.yml gives for each.
All labels: domain: backend, domain: frontend, domain: devops, domain: documentation, flag: schema change

.github/labeler.yml:

# Automatically adds labels to a pull request.
# https://github.com/actions/labeler

"type: bug":
  - head-branch: ['^bug/', '^bugfix/']

"type: feature":
  - head-branch: ['^feature/', '^feat/', '^ft/']

"type: maintenance":
  - head-branch: ['^maintenance/', '^techdebt/', '^chore/']

"type: release":
  - head-branch: ['^release/']

"warn: do not squash":
  - head-branch: ['^release/', '^develop', '^master']

"domain: l10n":
  - head-branch: ['l10n']
  - changed-files:
      - any-glob-to-any-file:
          - 'grails-app/i18n/**/*'

"flag: ignore in release notes":
  - head-branch: ['l10n']

"domain: backend":
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main/groovy/**/*'
      - 'grails-app/controllers/**/*'
      - 'grails-app/domain/**/*'
      - 'grails-app/jobs/**/*'
      - 'grails-app/services/**/*'

"domain: frontend":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/taglib/**/*'
      - '**/*.js'
      - '**/*.jsx'
      - '**/*.scss'
      - '**/*.css'
      - '**/*.html'
      - '**/*.gsp'

"domain: devops":
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - 'docker/**/*'

"domain: documentation":
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '**/*.md'
      - 'readthedocs.yml'
      - 'mkdocs.yml'

"flag: config change":
- all:
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/conf/**/*'
      - 'grails-app/init/**/*'
      - '**/*.gradle'
      - '**/*.properties'
      - 'package.json'
      - 'package-lock.json'
    - all-globs-to-all-files:
      - '!grails-app/i18n/**/*'

"flag: schema change":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/migrations/**/*'

OBPIH-6895 Load the count confirmation page (fix after QA) (#5046)
  src/js/components/cycleCount/toCountTab/CountStep.jsx
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/components/form-elements/v2/DateField.jsx
  src/js/consts/timeFormat.js
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
Labels: domain: frontend

OBPIH-6700 Minor PartialReceivingPage improvement
  src/js/components/receiving/PartialReceivingPage.jsx
Labels: domain: frontend

OBPIH-6945 fix eslint errors
  src/js/components/Filter/FilterForm.jsx
Labels: domain: frontend

OBPIH-6982 fix eslint errors
  src/js/utils/groupBinLocationsByZone.jsx
Labels: domain: frontend

OBPIH-6982 fix zone id
  src/js/utils/groupBinLocationsByZone.jsx
Labels: domain: frontend

OBPIH-6980 Counted by field doesn't include newly created person/user (#5040)
  src/css/main.scss
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/utils/form-utils.jsx
Labels: domain: frontend

OBPIH-6945 Incorrect bin location displayed after changing location (#5055)
  src/js/components/Filter/FilterForm.jsx
  src/js/components/Filter/FilterStyles.scss
  src/js/components/cycleCount/CycleCount.jsx
  src/js/components/cycleCount/CycleCountFilters.jsx
  src/js/hooks/cycleCount/useCycleCountFilters.js
Labels: domain: frontend

OBPIH-6982 fix after resolve conflicts
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/utils/groupBinLocationsByZone.jsx
Labels: domain: frontend

OBPIH-6982 Improvements to Bin location select on count step (#5056)
  src/js/components/DataTable/TableCell.jsx
  src/js/components/cycleCount/cycleCount.scss
  src/js/consts/timeFormat.js
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/utils/groupBinLocationsByZone.jsx
Labels: domain: frontend

OBPIH-7030 add react-tippy
  package-lock.json
  package.json
  src/css/main.scss
  src/js/components/cycleCount/cycleCount.scss
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/wrappers/TooltipWrapper.jsx
Labels: domain: frontend

docs: enhance Docker setup guide with dev environment and troubleshooting
  docker/README.MD
Labels: domain: devops

OBPIH-7030 fix width in tables
  src/css/main.scss
  src/js/components/cycleCount/cycleCount.scss
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

OBPIH-7030 fix tooltip
  package-lock.json
  package.json
  src/css/main.scss
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/js/wrappers/TooltipWrapper.jsx
Labels: domain: frontend

OBPIH-7030-3 Reduce width of rows in count and recount workflow
  src/css/main.scss
  src/js/components/cycleCount/cycleCount.scss
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/components/form-elements/v2/DateField.jsx
  src/js/components/form-elements/v2/SelectField.jsx
  src/js/components/form-elements/v2/TextInput.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/js/wrappers/InputWrapper.jsx
  src/js/wrappers/TooltipWrapper.jsx
Labels: domain: frontend

OBPIH-7030 add wrapping in tooltip
  src/css/main.scss
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/wrappers/InputWrapper.jsx
  src/js/wrappers/TooltipWrapper.jsx
Labels: domain: frontend

OBPIH-7030-3 Add small corrections
  src/css/main.scss
  src/js/components/cycleCount/cycleCount.scss
  src/js/wrappers/TooltipWrapper.jsx
Labels: domain: frontend

OBPIH-7030 Change error-icon color
  src/js/components/cycleCount/cycleCount.scss
Labels: domain: frontend

OBPIH-7030 Correction in TooltipWrapper
  src/js/wrappers/TooltipWrapper.jsx
Labels: domain: frontend

OBPIH-7030 Corrections after code review
  src/css/main.scss
  src/js/components/form-elements/v2/DateField.jsx
  src/js/components/form-elements/v2/SelectField.jsx
  src/js/components/form-elements/v2/TextInput.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/js/wrappers/CustomTooltipV2.jsx
  src/js/wrappers/InputWrapper.jsx
Labels: domain: frontend

OBPIH-7030 Rename function from CustomTooltipV2 to CustomTooltip
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/js/wrappers/CustomTooltip.jsx
Labels: domain: frontend

add tests and address review comments
  grails-app/domain/org/pih/warehouse/inventory/CycleCount.groovy
  grails-app/migrations/0.9.x/changelog-2025-02-21-0000-remove-cycle-count-debit-transaction-type.xml
  grails-app/migrations/0.9.x/changelog.xml
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountTransactionCreator.groovy
  src/main/groovy/org/pih/warehouse/inventory/ProductInventorySnapshotTaker.groovy
  src/test/groovy/unit/org/pih/warehouse/inventory/CycleCountTransactionCreatorSpec.groovy
  src/test/groovy/unit/org/pih/warehouse/inventory/ProductInventorySnapshotTakerSpec.groovy
Labels: domain: backend, flag: schema change

OBPIH-7031 Remove column for bin location in count/recount form for locations not supported
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

OBPIH-7031 add checkBinLocationSupport function
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

OBPIH-7030 corrections after code review
  src/css/main.scss
  src/js/components/cycleCount/cycleCount.scss
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/js/wrappers/CustomTooltip.jsx
Labels: domain: frontend

OBPIH-7030 Reduce width of rows in count and recount workflow (#5060)
  src/css/main.scss
  src/js/components/cycleCount/cycleCount.scss
  src/js/components/form-elements/v2/DateField.jsx
  src/js/components/form-elements/v2/SelectField.jsx
  src/js/components/form-elements/v2/TextInput.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/js/wrappers/CustomTooltip.jsx
  src/js/wrappers/InputWrapper.jsx
Labels: domain: frontend

OBPIH-6976 Pass the validation errors to the table
  src/js/components/cycleCount/toResolveTab/ResolveStep.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

OBPIH-6976 Create new hook for resolve step validation
  src/js/hooks/cycleCount/useResolveStepValidation.js
Labels: domain: frontend

OBPIH-6976 Add validation
  grails-app/i18n/messages.properties
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/js/hooks/cycleCount/useResolveStepValidation.js
Labels: domain: frontend

OBPIH-6976 Add new styles
  src/js/components/cycleCount/cycleCount.scss
Labels: domain: frontend

OBPIH-6976 Add new translations
  grails-app/i18n/messages.properties
Labels: none

OBPIH-6976 Add translations
  grails-app/i18n/messages.properties
Labels: none

OBPIH-6976 Add comments to the validation
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/js/hooks/cycleCount/useResolveStepValidation.js
Labels: domain: frontend

OBPIH-6976 Add validation for root cause
  src/js/hooks/cycleCount/useResolveStepValidation.js
Labels: domain: frontend

OBPIH-6976 Add blue border when input needs attention
  src/js/components/form-elements/v2/style.scss
Labels: domain: frontend

OBPIH-6976 Add notification on next button
  src/js/components/cycleCount/toResolveTab/ResolveStep.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
  src/js/components/form-elements/v2/SelectField.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

OBPIH-6976 Add tooltip for warning in input
  grails-app/i18n/messages.properties
  src/js/components/cycleCount/cycleCount.scss
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

change helper classes to services
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountTransactionService.groovy
  grails-app/services/org/pih/warehouse/inventory/ProductInventoryTransactionService.groovy
  src/test/groovy/unit/org/pih/warehouse/inventory/CycleCountTransactionServiceSpec.groovy
  src/test/groovy/unit/org/pih/warehouse/inventory/ProductInventoryTransactionServiceSpec.groovy
Labels: domain: backend

OBPIH-7030 fix after QA
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/js/components/cycleCount/cycleCount.scss
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/components/form-elements/v2/TextInput.jsx
Labels: domain: backend, domain: frontend

OBPIH-7030 Remove changes to the file
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/js/components/form-elements/v2/TextInput.jsx
Labels: domain: backend, domain: frontend

OBPIH-7030 Remove changes to the file
  src/js/components/form-elements/v2/TextInput.jsx
Labels: domain: frontend
