Repository openboxes/openboxes, changes with the labels that .github/labeler.yml gives for each.
All labels: domain: backend, domain: frontend, domain: devops, domain: documentation, flag: schema change

.github/labeler.yml:

# Automatically adds labels to a pull request.
# https://github.com/actions/labeler

"type: bug":
  - head-branch: ['^bug/', '^bugfix/']

"type: feature":
  - head-branch: ['^feature/', '^feat/', '^ft/']

"type: maintenance":
  - head-branch: ['^maintenance/', '^techdebt/', '^chore/']

"type: release":
  - head-branch: ['^release/']

"warn: do not squash":
  - head-branch: ['^release/', '^develop', '^master']

"domain: l10n":
  - head-branch: ['l10n']
  - changed-files:
      - any-glob-to-any-file:
          - 'grails-app/i18n/**/*'

"flag: ignore in release notes":
  - head-branch: ['l10n']

"domain: backend":
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main/groovy/**/*'
      - 'grails-app/controllers/**/*'
      - 'grails-app/domain/**/*'
      - 'grails-app/jobs/**/*'
      - 'grails-app/services/**/*'

"domain: frontend":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/taglib/**/*'
      - '**/*.js'
      - '**/*.jsx'
      - '**/*.scss'
      - '**/*.css'
      - '**/*.html'
      - '**/*.gsp'

"domain: devops":
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - 'docker/**/*'

"domain: documentation":
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '**/*.md'
      - 'readthedocs.yml'
      - 'mkdocs.yml'

"flag: config change":
- all:
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/conf/**/*'
      - 'grails-app/init/**/*'
      - '**/*.gradle'
      - '**/*.properties'
      - 'package.json'
      - 'package-lock.json'
    - all-globs-to-all-files:
      - '!grails-app/i18n/**/*'

"flag: schema change":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/migrations/**/*'

store reasonCodes in cycleCountReducer and make response conform to selector
  src/js/actions/index.js
  src/js/actions/types.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/js/reducers/cycleCountReducer.js
  src/js/reducers/reasonCodesReducer.jsx
Labels: domain: frontend

OBPIH-6900 Load the recount confirmation page (3.2.1) (#5072)
  src/js/components/cycleCount/ConfirmStepHeader.jsx
  src/js/components/cycleCount/HeaderLabel.jsx
  src/js/components/cycleCount/HeaderSelect.jsx
  src/js/components/cycleCount/cycleCount.scss
  src/js/components/cycleCount/toCountTab/CountStep.jsx
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStep.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/js/wrappers/CustomTooltip.jsx
Labels: domain: frontend

fix response parsing when fetching reason codes
  src/js/actions/index.js
Labels: domain: frontend

OBPIH-7017 Import ABC Class in inventory levels
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/batch/BatchController.groovy
  grails-app/controllers/org/pih/warehouse/inventory/InventoryLevelController.groovy
  grails-app/controllers/org/pih/warehouse/requisition/RequisitionController.groovy
  grails-app/domain/org/pih/warehouse/inventory/InventoryLevel.groovy
  grails-app/services/org/pih/warehouse/data/DataService.groovy
  grails-app/services/org/pih/warehouse/importer/InventoryLevelImportDataService.groovy
  grails-app/services/org/pih/warehouse/requisition/RequisitionService.groovy
  grails-app/views/batch/_uploadFileForm.gsp
  src/main/groovy/org/pih/warehouse/importer/InventoryLevelExcelImporter.groovy
Labels: domain: backend, domain: frontend

OBPIH-7017 Removed URL mapping intended for debugging
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
Labels: domain: backend

OBPIH-7003 Add useNavigation and useFocusOnMatch
  package.json
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
  src/js/components/form-elements/v2/DateField.jsx
  src/js/components/form-elements/v2/SelectField.jsx
  src/js/components/form-elements/v2/TextInput.jsx
  src/js/components/product-select/ProductSelect.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/js/hooks/useElementSize.js
  src/js/hooks/useFocusOnMatch.js
  src/js/hooks/useNavigation.jsx
Labels: domain: frontend

OBPIH-7003 Add imporovements in useNavigation hook
  package.json
  src/js/components/form-elements/v2/SelectField.jsx
  src/js/components/form-elements/v2/TextInput.jsx
  src/js/hooks/useElementSize.jsx
  src/js/hooks/useNavigation.jsx
Labels: domain: frontend

OBPIH-7003 Resolve conflicts
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

OBPIH-7026 Wording changes cycle count tabs
  grails-app/i18n/messages.properties
  src/js/components/Filter/FilterForm.jsx
  src/js/components/cycleCount/CycleCountFilterFields.jsx
  src/js/components/cycleCount/CycleCountFilters.jsx
Labels: domain: frontend

OBPIH-7026 Add small corrections
  grails-app/i18n/messages.properties
Labels: none

OBPIH-7026 Add custom tooltip
  src/js/components/Filter/FilterForm.jsx
  src/js/components/cycleCount/CycleCountFilterFields.jsx
  src/js/utils/form-utils.jsx
Labels: domain: frontend

OBPIH-7026 Add small corrections
  grails-app/i18n/messages.properties
  src/js/components/cycleCount/CycleCountFilterFields.jsx
Labels: domain: frontend

OBPIH 7026 Wording changes cycle count tabs (#5081)
  grails-app/i18n/messages.properties
  src/js/components/Filter/FilterForm.jsx
  src/js/components/cycleCount/CycleCountFilterFields.jsx
  src/js/components/cycleCount/CycleCountFilters.jsx
  src/js/utils/form-utils.jsx
Labels: domain: frontend

New translations messages.properties (French)
  grails-app/i18n/messages_fr.properties
Labels: none

New translations messages.properties (Spanish)
  grails-app/i18n/messages_es.properties
Labels: none

New translations messages.properties (Arabic)
  grails-app/i18n/messages_ar.properties
Labels: none

New translations messages.properties (Czech)
  grails-app/i18n/messages_cs.properties
Labels: none

New translations messages.properties (German)
  grails-app/i18n/messages_de.properties
Labels: none

New translations messages.properties (Finnish)
  grails-app/i18n/messages_fi.properties
Labels: none

New translations messages.properties (Italian)
  grails-app/i18n/messages_it.properties
Labels: none

New translations messages.properties (Dutch)
  grails-app/i18n/messages_nl.properties
Labels: none

New translations messages.properties (Portuguese)
  grails-app/i18n/messages_pt.properties
Labels: none

New translations messages.properties (Chinese Simplified)
  grails-app/i18n/messages_zh.properties
Labels: none

New translations messages.properties (Swahili)
  grails-app/i18n/messages_sw.properties
Labels: none

New translations messages.properties (Haitian Creole)
  grails-app/i18n/messages_ht.properties
Labels: none

New translations messages.properties (Kinyarwanda)
  grails-app/i18n/messages_rw.properties
Labels: none

New translations messages.properties (Acholi)
  grails-app/i18n/messages_ach.properties
Labels: none

OBPIH-7003 Corrections after code review
  src/js/components/form-elements/v2/DateField.jsx
  src/js/components/form-elements/v2/SelectField.jsx
  src/js/components/form-elements/v2/TextInput.jsx
  src/js/components/product-select/ProductSelect.jsx
  src/js/consts/navigationKey.js
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/js/hooks/useArrowsNavigation.jsx
  src/js/hooks/useFocusOnMatch.js
Labels: domain: frontend

Update source file messages.properties
  grails-app/i18n/messages.properties
Labels: none

OBPIH-7039 Fixes after review
  grails-app/domain/org/pih/warehouse/inventory/CycleCountItem.groovy
  src/js/actions/index.js
  src/main/groovy/org/pih/warehouse/inventory/CycleCountUpdateItemCommand.groovy
Labels: domain: backend, domain: frontend

OBPIH-7003 Corrections after code review
  src/js/components/form-elements/v2/DateField.jsx
  src/js/components/form-elements/v2/SelectField.jsx
  src/js/components/form-elements/v2/TextInput.jsx
  src/js/components/product-select/ProductSelect.jsx
  src/js/consts/componentType.js
  src/js/hooks/useArrowsNavigation.jsx
  src/js/hooks/useFocusOnMatch.js
Labels: domain: frontend

OBPIH-7028 Show catalogue entries on one row only in lower resolutions
  src/js/hooks/cycleCount/useAllProductsTab.jsx
  src/js/hooks/cycleCount/useToCountTab.jsx
  src/js/hooks/cycleCount/useToResolveTab.jsx
  src/js/utils/Badge.jsx
  src/js/utils/utils.scss
Labels: domain: frontend

OBPIH-7028 Show catalog entries on one row only in lower resolutions (#5082)
  src/js/hooks/cycleCount/useAllProductsTab.jsx
  src/js/hooks/cycleCount/useToCountTab.jsx
  src/js/hooks/cycleCount/useToResolveTab.jsx
  src/js/utils/Badge.jsx
  src/js/utils/utils.scss
Labels: domain: frontend

OBPIH-7039 Populate Root Cause dropdown with proper values when recounting (#5074)
  grails-app/domain/org/pih/warehouse/inventory/CycleCountItem.groovy
  grails-app/i18n/messages.properties
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/js/actions/index.js
  src/js/actions/types.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/js/reducers/cycleCountReducer.js
  src/js/reducers/reasonCodesReducer.jsx
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemCommand.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemDto.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountUpdateItemCommand.groovy
Labels: domain: backend, domain: frontend

OBPIH-7021 Add option to export spreadsheet with count form
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/i18n/messages.properties
  grails-app/services/org/pih/warehouse/data/DataService.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/js/api/services/CycleCountApi.js
  src/js/api/urls.js
  src/js/components/cycleCount/toCountTab/CountStepHeader.jsx
  src/js/components/cycleCount/toCountTab/CycleCountToCount.jsx
  src/js/consts/fileFormat.js
  src/js/consts/mimeType.js
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useToCountTab.jsx
  src/js/utils/file-download-util.jsx
Labels: domain: backend, domain: frontend

OBPIH-7022 Add option to export spreadsheet with recount form
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/js/components/cycleCount/toResolveTab/CycleCountToResolve.jsx
  src/js/hooks/cycleCount/useToResolveTab.jsx
Labels: domain: backend, domain: frontend

OBPIH-7015 Add option to print blind count form pdf
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/views/cycleCount/_printCount.gsp
Labels: domain: backend, domain: frontend

OBPIH-7016 Add option to print blind recount form pdf
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/views/cycleCount/_printRecount.gsp
Labels: domain: backend, domain: frontend

Update source file messages.properties
  grails-app/i18n/messages.properties
Labels: none

New translations messages.properties (French)
  grails-app/i18n/messages_fr.properties
Labels: none
