Repository openboxes/openboxes, changes with the labels that .github/labeler.yml gives for each.
All labels: domain: backend, domain: frontend, domain: devops, domain: documentation, flag: schema change

.github/labeler.yml:

# Automatically adds labels to a pull request.
# https://github.com/actions/labeler

"type: bug":
  - head-branch: ['^bug/', '^bugfix/']

"type: feature":
  - head-branch: ['^feature/', '^feat/', '^ft/']

"type: maintenance":
  - head-branch: ['^maintenance/', '^techdebt/', '^chore/']

"type: release":
  - head-branch: ['^release/']

"warn: do not squash":
  - head-branch: ['^release/', '^develop', '^master']

"domain: l10n":
  - head-branch: ['l10n']
  - changed-files:
      - any-glob-to-any-file:
          - 'grails-app/i18n/**/*'

"flag: ignore in release notes":
  - head-branch: ['l10n']

"domain: backend":
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main/groovy/**/*'
      - 'grails-app/controllers/**/*'
      - 'grails-app/domain/**/*'
      - 'grails-app/jobs/**/*'
      - 'grails-app/services/**/*'

"domain: frontend":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/taglib/**/*'
      - '**/*.js'
      - '**/*.jsx'
      - '**/*.scss'
      - '**/*.css'
      - '**/*.html'
      - '**/*.gsp'

"domain: devops":
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - 'docker/**/*'

"domain: documentation":
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '**/*.md'
      - 'readthedocs.yml'
      - 'mkdocs.yml'

"flag: config change":
- all:
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/conf/**/*'
      - 'grails-app/init/**/*'
      - '**/*.gradle'
      - '**/*.properties'
      - 'package.json'
      - 'package-lock.json'
    - all-globs-to-all-files:
      - '!grails-app/i18n/**/*'

"flag: schema change":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/migrations/**/*'

New translations messages.properties (German)
  grails-app/i18n/messages_de.properties
Labels: none

New translations messages.properties (Finnish)
  grails-app/i18n/messages_fi.properties
Labels: none

New translations messages.properties (Italian)
  grails-app/i18n/messages_it.properties
Labels: none

New translations messages.properties (Dutch)
  grails-app/i18n/messages_nl.properties
Labels: none

New translations messages.properties (Portuguese)
  grails-app/i18n/messages_pt.properties
Labels: none

New translations messages.properties (Chinese Simplified)
  grails-app/i18n/messages_zh.properties
Labels: none

New translations messages.properties (Swahili)
  grails-app/i18n/messages_sw.properties
Labels: none

New translations messages.properties (Haitian Creole)
  grails-app/i18n/messages_ht.properties
Labels: none

New translations messages.properties (Kinyarwanda)
  grails-app/i18n/messages_rw.properties
Labels: none

New translations messages.properties (Acholi)
  grails-app/i18n/messages_ach.properties
Labels: none

Fix eslint issues
  src/js/components/receiving/PartialReceivingPage.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: frontend

bumped app version to 0.9.5-SNAPSHOT
  gradle.properties
Labels: none

OBPIH-6937 Create details form (#5015)
  src/js/api/services/StockMovementApi.js
  src/js/api/urls.js
  src/js/components/stock-movement-wizard/inboundV2/InboundV2.jsx
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2Create.jsx
  src/js/hooks/inboundV2/useInboundForm.js
  src/js/hooks/inboundV2/useInboundValidation.js
  src/js/hooks/useWizard.js
Labels: domain: frontend

OBPIH-7151 change date format (#5230)
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2Create.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsColumns.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsForm.jsx
  src/js/hooks/inboundV2/create/useInboundCreateForm.js
  src/js/utils/dateUtils.js
Labels: domain: frontend

OBPIH-7150 Arrow navigation in inbound add items pages (#5184)
  src/js/api/services/StockMovementApi.js
  src/js/components/DataTable/DataTable.scss
  src/js/components/DataTable/TableHeaderCell.jsx
  src/js/components/DataTable/v2/DataTable.jsx
  src/js/components/stock-movement-wizard/inboundV2/InboundV2.jsx
  src/js/components/stock-movement-wizard/inboundV2/inboundV2.scss
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2AddItems.jsx
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2Send.jsx
  src/js/consts/applicationUrls.js
  src/js/consts/inboundColumns.js
  src/js/hooks/inboundV2/addItems/useInboundAddItemsColumns.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsForm.jsx
  src/js/hooks/useArrowsNavigation.jsx
Labels: domain: frontend

OBPIH 6924 Create a wrapper component for the inbound workflow (#4998)
  grails-app/controllers/org/pih/warehouse/inventory/StockMovementController.groovy
  src/js/components/Router.jsx
  src/js/components/stock-movement-wizard/inboundV2/InboundHeader.jsx
  src/js/components/stock-movement-wizard/inboundV2/InboundV2.jsx
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2AddItems.jsx
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2Create.jsx
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2Send.jsx
  src/js/consts/InboundV2Step.js
  src/js/consts/MockInboundV2Status.js
  src/js/consts/MockInboundV2Title.js
  src/js/utils/utils.scss
Labels: domain: backend, domain: frontend

Rebase files
  src/js/components/DataTable/TableCell.jsx
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2AddItems.jsx
Labels: domain: frontend

OBPIH-7157 Add multi-fill for recipients in inbound add items (#5185)
  src/css/main.scss
  src/js/components/stock-movement-wizard/inboundV2/inboundV2.scss
  src/js/hooks/inboundV2/addItems/useInboundAddItemsColumns.jsx
Labels: domain: frontend

OBPIH-7157 Add multi-fill for recipients in inbound add items (fix) (#5227)
  src/js/hooks/inboundV2/addItems/useInboundAddItemsForm.jsx
  src/js/hooks/inboundV2/create/useInboundCreateForm.js
Labels: domain: frontend

OBPIH 6960 Create items array form (#5028)
  grails-app/i18n/messages.properties
  src/js/api/urls.js
  src/js/components/DataTable/DataTable.scss
  src/js/components/DataTable/TableCell.jsx
  src/js/components/DataTable/TableHeaderCell.jsx
  src/js/components/productSupplier/create/ProductSupplierForm.jsx
  src/js/components/stock-movement-wizard/inboundV2/InboundV2.jsx
  src/js/components/stock-movement-wizard/inboundV2/inboundV2.scss
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2AddItems.jsx
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2Create.jsx
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2Send.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsColumns.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsForm.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsValidation.js
  src/js/hooks/inboundV2/create/useInboundCreateForm.js
  src/js/hooks/inboundV2/create/useInboundCreateValidation.js
Labels: domain: frontend

OBPIH-7147 Improve validation (#5226)
  src/js/components/stock-movement-wizard/inboundV2/InboundV2.jsx
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2AddItems.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsColumns.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsForm.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsValidation.js
Labels: domain: frontend

OBPIH-6935 Create a reducer for inbound workflow data (#5009)
  src/js/actions/types.js
  src/js/reducers/InboundReducer.jsx
  src/js/reducers/index.jsx
Labels: domain: frontend

OBPIH-7175 Header improvements (#5231)
  src/js/actions/index.js
  src/js/actions/types.js
  src/js/components/stock-movement-wizard/inboundV2/InboundHeader.jsx
  src/js/components/stock-movement-wizard/inboundV2/InboundV2.jsx
  src/js/consts/MockInboundV2Status.js
  src/js/consts/MockInboundV2Title.js
  src/js/hooks/inboundV2/addItems/useInboundAddItemsForm.jsx
  src/js/hooks/inboundV2/create/useInboundCreateForm.js
  src/js/reducers/InboundReducer.jsx
  src/js/reducers/inboundReducer.jsx
  src/js/reducers/index.jsx
Labels: domain: frontend

OBPIH-6937 Create details form (fix after QA) (#5029)
  src/js/components/stock-movement-wizard/inboundV2/InboundV2.jsx
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2Create.jsx
  src/js/hooks/inboundV2/useInboundValidation.js
Labels: domain: frontend

OBPIH-7064 Add information to discrepancy / success message after save count
  grails-app/i18n/messages_pt.properties
  src/js/consts/cycleCountStatus.js
  src/js/hooks/cycleCount/useCountStep.jsx
Labels: domain: frontend

Update source file messages.properties
  grails-app/i18n/messages.properties
Labels: none

WMS-2 Migrate missing ActivityCodes and ContainerStatuses
  grails-app/i18n/messages.properties
  src/main/groovy/org/pih/warehouse/core/ActivityCode.groovy
  src/main/groovy/org/pih/warehouse/core/Constants.groovy
  src/main/groovy/org/pih/warehouse/shipping/ContainerStatus.groovy
Labels: domain: backend

WMS-3 Add ShipmentApiController (#4980)
  grails-app/controllers/org/pih/warehouse/shipping/ShipmentApiController.groovy
  grails-app/services/org/pih/warehouse/shipping/ShipmentService.groovy
  src/test/groovy/unit/org/pih/warehouse/api/ShipmentApiControllerTests.groovy
Labels: domain: backend

WMS-15 use toJson method on Shipment, add attributes used by mobile (#4986)
  grails-app/domain/org/pih/warehouse/shipping/Shipment.groovy
  grails-app/init/org/pih/warehouse/BootStrap.groovy
  grails-app/services/org/pih/warehouse/receiving/ReceiptService.groovy
  src/main/groovy/org/pih/warehouse/api/PartialReceiptItem.groovy
Labels: domain: backend

WMS-17 Minor fixes
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/api/PutawayApiController.groovy
  grails-app/controllers/org/pih/warehouse/shipping/ShipmentApiController.groovy
Labels: domain: backend

OBPIH-7242 Create box component for alignment and transaction type columns
  grails-app/i18n/messages.properties
  src/css/colors.scss
  src/js/components/DataTable/DataTable.scss
  src/js/components/DataTable/v2/ValueIndicator.jsx
  src/js/consts/valueIndicatorVariant.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

WMS-17 Add list putaways endpoint (#4985)
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/api/PutawayApiController.groovy
  grails-app/controllers/org/pih/warehouse/shipping/ShipmentApiController.groovy
  grails-app/services/org/pih/warehouse/order/OrderService.groovy
Labels: domain: backend

WMS-16 use up to date service to generate putaway number
  grails-app/services/org/pih/warehouse/putaway/PutawayService.groovy
Labels: domain: backend

WMS-16 add missing properties
  grails-app/conf/application.yml
  grails-app/services/org/pih/warehouse/putaway/PutawayService.groovy
  src/main/groovy/org/pih/warehouse/core/RoleType.groovy
Labels: domain: backend

WMS-16 migrate missing putaway methods from obkn branch
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/api/PutawayItemApiController.groovy
  grails-app/services/org/pih/warehouse/putaway/PutawayService.groovy
Labels: domain: backend

WMS-16 Minor fixes
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/api/PutawayItemApiController.groovy
Labels: domain: backend

WMS-16 migrate missing putaway methods from obkn branch (#4989)
  grails-app/conf/application.yml
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/api/PutawayItemApiController.groovy
  grails-app/services/org/pih/warehouse/putaway/PutawayService.groovy
  src/main/groovy/org/pih/warehouse/core/RoleType.groovy
Labels: domain: backend

WMS-20 add ContainerApiController
  grails-app/controllers/org/pih/warehouse/shipping/ContainerApiController.groovy
Labels: domain: backend

WMS-20 add missing services
  build.gradle
  grails-app/conf/application.yml
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/shipping/ContainerApiController.groovy
  grails-app/domain/org/pih/warehouse/shipping/Container.groovy
  grails-app/services/org/pih/warehouse/core/DocumentService.groovy
  grails-app/services/org/pih/warehouse/core/IdentifierService.groovy
  grails-app/services/org/pih/warehouse/core/ZebraService.groovy
  grails-app/services/org/pih/warehouse/shipping/ShipmentIdentifierService.groovy
  grails-app/services/org/pih/warehouse/shipping/ShipmentService.groovy
  src/main/groovy/org/pih/warehouse/core/Constants.groovy
  src/main/groovy/org/pih/warehouse/inventory/LotStatusCode.groovy
Labels: domain: backend

WMS-20 add todos
  grails-app/controllers/org/pih/warehouse/shipping/ContainerApiController.groovy
  grails-app/services/org/pih/warehouse/core/ZebraService.groovy
Labels: domain: backend
