Repository openboxes/openboxes, changes with the labels that .github/labeler.yml gives for each.
All labels: domain: backend, domain: frontend, domain: devops, domain: documentation, flag: schema change

.github/labeler.yml:

# Automatically adds labels to a pull request.
# https://github.com/actions/labeler

"type: bug":
  - head-branch: ['^bug/', '^bugfix/']

"type: feature":
  - head-branch: ['^feature/', '^feat/', '^ft/']

"type: maintenance":
  - head-branch: ['^maintenance/', '^techdebt/', '^chore/']

"type: release":
  - head-branch: ['^release/']

"warn: do not squash":
  - head-branch: ['^release/', '^develop', '^master']

"domain: l10n":
  - head-branch: ['l10n']
  - changed-files:
      - any-glob-to-any-file:
          - 'grails-app/i18n/**/*'

"flag: ignore in release notes":
  - head-branch: ['l10n']

"domain: backend":
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main/groovy/**/*'
      - 'grails-app/controllers/**/*'
      - 'grails-app/domain/**/*'
      - 'grails-app/jobs/**/*'
      - 'grails-app/services/**/*'

"domain: frontend":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/taglib/**/*'
      - '**/*.js'
      - '**/*.jsx'
      - '**/*.scss'
      - '**/*.css'
      - '**/*.html'
      - '**/*.gsp'

"domain: devops":
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - 'docker/**/*'

"domain: documentation":
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '**/*.md'
      - 'readthedocs.yml'
      - 'mkdocs.yml'

"flag: config change":
- all:
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/conf/**/*'
      - 'grails-app/init/**/*'
      - '**/*.gradle'
      - '**/*.properties'
      - 'package.json'
      - 'package-lock.json'
    - all-globs-to-all-files:
      - '!grails-app/i18n/**/*'

"flag: schema change":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/migrations/**/*'

Update source file messages.properties
  grails-app/i18n/messages.properties
Labels: none

OBPIH-7123 Add validation for count and recount
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

OBPIH-7123 Fix select styling
  src/js/components/form-elements/v2/style.scss
Labels: domain: frontend

OBPIH-6931 Fix loading translations for TO_COUNT and TO_RESOLVE tabs
  src/js/actions/index.js
  src/js/actions/types.js
  src/js/hooks/cycleCount/useToCountTab.jsx
  src/js/hooks/cycleCount/useToResolveTab.jsx
  src/js/reducers/sessionReducer.jsx
Labels: domain: frontend

OBPIH-7103 Fix sorting lines on count form
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
Labels: domain: frontend

OBPIH-7103 Fix cursor pointer for bin icons
  src/css/main.scss
  src/js/components/cycleCount/cycleCount.scss
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

OBPIH-7133 Fix parsing values in tables
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

ability to sort delivery note by product on stock movement details page
  grails-app/controllers/org/pih/warehouse/requisition/DeliveryNoteController.groovy
  grails-app/i18n/messages.properties
  grails-app/services/org/pih/warehouse/inventory/StockMovementService.groovy
  grails-app/views/deliveryNote/_printPage.gsp
  grails-app/views/deliveryNote/print.gsp
  grails-app/views/stockMovement/_documents.gsp
  grails-app/views/stockMovement/show.gsp
Labels: domain: backend, domain: frontend

change urls to downloadOptions
  grails-app/services/org/pih/warehouse/inventory/StockMovementService.groovy
  grails-app/views/stockMovement/_documents.gsp
  grails-app/views/stockMovement/show.gsp
Labels: domain: backend, domain: frontend

add sort options to react shipment workflow
  grails-app/views/deliveryNote/_printPage.gsp
  src/js/components/stock-movement-wizard/combined-shipments/SendMovementPage.jsx
  src/js/components/stock-movement-wizard/inbound/SendMovementPage.jsx
  src/js/components/stock-movement-wizard/outbound/SendMovementPage.jsx
Labels: domain: frontend

OBPIH-7136 Convert empty string to NULL for ABC class properties
  grails-app/domain/org/pih/warehouse/inventory/InventoryLevel.groovy
  grails-app/domain/org/pih/warehouse/product/Product.groovy
Labels: domain: backend

OBPIH-7123 Validations for added rows already saved and disabled in count (#5162)
  src/js/components/form-elements/v2/style.scss
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

OBPIH-7133 Ability to erase quantity field to empty (#5165)
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

OBPIH-7103 Added rows should stay in order added in count and recount after save progress (#5164)
  src/css/main.scss
  src/js/components/cycleCount/cycleCount.scss
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

OBPIH-6931 Fix loading translations for TO_COUNT and TO_RESOLVE tabs (#5163)
  src/js/actions/index.js
  src/js/actions/types.js
  src/js/hooks/cycleCount/useToCountTab.jsx
  src/js/hooks/cycleCount/useToResolveTab.jsx
  src/js/reducers/sessionReducer.jsx
Labels: domain: frontend

New Crowdin updates (#5138)
  grails-app/i18n/messages_ach.properties
  grails-app/i18n/messages_ar.properties
  grails-app/i18n/messages_cs.properties
  grails-app/i18n/messages_de.properties
  grails-app/i18n/messages_es.properties
  grails-app/i18n/messages_fi.properties
  grails-app/i18n/messages_fr.properties
  grails-app/i18n/messages_ht.properties
  grails-app/i18n/messages_it.properties
  grails-app/i18n/messages_nl.properties
  grails-app/i18n/messages_pt.properties
  grails-app/i18n/messages_rw.properties
  grails-app/i18n/messages_sw.properties
  grails-app/i18n/messages_zh.properties
Labels: none

OBPIH-7125 Trim spaces for lot number while creating a cycle count item
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/utils/cycleCountUtils.jsx
Labels: domain: frontend

OBPIH-7121 Add prop to change clearing to editing date
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
  src/js/components/form-elements/v2/DateField.jsx
  src/js/components/form-elements/v2/DateFieldInput.jsx
Labels: domain: frontend

OBPIH-6986 Fix recalculating quantity requested on e-requests
  src/js/components/stock-movement-wizard/request/AddItemsPage.jsx
Labels: domain: frontend

fix unique id warning for DocumentButton
  src/js/components/stock-movement-wizard/combined-shipments/SendMovementPage.jsx
  src/js/components/stock-movement-wizard/inbound/SendMovementPage.jsx
  src/js/components/stock-movement-wizard/outbound/SendMovementPage.jsx
Labels: domain: frontend

OBPIH-7136 Added blank constraint to ABC class properties
  grails-app/domain/org/pih/warehouse/inventory/InventoryLevel.groovy
  grails-app/domain/org/pih/warehouse/product/Product.groovy
Labels: domain: backend

OBPIH-7136 Added database migration to convert empty string ABC class values to NULL
  grails-app/migrations/0.9.x/changelog-2025-03-26-2057-update-abc-class-convert-empty-string-to-null.xml
  grails-app/migrations/0.9.x/changelog.xml
Labels: flag: schema change

OBPIH-7136 Fixed typo in database migration filename
  grails-app/migrations/0.9.x/changelog.xml
Labels: flag: schema change

OBPIH-7125 Trim spaces for lot number while creating a cycle count item (#5167)
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/utils/cycleCountUtils.jsx
Labels: domain: frontend

OBPIH-7121 Remove cross in date counted and date recounted field to prevent empty field (#5168)
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
  src/js/components/form-elements/v2/DateField.jsx
  src/js/components/form-elements/v2/DateFieldInput.jsx
Labels: domain: frontend

OBPIH-6986 Fix recalculating quantity requested on e-requests (#5169)
  src/js/components/stock-movement-wizard/request/AddItemsPage.jsx
Labels: domain: frontend

OBPIH-7136 Convert empty string to NULL for ABC class properties (#5170)
  grails-app/domain/org/pih/warehouse/inventory/InventoryLevel.groovy
  grails-app/domain/org/pih/warehouse/product/Product.groovy
  grails-app/migrations/0.9.x/changelog-2025-03-26-2057-update-abc-class-convert-empty-string-to-null.xml
  grails-app/migrations/0.9.x/changelog.xml
Labels: domain: backend, flag: schema change

OBPIH-7134 Fix blank cycle count tabs when qoh of a product changed to 0
  src/js/hooks/cycleCount/useAllProductsTab.jsx
  src/js/hooks/cycleCount/useToCountTab.jsx
  src/js/hooks/cycleCount/useToResolveTab.jsx
Labels: domain: frontend

OBPIH-7114 Fix date inconsistencies due to the different timezones
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/utils/dateUtils.js
Labels: domain: frontend

update strings after input from Kelsey
  grails-app/i18n/messages.properties
  grails-app/services/org/pih/warehouse/inventory/StockMovementService.groovy
Labels: domain: backend

OBPIH-7129 Use QoH from item with max count index
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

OBPIH 6924 Create a wrapper component for the inbound workflow (#4998)
  grails-app/controllers/org/pih/warehouse/inventory/StockMovementController.groovy
  src/js/components/Router.jsx
  src/js/components/stock-movement-wizard/inboundV2/InboundHeader.jsx
  src/js/components/stock-movement-wizard/inboundV2/InboundV2.jsx
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2AddItems.jsx
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2Create.jsx
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2Send.jsx
  src/js/consts/InboundV2Step.js
  src/js/consts/MockInboundV2Status.js
  src/js/consts/MockInboundV2Title.js
  src/js/utils/utils.scss
Labels: domain: backend, domain: frontend

OBPIH-6937 Create details form (#5015)
  src/js/api/services/StockMovementApi.js
  src/js/api/urls.js
  src/js/components/stock-movement-wizard/inboundV2/InboundV2.jsx
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2Create.jsx
  src/js/hooks/inboundV2/useInboundForm.js
  src/js/hooks/inboundV2/useInboundValidation.js
  src/js/hooks/useWizard.js
Labels: domain: frontend

OBPIH-6935 Create a reducer for inbound workflow data (#5009)
  src/js/actions/types.js
  src/js/reducers/InboundReducer.jsx
  src/js/reducers/index.jsx
Labels: domain: frontend

OBPIH-6937 Create details form (fix after QA) (#5029)
  src/js/components/stock-movement-wizard/inboundV2/InboundV2.jsx
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2Create.jsx
  src/js/hooks/inboundV2/useInboundValidation.js
Labels: domain: frontend

OBPIH 6960 Create items array form (#5028)
  grails-app/i18n/messages.properties
  src/js/api/urls.js
  src/js/components/DataTable/DataTable.scss
  src/js/components/DataTable/TableCell.jsx
  src/js/components/DataTable/TableHeaderCell.jsx
  src/js/components/productSupplier/create/ProductSupplierForm.jsx
  src/js/components/stock-movement-wizard/inboundV2/InboundV2.jsx
  src/js/components/stock-movement-wizard/inboundV2/inboundV2.scss
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2AddItems.jsx
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2Create.jsx
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2Send.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsColumns.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsForm.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsValidation.js
  src/js/hooks/inboundV2/create/useInboundCreateForm.js
  src/js/hooks/inboundV2/create/useInboundCreateValidation.js
Labels: domain: frontend

Rebase files
  src/js/components/DataTable/TableCell.jsx
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2AddItems.jsx
Labels: domain: frontend

OBPIH-7134 Fix blank cycle count tabs when qoh of a product changed to 0 (#5171)
  src/js/hooks/cycleCount/useAllProductsTab.jsx
  src/js/hooks/cycleCount/useToCountTab.jsx
  src/js/hooks/cycleCount/useToResolveTab.jsx
Labels: domain: frontend

OBPIH-6989 ability to sort delivery note by product on stock movement details page (#5166)
  grails-app/controllers/org/pih/warehouse/requisition/DeliveryNoteController.groovy
  grails-app/i18n/messages.properties
  grails-app/services/org/pih/warehouse/inventory/StockMovementService.groovy
  grails-app/views/deliveryNote/_printPage.gsp
  grails-app/views/deliveryNote/print.gsp
  grails-app/views/stockMovement/_documents.gsp
  grails-app/views/stockMovement/show.gsp
  src/js/components/stock-movement-wizard/combined-shipments/SendMovementPage.jsx
  src/js/components/stock-movement-wizard/inbound/SendMovementPage.jsx
  src/js/components/stock-movement-wizard/outbound/SendMovementPage.jsx
Labels: domain: backend, domain: frontend

OBGM-739 Update configuration documentation for 0.9.x release (#5044)
  docs/admin-guide/configuration/application.md
  docs/admin-guide/configuration/barcode.md
  docs/admin-guide/configuration/bom.md
  docs/admin-guide/configuration/caching.md
  docs/admin-guide/configuration/connection-pool.md
  docs/admin-guide/configuration/context-path.md
  docs/admin-guide/configuration/crowdin.md
  docs/admin-guide/configuration/database.md
  docs/admin-guide/configuration/email.md
  docs/admin-guide/configuration/firewall.md
  docs/admin-guide/configuration/forecasting.md
  docs/admin-guide/configuration/img.png
  docs/admin-guide/configuration/job-scheduling.md
  docs/admin-guide/configuration/localization.md
  docs/admin-guide/configuration/logging.md
  docs/admin-guide/configuration/logo-document.md
  docs/admin-guide/configuration/logo-label.md
  docs/admin-guide/configuration/logo.md
  docs/admin-guide/configuration/logrotate.md
  docs/admin-guide/configuration/overrides.md
  docs/admin-guide/configuration/pagination.md
  docs/admin-guide/configuration/server-url.md
  docs/admin-guide/configuration/swap-space.md
  docs/admin-guide/configuration/thread-pool.md
  docs/admin-guide/configuration/upload-max-file-size.md
  docs/admin-guide/configuration/uploads.md
  docs/admin-guide/configuration/url.md
  mkdocs.yml
Labels: domain: documentation
