Repository openboxes/openboxes, changes with the labels that .github/labeler.yml gives for each.
All labels: domain: backend, domain: frontend, domain: devops, domain: documentation, flag: schema change

.github/labeler.yml:

# Automatically adds labels to a pull request.
# https://github.com/actions/labeler

"type: bug":
  - head-branch: ['^bug/', '^bugfix/']

"type: feature":
  - head-branch: ['^feature/', '^feat/', '^ft/']

"type: maintenance":
  - head-branch: ['^maintenance/', '^techdebt/', '^chore/']

"type: release":
  - head-branch: ['^release/']

"warn: do not squash":
  - head-branch: ['^release/', '^develop', '^master']

"domain: l10n":
  - head-branch: ['l10n']
  - changed-files:
      - any-glob-to-any-file:
          - 'grails-app/i18n/**/*'

"flag: ignore in release notes":
  - head-branch: ['l10n']

"domain: backend":
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main/groovy/**/*'
      - 'grails-app/controllers/**/*'
      - 'grails-app/domain/**/*'
      - 'grails-app/jobs/**/*'
      - 'grails-app/services/**/*'

"domain: frontend":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/taglib/**/*'
      - '**/*.js'
      - '**/*.jsx'
      - '**/*.scss'
      - '**/*.css'
      - '**/*.html'
      - '**/*.gsp'

"domain: devops":
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - 'docker/**/*'

"domain: documentation":
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '**/*.md'
      - 'readthedocs.yml'
      - 'mkdocs.yml'

"flag: config change":
- all:
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/conf/**/*'
      - 'grails-app/init/**/*'
      - '**/*.gradle'
      - '**/*.properties'
      - 'package.json'
      - 'package-lock.json'
    - all-globs-to-all-files:
      - '!grails-app/i18n/**/*'

"flag: schema change":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/migrations/**/*'

WMS-16 Minor fixes
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/shipping/ContainerApiController.groovy
Labels: domain: backend

WMS-20 add ContainerApiController (#4987)
  build.gradle
  grails-app/conf/application.yml
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/shipping/ContainerApiController.groovy
  grails-app/domain/org/pih/warehouse/shipping/Container.groovy
  grails-app/services/org/pih/warehouse/core/DocumentService.groovy
  grails-app/services/org/pih/warehouse/core/IdentifierService.groovy
  grails-app/services/org/pih/warehouse/core/ZebraService.groovy
  grails-app/services/org/pih/warehouse/shipping/ShipmentIdentifierService.groovy
  grails-app/services/org/pih/warehouse/shipping/ShipmentService.groovy
  src/main/groovy/org/pih/warehouse/core/Constants.groovy
  src/main/groovy/org/pih/warehouse/inventory/LotStatusCode.groovy
Labels: domain: backend

WMS-25 add globalSearch endpoint
  grails-app/controllers/org/pih/warehouse/api/ApiController.groovy
  grails-app/services/org/pih/warehouse/api/SearchService.groovy
  grails-app/services/org/pih/warehouse/core/LocationService.groovy
  grails-app/services/org/pih/warehouse/inventory/ProductAvailabilityService.groovy
Labels: domain: backend

WMS-25 Minor fixes
  grails-app/controllers/org/pih/warehouse/api/ApiController.groovy
Labels: domain: backend

fix CycleCountItemSpec flakey test
  src/test/groovy/unit/org/pih/warehouse/inventory/CycleCountItemSpec.groovy
Labels: none

WMS-17 Add list putaways endpoint (#4985)
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/api/PutawayApiController.groovy
  grails-app/controllers/org/pih/warehouse/shipping/ShipmentApiController.groovy
  grails-app/services/org/pih/warehouse/order/OrderService.groovy
Labels: domain: backend

WMS-2 Migrate missing ActivityCodes and ContainerStatuses
  grails-app/i18n/messages.properties
  src/main/groovy/org/pih/warehouse/core/ActivityCode.groovy
  src/main/groovy/org/pih/warehouse/core/Constants.groovy
  src/main/groovy/org/pih/warehouse/shipping/ContainerStatus.groovy
Labels: domain: backend

WMS-25 Add global search endpoint (#4990)
  grails-app/controllers/org/pih/warehouse/api/ApiController.groovy
  grails-app/services/org/pih/warehouse/api/SearchService.groovy
  grails-app/services/org/pih/warehouse/core/LocationService.groovy
  grails-app/services/org/pih/warehouse/inventory/ProductAvailabilityService.groovy
Labels: domain: backend

WMS-16 migrate missing putaway methods from obkn branch (#4989)
  grails-app/conf/application.yml
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/api/PutawayItemApiController.groovy
  grails-app/services/org/pih/warehouse/putaway/PutawayService.groovy
  src/main/groovy/org/pih/warehouse/core/RoleType.groovy
Labels: domain: backend

WMS-3 Add ShipmentApiController (#4980)
  grails-app/controllers/org/pih/warehouse/shipping/ShipmentApiController.groovy
  grails-app/services/org/pih/warehouse/shipping/ShipmentService.groovy
  src/test/groovy/unit/org/pih/warehouse/api/ShipmentApiControllerTests.groovy
Labels: domain: backend

WMS-15 use toJson method on Shipment, add attributes used by mobile (#4986)
  grails-app/domain/org/pih/warehouse/shipping/Shipment.groovy
  grails-app/init/org/pih/warehouse/BootStrap.groovy
  grails-app/services/org/pih/warehouse/receiving/ReceiptService.groovy
  src/main/groovy/org/pih/warehouse/api/PartialReceiptItem.groovy
Labels: domain: backend

WMS-20 add ContainerApiController (#4987)
  build.gradle
  grails-app/conf/application.yml
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/shipping/ContainerApiController.groovy
  grails-app/domain/org/pih/warehouse/shipping/Container.groovy
  grails-app/services/org/pih/warehouse/core/DocumentService.groovy
  grails-app/services/org/pih/warehouse/core/IdentifierService.groovy
  grails-app/services/org/pih/warehouse/core/ZebraService.groovy
  grails-app/services/org/pih/warehouse/shipping/ShipmentIdentifierService.groovy
  grails-app/services/org/pih/warehouse/shipping/ShipmentService.groovy
  src/main/groovy/org/pih/warehouse/core/Constants.groovy
  src/main/groovy/org/pih/warehouse/inventory/LotStatusCode.groovy
Labels: domain: backend

prepend zone to bin location in CC tables
  grails-app/domain/org/pih/warehouse/inventory/CycleCountItem.groovy
  grails-app/migrations/views/cycle-count-session.sql
  grails-app/migrations/views/pending_cycle_count_request.sql
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useCycleCountFilters.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/js/utils/groupBinLocationsByZone.jsx
Labels: domain: backend, domain: frontend, flag: schema change

Add missing product APIs used by mobile app
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/api/MobileProductApiController.groovy
  grails-app/services/org/pih/warehouse/core/DocumentService.groovy
  grails-app/services/org/pih/warehouse/product/ProductService.groovy
  src/main/groovy/org/pih/warehouse/core/Constants.groovy
Labels: domain: backend

Fix mobile putaway workflow
  grails-app/controllers/org/pih/warehouse/api/PutawayApiController.groovy
  grails-app/services/org/pih/warehouse/putaway/PutawayService.groovy
  src/main/groovy/org/pih/warehouse/api/PutawayItem.groovy
Labels: domain: backend

Fix mobile stock transfer workflow
  grails-app/controllers/org/pih/warehouse/api/StockTransferApiController.groovy
  grails-app/services/org/pih/warehouse/stockTransfer/StockTransferService.groovy
Labels: domain: backend

WMS-2 Migrate Picklist APIs and missing response params
  grails-app/controllers/org/pih/warehouse/api/PicklistItemApiController.groovy
  grails-app/domain/org/pih/warehouse/inventory/OutboundStockMovementListItem.groovy
  grails-app/domain/org/pih/warehouse/picklist/PicklistItem.groovy
  grails-app/init/org/pih/warehouse/BootStrap.groovy
  grails-app/services/org/pih/warehouse/inventory/OutboundStockMovementService.groovy
  grails-app/services/org/pih/warehouse/picklist/PicklistService.groovy
Labels: domain: backend

WMS-2 Swap quantity usage with quantityPicked on the picklist item - quantityPicked becomes what quantity was used for - quantity becomes 'quantity to pick'
  grails-app/controllers/org/pih/warehouse/api/PicklistItemApiController.groovy
  grails-app/domain/org/pih/warehouse/core/Location.groovy
  grails-app/domain/org/pih/warehouse/picklist/PicklistItem.groovy
  grails-app/domain/org/pih/warehouse/requisition/RequisitionItem.groovy
  grails-app/domain/org/pih/warehouse/shipping/ShipmentItem.groovy
  grails-app/init/org/pih/warehouse/BootStrap.groovy
  grails-app/services/org/pih/warehouse/inventory/StockMovementService.groovy
  grails-app/services/org/pih/warehouse/picklist/PicklistService.groovy
  grails-app/views/requisition/_picklistItems.gsp
  src/js/components/stock-movement-wizard/modals/EditPickModal.jsx
  src/main/groovy/org/pih/warehouse/api/ReplenishmentItem.groovy
  src/main/groovy/org/pih/warehouse/api/ReplenishmentPickPageItem.groovy
  src/main/groovy/org/pih/warehouse/api/StockMovementItem.groovy
Labels: domain: backend, domain: frontend

WMS-2 Migrate Picklist APIs for mobile app picking (#4988)
  grails-app/controllers/org/pih/warehouse/api/PicklistItemApiController.groovy
  grails-app/domain/org/pih/warehouse/core/Location.groovy
  grails-app/domain/org/pih/warehouse/inventory/OutboundStockMovementListItem.groovy
  grails-app/domain/org/pih/warehouse/picklist/PicklistItem.groovy
  grails-app/domain/org/pih/warehouse/requisition/RequisitionItem.groovy
  grails-app/domain/org/pih/warehouse/shipping/ShipmentItem.groovy
  grails-app/init/org/pih/warehouse/BootStrap.groovy
  grails-app/services/org/pih/warehouse/inventory/OutboundStockMovementService.groovy
  grails-app/services/org/pih/warehouse/inventory/StockMovementService.groovy
  grails-app/services/org/pih/warehouse/picklist/PicklistService.groovy
  grails-app/views/requisition/_picklistItems.gsp
  src/js/components/stock-movement-wizard/modals/EditPickModal.jsx
  src/main/groovy/org/pih/warehouse/api/ReplenishmentItem.groovy
  src/main/groovy/org/pih/warehouse/api/ReplenishmentPickPageItem.groovy
  src/main/groovy/org/pih/warehouse/api/StockMovementItem.groovy
Labels: domain: backend, domain: frontend

add support for ZonedDateTime to backend
  grails-app/utils/org/pih/warehouse/databinding/DataBindingConstants.groovy
  grails-app/utils/org/pih/warehouse/databinding/InstantValueConverter.groovy
  grails-app/utils/org/pih/warehouse/databinding/LocalDateValueConverter.groovy
  grails-app/utils/org/pih/warehouse/databinding/ZonedDateTimeValueConverter.groovy
  src/test/groovy/unit/org/pih/warehouse/utils/DateUtilSpec.groovy
  src/test/groovy/unit/org/pih/warehouse/utils/databinding/InstantValueConverterSpec.groovy
  src/test/groovy/unit/org/pih/warehouse/utils/databinding/ZonedDateTimeValueConverterSpec.groovy
Labels: none

switch cycle count transactions to new product inventory snapshot transaction type
  grails-app/migrations/0.9.x/changelog-2025-04-29-0000-add-product-inventory-snapshot-transaction-type.xml
  grails-app/migrations/0.9.x/changelog.xml
  grails-app/services/org/pih/warehouse/inventory/CycleCountProductInventoryTransactionService.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountTransactionService.groovy
  grails-app/services/org/pih/warehouse/inventory/ProductInventoryTransactionService.groovy
  src/main/groovy/org/pih/warehouse/core/Constants.groovy
  src/main/groovy/org/pih/warehouse/inventory/ProductInventorySnapshotSource.groovy
  src/test/groovy/unit/org/pih/warehouse/inventory/CycleCountProductInventoryTransactionServiceSpec.groovy
  src/test/groovy/unit/org/pih/warehouse/inventory/CycleCountTransactionServiceSpec.groovy
Labels: domain: backend, flag: schema change
