Repository openboxes/openboxes, changes with the labels that .github/labeler.yml gives for each.
All labels: domain: backend, domain: frontend, domain: devops, domain: documentation, flag: schema change

.github/labeler.yml:

# Automatically adds labels to a pull request.
# https://github.com/actions/labeler

"type: bug":
  - head-branch: ['^bug/', '^bugfix/']

"type: feature":
  - head-branch: ['^feature/', '^feat/', '^ft/']

"type: maintenance":
  - head-branch: ['^maintenance/', '^techdebt/', '^chore/']

"type: release":
  - head-branch: ['^release/']

"warn: do not squash":
  - head-branch: ['^release/', '^develop', '^master']

"domain: l10n":
  - head-branch: ['l10n']
  - changed-files:
      - any-glob-to-any-file:
          - 'grails-app/i18n/**/*'

"flag: ignore in release notes":
  - head-branch: ['l10n']

"domain: backend":
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main/groovy/**/*'
      - 'grails-app/controllers/**/*'
      - 'grails-app/domain/**/*'
      - 'grails-app/jobs/**/*'
      - 'grails-app/services/**/*'

"domain: frontend":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/taglib/**/*'
      - '**/*.js'
      - '**/*.jsx'
      - '**/*.scss'
      - '**/*.css'
      - '**/*.html'
      - '**/*.gsp'

"domain: devops":
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - 'docker/**/*'

"domain: documentation":
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '**/*.md'
      - 'readthedocs.yml'
      - 'mkdocs.yml'

"flag: config change":
- all:
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/conf/**/*'
      - 'grails-app/init/**/*'
      - '**/*.gradle'
      - '**/*.properties'
      - 'package.json'
      - 'package-lock.json'
    - all-globs-to-all-files:
      - '!grails-app/i18n/**/*'

"flag: schema change":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/migrations/**/*'

OBPIH-7043 Cancel product on To Count and To Resolve tabs (#5222)
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: frontend

OBPIH-7108 Save progress when clicking Next on count and recount workflows
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: frontend

OBPIH-7237 Fix submitting a count/recount while having discrepancy
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
Labels: domain: backend

OBPIH-7108 Add small correction
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: frontend

OBPIH-7237 Fix submitting a count/recount while having discrepancy (#5223)
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
Labels: domain: backend

OBPIH-7150 Arrow navigation in inbound add items pages (#5184)
  src/js/api/services/StockMovementApi.js
  src/js/components/DataTable/DataTable.scss
  src/js/components/DataTable/TableHeaderCell.jsx
  src/js/components/DataTable/v2/DataTable.jsx
  src/js/components/stock-movement-wizard/inboundV2/InboundV2.jsx
  src/js/components/stock-movement-wizard/inboundV2/inboundV2.scss
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2AddItems.jsx
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2Send.jsx
  src/js/consts/applicationUrls.js
  src/js/consts/inboundColumns.js
  src/js/hooks/inboundV2/addItems/useInboundAddItemsColumns.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsForm.jsx
  src/js/hooks/useArrowsNavigation.jsx
Labels: domain: frontend

OBPIH-7158 Add tests for Cycle Count
  src/test/groovy/unit/org/pih/warehouse/inventory/CycleCountSpec.groovy
Labels: none

OBPIH-7158 Add test for startRecount
  src/test/groovy/unit/org/pih/warehouse/api/CycleCountApiControllerSpec.groovy
Labels: none

OBPIH-7158 Add CycleCountApiControllerSpec
  src/test/groovy/unit/org/pih/warehouse/api/CycleCountApiControllerSpec.groovy
  src/test/groovy/unit/org/pih/warehouse/inventory/CycleCountItemSpec.groovy
Labels: none

OBPIH-7158 Fixes after review
  src/test/groovy/unit/org/pih/warehouse/api/CycleCountApiControllerSpec.groovy
  src/test/groovy/unit/org/pih/warehouse/inventory/CycleCountItemSpec.groovy
  src/test/groovy/unit/org/pih/warehouse/inventory/CycleCountSpec.groovy
Labels: none

OBPIH-7108 Save progress when clicking Next on count and recount workflows (#5224)
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: frontend

OBPIH-7158 Bump up unit tests coverage (0.9.4 test cycle) (#5217)
  src/test/groovy/unit/org/pih/warehouse/api/CycleCountApiControllerSpec.groovy
  src/test/groovy/unit/org/pih/warehouse/inventory/CycleCountItemSpec.groovy
  src/test/groovy/unit/org/pih/warehouse/inventory/CycleCountSpec.groovy
Labels: none

OBPIH-7147 Corrections after code review
  grails-app/i18n/messages.properties
  grails-app/views/deliveryNote/_printPage.gsp
Labels: domain: frontend

OBPIH-7147 Add split lines for Received and Comment, change header
  grails-app/i18n/messages.properties
  grails-app/views/deliveryNote/_printPage.gsp
Labels: domain: frontend

OBPIH-7147 Add small correction
  grails-app/views/deliveryNote/_printPage.gsp
Labels: domain: frontend

OBPIH-7237 Remove canceled cycle counts from redux store to avoid calling reload on not existing data
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: frontend

OBPIH-7147 Fix received and comment
  grails-app/views/deliveryNote/_printPage.gsp
Labels: domain: frontend

OBPIH-7237 Rename argument not to be misleading with the global state naming
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: frontend

OBPIH-7237 Remove canceled cycle counts from redux store to avoid cal… (#5225)
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: frontend

New translations messages.properties (Spanish)
  grails-app/i18n/messages_es.properties
Labels: none

New translations messages.properties (Spanish)
  grails-app/i18n/messages_es.properties
Labels: none

OBPIH-7042 Add Zone to Bin location filter in cycle count tabs (#5221)
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useCycleCountFilters.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/js/utils/groupBinLocationsByZone.jsx
Labels: domain: frontend

OBPIH-6962 Add some improvements
  grails-app/controllers/org/pih/warehouse/api/ProductSupplierApiController.groovy
  grails-app/services/org/pih/warehouse/data/ProductSupplierService.groovy
  src/js/hooks/list-pages/productSupplier/useProductSupplierActions.jsx
  src/main/groovy/org/pih/warehouse/product/ProductSupplierFilterCommand.groovy
Labels: domain: backend, domain: frontend

OBPIH-6962 Add syntax corrections
  grails-app/services/org/pih/warehouse/data/ProductSupplierService.groovy
Labels: domain: backend

OBPIH-6962 Add syntax corrections
  grails-app/services/org/pih/warehouse/data/ProductSupplierService.groovy
Labels: domain: backend

OBPIH-7174 Corrections after code review
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2AddItems.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsForm.jsx
Labels: domain: frontend

OBPIH-7147 Improve validation
  src/js/components/stock-movement-wizard/inboundV2/InboundV2.jsx
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2AddItems.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsColumns.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsForm.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsValidation.js
Labels: domain: frontend

OBPIH-7147 Improve validation (#5226)
  src/js/components/stock-movement-wizard/inboundV2/InboundV2.jsx
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2AddItems.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsColumns.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsForm.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsValidation.js
Labels: domain: frontend

OBPIH-7157 Add fetching users
  src/js/hooks/inboundV2/addItems/useInboundAddItemsForm.jsx
  src/js/hooks/inboundV2/create/useInboundCreateForm.js
Labels: domain: frontend

OBPIH-7237 Detect canceled cycle counts and throw a popup to inform user of not up to date state
  grails-app/i18n/messages.properties
  src/js/components/cycleCount/toCountTab/CountStep.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: frontend

OBPIH-7237 Detect canceled cycle counts and throw a popup to inform u… (#5228)
  grails-app/i18n/messages.properties
  src/js/components/cycleCount/toCountTab/CountStep.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: frontend

OBPIH-7157 Add multi-fill for recipients in inbound add items (fix) (#5227)
  src/js/hooks/inboundV2/addItems/useInboundAddItemsForm.jsx
  src/js/hooks/inboundV2/create/useInboundCreateForm.js
Labels: domain: frontend

OBPIH-7147 Separate Pack levels in Delivery Note (#5219)
  grails-app/i18n/messages.properties
  grails-app/views/deliveryNote/_printPage.gsp
Labels: domain: frontend

OBPIH-7171 Cherrypick commit
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2Create.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsColumns.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsForm.jsx
  src/js/hooks/inboundV2/create/useInboundCreateForm.js
  src/js/utils/dateUtils.js
Labels: domain: frontend

OBPIH-7151 Add small corrections
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2Create.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsColumns.jsx
Labels: domain: frontend

OBPIH-7151 Add trigger on date change
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2Create.jsx
Labels: domain: frontend

OBPIH-7171 Cherrypick commit
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2Create.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsColumns.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsForm.jsx
  src/js/hooks/inboundV2/create/useInboundCreateForm.js
  src/js/utils/dateUtils.js
Labels: domain: frontend

New translations messages.properties (French)
  grails-app/i18n/messages_fr.properties
Labels: none

New translations messages.properties (Spanish)
  grails-app/i18n/messages_es.properties
Labels: none

New translations messages.properties (Arabic)
  grails-app/i18n/messages_ar.properties
Labels: none
