Repository openboxes/openboxes, changes with the labels that .github/labeler.yml gives for each.
All labels: domain: backend, domain: frontend, domain: devops, domain: documentation, flag: schema change

.github/labeler.yml:

# Automatically adds labels to a pull request.
# https://github.com/actions/labeler

"type: bug":
  - head-branch: ['^bug/', '^bugfix/']

"type: feature":
  - head-branch: ['^feature/', '^feat/', '^ft/']

"type: maintenance":
  - head-branch: ['^maintenance/', '^techdebt/', '^chore/']

"type: release":
  - head-branch: ['^release/']

"warn: do not squash":
  - head-branch: ['^release/', '^develop', '^master']

"domain: l10n":
  - head-branch: ['l10n']
  - changed-files:
      - any-glob-to-any-file:
          - 'grails-app/i18n/**/*'

"flag: ignore in release notes":
  - head-branch: ['l10n']

"domain: backend":
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main/groovy/**/*'
      - 'grails-app/controllers/**/*'
      - 'grails-app/domain/**/*'
      - 'grails-app/jobs/**/*'
      - 'grails-app/services/**/*'

"domain: frontend":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/taglib/**/*'
      - '**/*.js'
      - '**/*.jsx'
      - '**/*.scss'
      - '**/*.css'
      - '**/*.html'
      - '**/*.gsp'

"domain: devops":
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - 'docker/**/*'

"domain: documentation":
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '**/*.md'
      - 'readthedocs.yml'
      - 'mkdocs.yml'

"flag: config change":
- all:
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/conf/**/*'
      - 'grails-app/init/**/*'
      - '**/*.gradle'
      - '**/*.properties'
      - 'package.json'
      - 'package-lock.json'
    - all-globs-to-all-files:
      - '!grails-app/i18n/**/*'

"flag: schema change":
  - changed-files:
    - any-glob-to-any-file:
      - 'grails-app/migrations/**/*'

OBPIH-7027 Add sorting by bin location
  grails-app/domain/org/pih/warehouse/inventory/CycleCountItem.groovy
Labels: domain: backend

OBPIH-6950 Call the update count APIs when editing/creating/deleting cycle count items
  grails-app/domain/org/pih/warehouse/inventory/CycleCountItem.groovy
  grails-app/i18n/messages.properties
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/js/api/services/CycleCountApi.js
  src/js/api/urls.js
  src/js/components/cycleCount/toCountTab/CountStep.jsx
  src/js/components/cycleCount/toCountTab/CountStepHeader.jsx
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/components/form-elements/v2/SelectField.jsx
  src/js/consts/cycleCountStatus.js
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemCommand.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemDto.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountUpdateItemCommand.groovy
Labels: domain: backend, domain: frontend

OBPIH-6950 Use useSpinner hook instead of calling dispatch explicily
  src/js/hooks/cycleCount/useCountStep.jsx
Labels: domain: frontend

OBPIH-6950 Fix typo in the cycleCountItemStatus file name
  src/js/consts/cycleCountItemStatus.js
  src/js/hooks/cycleCount/useCountStep.jsx
Labels: domain: frontend

OBPIH-6950 Remove outdated comment
  src/js/hooks/cycleCount/useCountStep.jsx
Labels: domain: frontend

OBPIH-7003 Improve navigate through cells
  src/js/components/form-elements/v2/DateField.jsx
  src/js/components/form-elements/v2/SelectField.jsx
  src/js/components/form-elements/v2/TextInput.jsx
  src/js/consts/cycleCountColumn.js
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/utils/Select.jsx
Labels: domain: frontend

WIP: Using ReasonCode, frontend still using full list
  grails-app/domain/org/pih/warehouse/inventory/CycleCountItem.groovy
  grails-app/i18n/messages.properties
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/js/actions/index.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemCommand.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemDto.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountUpdateItemCommand.groovy
Labels: domain: backend, domain: frontend

OBPIH-6939 Show minimum of cycle count date and inventory in Last Counted date column
  grails-app/migrations/views/changelog.xml
  grails-app/migrations/views/cycle-count-session.sql
  grails-app/migrations/views/product-count-history.sql
  grails-app/migrations/views/product-cycle-count-history.sql
  grails-app/migrations/views/product-physical-count-history.sql
  grails-app/migrations/views/product-receipt-history.sql
  src/js/hooks/cycleCount/useAllProductsTab.jsx
Labels: domain: frontend, flag: schema change

OBPIH-6939 Improved performance of views used to calculate last count date; restored cycle count status in cycle count session view
  grails-app/migrations/views/cycle-count-session.sql
  grails-app/migrations/views/product-count-history.sql
  grails-app/migrations/views/product-cycle-count-history.sql
  grails-app/migrations/views/product-physical-count-history.sql
Labels: flag: schema change

OBPIH-6939 Added JOIN to inventory item to avoid complex update for records where transaction_entry.product_id is NULL
  grails-app/migrations/views/product-physical-count-history.sql
Labels: flag: schema change

OBPIH-6984 Fix validation issues
  src/js/components/cycleCount/cycleCount.scss
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useCountStepValidation.js
  src/js/hooks/cycleCount/useInventoryValidation.js
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

OBPIH-6960 Create items array form (fix after QA) (#5071)
  src/css/main.scss
  src/js/components/DataTable/DataTable.scss
  src/js/components/DataTable/TableHeaderCell.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsColumns.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsForm.jsx
  src/js/wrappers/CustomTooltip.jsx
Labels: domain: frontend

OBPIH-6700 Minor PartialReceivingPage improvement
  src/js/components/receiving/PartialReceivingPage.jsx
Labels: domain: frontend

OBPIH-6909 Unify roles on menu items in navbar (#5049)
  grails-app/views/common/_menuicons.gsp
  grails-app/views/dashboard/megamenu.gsp
  src/js/components/Layout/menu/MenuConfigurationSubsection.jsx
  src/js/components/Layout/menu/MenuSection.jsx
  src/js/components/Layout/menu/MenuSubsection.jsx
  src/js/tests/menu/__snapshots__/Menu.test.jsx.snap
Labels: domain: frontend

OBPIH-6970 Add selectors to Packing List table (#5064)
  grails-app/views/stockMovement/_packingList.gsp
Labels: domain: frontend

OBPIH-6984 Improve validations on existing inventories on count step (fixes after QA) (#5076)
  src/js/components/cycleCount/cycleCount.scss
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useCountStepValidation.js
  src/js/hooks/cycleCount/useInventoryValidation.js
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

OBPIH-7027 Align order of inventory items in count and recount workflow with order on stock card (#5067)
  grails-app/domain/org/pih/warehouse/inventory/CycleCount.groovy
  grails-app/domain/org/pih/warehouse/inventory/CycleCountItem.groovy
Labels: domain: backend

New Crowdin updates (#5024)
  grails-app/i18n/messages_ach.properties
  grails-app/i18n/messages_ar.properties
  grails-app/i18n/messages_cs.properties
  grails-app/i18n/messages_de.properties
  grails-app/i18n/messages_es.properties
  grails-app/i18n/messages_fi.properties
  grails-app/i18n/messages_fr.properties
  grails-app/i18n/messages_ht.properties
  grails-app/i18n/messages_it.properties
  grails-app/i18n/messages_nl.properties
  grails-app/i18n/messages_pt.properties
  grails-app/i18n/messages_rw.properties
  grails-app/i18n/messages_sw.properties
  grails-app/i18n/messages_zh.properties
Labels: none

reset item updated status after update succeeds
  src/js/consts/cycleCountItemStatus.js
  src/js/hooks/cycleCount/useCountStep.jsx
Labels: domain: frontend

OBPIH-6950 Call the update count APIs when editing/creating/deleting … (#5073)
  grails-app/domain/org/pih/warehouse/inventory/CycleCountItem.groovy
  grails-app/i18n/messages.properties
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/js/api/services/CycleCountApi.js
  src/js/api/urls.js
  src/js/components/cycleCount/toCountTab/CountStep.jsx
  src/js/components/cycleCount/toCountTab/CountStepHeader.jsx
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/components/form-elements/v2/SelectField.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemCommand.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemDto.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountUpdateItemCommand.groovy
Labels: domain: backend, domain: frontend

Update source file messages.properties
  grails-app/i18n/messages.properties
Labels: none

New translations messages.properties (French)
  grails-app/i18n/messages_fr.properties
Labels: none

New translations messages.properties (Spanish)
  grails-app/i18n/messages_es.properties
Labels: none

New translations messages.properties (Arabic)
  grails-app/i18n/messages_ar.properties
Labels: none

New translations messages.properties (Czech)
  grails-app/i18n/messages_cs.properties
Labels: none

New translations messages.properties (German)
  grails-app/i18n/messages_de.properties
Labels: none

New translations messages.properties (Finnish)
  grails-app/i18n/messages_fi.properties
Labels: none

New translations messages.properties (Italian)
  grails-app/i18n/messages_it.properties
Labels: none

New translations messages.properties (Dutch)
  grails-app/i18n/messages_nl.properties
Labels: none

New translations messages.properties (Portuguese)
  grails-app/i18n/messages_pt.properties
Labels: none

New translations messages.properties (Chinese Simplified)
  grails-app/i18n/messages_zh.properties
Labels: none

New translations messages.properties (Swahili)
  grails-app/i18n/messages_sw.properties
Labels: none

New translations messages.properties (Haitian Creole)
  grails-app/i18n/messages_ht.properties
Labels: none

New translations messages.properties (Kinyarwanda)
  grails-app/i18n/messages_rw.properties
Labels: none

New translations messages.properties (Acholi)
  grails-app/i18n/messages_ach.properties
Labels: none

OBPIH-6900 Add new component for consistent styling
  src/js/components/cycleCount/ConfirmStepHeader.jsx
  src/js/components/cycleCount/HeaderLabel.jsx
  src/js/components/cycleCount/HeaderSelect.jsx
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStep.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
Labels: domain: frontend

OBPIH-6900 Add new styling
  src/js/components/cycleCount/cycleCount.scss
Labels: domain: frontend

OBPIH-6900 Add show/hide option for tooltip
  src/js/wrappers/CustomTooltip.jsx
Labels: domain: frontend

OBPIH-6900 Add confirmation step for resolving tab
  src/js/components/cycleCount/toCountTab/CountStep.jsx
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

Update source file messages.properties
  grails-app/i18n/messages.properties
Labels: none
