Repository openboxes/openboxes, pull requests merged in 2018-11, with the labels that each got.

#600 OBPIH-1370: fix crossing out rows in the table
  src/css/main.scss
Labels: blocker

#596 OBPIH-1327 Autofill localization based on menu selection
  grails-app/controllers/org/pih/warehouse/inventory/StockMovementController.groovy
  grails-app/views/dashboard/megamenu.gsp
  package.json
  src/js/components/stock-movement-wizard/CreateStockMovement.jsx
  src/js/components/stock-movement-wizard/StockMovement.jsx
  src/js/reducers/locationsReducer.jsx
Labels: improvement, in progress

#599 OBPIH-1358: Default bin should be null when location bins are deactivated
  grails-app/services/org/pih/warehouse/inventory/StockMovementService.groovy
  grails-app/services/org/pih/warehouse/receiving/ReceiptService.groovy
Labels: blocker

#601 OBPIH-1253: Resources caching with hash in name
  .gitignore
  grails-app/controllers/org/pih/warehouse/inventory/StockMovementController.groovy
  grails-app/controllers/org/pih/warehouse/partialReceiving/PartialReceivingController.groovy
  grails-app/controllers/org/pih/warehouse/putAway/PutAwayController.groovy
  grails-app/views/layouts/main.gsp
  grails-app/views/partialReceiving/README.md
  grails-app/views/partialReceiving/_create.gsp
  grails-app/views/putAway/README.md
  grails-app/views/putAway/_create.gsp
  grails-app/views/stockMovement/README.md
  grails-app/views/stockMovement/_create.gsp
  package-lock.json
  package.json
  src/assets/grails-template.html
  webpack.config.js
Labels: improvement

#604 OBPIH-1388 Add quantity remaining on the first page of partial receiving
  src/js/components/receiving/PartialReceivingPage.jsx
Labels: improvement

#607 OBPIH-1396 Make smaller font and adjust column's width
  src/css/main.scss
  src/js/components/stock-movement-wizard/PickPage.jsx
Labels: improvement

#605 OBPIH-1408 Enable save button on edit page
  src/js/components/stock-movement-wizard/EditPage.jsx
Labels: improvement

#606 OBPIH-1390: Don't autofill split line items receiving quantity
  grails-app/controllers/org/pih/warehouse/api/PartialReceivingApiController.groovy
  grails-app/domain/org/pih/warehouse/receiving/ReceiptItem.groovy
  grails-app/migrations/0.8.x/changelog-2018-11-06-1434-modify-column-receipt-item-quantity-received.xml
  grails-app/migrations/0.8.x/changelog.xml
  grails-app/services/org/pih/warehouse/receiving/ReceiptService.groovy
  src/groovy/org/pih/warehouse/api/PartialReceiptItem.groovy
  src/js/components/receiving/ReceivingPage.jsx
  src/js/components/receiving/modals/EditLineModal.jsx
  src/js/utils/apiClient.jsx
Labels: blocker

#609 OBPIH-1394: Fixed ordering of items on pack page
  grails-app/domain/org/pih/warehouse/picklist/Picklist.groovy
  grails-app/domain/org/pih/warehouse/picklist/PicklistItem.groovy
  grails-app/migrations/0.8.x/changelog-2018-11-07-1501-alter-table-picklist-item-add-column-sort-order.xml
  grails-app/migrations/0.8.x/changelog.xml
  grails-app/services/org/pih/warehouse/inventory/StockMovementService.groovy
Labels: improvement

#590 OBPIH-962 Add total monthly quantity column
  grails-app/services/org/pih/warehouse/inventory/StockMovementService.groovy
  grails-app/services/org/pih/warehouse/requisition/RequisitionService.groovy
  src/groovy/org/pih/warehouse/api/StockMovementItem.groovy
  src/js/components/stock-movement-wizard/EditPage.jsx
Labels: improvement

#614 OBPIH-1387: Fixed issue during adding new items on 2 step (supplier c…
  grails-app/services/org/pih/warehouse/inventory/StockMovementService.groovy
  src/groovy/org/pih/warehouse/api/StockMovementItem.groovy
Labels: blocker

#615 OBPIH-1381 Limit visible options for origin/destination
  grails-app/controllers/org/pih/warehouse/api/ApiController.groovy
  grails-app/controllers/org/pih/warehouse/api/LocationApiController.groovy
  grails-app/controllers/org/pih/warehouse/inventory/StockMovementController.groovy
  grails-app/services/org/pih/warehouse/core/LocationService.groovy
  grails-app/views/dashboard/megamenu.gsp
  package.json
  src/js/components/stock-movement-wizard/CreateStockMovement.jsx
  src/js/components/stock-movement-wizard/StockMovement.jsx
  src/js/utils/option-utils.jsx
Labels: blocker

#591 Improve installation docs
  docs/configuration/email.md
  docs/installation/advanced.md
  docs/installation/docker.md
  docs/installation/index.md
  docs/installation/ubuntu.md
  docs/installation/ubuntu1404.md
  docs/installation/ubuntu1604-notes.md
  docs/installation/ubuntu1604.md
  docs/installation/ubuntu1804.md
  mkdocs.yml
Labels: in progress

#642 OBPIH-1466 Fixed regression bug introduced by item search sorting
  grails-app/services/org/pih/warehouse/inventory/InventoryService.groovy
Labels: blocker
