Repository openboxes/openboxes, pull requests merged in 2020-06, with the labels that each got.

#1693 OBPIH-2880 Dashboard should be customizable by user
  grails-app/conf/Config.groovy
  grails-app/conf/DataSource.groovy
  grails-app/controllers/org/pih/warehouse/apitablero/ApitableroController.groovy
  grails-app/controllers/org/pih/warehouse/tablero/TableroController.groovy
  grails-app/domain/org/pih/warehouse/core/User.groovy
  grails-app/migrations/0.8.x/changelog-2020-06-04-2232-alter-table-add-column-dashboard-config.xml
  grails-app/migrations/0.8.x/changelog.xml
  grails-app/services/org/pih/warehouse/core/UserService.groovy
  src/js/actions/index.js
  src/js/components/tablero/Tablero.jsx
  src/js/components/tablero/tablero.scss
Labels: work in progress

#1705 OBPIH-2880 Dashboard customizable by user
  src/js/actions/index.js
  src/js/components/tablero/Tablero.jsx
Labels: ready for review

#1703 OBPIH-2575 Dashboard: Loss caused by expiry
  grails-app/conf/Config.groovy
  grails-app/controllers/org/pih/warehouse/apitablero/ApitableroController.groovy
  grails-app/services/org/pih/warehouse/tableroapi/IndicatorDataService.groovy
  src/js/actions/index.js
  src/js/components/tablero/GraphCard.jsx
  src/js/components/tablero/Tablero.jsx
  src/js/consts/dataFormat/graphConfig.jsx
Labels: ready for review

#1698 OBPIH-2921 Fix calculation of QoH when inventory transactions involved
  grails-app/controllers/org/pih/warehouse/inventory/InventoryController.groovy
  grails-app/controllers/org/pih/warehouse/inventory/InventoryItemController.groovy
  grails-app/controllers/org/pih/warehouse/reporting/ReportController.groovy
  grails-app/i18n/messages.properties
  grails-app/i18n/messages_ar.properties
  grails-app/i18n/messages_de.properties
  grails-app/i18n/messages_es.properties
  grails-app/i18n/messages_fi.properties
  grails-app/i18n/messages_fr.properties
  grails-app/i18n/messages_it.properties
  grails-app/i18n/messages_pt.properties
  grails-app/services/org/pih/warehouse/data/MigrationService.groovy
  grails-app/services/org/pih/warehouse/inventory/InventoryService.groovy
  grails-app/services/org/pih/warehouse/report/ReportService.groovy
  grails-app/services/org/pih/warehouse/shipping/ShipmentService.groovy
  grails-app/views/report/showProductReport.gsp
  src/groovy/org/pih/warehouse/report/ProductReportCommand.groovy
Labels: under review

#1706 OBPIH-2513 Dashboard: Products inventoried
  grails-app/conf/Config.groovy
  grails-app/controllers/org/pih/warehouse/apitablero/ApitableroController.groovy
  grails-app/services/org/pih/warehouse/tableroapi/IndicatorDataService.groovy
  src/groovy/org/pih/warehouse/tablero/ColorNumber.groovy
  src/groovy/org/pih/warehouse/tablero/MultipleNumbersIndicator.groovy
  src/groovy/org/pih/warehouse/tablero/NumberTableData.groovy
  src/groovy/org/pih/warehouse/tablero/NumbersIndicator.groovy
  src/js/components/tablero/GraphCard.jsx
  src/js/components/tablero/NumbersRAG.jsx
  src/js/components/tablero/NumbersTableCard.jsx
  src/js/components/tablero/UnarchiveIndicators.jsx
  src/js/components/tablero/tablero.scss
Labels: ready for review

#1711 OBPIH-1483: Refactor react side menu
  grails-app/conf/Config.groovy
  grails-app/controllers/org/pih/warehouse/api/ApiController.groovy
  grails-app/services/org/pih/warehouse/api/MegamenuService.groovy
  src/css/main.scss
  src/js/MainRouter.jsx
  src/js/actions/index.js
  src/js/actions/types.js
  src/js/components/Layout/Menu.jsx
  src/js/reducers/sessionReducer.jsx
Labels: ready for review

#1717 OBPIH-2898 Adding of the transaction configuration
  grails-app/conf/Config.groovy
Labels: ready for review

#1723 Reformat queries for lossCausedByExpiry and productsInventoried
  grails-app/conf/Config.groovy
  grails-app/services/org/pih/warehouse/core/UserService.groovy
  grails-app/services/org/pih/warehouse/tableroapi/IndicatorDataService.groovy
Labels: work in progress

#1722 OBPIH-2915 Add summary on hand and on order report
  grails-app/conf/Config.groovy
  grails-app/controllers/org/pih/warehouse/JsonController.groovy
  grails-app/controllers/org/pih/warehouse/reporting/ReportController.groovy
  grails-app/i18n/messages.properties
  grails-app/migrations/views/changelog.xml
  grails-app/migrations/views/on-order-order-item-summary.sql
  grails-app/migrations/views/on-order-shipment-item-summary.sql
  grails-app/migrations/views/on-order-summary.sql
  grails-app/migrations/views/product-snapshot.sql
  grails-app/services/org/pih/warehouse/data/DataService.groovy
  grails-app/services/org/pih/warehouse/report/ReportService.groovy
  grails-app/views/dashboard/megamenu.gsp
  grails-app/views/report/showOnOrderReport.gsp
  grails-app/views/report/showOrderReport.gsp
Labels: ready for review
