Repository openboxes/openboxes, pull requests merged in 2021-04, with the labels that each got.

#2255 OBGM-303 Added missing configuration / dependencies; ignored a failin…
  build.gradle
  grails-app/conf/application.yml
  src/integration-test/groovy/org/pih/warehouse/api/ApiControllerFunctionalSpec.groovy
  src/integration-test/groovy/org/pih/warehouse/api/ApiControllerSpec.groovy
  src/integration-test/groovy/org/pih/warehouse/page/ChooseLocationPage.groovy
  src/integration-test/groovy/org/pih/warehouse/page/DashboardPage.groovy
  src/test/groovy/unit/org/pih/warehouse/inventory/InventoryItemControllerTests.groovy
Labels: work in progress

#2253 OBGM-141 Added context path handling
  grails-app/controllers/org/pih/warehouse/inventory/StockMovementController.groovy
  grails-app/controllers/org/pih/warehouse/putAway/PutAwayController.groovy
  grails-app/controllers/org/pih/warehouse/stocklist/StocklistManagementController.groovy
  grails-app/controllers/org/pih/warehouse/user/DashboardController.groovy
  package-lock.json
  package.json
  src/assets/grails-template.html
  src/js/components/DocumentButton.jsx
  src/js/components/GlobalSearch.jsx
  src/js/components/Layout/Breadcrumbs.jsx
  src/js/components/Layout/Header.jsx
  src/js/components/Layout/Menu.jsx
  src/js/components/put-away/PutAwayCheckPage.jsx
  src/js/components/put-away/PutAwayPage.jsx
  src/js/components/put-away/PutAwaySecondPage.jsx
  src/js/components/receiving/PartialReceivingPage.jsx
  src/js/components/receiving/ReceivingCheckScreen.jsx
  src/js/components/stock-list-management/StocklistManagement.jsx
  src/js/components/stock-movement-wizard/combined-shipments/AddItemsPage.jsx
  src/js/components/stock-movement-wizard/combined-shipments/CreateStockMovement.jsx
  src/js/components/stock-movement-wizard/combined-shipments/SendMovementPage.jsx
  src/js/components/stock-movement-wizard/inbound/AddItemsPage.jsx
  src/js/components/stock-movement-wizard/inbound/CreateStockMovement.jsx
  src/js/components/stock-movement-wizard/inbound/SendMovementPage.jsx
  src/js/components/stock-movement-wizard/outbound/AddItemsPage.jsx
  src/js/components/stock-movement-wizard/outbound/CreateStockMovement.jsx
  src/js/components/stock-movement-wizard/outbound/EditPage.jsx
  src/js/components/stock-movement-wizard/outbound/PackingPage.jsx
  src/js/components/stock-movement-wizard/outbound/PickPage.jsx
  src/js/components/stock-movement-wizard/outbound/SendMovementPage.jsx
  src/js/components/stock-movement-wizard/request/AddItemsPage.jsx
  src/js/components/stock-movement-wizard/request/CreateStockMovement.jsx
  src/js/components/stock-movement-wizard/request/EditPage.jsx
  src/js/components/tablero/GraphCard.jsx
  src/js/components/tablero/NumberCard.jsx
  src/js/components/tablero/Numbers.jsx
  src/js/components/tablero/NumbersRAG.jsx
  src/js/components/tablero/TableCard.jsx
  src/js/components/user/UserActionMenu.jsx
  src/js/index.jsx
  src/js/utils/apiClient.jsx
  webpack.config.js
Labels: work in progress

#2356 OBPIH-3713 Add order state view
  grails-app/domain/org/pih/warehouse/order/OrderSummary.groovy
  grails-app/migrations/views/changelog.xml
  grails-app/migrations/views/order-summary-view.sql
Labels: ready for review

#2376 OBPIH-3785 Allow user to import items to placed order
  grails-app/conf/Config.groovy
  grails-app/controllers/org/pih/warehouse/order/OrderController.groovy
  grails-app/domain/org/pih/warehouse/order/OrderItem.groovy
  grails-app/services/org/pih/warehouse/order/OrderService.groovy
  grails-app/views/purchaseOrder/_showOrderItems.gsp
Labels: do not merge, work in progress
