Repository openboxes/openboxes, pull requests merged in 2023-05, with the labels that each got.

#4010 OBPIH-5621 Fix circular reference for the location JSON marshaller
  grails-app/domain/org/pih/warehouse/core/Location.groovy
Labels: 0.8.22

#4016 OBPIH-5659 Fix validation of create location on GSP side
  grails-app/controllers/org/pih/warehouse/core/LocationController.groovy
Labels: 0.8.22

#4017 OBPIH-5641 Invalid content of error message in outbound workflow
  grails-app/i18n/messages.properties
  grails-app/services/org/pih/warehouse/shipping/ShipmentService.groovy
Labels: 0.8.22

#4018 OBPIH-5646 Improve the content of reason code required error message
  src/css/main.scss
  src/js/components/Layout/notifications/notification.jsx
  src/js/components/Layout/notifications/notification.md
  src/js/components/dashboard/CustomAlert.jsx
  src/js/components/stock-movement-wizard/outbound/EditPage.jsx
  src/js/components/stock-movement-wizard/request/EditPage.jsx
  src/js/utils/form-values-utils.jsx
Labels: 0.8.22

#4015 OBPIH-5634 Fix load demo data
  grails-app/conf/templates/configuration/binLocations.csv
  grails-app/services/org/pih/warehouse/data/LoadDataService.groovy
  grails-app/services/org/pih/warehouse/data/LocationDataService.groovy
Labels: 0.8.22

#4011 OBPIH-5640 Fix the NullPointerException in the afterView filter
  grails-app/conf/UtilFilters.groovy
Labels: 0.8.22

#4022 OBPIH-5634 Improve manual location import to allow having locationTyp…
  grails-app/services/org/pih/warehouse/data/LocationDataService.groovy
Labels: 0.8.22

#4021 OBPIH-5657 Earlier flag on sub button not working
  grails-app/migrations/views/product-substitution-status.sql
Labels: 0.8.22

#4024 OBPIH-5662 Unable to delete internal locations on GSP
  grails-app/services/org/pih/warehouse/core/LocationService.groovy
Labels: 0.8.22

#4045 OBPIH-5697 Filter out supplier locations for Return Order workflow
  grails-app/services/org/pih/warehouse/core/LocationService.groovy
Labels: hotfix, 0.8.22

#4051 OBPIH-5685 Fix inactive product validation for items added not from a…
  grails-app/controllers/org/pih/warehouse/api/ProductApiController.groovy
  grails-app/services/org/pih/warehouse/product/ProductService.groovy
  src/groovy/org/pih/warehouse/product/ProductSearchDto.groovy
  src/js/utils/option-utils.jsx
Labels: hotfix

#4047 OBPIH-5669 Enable adding an item to a request after submission
  grails-app/i18n/messages.properties
  src/js/api/redirectUrls.js
  src/js/components/stock-movement-wizard/request/AddItemsPage.jsx
  src/js/components/stock-movement-wizard/request/EditPage.jsx
  src/js/consts/requisitionStatus.js
Labels: hotfix

#4053 OBPIH-5710 Add validation for quantity per UoM input field
  grails-app/i18n/messages.properties
  grails-app/views/order/_orderItemForm.gsp
  grails-app/views/order/_orderItemFormDialog.gsp
  grails-app/views/purchaseOrder/_showOrderItems.gsp
  grails-app/views/taglib/_decimalFormatField.gsp
Labels: hotfix, 0.8.22

#4055 OBPIH-5699 Reorder report not showing the correct list of items
  grails-app/services/org/pih/warehouse/core/DashboardService.groovy
Labels: hotfix

#4066 OBPIH-5723 Make transfer stock a superuser action only
  grails-app/conf/RoleFilters.groovy
  grails-app/views/inventoryItem/_actionsCurrentStock.gsp
Labels: hotfix

#4063 OBPIH-5698 Inventory summary indicator below min qtys not accurate
  grails-app/services/org/pih/warehouse/core/DashboardService.groovy
Labels: hotfix

#4069 OBPIH-5723 Revert hiding the transfer stock button when < superuser
  grails-app/views/inventoryItem/_actionsCurrentStock.gsp
Labels: hotfix

#4074 OBPIH-5699 Exclude items which have bin location from the reorder report
  grails-app/services/org/pih/warehouse/core/DashboardService.groovy
Labels: hotfix

#4068 OBPIH-5714 Click Next on add items page should be enabled when some line items have qtt=0
  src/js/components/stock-movement-wizard/outbound/AddItemsPage.jsx
Labels: hotfix

#4075 OBPIH-5727 add category parents filter to in stock reports and update download to show parent
  grails-app/controllers/org/pih/warehouse/inventory/InventoryController.groovy
  grails-app/i18n/messages.properties
  grails-app/services/org/pih/warehouse/core/DashboardService.groovy
  grails-app/services/org/pih/warehouse/inventory/ProductAvailabilityService.groovy
  grails-app/views/inventory/list.gsp
Labels: hotfix, 0.8.22
