Repository openboxes/openboxes, pull requests merged in 2023-11, with the labels that each got.

#4082 OBGM-403 Bump a few Gradle dependencies to latest versions
  build.gradle
Labels: tech debt

#4375 OBGM-71 Replace springcache plugin
  build.gradle
  grails-app/controllers/org/pih/warehouse/api/DashboardApiController.groovy
  grails-app/controllers/org/pih/warehouse/user/DashboardController.groovy
  grails-app/services/org/pih/warehouse/dashboard/IndicatorDataService.groovy
  grails-app/services/org/pih/warehouse/dashboard/NumberDataService.groovy
Labels: tech-huddle

#4390 OBGM-503 Bring back changes to bootstrap.groovy that were reverted during reabse
  grails-app/conf/application.yml
  grails-app/init/org/pih/warehouse/BootStrap.groovy
Labels: needs discussion
