Repository openboxes/openboxes, pull requests merged in 2023-01, with the labels that each got.

#3736 OBPIH-5237 Create a transaction for inventories with entries for both…
  grails-app/services/org/pih/warehouse/inventory/InventoryService.groovy
  grails-app/services/org/pih/warehouse/product/ProductMergeService.groovy
Labels: needs discussion

#3738 OBPIH-5161+5246 Make user transition in/out of translation mode smoother
  grails-app/conf/Config.groovy
  grails-app/conf/InitializationFilters.groovy
  grails-app/controllers/org/pih/warehouse/api/ApiController.groovy
  grails-app/controllers/org/pih/warehouse/user/UserController.groovy
  grails-app/i18n/messages.properties
  grails-app/services/org/pih/warehouse/core/LocalizationService.groovy
  grails-app/services/org/pih/warehouse/core/UserService.groovy
  grails-app/taglib/org/pih/warehouse/MessageTagLib.groovy
  grails-app/views/common/_footer.gsp
  grails-app/views/common/_menuicons.gsp
  grails-app/views/common/_navbar.gsp
  grails-app/views/report/showInventoryReport.gsp
  src/css/main.scss
  src/js/components/Layout/Footer.jsx
  src/js/reducers/sessionReducer.jsx
  webpack.config.js
Labels: needs attention, awaiting feedback

#3743 OBPIH-5119 add exact product when type product code and press enter
  src/js/components/form-elements/FieldArrayComponent.jsx
  src/js/components/form-elements/ProductSelectField.jsx
  src/js/components/product-select/ProductSelect.jsx
  src/js/components/returns/inbound/AddItemsPage.jsx
  src/js/components/stock-movement-wizard/inbound/AddItemsPage.jsx
  src/js/components/stock-movement-wizard/outbound/AddItemsPage.jsx
  src/js/components/stock-movement-wizard/request/AddItemsPage.jsx
  src/js/utils/Select.jsx
  src/js/utils/option-utils.jsx
Labels: needs discussion

#3763 OBPIH-5161 Set locale for every request
  grails-app/conf/InitializationFilters.groovy
  grails-app/i18n/messages.properties
  grails-app/taglib/org/pih/warehouse/MessageTagLib.groovy
Labels: blocker, awaiting feedback

#3771 OBPIH-5303 Fix double fetch on list pages after changing the location
  src/js/actions/index.js
  src/js/actions/types.js
  src/js/components/Filter/FilterForm.jsx
  src/js/hooks/list-pages/inbound/useInboundFilters.jsx
  src/js/hooks/list-pages/invoice/useInvoiceFilters.jsx
  src/js/hooks/list-pages/outbound/useOutboundFilters.jsx
  src/js/hooks/list-pages/product/useProductFilters.jsx
  src/js/hooks/list-pages/purchase-order/usePurchaseOrderFilters.jsx
  src/js/hooks/list-pages/purchase-order/usePurchaseOrderFiltersCleaner.js
  src/js/hooks/list-pages/stock-list/useStockListFilters.jsx
  src/js/hooks/list-pages/stock-transfer/useStockTransferFilters.jsx
  src/js/hooks/list-pages/useCommonFiltersCleaner.js
  src/js/reducers/filterFormReducer.jsx
  src/js/reducers/index.jsx
Labels: blocker
