Repository openboxes/openboxes, pull requests merged in 2023-03, with the labels that each got.

#3864 OBGM-396 Unable to create PO
  grails-app/controllers/org/pih/warehouse/order/PurchaseOrderController.groovy
  grails-app/domain/org/pih/warehouse/order/Order.groovy
  grails-app/views/purchaseOrder/_showOrderItems.gsp
Labels: tech-huddle

#3866 OBPIH-5455 Add filter for GL account
  grails-app/conf/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/api/ProductApiController.groovy
  grails-app/controllers/org/pih/warehouse/api/SelectOptionsApiController.groovy
  grails-app/controllers/org/pih/warehouse/core/GlAccountController.groovy
  grails-app/i18n/messages.properties
  grails-app/services/org/pih/warehouse/api/GenericApiService.groovy
  grails-app/services/org/pih/warehouse/product/ProductService.groovy
  src/js/api/services/GlAccountApi.js
  src/js/api/urls.js
  src/js/components/products/FilterFields.jsx
  src/js/components/products/ProductsList.jsx
  src/js/hooks/list-pages/product/useProductFilters.jsx
  src/js/hooks/list-pages/product/useProductsListTableData.jsx
  src/js/utils/option-utils.jsx
  test/unit/org/pih/warehouse/api/ProductApiControllerTests.groovy
Labels: tech-huddle

#3862 OBGM-397 error message when opening add items to po sm dialog
  grails-app/controllers/org/pih/warehouse/api/CombinedShipmentItemApiController.groovy
  grails-app/migrations/0.9.x/changelog-2023-02-21-1340-alter-table-order-change-date-ordered-column-type.xml
  grails-app/migrations/0.9.x/changelog.xml
  openboxes.dbml
Labels: needs discussion, tech-huddle

#3880 OBPIH-5481 Refactor product API to handle localized product names
  grails-app/conf/BootStrap.groovy
  grails-app/domain/org/pih/warehouse/product/Product.groovy
  grails-app/utils/org/pih/warehouse/util/LocalizationUtil.groovy
  test/unit/org/pih/warehouse/core/SynonymTests.groovy
Labels: tech-huddle

#3924 OBPIH-5466 Cannot move stock to hold bin
  grails-app/controllers/org/pih/warehouse/api/InternalLocationApiController.groovy
  grails-app/services/org/pih/warehouse/core/LocationService.groovy
  src/js/components/locations-configuration/BinTable.jsx
  src/js/components/put-away/PutAwaySecondPage.jsx
  src/js/components/receiving/ReceivingPage.jsx
  src/js/components/returns/outbound/AddItemsPage.jsx
  src/js/components/stock-transfer/StockTransferSecondPage.jsx
Labels: hotfix, needs discussion
