Repository openboxes/openboxes, pull requests merged in 2024-12, with the labels that each got.

#4969 OBPIH-6865 Nav bar tooltips are not translated to Spanish language on react pages
  grails-app/i18n/messages.properties
  src/js/components/Layout/NavbarIcons.jsx
Labels: domain: frontend, domain: l10n

#4970 OBPIH-6859 Handle unexpected errors in full outbound import
  src/js/hooks/outboundImport/useOutboundImportForm.js
Labels: domain: frontend

#4966 OBPIH-6861 Items not loaded after import in PO shipment
  src/js/components/stock-movement-wizard/combined-shipments/AddItemsPage.jsx
Labels: domain: frontend

#4967 OBPIH-6864 Fix assign identifier job
  grails-app/jobs/org/pih/warehouse/jobs/AssignIdentifierJob.groovy
  grails-app/services/org/pih/warehouse/core/LocationIdentifierService.groovy
  grails-app/services/org/pih/warehouse/data/ProductSupplierIdentifierService.groovy
  grails-app/services/org/pih/warehouse/inventory/TransactionIdentifierService.groovy
  grails-app/services/org/pih/warehouse/invoice/InvoiceIdentifierService.groovy
  grails-app/services/org/pih/warehouse/order/OrderIdentifierService.groovy
  grails-app/services/org/pih/warehouse/order/PurchaseOrderIdentifierService.groovy
  grails-app/services/org/pih/warehouse/product/ProductIdentifierService.groovy
  grails-app/services/org/pih/warehouse/receiving/ReceiptIdentifierService.groovy
  grails-app/services/org/pih/warehouse/requisition/RequisitionIdentifierService.groovy
  grails-app/services/org/pih/warehouse/shipping/ShipmentIdentifierService.groovy
  src/main/groovy/org/pih/warehouse/core/identification/BlankIdentifierResolver.groovy
Labels: type: bug, domain: backend

#4973 OBPIH-6867 Add comments tab for PO shipments
  grails-app/controllers/org/pih/warehouse/inventory/StockMovementController.groovy
  grails-app/domain/org/pih/warehouse/inventory/OutboundStockMovement.groovy
  grails-app/services/org/pih/warehouse/inventory/StockMovementService.groovy
  grails-app/views/stockMovement/_comments.gsp
  grails-app/views/stockMovement/addComment.gsp
  grails-app/views/stockMovement/show.gsp
Labels: domain: frontend, domain: backend

#4974 OBPIH-6472 Reintroduce shipment events tab in stock movement UI (fixes after QA)
  grails-app/controllers/org/pih/warehouse/inventory/StockMovementController.groovy
  grails-app/domain/org/pih/warehouse/core/Event.groovy
  grails-app/domain/org/pih/warehouse/core/EventType.groovy
  grails-app/domain/org/pih/warehouse/core/EventTypeDto.groovy
  grails-app/domain/org/pih/warehouse/receiving/Receipt.groovy
  grails-app/domain/org/pih/warehouse/shipping/Shipment.groovy
  grails-app/views/stockMovement/_events.gsp
  src/main/groovy/org/pih/warehouse/core/Constants.groovy
  src/main/groovy/org/pih/warehouse/core/HistoryItem.groovy
  src/main/groovy/util/StringUtil.groovy
Labels: domain: frontend, domain: backend

#4977 OBPIH-6878 Unable to restore available draft when stocklist used in outbound with autosave
  src/js/components/stock-movement-wizard/outbound/AddItemsPage.jsx
Labels: domain: frontend

#4972 OBPIH-6837 TD: Install second react table package
  package-lock.json
  package.json
Labels: flag: config change

#4971 OBPIH-6825 Prioritize active persons when fetching by name or email
  grails-app/services/org/pih/warehouse/data/PersonService.groovy
  grails-app/services/org/pih/warehouse/order/OrderService.groovy
  grails-app/services/org/pih/warehouse/shipping/CombinedShipmentService.groovy
  grails-app/services/org/pih/warehouse/shipping/ShipmentService.groovy
  src/test/groovy/unit/org/pih/warehouse/person/PersonServiceSpec.groovy
Labels: type: bug, domain: backend

#4980 WMS-3 Add ShipmentApiController
  grails-app/controllers/org/pih/warehouse/shipping/ShipmentApiController.groovy
  grails-app/services/org/pih/warehouse/shipping/ShipmentService.groovy
  src/test/groovy/unit/org/pih/warehouse/api/ShipmentApiControllerTests.groovy
Labels: type: feature, domain: backend

#4984 OBPIH-6190 Fix ESLint errors (Fixes after QA)
  src/js/components/dashboard/Filter.jsx
  src/js/components/stock-movement-wizard/outbound/PackingPage.jsx
  src/js/components/stock-transfer/StockTransferSecondPage.jsx
Labels: domain: frontend

#4982 OBPIH-6845 Create table component all products tab
  grails-app/i18n/messages.properties
  src/js/components/DataTable/DataTable.scss
  src/js/components/DataTable/TableHeaderCell.jsx
  src/js/components/DataTable/TablePagination.jsx
  src/js/components/DataTable/v2/DataTable.jsx
  src/js/components/DataTable/v2/DataTableBody.jsx
  src/js/components/DataTable/v2/DataTableFooter.jsx
  src/js/components/DataTable/v2/DataTableHeader.jsx
  src/js/components/DataTable/v2/DataTableStatus.jsx
  src/js/components/cycleCount/CycleCount.jsx
  src/js/components/cycleCount/CycleCountAllProducts.jsx
  src/js/components/cycleCount/allProductsTab/AllProductsTabFooter.jsx
  src/js/components/cycleCount/allProductsTab/CycleCountAllProducts.jsx
  src/js/components/cycleCount/cycleCount.scss
  src/js/components/listPagesUtils/Tabs.jsx
  src/js/consts/cycleCountMockedData.js
  src/js/hooks/cycleCount/useAllProductsTab.jsx
  src/js/hooks/list-pages/useTableData.jsx
  src/js/hooks/useDataTable.js
Labels: domain: frontend, domain: l10n

#4981 OBPIH-6870 Add endpoint to fetch cycle count candidates
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/domain/org/pih/warehouse/inventory/CycleCountCandidate.groovy
  grails-app/init/org/pih/warehouse/BootStrap.groovy
  grails-app/migrations/views/changelog.xml
  grails-app/migrations/views/cycle-count-session.sql
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountCandidateFilterCommand.groovy
Labels: domain: backend, flag: schema change, flag: config change

#4986 WMS-15 use toJson method on Shipment, add attributes used by mobile
  grails-app/domain/org/pih/warehouse/shipping/Shipment.groovy
  grails-app/init/org/pih/warehouse/BootStrap.groovy
  grails-app/services/org/pih/warehouse/receiving/ReceiptService.groovy
  src/main/groovy/org/pih/warehouse/api/PartialReceiptItem.groovy
Labels: type: feature, domain: backend, flag: config change
