Repository openboxes/openboxes, pull requests merged in 2024-10, with the labels that each got.

#4866 OBPIH-6747 support empty lot number in import that matches inventory item defined as null
  grails-app/services/org/pih/warehouse/fulfillment/FulfillmentService.groovy
  grails-app/services/org/pih/warehouse/inventory/ProductAvailabilityService.groovy
  src/main/groovy/org/pih/warehouse/outbound/ImportPackingListItem.groovy
  src/test/groovy/unit/org/pih/warehouse/fulfillment/InferringOutboundImportValuesSpec.groovy
Labels: type: feature, status: ready for review, domain: backend

#4868 OBPIH-6274 Make default source package and package size required in p…
  grails-app/services/org/pih/warehouse/importer/ProductSupplierImportDataService.groovy
Labels: domain: backend

#4870 OBPIH-6734 Make the Next button not move after uploading a file in fu…
  src/js/components/form-elements/v2/FileSelect.jsx
Labels: domain: frontend

#4873 OBPIH-6274 Fix non-existing unit of measure in the load demo data file
  grails-app/conf/templates/configuration/productSuppliers.csv
Labels: flag: config change

#4871 OBPIH-6693 fix adjustment invoice statuses
  grails-app/domain/org/pih/warehouse/order/OrderAdjustment.groovy
  src/test/groovy/unit/org/pih/warehouse/order/OrderAdjustmentSpec.groovy
Labels: type: feature, domain: backend

#4874 OBPIH-6691 Add partially invoiced order summary status for order adjustments
  grails-app/migrations/views/order-summary-helper-views.sql
Labels: flag: schema change

#4878 OBPIH-6745 Two decimal places for unit price column on PO Invoice tab
  grails-app/views/order/_orderInvoices.gsp
Labels: domain: frontend

#4876 OBPIH-6668 Responsiveness in very long shipments with split line appears and disappears
  src/js/components/stock-movement-wizard/combined-shipments/AddItemsPage.jsx
Labels: domain: frontend

#4872 OBPIH-6271 Add an ability to delete existing default preference type …
  grails-app/services/org/pih/warehouse/data/ProductSupplierService.groovy
  src/main/groovy/org/pih/warehouse/core/Constants.groovy
Labels: domain: backend

#4882 OBPIH-6271 Fix deleting a default preference type in product source i…
  grails-app/services/org/pih/warehouse/data/ProductSupplierService.groovy
Labels: domain: backend

#4880 OBPIH-6746 Value in amount column of PO Invoice tab for regular POs
  grails-app/domain/org/pih/warehouse/invoice/Invoice.groovy
  grails-app/domain/org/pih/warehouse/invoice/InvoiceItem.groovy
  grails-app/migrations/0.9.x/changelog-2024-10-04-1610-assign-amount-to-invoice-items.xml
  grails-app/migrations/0.9.x/changelog.xml
  grails-app/services/org/pih/warehouse/invoice/InvoiceService.groovy
  grails-app/views/invoice/_invoiceItems.gsp
  src/js/components/invoice/create/AddItemsPage.jsx
  src/js/components/invoice/create/InvoiceItemsTable.jsx
Labels: domain: frontend, domain: backend, flag: schema change

#4879 OBPIH-6692 modify order adjustments query on amount outstanding on orders report
  grails-app/migrations/views/drop-all-views.xml
  grails-app/migrations/views/order-summary-helper-views.sql
  grails-app/services/org/pih/warehouse/report/ReportService.groovy
Labels: type: feature, domain: backend, flag: schema change

#4884 OBPIH-6691 Add partially invoiced order summary status for order adjustments
  grails-app/migrations/views/order-summary-helper-views.sql
Labels: flag: schema change

#4881 OBPIH-6275 Export boolean values as true/false booleans, instead of a…
  grails-app/services/org/pih/warehouse/core/DocumentService.groovy
  grails-app/services/org/pih/warehouse/data/DataService.groovy
Labels: domain: backend

#4883 OBPIH-6631 Add a bit more comments in product merge service
  grails-app/services/org/pih/warehouse/product/ProductMergeService.groovy
Labels: domain: backend

#4887 OBPIH-6682 Add accessibility attributes on table row component
  src/js/components/form-elements/TableRow.jsx
Labels: domain: frontend

#4888 OBPIH-6227 Add product UoM in add items to PO
  grails-app/controllers/org/pih/warehouse/JsonController.groovy
Labels: domain: backend

#4890 OBPIH-6228 Add product UoM in add items to request
  grails-app/services/org/pih/warehouse/product/ProductService.groovy
  src/js/components/product-select/ProductSelect.jsx
  src/js/components/stock-movement-wizard/request/AddItemsPage.jsx
  src/js/utils/option-utils.jsx
  src/main/groovy/org/pih/warehouse/product/ProductSearchDto.groovy
Labels: domain: frontend, domain: backend

#4892 OBPHI-6759 Rollback of invoice doesn't reverse order status
  grails-app/migrations/views/order-summary-helper-views.sql
Labels: flag: schema change

#4893 OBPIH-6692 handle negative invoiced amount numbers and invoiced amount not equal to total adjustment amount
  grails-app/services/org/pih/warehouse/report/ReportService.groovy
Labels: type: feature, domain: backend

#4889 OBPIH-6226 Add PO UoM in the PO receipt workflow
  grails-app/controllers/org/pih/warehouse/api/PartialReceivingApiController.groovy
  grails-app/domain/org/pih/warehouse/shipping/ShipmentItem.groovy
  grails-app/i18n/messages.properties
  src/js/components/form-elements/FieldArrayComponent.jsx
  src/js/components/receiving/PartialReceivingPage.jsx
  src/main/groovy/org/pih/warehouse/api/PartialReceipt.groovy
  src/main/groovy/org/pih/warehouse/api/PartialReceiptItem.groovy
Labels: domain: frontend, domain: backend, domain: l10n

#4894 OBPIH-6757 Align source product package specifications created via im…
  grails-app/controllers/org/pih/warehouse/product/ProductSupplierController.groovy
  grails-app/services/org/pih/warehouse/data/ProductSupplierService.groovy
Labels: domain: backend

#4896 OBPIH-6224 redirect to new product source list form from the stockcard
  grails-app/conf/runtime.groovy
  grails-app/views/product/_productSuppliers.gsp
  src/js/consts/applicationUrls.js
  src/js/hooks/productSupplier/form/useProductSupplierForm.js
Labels: type: feature, domain: frontend, flag: config change

#4895 OBPIH-6758 Bad request error when click twice on post and submit buttons for invoice
  src/js/hooks/invoice/useInvoicePrepaidItemsTable.jsx
Labels: domain: frontend

#4897 OBPIH-6623 Quantity receiving now should be cleared after using modal to edit receipt
  src/js/components/receiving/PartialReceivingPage.jsx
Labels: domain: frontend

#4891 OBPIH-6225 Add PO UoM in the PO shipment workflow
  grails-app/i18n/messages.properties
  src/js/components/stock-movement-wizard/combined-shipments/AddItemsPage.jsx
  src/js/components/stock-movement-wizard/combined-shipments/SendMovementPage.jsx
  src/main/groovy/org/pih/warehouse/api/StockMovementItem.groovy
Labels: type: feature, domain: frontend, domain: backend, domain: l10n

#4899 OBPIH-6226 Add PO UoM in the PO receipt workflow
  grails-app/i18n/messages.properties
  src/js/components/form-elements/FieldArrayComponent.jsx
  src/js/components/receiving/PartialReceivingPage.jsx
  src/main/groovy/org/pih/warehouse/api/PartialReceiptItem.groovy
Labels: domain: frontend, domain: backend, domain: l10n

#4900 OBPIH-6267 Do not select edited lines to receive automatically in par…
  src/js/components/receiving/PartialReceivingPage.jsx
Labels: domain: frontend

#4903 OBPIH-6781 prevent refreshing and deleting prepayment invoices that already have final invoices associated
  grails-app/controllers/org/pih/warehouse/invoice/InvoiceController.groovy
  grails-app/domain/org/pih/warehouse/invoice/Invoice.groovy
  grails-app/i18n/messages.properties
  grails-app/services/org/pih/warehouse/invoice/InvoiceService.groovy
  grails-app/views/invoice/_summary.gsp
  grails-app/views/invoice/show.gsp
Labels: type: feature, domain: frontend, domain: backend, domain: l10n

#4902 OBPIH-6226 Add PO UoM in the PO receipt workflow (fix after qa)
  src/main/groovy/org/pih/warehouse/api/PartialReceiptItem.groovy
Labels: domain: backend

#4901 OBPIH-6369 Receiving : Receipt not complete after using "Edit" to change item
  grails-app/services/org/pih/warehouse/receiving/ReceiptService.groovy
  src/test/groovy/unit/org/pih/warehouse/receiving/ReceiptServiceSpec.groovy
Labels: domain: backend

#4907 OBPIH-6226 Add PO UoM in the PO receipt workflow
  src/main/groovy/org/pih/warehouse/api/PartialReceiptItem.groovy
Labels: domain: backend

#4906 OBPIH-6706 Receiving Qty shifted down after split line
  src/js/components/receiving/PartialReceivingPage.jsx
Labels: domain: frontend

#4905 OBPIH-6224 Fix permission issue on product supplier controller actions
  grails-app/conf/runtime.groovy
  grails-app/controllers/org/pih/warehouse/RoleInterceptor.groovy
  grails-app/services/org/pih/warehouse/core/UserService.groovy
  grails-app/taglib/org/pih/warehouse/AuthTagLib.groovy
  grails-app/views/product/_productSuppliers.gsp
Labels: type: feature, domain: frontend, domain: backend, flag: config change

#4904 OBPIH-6757 Fix a bug related to 1:1 association between product suppl…
  grails-app/services/org/pih/warehouse/data/ProductSupplierService.groovy
Labels: domain: backend

#4908 OBPIH-6225 Add bigger fixed width for table columns
  src/js/components/stock-movement-wizard/combined-shipments/AddItemsPage.jsx
Labels: type: feature, domain: frontend

#4909 OBPIH-6225 Include UoM when splitting the line
  src/js/components/stock-movement-wizard/combined-shipments/AddItemsPage.jsx
Labels: type: feature, domain: frontend

#4914 OBPIH-6473 Re-introduce comments tab in the Stock movement UI
  grails-app/views/stockMovement/show.gsp
Labels: domain: frontend

#4916 OBPIH-6707 Indicator when quantities in split line do not sum up to o…
  grails-app/i18n/messages.properties
  src/css/main.scss
  src/js/components/receiving/PartialReceivingPage.jsx
  src/js/components/receiving/modals/EditLineModal.jsx
Labels: domain: frontend, domain: l10n

#4917 OBPIH-6775 Add information bar about import workflow on normal outbound workflow
  grails-app/i18n/messages.properties
  src/css/main.scss
  src/js/actions/index.js
  src/js/components/form-elements/FieldArrayComponent.jsx
  src/js/components/infoBar/InfoBar.jsx
  src/js/components/infoBar/InfoBarRedirect.jsx
  src/js/components/infoBar/modals/autosave/AutosaveFeatureModal.jsx
  src/js/components/infoBar/modals/autosave/AutosaveFeatureModal.scss
  src/js/components/infoBar/modals/autosave/AutosaveFeatureModalContent.jsx
  src/js/components/infoBar/modals/autosave/AutosaveFeatureModalFooter.jsx
  src/js/components/infoBar/modals/autosave/AutosaveFeatureModalHeader.jsx
  src/js/components/infoBar/modals/autosave/AutosaveFeatureModalStatusParagraph.jsx
  src/js/components/stock-movement-wizard/outbound/AddItemsPage.jsx
  src/js/components/stock-movement-wizard/outbound/CreateStockMovement.jsx
  src/js/consts/applicationUrls.js
  src/js/consts/infoBar.js
  src/js/utils/featureBarUtils.jsx
Labels: domain: frontend, domain: l10n

#4920 OBPIH-6698 Include label and defaultMessage in base field componnt when props are passed as dynamic attributes
  src/js/components/form-elements/BaseField.jsx
Labels: type: feature, domain: frontend

#4919 OBPIH-6099 fill multiple lines in shipments with the same recipient
  src/js/components/returns/inbound/AddItemsPage.jsx
  src/js/components/stock-movement-wizard/combined-shipments/AddItemsPage.jsx
  src/js/components/stock-movement-wizard/inbound/AddItemsPage.jsx
  src/js/components/stock-movement-wizard/outbound/AddItemsPage.jsx
  src/js/utils/form-utils.jsx
Labels: domain: frontend
