Repository openboxes/openboxes, pull requests merged in 2024-08, with the labels that each got.

#4774 OBPIH-6498 Show confirmation dialog when trying to generate a partial invoice
  grails-app/domain/org/pih/warehouse/order/Order.groovy
  grails-app/i18n/messages.properties
  grails-app/views/order/_summary.gsp
  src/test/groovy/unit/org/pih/warehouse/order/OrderSpec.groovy
Labels: domain: frontend, domain: backend, domain: l10n

#4773 OBPIH-6448 Added accessibility attributes on inbound list components
  src/js/components/DataTable/DataTable.jsx
  src/js/components/DataTable/TableRow.jsx
  src/js/components/Filter/FilterForm.jsx
  src/js/components/form-elements/DateFilter/DateFilter.jsx
  src/js/components/form-elements/FilterSelectField.jsx
  src/js/components/receiving/PartialReceivingPage.jsx
  src/js/components/receiving/ReceivingCheckScreen.jsx
  src/js/components/stock-movement/inbound/FilterFields.jsx
  src/js/utils/form-utils.jsx
Labels: domain: frontend

#4776 OBPIH-6536 [backend] Create partial invoice for prepay PO
  grails-app/controllers/org/pih/warehouse/invoice/InvoiceController.groovy
  grails-app/domain/org/pih/warehouse/order/Order.groovy
  grails-app/domain/org/pih/warehouse/order/OrderItem.groovy
  grails-app/domain/org/pih/warehouse/shipping/ShipmentItem.groovy
  grails-app/services/org/pih/warehouse/invoice/InvoiceService.groovy
  grails-app/services/org/pih/warehouse/invoice/PrepaymentInvoiceService.groovy
  src/test/groovy/unit/org/pih/warehouse/invoice/InvoiceServiceSpec.groovy
  src/test/groovy/unit/org/pih/warehouse/invoice/PrepaymentInvoiceServiceSpec.groovy
Labels: domain: backend

#4778 OBPIH-6497 [backend] Determine encumbered and invoiceable items or adjustments (fix after QA)
  grails-app/controllers/org/pih/warehouse/api/PurchaseOrderApiController.groovy
  grails-app/domain/org/pih/warehouse/order/OrderAdjustment.groovy
  grails-app/domain/org/pih/warehouse/order/OrderItem.groovy
  src/test/groovy/unit/org/pih/warehouse/order/OrderAdjustmentSpec.groovy
  src/test/groovy/unit/org/pih/warehouse/order/OrderItemSpec.groovy
  src/test/groovy/unit/org/pih/warehouse/order/OrderSpec.groovy
Labels: domain: backend

#4781 OBPIH-6497 Fix comparing invoice quantities in UoM and in standard Uom
  grails-app/controllers/org/pih/warehouse/api/PurchaseOrderApiController.groovy
  grails-app/domain/org/pih/warehouse/order/Order.groovy
  grails-app/domain/org/pih/warehouse/order/OrderAdjustment.groovy
  grails-app/domain/org/pih/warehouse/order/OrderItem.groovy
  grails-app/domain/org/pih/warehouse/shipping/ShipmentItem.groovy
  grails-app/services/org/pih/warehouse/invoice/InvoiceService.groovy
  src/js/components/invoice/ConfirmInvoicePage.jsx
  src/test/groovy/unit/org/pih/warehouse/order/OrderSpec.groovy
Labels: domain: frontend, domain: backend

#4782 [OBPIH-6613] Fix localization on reasonCode label during pick
  src/js/components/stock-movement-wizard/modals/EditPickModal.jsx
Labels: type: bug, domain: frontend

#4775 OBPIH-6527 Full outbound import - validation & save endpoints
  grails-app/conf/runtime.groovy
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/api/FulfillmentApiController.groovy
  grails-app/controllers/org/pih/warehouse/outbound/PackingListController.groovy
  grails-app/domain/org/pih/warehouse/core/Person.groovy
  grails-app/i18n/messages.properties
  grails-app/services/org/pih/warehouse/fulfillment/FulfillmentService.groovy
  grails-app/services/org/pih/warehouse/inventory/ProductAvailabilityService.groovy
  grails-app/utils/org/pih/warehouse/CommandUtils.groovy
  src/js/hooks/outboundImport/useOutboundImportForm.js
  src/main/groovy/org/pih/warehouse/core/Constants.groovy
  src/main/groovy/org/pih/warehouse/importer/PackingListExcelImporter.groovy
  src/main/groovy/org/pih/warehouse/outbound/FulfillmentRequest.groovy
  src/main/groovy/org/pih/warehouse/outbound/ImportPackingListCommand.groovy
  src/main/groovy/org/pih/warehouse/outbound/ImportPackingListErrors.groovy
  src/main/groovy/org/pih/warehouse/outbound/ImportPackingListItem.groovy
  src/main/groovy/org/pih/warehouse/outbound/ShippingRequest.groovy
  src/main/groovy/org/pih/warehouse/requisition/RequisitionType.groovy
  src/main/groovy/util/StringUtil.groovy
Labels: domain: frontend, domain: backend, flag: schema change, domain: l10n

#4783 OBPIH-6397 Full outbound import - integration of frontend and backend
  grails-app/controllers/org/pih/warehouse/api/FulfillmentApiController.groovy
  src/css/colors.scss
  src/css/main.scss
  src/js/api/services/FulfillmentApi.js
  src/js/api/services/PackingListApi.js
  src/js/api/urls.js
  src/js/components/DataTable/DataTable.jsx
  src/js/components/DataTable/TableCell.jsx
  src/js/components/stock-movement-wizard/outboundImport/OutboundImport.jsx
  src/js/components/stock-movement-wizard/outboundImport/sections/OutboundImportConfirm.jsx
  src/js/components/stock-movement-wizard/outboundImport/subsections/OutboundImportItems.jsx
  src/js/hooks/outboundImport/useOutboundImportForm.js
  src/main/groovy/org/pih/warehouse/outbound/ImportPackingListItem.groovy
Labels: domain: frontend, domain: backend

#4787 OBPIH-6397 Full outbound import - fix QA issues
  grails-app/controllers/org/pih/warehouse/api/FulfillmentApiController.groovy
  grails-app/i18n/messages.properties
  grails-app/services/org/pih/warehouse/fulfillment/FulfillmentService.groovy
  src/js/api/services/FulfillmentApi.js
  src/js/components/stock-movement-wizard/outboundImport/subsections/OutboundImportItems.jsx
  src/js/consts/timeFormat.js
  src/js/hooks/outboundImport/useOutboundImportForm.js
  src/main/groovy/org/pih/warehouse/outbound/ImportPackingListCommand.groovy
  src/main/groovy/org/pih/warehouse/outbound/ImportPackingListItem.groovy
  src/main/groovy/org/pih/warehouse/outbound/ShippingRequest.groovy
Labels: domain: frontend, domain: backend, domain: l10n

#4779 OBPIH-6499 [backend] Calculate inverse items
  grails-app/controllers/org/pih/warehouse/api/InvoiceApiController.groovy
  grails-app/domain/org/pih/warehouse/invoice/Invoice.groovy
  grails-app/domain/org/pih/warehouse/invoice/InvoiceItem.groovy
  grails-app/domain/org/pih/warehouse/order/OrderItem.groovy
  grails-app/domain/org/pih/warehouse/shipping/ShipmentItem.groovy
  grails-app/migrations/0.9.x/changelog-2024-08-19-1100-add-inverse-to-invoice-item.xml
  grails-app/migrations/0.9.x/changelog.xml
  grails-app/services/org/pih/warehouse/invoice/InvoiceService.groovy
  grails-app/services/org/pih/warehouse/invoice/PrepaymentInvoiceService.groovy
  grails-app/views/order/_orderInvoices.gsp
  src/js/components/invoice/ConfirmInvoicePage.jsx
  src/main/groovy/org/pih/warehouse/core/Constants.groovy
  src/test/groovy/unit/org/pih/warehouse/invoice/InvoiceServiceSpec.groovy
  src/test/groovy/unit/org/pih/warehouse/invoice/PrepaymentInvoiceServiceSpec.groovy
Labels: domain: frontend, domain: backend, flag: schema change

#4785 OBPIH-6610 Exclude inverse items from order summary view
  grails-app/migrations/views/order-summary-helper-views.sql
Labels: flag: schema change

#4791 [OBPIH-6626] [Bug-Fix] Prevent multiple full outbound imports from happening
  src/js/hooks/outboundImport/useOutboundImportForm.js
  src/js/hooks/useSpinner.js
Labels: domain: frontend

#4793 [OBPIH-6624] Default value on DateCell Component
  src/js/components/DataTable/DateCell.jsx
  src/js/components/stock-movement-wizard/outboundImport/subsections/OutboundImportItems.jsx
Labels: type: feature, domain: frontend

#4792 [OBPIH-6611] filter inverse prepayment line items from amount outstanding report
  grails-app/services/org/pih/warehouse/report/ReportService.groovy
Labels: type: feature, domain: backend

#4794 [OBPIH-6624] Trigger ShipmentStatusTransitionEvent event when sending a shipment on full outbound import
  grails-app/services/org/pih/warehouse/fulfillment/FulfillmentService.groovy
Labels: type: feature, domain: backend

#4795 OBPIH-6499 Do not create inverse items for order item and adjustment …
  grails-app/services/org/pih/warehouse/invoice/PrepaymentInvoiceService.groovy
Labels: domain: backend

#4788 OBPIH-6501 Add endpoint to remove invoice item
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/api/PrepaymentInvoiceItemApiController.groovy
  grails-app/services/org/pih/warehouse/invoice/PrepaymentInvoiceService.groovy
Labels: status: work in progress, status: ready for review, domain: backend

#4789 OBPIH-6500 [frontend] Modifications to the invoice confirmation page
  grails-app/domain/org/pih/warehouse/invoice/InvoiceItem.groovy
  grails-app/services/org/pih/warehouse/invoice/InvoiceService.groovy
  src/css/main.scss
  src/js/api/services/InvoiceApi.js
  src/js/api/urls.js
  src/js/components/Router.jsx
  src/js/components/invoice/ConfirmInvoicePage.jsx
  src/js/components/invoice/create/AddItemsPage.jsx
  src/js/components/invoice/create/ConfirmInvoicePage.jsx
  src/js/components/invoice/create/CreateInvoicePage.jsx
  src/js/components/invoice/create/InvoiceItemsModal.jsx
  src/js/components/invoice/create/InvoiceItemsTable.jsx
  src/js/components/invoice/create/InvoiceOptionsForm.jsx
  src/js/components/invoice/create/InvoicePrepayedItemsTable.jsx
  src/js/components/invoice/create/InvoiceWizard.jsx
  src/js/components/invoice/list/FilterFields.jsx
  src/js/components/invoice/list/InvoiceList.jsx
  src/js/components/invoice/list/InvoiceListFilters.jsx
  src/js/components/invoice/list/InvoiceListHeader.jsx
  src/js/components/invoice/list/InvoiceListTable.jsx
  src/js/components/invoice/list/InvoiceStatus.jsx
  src/js/hooks/list-pages/invoice/useInvoiceFilters.jsx
  src/js/hooks/useSpinner.js
  src/js/tests/menu/Wizard.test.jsx
Labels: domain: frontend, domain: backend

#4797 OBPIH-6499 Do not create inverse if no quantity to inverse
  grails-app/services/org/pih/warehouse/invoice/PrepaymentInvoiceService.groovy
Labels: domain: backend

#4801 OBPIH-6500 [frontend] Modifications to the invoice confirmation page (fixes after QA)
  src/css/main.scss
  src/js/components/invoice/create/ConfirmInvoicePage.jsx
  src/js/components/invoice/create/InvoicePrepayedItemsTable.jsx
Labels: domain: frontend

#4790 OBPIH-6531 [frontend] Ability to remove invoice item
  grails-app/i18n/messages.properties
  src/js/api/services/PrepaymentInvoiceItemApi.js
  src/js/api/urls.js
  src/js/components/invoice/create/ConfirmInvoicePage.jsx
  src/js/components/invoice/create/InvoicePrepayedItemsTable.jsx
  src/js/hooks/invoice/useInvoicePrepaidItemsTable.jsx
  src/js/tests/utils/__snapshots__/ActionDots.test.jsx.snap
  src/js/utils/ActionDots.jsx
Labels: domain: frontend, domain: l10n

#4799 OBPIH-6619 Add tooltips for Lot#s visible in Pick Page of Outbound Shipments
  src/js/components/stock-movement-wizard/modals/EditPickModal.jsx
  src/js/components/stock-movement-wizard/outbound/PickPage.jsx
Labels: domain: frontend

#4803 OBPIH-6500 [frontend] Modifications to the invoice confirmation page (fix after QA)
  grails-app/services/org/pih/warehouse/invoice/InvoiceService.groovy
Labels: domain: backend

#4798 OBPIH-6532 [frontend] Ability to edit invoice item
  grails-app/domain/org/pih/warehouse/invoice/Invoice.groovy
  grails-app/domain/org/pih/warehouse/invoice/InvoiceItem.groovy
  src/js/api/services/PrepaymentInvoiceApi.js
  src/js/api/services/PrepaymentInvoiceItemApi.js
  src/js/api/urls.js
  src/js/components/form-elements/v2/TextInput.jsx
  src/js/components/invoice/Invoice.scss
  src/js/components/invoice/create/ConfirmInvoicePage.jsx
  src/js/components/invoice/create/InvoiceOptionsForm.jsx
  src/js/components/invoice/create/InvoicePrepayedItemsTable.jsx
  src/js/consts/invoiceStatus.js
  src/js/hooks/invoice/useInvoicePrepaidItemsTable.jsx
Labels: status: ready for review, domain: frontend, domain: backend, domain: l10n

#4802 [OBPIH-6627] keep progress when reload on confirm page of full outbound import
  src/js/api/services/PackingListApi.js
  src/js/components/stock-movement-wizard/outboundImport/OutboundImport.jsx
  src/js/components/stock-movement-wizard/outboundImport/subsections/OutboundImportBasicDetails.jsx
  src/js/consts/OutboundImportStep.js
  src/js/hooks/outboundImport/useOutboundImportForm.js
  src/js/hooks/outboundImport/useOutboundImportValidation.js
  src/js/hooks/useSessionStorage.js
  src/js/hooks/useWizard.js
  src/js/tests/hooks/useWizard.test.jsx
Labels: type: bug, domain: frontend

#4804 OBPIH-6621 small improvements to confirm page of full outbound import
  src/css/main.scss
  src/js/components/DataTable/DataTable.jsx
  src/js/components/DataTable/TableCell.jsx
  src/js/components/DataTable/TableHeaderCell.jsx
  src/js/components/form-elements/v2/FileSelect.jsx
  src/js/components/productSupplier/create/InvalidItemsIndicator.jsx
  src/js/components/productSupplier/create/subsections/PreferenceTypeVariations.jsx
  src/js/components/stock-movement-wizard/outboundImport/OutboundImport.jsx
  src/js/components/stock-movement-wizard/outboundImport/OutboundImportHeader.jsx
  src/js/components/stock-movement-wizard/outboundImport/subsections/OutboundImportDropzone.jsx
  src/js/components/stock-movement-wizard/outboundImport/subsections/OutboundImportItems.jsx
  src/js/hooks/useResetScrollbar.js
  src/js/hooks/useWizard.js
  src/main/groovy/org/pih/warehouse/outbound/ImportPackingListItem.groovy
Labels: type: feature, domain: frontend, domain: backend

#4806 OBPIH-6627 Clear uploaded file when trying to redo import and set cached dateShipped value on refresh
  src/js/components/stock-movement-wizard/outboundImport/OutboundImport.jsx
  src/js/hooks/outboundImport/useOutboundImportForm.js
Labels: type: feature, domain: frontend

#4807 OBPIH-6633 Prevent Browser users from creating full outbound via import
  grails-app/controllers/org/pih/warehouse/RoleInterceptor.groovy
Labels: domain: backend

#4805 OBPIH-6532 [frontend] Ability to edit invoice item (fixes after QA)
  grails-app/domain/org/pih/warehouse/invoice/InvoiceItem.groovy
  package-lock.json
  package.json
  src/js/components/invoice/create/ConfirmInvoicePage.jsx
  src/js/components/invoice/create/InvoicePrepayedItemsTable.jsx
  src/js/components/invoice/list/InvoiceListTable.jsx
  src/js/components/productSupplier/ProductSupplierListTable.jsx
  src/js/components/purchaseOrder/PurchaseOrderListTable.jsx
  src/js/components/stock-list/StockListTable.jsx
  src/js/components/stock-movement/inbound/StockMovementInboundTable.jsx
  src/js/components/stock-movement/outbound/StockMovementOutboundTable.jsx
  src/js/components/stock-transfer/list/StockTransferListTable.jsx
  src/js/consts/actionItemType.js
  src/js/hooks/invoice/useInvoicePrepaidItemsTable.jsx
  src/js/hooks/useContextMenu.js
  src/js/tests/utils/ActionDots.test.jsx
  src/js/tests/utils/__snapshots__/ActionDots.test.jsx.snap
  src/js/utils/ActionDots.jsx
  src/js/utils/ContextMenu.jsx
  src/js/utils/utils.scss
Labels: domain: frontend, domain: backend, flag: config change

#4810 OBPIH-6532 [frontend] Ability to edit invoice item
  src/js/components/invoice/create/InvoicePrepayedItemsTable.jsx
Labels: domain: frontend

#4809 OBPIH-6642 Improve order of items on view Invoice page and Invoice tab on PO
  grails-app/domain/org/pih/warehouse/invoice/Invoice.groovy
  grails-app/domain/org/pih/warehouse/order/Order.groovy
  grails-app/views/invoice/_invoiceItems.gsp
Labels: domain: frontend, domain: backend

#4808 [OBPIH-6515] Unify location search on outbound import with regular outbound creation
  src/js/api/services/LocationApi.js
  src/js/components/stock-movement-wizard/outboundImport/subsections/OutboundImportBasicDetails.jsx
  src/js/consts/StockMovementDirection.js
  src/js/utils/option-utils.jsx
Labels: type: bug, domain: frontend

#4815 [OBPIH-6621] Add icon to export button and fix tooltips labels on product column
  src/js/components/stock-movement-wizard/outboundImport/subsections/OutboundImportDropzone.jsx
  src/js/components/stock-movement-wizard/outboundImport/subsections/OutboundImportItems.jsx
Labels: type: feature, domain: frontend

#4813 OBPIH-6513+OBPIH-6514 Indicator for items requiring attention + include file row…
  grails-app/i18n/messages.properties
  src/js/components/productSupplier/create/InvalidItemsIndicator.jsx
  src/js/components/productSupplier/create/subsections/PreferenceTypeVariations.jsx
  src/js/components/stock-movement-wizard/outboundImport/subsections/OutboundImportItems.jsx
  src/js/hooks/outboundImport/useOutboundImportFiltering.js
  src/js/hooks/outboundImport/useOutboundImportForm.js
Labels: domain: frontend, domain: l10n

#4812 feature/OBPIH-6516 Infer lot number based on provided bin location
  src/main/groovy/org/pih/warehouse/outbound/ImportPackingListItem.groovy
Labels: type: feature, domain: backend

#4814 OBPIH-6643 Add manual save on confirm page of final invoice for prepayment
  src/js/components/invoice/create/ConfirmInvoicePage.jsx
  src/js/components/invoice/create/InvoiceOptionsForm.jsx
  src/js/hooks/invoice/useConfirmInvoicePage.jsx
  src/js/hooks/invoice/useInvoicePrepaidItemsTable.jsx
Labels: domain: frontend

#4816 OBPIH-6607 Multiple Saves on PO Line items
  grails-app/views/purchaseOrder/_showOrderItems.gsp
Labels: domain: frontend

#4811 OBPIH-6641 Allow invoicing uncanceled order adjustments (even if it w…
  grails-app/domain/org/pih/warehouse/order/OrderAdjustment.groovy
  grails-app/migrations/views/order-summary-helper-views.sql
  grails-app/services/org/pih/warehouse/invoice/PrepaymentInvoiceService.groovy
  src/test/groovy/unit/org/pih/warehouse/order/OrderAdjustmentSpec.groovy
Labels: domain: backend, flag: schema change
