Repository openboxes/openboxes, pull requests merged in 2024-09, with the labels that each got.

#4818 OBPIH-6607 Multiple Saves on PO Line items (fix after QA)
  grails-app/views/purchaseOrder/_showOrderItems.gsp
Labels: domain: frontend

#4819 [OBPIH-6659] Display quantity of invoiced items only after invoice has been posted
  grails-app/domain/org/pih/warehouse/order/OrderItem.groovy
  grails-app/views/order/_itemStatus.gsp
Labels: type: bug, domain: frontend, domain: backend

#4820 OBPIH-6644 Fix calculating inverse item after reducing ordered quantity
  grails-app/services/org/pih/warehouse/invoice/PrepaymentInvoiceService.groovy
Labels: domain: backend

#4821 OBPIH-6660 Fix roles removal after submitting full outbound import ac…
  src/js/components/stock-movement-wizard/outboundImport/OutboundImport.jsx
  src/js/hooks/outboundImport/useOutboundImportValidation.js
Labels: domain: frontend

#4817 [OBPIH-6634] improve validation on not existing bin locations in full outbound import
  grails-app/i18n/messages.properties
  src/main/groovy/org/pih/warehouse/outbound/ImportPackingListItem.groovy
Labels: type: feature, domain: backend, domain: l10n

#4824 OBPIH-6636 Trigger order summary refresh after editing existing item quantity
  grails-app/controllers/org/pih/warehouse/order/OrderController.groovy
Labels: domain: backend

#4822 OBPIH-6644 Fix calculating inverse item after reducing ordered quantity (invoice item edit)
  grails-app/services/org/pih/warehouse/invoice/PrepaymentInvoiceService.groovy
Labels: domain: backend

#4827 OBPIH-6518 Exclude outbounds created via import from fill rate calcul…
  grails-app/migrations/views/fill-rate.sql
Labels: flag: schema change

#4826 [OBPIH-6516] [Fix after QA] Add origin location to Product Availability search condition
  src/main/groovy/org/pih/warehouse/outbound/ImportPackingListItem.groovy
Labels: type: bug, domain: backend

#4828 [OBPIH-6666] unit tests on generating prepayment invoice
  src/test/groovy/unit/org/pih/warehouse/invoice/PrepaymentInvoiceServiceSpec.groovy
Labels: type: feature

#4829 OBPIH-6667 Cleanup full outbound import
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/api/FulfillmentApiController.groovy
  grails-app/controllers/org/pih/warehouse/outbound/PackingListController.groovy
  grails-app/domain/org/pih/warehouse/core/Person.groovy
  grails-app/services/org/pih/warehouse/fulfillment/FulfillmentService.groovy
  src/js/api/urls.js
  src/main/groovy/org/pih/warehouse/importer/PackingListExcelImporter.groovy
  src/main/groovy/org/pih/warehouse/outbound/ImportPackingListCommand.groovy
  src/main/groovy/org/pih/warehouse/outbound/ImportPackingListErrors.groovy
  src/main/groovy/org/pih/warehouse/outbound/ImportPackingListItem.groovy
  src/main/groovy/util/StringUtil.groovy
Labels: domain: frontend, domain: backend

#4830 [OBPIH-6673] Fix searchTerm variable typo on Person search method
  grails-app/domain/org/pih/warehouse/core/Person.groovy
Labels: type: bug, domain: backend

#4796 [OBPIH-6612] add inverse prepayment invoice items for existing data
  grails-app/domain/org/pih/warehouse/invoice/InvoiceItem.groovy
  grails-app/migrations/0.9.x/changelog-2024-08-19-1200-alter-table-invoice-item-set-invoice-non-null.xml
  grails-app/migrations/0.9.x/changelog-2024-08-20-0000-migrate-prepayment-invoices-add-amount-and-inverse-items.groovy
  grails-app/migrations/0.9.x/changelog.xml
  grails-app/services/org/pih/warehouse/invoice/PrepaymentInvoiceMigrationService.groovy
  src/test/groovy/unit/org/pih/warehouse/invoice/PrepaymentInvoiceMigrationServiceSpec.groovy
Labels: type: feature, domain: backend, flag: schema change

#4833 OBPIH-6612 Do not check if line was canceled while calculating prepay…
  grails-app/services/org/pih/warehouse/invoice/PrepaymentInvoiceMigrationService.groovy
  src/test/groovy/unit/org/pih/warehouse/invoice/PrepaymentInvoiceMigrationServiceSpec.groovy
Labels: domain: backend

#4832 OBPIH-6671 Fix amount outstanding on orders report calculation
  grails-app/services/org/pih/warehouse/report/ReportService.groovy
Labels: domain: backend

#4834 OBPIH-6670 Remove PO number column on confirm page of prepayment POs invoice workflow
  src/js/components/invoice/create/InvoicePrepayedItemsTable.jsx
Labels: domain: frontend

#4838 [OBPIH-6612] BUGFIX: set amount field when migrating existing final prepayment invoice items
  grails-app/migrations/0.9.x/changelog-2024-08-20-0000-migrate-prepayment-invoices-add-amount-and-inverse-items.groovy
  grails-app/services/org/pih/warehouse/invoice/PrepaymentInvoiceMigrationService.groovy
  src/test/groovy/unit/org/pih/warehouse/invoice/PrepaymentInvoiceMigrationServiceSpec.groovy
Labels: domain: backend, flag: schema change

#4839 OBPIH-6711 Fix date field of stock history record for outbound create…
  grails-app/services/org/pih/warehouse/fulfillment/FulfillmentService.groovy
Labels: domain: backend

#4837 OBPIH-6678 Fix validation for ship date field in the full outbound im…
  src/js/components/stock-movement-wizard/outboundImport/subsections/OutboundImportSendingOptions.jsx
  src/js/hooks/outboundImport/useOutboundImportValidation.js
Labels: domain: frontend

#4836 OBPIH-6676 Fix binding of inferred lot expiration date
  src/main/groovy/org/pih/warehouse/outbound/ImportPackingListItem.groovy
Labels: type: bug, domain: backend

#4835 OBPIH-6675 Errors cached despite leaving outbound import workflow
  src/js/hooks/outboundImport/useOutboundImportForm.js
Labels: domain: frontend

#4840 [OBPIH-6679] inferring bin in packing list import based on lot number
  src/main/groovy/org/pih/warehouse/outbound/ImportPackingListItem.groovy
Labels: type: bug, domain: backend

#4841 OBPIH-6689 Add ability to modify unit price on invoice items made from order adjustments
  grails-app/controllers/org/pih/warehouse/api/PrepaymentInvoiceItemApiController.groovy
  grails-app/domain/org/pih/warehouse/order/OrderAdjustment.groovy
  grails-app/i18n/messages.properties
  grails-app/services/org/pih/warehouse/invoice/PrepaymentInvoiceService.groovy
  src/test/groovy/unit/org/pih/warehouse/invoice/PrepaymentInvoiceServiceSpec.groovy
Labels: status: ready for review, domain: backend, domain: l10n

#4842 OBPIH-6690 Add option to edit unit price on invoice items made from order adjustments
  grails-app/i18n/messages.properties
  src/js/components/invoice/create/ConfirmInvoicePage.jsx
  src/js/components/invoice/create/InvoicePrepayedItemsTable.jsx
  src/js/hooks/invoice/useConfirmInvoicePage.jsx
  src/js/hooks/invoice/useInvoicePrepaidItemsTable.jsx
Labels: domain: frontend, domain: l10n

#4843 OBPIH-6688 modify method checking if order adjustment is invoiceable
  grails-app/domain/org/pih/warehouse/order/OrderAdjustment.groovy
  src/test/groovy/unit/org/pih/warehouse/order/OrderAdjustmentSpec.groovy
Labels: type: bug, domain: backend

#4831 OBPIH-6668 Responsiveness in very long shipments with split line appears and disappears
  src/js/components/stock-movement-wizard/combined-shipments/AddItemsPage.jsx
Labels: domain: frontend

#4844 OBPIH-6725 Fix validation discrepancy when changing a location during…
  src/js/hooks/outboundImport/useOutboundImportForm.js
Labels: domain: frontend

#4847 OBPIH-6690 Add option to edit unit price on invoice items made from order adjustments (fix after QA)
  src/js/hooks/invoice/useInvoicePrepaidItemsTable.jsx
Labels: domain: frontend

#4845 OBPIH-6716 Sorting issue on invoice confirm page for long list of items
  src/js/components/invoice/create/ConfirmInvoicePage.jsx
  src/js/hooks/invoice/useConfirmInvoicePage.jsx
  src/js/hooks/invoice/useInvoicePrepaidItemsTable.jsx
Labels: domain: frontend

#4848 OBPIH-6679 Fix inferring bin location when providing a lot number
  src/main/groovy/org/pih/warehouse/outbound/ImportPackingListItem.groovy
Labels: domain: backend

#4849 OBPIH-6690 Add option to edit unit price on invoice items made from order adjustments (fix after QA)
  grails-app/domain/org/pih/warehouse/invoice/InvoiceItem.groovy
  src/js/hooks/invoice/useInvoicePrepaidItemsTable.jsx
Labels: domain: frontend, domain: backend

#4853 OBPIH-6761 Sorting issue on invoice confirm page for long list of items (fix after QA)
  src/js/components/invoice/create/InvoicePrepayedItemsTable.jsx
  src/js/hooks/invoice/useConfirmInvoicePage.jsx
Labels: domain: frontend

#4855 OBPIH-6689 Rely on unit price instead amount while calculating inverse items
  grails-app/domain/org/pih/warehouse/invoice/InvoiceItem.groovy
  grails-app/domain/org/pih/warehouse/order/OrderAdjustment.groovy
  grails-app/services/org/pih/warehouse/invoice/PrepaymentInvoiceService.groovy
  src/js/hooks/invoice/useInvoicePrepaidItemsTable.jsx
  src/test/groovy/unit/org/pih/warehouse/invoice/PrepaymentInvoiceServiceSpec.groovy
  src/test/groovy/unit/org/pih/warehouse/order/OrderAdjustmentSpec.groovy
Labels: domain: frontend, domain: backend

#4846 OBPIH-6674 Unable to update bc and unit price through PO import when other items inluced in invoice
  grails-app/services/org/pih/warehouse/order/OrderService.groovy
Labels: domain: backend

#4852 OBPIH-6726 Bugfix to allow pre-migration prepayment invoices to be edited
  grails-app/domain/org/pih/warehouse/invoice/InvoiceItem.groovy
  grails-app/services/org/pih/warehouse/invoice/PrepaymentInvoiceMigrationService.groovy
  grails-app/services/org/pih/warehouse/invoice/PrepaymentInvoiceService.groovy
  src/test/groovy/unit/org/pih/warehouse/invoice/PrepaymentInvoiceMigrationServiceSpec.groovy
Labels: type: bug, domain: backend

#4858 OBPIH-6690 Add option to edit unit price on invoice items made from order adjustments
  src/js/hooks/invoice/useInvoicePrepaidItemsTable.jsx
Labels: domain: frontend

#4856 OBPIH-6693 order adjustment invoice status on order view page improvements
  grails-app/domain/org/pih/warehouse/order/OrderAdjustment.groovy
  grails-app/i18n/messages.properties
  grails-app/views/order/_orderAdjustments.gsp
  src/main/groovy/org/pih/warehouse/invoice/OrderAdjustmentInvoiceStatus.groovy
Labels: type: feature, domain: frontend, domain: backend, domain: l10n

#4862 OBPIH-6674 Unable to update bc and unit price through PO import when other items inluced in invoice
  grails-app/services/org/pih/warehouse/order/OrderService.groovy
Labels: domain: backend

#4859 OBPIH-6724 Fix invoice item count on invoice list page
  grails-app/migrations/views/invoice-list.sql
Labels: type: feature, flag: schema change

#4863 OBPIH-6690 Add option to edit unit price on invoice items made from order adjustments
  src/js/hooks/invoice/useInvoicePrepaidItemsTable.jsx
Labels: domain: frontend

#4861 OBPIH-6741 Invoice submitted when press enter after input updated quantity
  src/js/components/invoice/create/ConfirmInvoicePage.jsx
Labels: domain: frontend

#4864 OBPIH-6693 Fix OrderAdjustmentInvoiceStatus labels
  grails-app/i18n/messages.properties
Labels: type: feature, domain: l10n

#4857 OBPIH-6691 Add partially invoiced order summary status for order adjustments
  grails-app/migrations/views/order-summary-helper-views.sql
Labels: flag: schema change

#4865 OBPIH-6734 Scroll down to bottom position of the page when redo import
  src/js/actions/index.js
  src/js/actions/types.js
  src/js/components/form-elements/Button.jsx
  src/js/components/stock-movement-wizard/outboundImport/sections/OutboundImportConfirm.jsx
  src/js/components/stock-movement-wizard/outboundImport/sections/OutboundImportDetails.jsx
  src/js/hooks/outboundImport/useScrollToBottom.js
  src/js/reducers/index.jsx
  src/js/reducers/outboundImportReducer.jsx
Labels: domain: frontend
