Repository openboxes/openboxes, pull requests merged in 2024-11, with the labels that each got.

#4923 OBPIH-6707 Fix quantity shipped indicator on edit modal when a brand …
  src/js/components/receiving/PartialReceivingPage.jsx
  src/js/components/receiving/modals/EditLineModal.jsx
Labels: domain: frontend

#4922 OBPIH-6744 Performance improvements in putaway workflow (backend)
  grails-app/services/org/pih/warehouse/putaway/PutawayService.groovy
Labels: domain: backend

#4927 OBPIH-6744 Fix null pointer exception in a few locations in putaway w…
  grails-app/services/org/pih/warehouse/putaway/PutawayService.groovy
Labels: domain: backend

#4926 OBPIH-5739 Add filter for handling requirement in products list page
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/api/SelectOptionsApiController.groovy
  grails-app/i18n/messages.properties
  grails-app/services/org/pih/warehouse/product/ProductService.groovy
  src/js/api/services/SelectOptionsApi.js
  src/js/api/urls.js
  src/js/components/products/FilterFields.jsx
  src/js/components/products/ProductsList.jsx
  src/js/hooks/list-pages/product/useProductFilters.jsx
  src/js/hooks/list-pages/product/useProductsListTableData.jsx
  src/js/utils/option-utils.jsx
Labels: domain: frontend, domain: backend, domain: l10n

#4925 OBPIH-6765 Add "Desired Date of Delivery" for E-Requests
  grails-app/domain/org/pih/warehouse/requisition/Requisition.groovy
  grails-app/i18n/messages.properties
  grails-app/migrations/0.9.x/changelog-2024-10-28-1330-add-column-date-delivery-requested-to-requisition.xml
  grails-app/migrations/0.9.x/changelog.xml
  grails-app/services/org/pih/warehouse/inventory/StockMovementService.groovy
  grails-app/views/email/_approvalsAlert.gsp
  grails-app/views/stockMovement/show.gsp
  src/js/components/form-elements/DateField.jsx
  src/js/components/stock-movement-wizard/request/CreateStockMovement.jsx
  src/main/groovy/org/pih/warehouse/api/StockMovement.groovy
Labels: domain: frontend, domain: backend, flag: schema change, domain: l10n

#4930 OBPIH-6321 Show supplier product name in po documents
  grails-app/services/org/pih/warehouse/core/DocumentService.groovy
  grails-app/services/org/pih/warehouse/core/DocumentTemplateService.groovy
Labels: domain: backend

#4929 OBPIH-6320 show supplier product name in tooltips
  grails-app/controllers/org/pih/warehouse/api/CombinedShipmentItemApiController.groovy
  grails-app/taglib/org/pih/warehouse/FormatTagLib.groovy
  grails-app/views/order/_itemDetails.gsp
  grails-app/views/order/_itemStatus.gsp
  grails-app/views/order/_orderAdjustments.gsp
  grails-app/views/order/_orderInvoices.gsp
  grails-app/views/order/_orderShipments.gsp
  grails-app/views/order/_orderSummary.gsp
  grails-app/views/stockMovement/_packingList.gsp
  grails-app/views/stockMovement/_receipts.gsp
  grails-app/views/taglib/_productDisplayName.gsp
  src/js/components/stock-movement-wizard/combined-shipments/AddItemsPage.jsx
  src/js/components/stock-movement-wizard/combined-shipments/SendMovementPage.jsx
  src/js/components/stock-movement-wizard/modals/CombinedShipmentItemsModal.jsx
  src/js/utils/Select.jsx
  src/js/utils/form-utils.jsx
  src/js/utils/form-values-utils.jsx
  src/main/groovy/org/pih/warehouse/api/StockMovementItem.groovy
Labels: type: feature, domain: frontend, domain: backend

#4931 OBPIH-5739 Fix filtering for handling requirements in products list page
  grails-app/services/org/pih/warehouse/product/ProductService.groovy
Labels: domain: backend

#4928 OBPIH-6230 Allow Product Merge if Primary Product is in Pending Trans…
  grails-app/controllers/org/pih/warehouse/product/ProductController.groovy
  grails-app/i18n/messages.properties
  grails-app/services/org/pih/warehouse/product/ProductMergeService.groovy
  grails-app/views/product/_mergeProducts.gsp
Labels: domain: frontend, domain: backend, domain: l10n

#4932 OBPIH-6099 Fix issue with global recipient on outbound autosave
  src/js/components/stock-movement-wizard/outbound/AddItemsPage.jsx
Labels: type: feature, domain: frontend

#4936 OBPIH-6321 Wrap supplier name onto a next line in packing list document
  grails-app/services/org/pih/warehouse/core/DocumentService.groovy
Labels: domain: backend

#4933 OBPIH-6649 Add support for Jacoco code coverage reporting
  .github/workflows/backend-tests.yml
  .github/workflows/on-change.yml
  .github/workflows/test-pull-request.yml
  build.gradle
Labels: type: feature, domain: devops, flag: config change

#4939 OBPIH-6765 Add "Desired Date of Delivery" for E-Requests (fix after QA)
  grails-app/services/org/pih/warehouse/inventory/StockMovementService.groovy
  src/js/components/stock-movement-wizard/request/CreateStockMovement.jsx
Labels: domain: frontend, domain: backend

#4937 OBPIH-6802 Bulk set recipient during a stock movement pack step
  src/js/components/stock-movement-wizard/outbound/PackingPage.jsx
Labels: type: feature, domain: frontend

#4898 OBPIH-6733 add support for Sentry performance tracing
  build.gradle
  gradle.properties
  grails-app/conf/application.yml
  grails-app/conf/logback.xml
  grails-app/conf/spring/resources.groovy
  grails-app/controllers/org/pih/warehouse/SentryInterceptor.groovy
  src/main/groovy/org/pih/warehouse/monitoring/GrailsHttpTransactionNameProvider.groovy
  src/main/groovy/org/pih/warehouse/monitoring/HttpTransactionNameFormat.groovy
  src/main/groovy/org/pih/warehouse/monitoring/SentryGrailsTracingFilter.groovy
  src/main/groovy/org/pih/warehouse/monitoring/SentryServletContainerInitializer.groovy
  src/main/resources/sentry.properties
  src/main/resources/spy.properties
Labels: type: maintenance, domain: backend, flag: config change

#4944 OBPIH-6733 sentry performance fix
  build.gradle
  src/main/groovy/org/pih/warehouse/monitoring/SentryServletContainerInitializer.groovy
  src/main/resources/META-INF/services/javax.servlet.ServletContainerInitializer
Labels: type: maintenance, domain: backend, flag: config change

#4942 OBPIH-6813 Fix product source not displaying on invoice tab of PO show page
  grails-app/views/order/_orderInvoices.gsp
Labels: type: feature, domain: frontend

#4945 OBPIH-6733 Re-add release information to Sentry
  build.gradle
  grails-app/conf/application.yml
  grails-app/init/org/pih/warehouse/Application.groovy
  src/main/groovy/org/pih/warehouse/monitoring/SentryServletContextListener.groovy
  src/main/resources/sentry.properties
Labels: type: maintenance, domain: backend, flag: config change

#4941 OBPIH-6813 shipped in po column when edits to shipped quantities in receiving
  grails-app/domain/org/pih/warehouse/shipping/ShipmentItem.groovy
  grails-app/i18n/messages.properties
  src/js/components/form-elements/TextField.jsx
  src/js/components/receiving/PartialReceivingPage.jsx
  src/js/components/receiving/ReceivingCheckScreen.jsx
  src/main/groovy/org/pih/warehouse/api/PartialReceiptItem.groovy
Labels: type: feature, domain: frontend, domain: backend, domain: l10n

#4940 OBPIH-6804 Build shipment history to display shipment events
  grails-app/domain/org/pih/warehouse/core/Event.groovy
  grails-app/domain/org/pih/warehouse/receiving/Receipt.groovy
  grails-app/domain/org/pih/warehouse/shipping/Shipment.groovy
  grails-app/i18n/messages.properties
  src/main/groovy/org/pih/warehouse/core/EventCode.groovy
  src/main/groovy/org/pih/warehouse/core/Historizable.groovy
  src/main/groovy/org/pih/warehouse/core/HistoryItem.groovy
  src/main/groovy/org/pih/warehouse/core/ReferenceDocument.groovy
Labels: domain: backend, domain: l10n

#4948 OBPIH-6821 Try next sequence number if generating an order number fails
  grails-app/services/org/pih/warehouse/order/PurchaseOrderIdentifierService.groovy
  src/main/groovy/org/pih/warehouse/core/identification/IdentifierGeneratorContext.groovy
  src/test/groovy/unit/org/pih/warehouse/order/PurchaseOrderIdentifierServiceSpec.groovy
Labels: type: bug, domain: backend

#4949 OBPIH-6822 Fails to select in date picker in Mexico locale
  src/js/components/form-elements/DateField.jsx
Labels: domain: frontend

#4950 OBPIH-6813 Shipped in PO column when edits to shipped quantities in receiving
  src/js/components/receiving/PartialReceivingPage.jsx
Labels: domain: frontend

#4947 OBPIH-6472 Reintroduce shipment events tab in stock movement UI
  grails-app/controllers/org/pih/warehouse/inventory/StockMovementController.groovy
  grails-app/controllers/org/pih/warehouse/shipping/ShipmentController.groovy
  grails-app/domain/org/pih/warehouse/core/Event.groovy
  grails-app/domain/org/pih/warehouse/core/EventType.groovy
  grails-app/domain/org/pih/warehouse/core/Location.groovy
  grails-app/domain/org/pih/warehouse/receiving/Receipt.groovy
  grails-app/domain/org/pih/warehouse/shipping/Shipment.groovy
  grails-app/i18n/messages.properties
  grails-app/views/stockMovement/_events.gsp
  grails-app/views/stockMovement/show.gsp
  src/main/groovy/org/pih/warehouse/core/HistoryItem.groovy
Labels: domain: frontend, domain: backend, domain: l10n

#4951 OBPIH-6827 Error when open substitution modal after revise quantity
  src/main/groovy/org/pih/warehouse/api/StockMovementItem.groovy
Labels: domain: backend

#4953 OBPIH-6829 Unable to load add items modal in PO shipment after using Delete All button
  src/js/components/stock-movement-wizard/combined-shipments/AddItemsPage.jsx
  src/js/components/stock-movement-wizard/modals/CombinedShipmentItemsModal.jsx
Labels: domain: frontend

#4954 OBPIH-6838 Newly created users with invoice permission can't access invoicing
  grails-app/controllers/org/pih/warehouse/RoleInterceptor.groovy
Labels: domain: backend

#4956 OBPIH-6825 Fail order items import if recipient is an inactive user
  grails-app/services/org/pih/warehouse/order/OrderService.groovy
Labels: type: bug, domain: backend

#4958 OBPIH-6834 Same lot in default bin in two locations prevents stock transfer
  grails-app/controllers/org/pih/warehouse/api/StockTransferApiController.groovy
  src/js/api/urls.js
  src/js/components/stock-transfer/CreateStockTransfer.jsx
Labels: domain: frontend, domain: backend

#4957 OBPIH-6813 Shipped in PO column when edits to shipped quantities in receiving
  src/js/components/receiving/PartialReceivingPage.jsx
Labels: domain: frontend

#4959 OBPIH-6858 enable color logs for dev and testing only
  grails-app/conf/application-development.yml
  grails-app/conf/application.yml
  grails-app/conf/logback.xml
  src/integration-test/resources/logback-test.xml
  src/test/resources/logback-test.xml
Labels: type: bug, flag: config change

#4962 OBPIH-6835 Additional line counted in line items count on stock transfers list
  grails-app/domain/org/pih/warehouse/order/Order.groovy
Labels: domain: backend

#4961 OBPIH-6833 Original line not editable when delete split lines in stock transfer
  src/js/components/stock-transfer/StockTransferSecondPage.jsx
Labels: domain: frontend

#4963 Default to a blank dsn if sentry env vars are not set
  grails-app/conf/application.yml
  grails-app/conf/logback-spring.xml
  grails-app/controllers/org/pih/warehouse/SentryInterceptor.groovy
  src/main/groovy/org/pih/warehouse/monitoring/SentryServletContextListener.groovy
Labels: type: bug, domain: backend, flag: config change

#4965 OBPIH-6862 Buttons and columns in outbound return are not translated to Mexico language
  grails-app/i18n/messages.properties
  src/js/components/returns/outbound/AddItemsPage.jsx
  src/js/components/returns/outbound/PickPage.jsx
  src/js/components/returns/outbound/SendOutboundReturn.jsx
Labels: domain: frontend, domain: l10n

#4955 OBPIH-6839 Improve performance of order's derived status fetch and update
  grails-app/controllers/org/pih/warehouse/api/PurchaseOrderApiController.groovy
  grails-app/jobs/org/pih/warehouse/jobs/RefreshOrderSummaryJob.groovy
  grails-app/services/org/pih/warehouse/data/DataService.groovy
  grails-app/services/org/pih/warehouse/order/OrderService.groovy
  grails-app/services/org/pih/warehouse/order/OrderSummaryService.groovy
  grails-app/services/org/pih/warehouse/order/RefreshOrderSummaryEventService.groovy
  grails-app/views/order/_summary.gsp
  grails-app/views/order/list.gsp
  grails-app/views/order/show.gsp
Labels: domain: frontend, domain: backend
