Repository openboxes/openboxes, pull requests merged in 2024-07, with the labels that each got.

#4697 OBPIH-6410 Improve country specific locale handling
  grails-app/controllers/org/pih/warehouse/api/ApiController.groovy
  grails-app/controllers/org/pih/warehouse/api/LocalizationApiController.groovy
  grails-app/controllers/org/pih/warehouse/core/LocalizationController.groovy
  grails-app/i18n/messages_es_MX.properties
  grails-app/services/org/pih/warehouse/core/LocalizationService.groovy
  grails-app/services/org/pih/warehouse/product/ProductService.groovy
  grails-app/services/org/pih/warehouse/report/ReportService.groovy
  grails-app/taglib/org/pih/warehouse/MessageTagLib.groovy
  grails-app/utils/org/pih/warehouse/LocalizationUtil.groovy
  grails-app/views/product/_productSynonymsEdit.gsp
  src/js/actions/index.js
  src/js/components/purchaseOrder/PurchaseOrderListTable.jsx
  src/js/reducers/sessionReducer.jsx
Labels: status: ready for review

#4687 [OBPIH-6479, OBPIH-6483] PR labeler, PR template description
  .github/labeler.yml
  .github/pull_request_template.md
  .github/release.yml
  .github/workflows/pull-request-formatter.yml
  .github/workflows/slack-notifier.yml
Labels: type: feature, domain: devops

#4772 OBPIH-6497 [backend] Determine encumbered and invoiceable items or adjustments
  grails-app/domain/org/pih/warehouse/order/Order.groovy
  grails-app/domain/org/pih/warehouse/order/OrderAdjustment.groovy
  grails-app/domain/org/pih/warehouse/order/OrderItem.groovy
  src/test/groovy/unit/org/pih/warehouse/order/OrderAdjustmentSpec.groovy
  src/test/groovy/unit/org/pih/warehouse/order/OrderItemSpec.groovy
  src/test/groovy/unit/org/pih/warehouse/order/OrderSpec.groovy
Labels: domain: backend
