Repository openboxes/openboxes, pull requests merged in 2025-01, with the labels that each got.

#4992 Update openboxes sql user instructions
  README.md
Labels: domain: documentation

#4991 OBPIH-6903 Implement cycle count request API (create)
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/domain/org/pih/warehouse/inventory/CycleCountRequest.groovy
  grails-app/i18n/messages.properties
  grails-app/init/org/pih/warehouse/BootStrap.groovy
  grails-app/migrations/0.9.x/changelog-2024-12-18-1300-create-table-cycle-count-request.xml
  grails-app/migrations/0.9.x/changelog.xml
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountRequestBatchCommand.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountRequestCommand.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountRequestStatus.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountRequestType.groovy
Labels: domain: backend, flag: schema change, domain: l10n

#4964 OBPIH-6860 set log level to INFO in prod
  grails-app/conf/application-development.yml
  grails-app/conf/application.yml
  grails-app/conf/logback-spring.xml
  grails-app/controllers/org/pih/warehouse/AccessLogInterceptor.groovy
  grails-app/controllers/org/pih/warehouse/LoggingInterceptor.groovy
  grails-app/controllers/org/pih/warehouse/RoleInterceptor.groovy
  grails-app/services/org/pih/warehouse/core/UserService.groovy
Labels: type: maintenance, domain: backend, flag: config change

#4994 OBPIH-6871 Connect endpoint to fetch cycle count candidates with the frontend
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/js/api/urls.js
  src/js/components/DataTable/v2/DataTable.jsx
  src/js/components/DataTable/v2/DataTableFooter.jsx
  src/js/components/cycleCount/allProductsTab/CycleCountAllProducts.jsx
  src/js/consts/cycleCountMockedData.js
  src/js/hooks/cycleCount/useAllProductsTab.jsx
  src/js/hooks/cycleCount/useCycleCountFilters.js
  src/js/hooks/useDataTable.js
  src/js/hooks/useQueryParamsListener.js
  src/js/hooks/useTableDataV2.js
  src/js/utils/file-download-util.jsx
  src/js/utils/form-values-utils.jsx
  src/main/groovy/org/pih/warehouse/inventory/CycleCountCandidateFilterCommand.groovy
Labels: domain: frontend, domain: backend

#4968 OBPIH-6585 Make code a required field when creating/editing location types
  grails-app/controllers/org/pih/warehouse/core/LocationTypeController.groovy
  grails-app/domain/org/pih/warehouse/core/LocationType.groovy
  grails-app/migrations/0.9.x/changelog-2024-12-02-0000-alter-table-location-type-set-location-type-code-non-null.xml
  grails-app/migrations/0.9.x/changelog.xml
  src/main/groovy/org/pih/warehouse/core/LocationTypeCode.groovy
  src/test/groovy/unit/org/pih/warehouse/core/LocationControllerSpec.groovy
  src/test/groovy/unit/org/pih/warehouse/core/LocationControllerTests.groovy
Labels: type: bug, domain: frontend, domain: backend, flag: schema change

#4993 OBPIH-6844 Create filters component all products tab
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/i18n/messages.properties
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/css/main.scss
  src/js/api/urls.js
  src/js/components/DataTable/TableHeaderCell.jsx
  src/js/components/DataTable/v2/DataTable.jsx
  src/js/components/DataTable/v2/DataTableFooter.jsx
  src/js/components/cycleCount/CycleCount.jsx
  src/js/components/cycleCount/CycleCountFilterFields.jsx
  src/js/components/cycleCount/CycleCountFilters.jsx
  src/js/components/cycleCount/allProductsTab/CycleCountAllProducts.jsx
  src/js/consts/cycleCountMockedData.js
  src/js/consts/locationType.js
  src/js/hooks/cycleCount/useAllProductsTab.jsx
  src/js/hooks/cycleCount/useCycleCountFilters.js
  src/js/hooks/list-pages/useTableData.jsx
  src/js/hooks/useDataTable.js
  src/js/hooks/useTableDataV2.js
  src/js/hooks/useTableSorting.js
  src/js/utils/file-download-util.jsx
  src/js/utils/form-values-utils.jsx
  src/js/utils/option-utils.jsx
  src/main/groovy/org/pih/warehouse/inventory/CycleCountCandidateFilterCommand.groovy
Labels: domain: frontend, domain: backend, domain: l10n

#4995 OBPIH 6847 Created a reusable component for tags and catalogues and integrated it into the table for them
  src/css/colors.scss
  src/js/hooks/cycleCount/useAllProductsTab.jsx
  src/js/utils/Badge.jsx
  src/js/utils/utils.scss
Labels: domain: frontend

#4860 OBPIH-6740 Move liquibase migrations to a single entrypoint changelog
  build.gradle
  grails-app/conf/application.yml
  grails-app/init/org/pih/warehouse/BootStrap.groovy
  grails-app/migrations/0.5.x/changelog-2024-09-24-0000-05x-final.xml
  grails-app/migrations/0.5.x/changelog.xml
  grails-app/migrations/0.6.x/changelog-2024-09-24-0000-06x-final.xml
  grails-app/migrations/0.6.x/changelog.xml
  grails-app/migrations/0.7.x/changelog-2024-09-24-0000-07x-final.xml
  grails-app/migrations/0.7.x/changelog.xml
  grails-app/migrations/0.8.x/changelog-2024-09-24-0000-08x-final.xml
  grails-app/migrations/0.8.x/changelog.xml
  grails-app/migrations/changelog.groovy
  grails-app/migrations/upgrade/changelog.xml
  src/integration-test/groovy/org/pih/warehouse/smoke/spec/LiquibaseUtilSpec.groovy
  src/integration-test/resources/migrations/changelog-test.xml
  src/main/groovy/util/LiquibaseUtil.groovy
  src/main/groovy/util/TaggedMigrationVersion.groovy
Labels: type: maintenance, domain: backend, flag: schema change, flag: config change

#5002 OBPIH-6927 fixed pagination bug
  src/js/components/DataTable/v2/DataTable.jsx
  src/js/components/cycleCount/allProductsTab/CycleCountAllProducts.jsx
  src/js/hooks/useDataTable.js
Labels: domain: frontend

#4997 OBPIH-6889 Implement get cycle counts API
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/domain/org/pih/warehouse/inventory/CycleCountCandidate.groovy
  grails-app/migrations/views/cycle-count-session.sql
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/js/api/urls.js
  src/main/groovy/org/pih/warehouse/inventory/CycleCountCandidateFilterCommand.groovy
Labels: domain: frontend, domain: backend, flag: schema change

#4999 OBPIH-6846 Build checkbox logic
  grails-app/i18n/messages.properties
  src/js/components/DataTable/v2/DataTableBody.jsx
  src/js/components/DataTable/v2/DataTableHeader.jsx
  src/js/components/cycleCount/allProductsTab/CycleCountAllProducts.jsx
  src/js/components/cycleCount/cycleCount.scss
  src/js/components/form-elements/v2/Checkbox.jsx
  src/js/components/form-elements/v2/style.scss
  src/js/hooks/cycleCount/useAllProductsTab.jsx
  src/js/hooks/useTableCheckboxes.js
Labels: domain: frontend, domain: l10n

#5005 OBPIH-6928 fixed incorrect redirect after clicking product link
  src/js/hooks/cycleCount/useAllProductsTab.jsx
Labels: domain: frontend

#5003 OBPIH-6925 removed numbers from Tags and Product Catalogue filter
  grails-app/controllers/org/pih/warehouse/api/SelectOptionsApiController.groovy
  grails-app/views/inventoryItem/_actions.gsp
  src/js/hooks/cycleCount/useCycleCountFilters.js
  src/js/utils/option-utils.jsx
Labels: domain: frontend, domain: backend

#5001 OBPIH-6848 Count selected button all products tab
  src/js/api/services/CycleCountApi.js
  src/js/api/urls.js
  src/js/components/cycleCount/CycleCount.jsx
  src/js/components/cycleCount/allProductsTab/CycleCountAllProducts.jsx
  src/js/hooks/cycleCount/useAllProductsTab.jsx
Labels: domain: frontend, domain: backend, flag: schema change

#4998 OBPIH 6924 Create a wrapper component for the inbound workflow
  grails-app/controllers/org/pih/warehouse/inventory/StockMovementController.groovy
  src/js/components/Router.jsx
  src/js/components/stock-movement-wizard/inboundV2/InboundHeader.jsx
  src/js/components/stock-movement-wizard/inboundV2/InboundV2.jsx
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2AddItems.jsx
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2Create.jsx
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2Send.jsx
  src/js/consts/InboundV2Step.js
  src/js/consts/MockInboundV2Status.js
  src/js/consts/MockInboundV2Title.js
  src/js/utils/utils.scss
Labels: domain: frontend, domain: backend, domain: l10n

#4996 OBPIH-6905 API to fetch product classifications
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/api/ProductClassificationApiController.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  grails-app/services/org/pih/warehouse/product/ProductClassificationService.groovy
  src/integration-test/groovy/org/pih/warehouse/api/client/product/ProductClassificationApi.groovy
  src/integration-test/groovy/org/pih/warehouse/api/client/product/ProductClassificationApiWrapper.groovy
  src/integration-test/groovy/org/pih/warehouse/api/spec/base/ApiSpec.groovy
  src/integration-test/groovy/org/pih/warehouse/api/spec/product/ProductClassificationApiCRUDSpec.groovy
  src/integration-test/groovy/org/pih/warehouse/common/domains/builders/location/TestLocationBuilder.groovy
  src/integration-test/groovy/org/pih/warehouse/common/domains/builders/location/base/TestBuilder.groovy
  src/integration-test/groovy/org/pih/warehouse/common/util/RandomUtil.groovy
  src/integration-test/resources/TestDataConfig.groovy
  src/js/api/services/ProductClassificationApi.js
  src/js/api/urls.js
  src/js/components/cycleCount/CycleCountFilterFields.jsx
  src/js/hooks/cycleCount/useAllProductsTab.jsx
  src/js/hooks/cycleCount/useCycleCountFilters.js
  src/js/utils/option-utils.jsx
  src/main/groovy/org/pih/warehouse/product/ProductClassificationDto.groovy
  src/test/groovy/unit/org/pih/warehouse/product/ProductClassificationServiceSpec.groovy
Labels: type: feature, domain: frontend, domain: backend

#5007 OBPIH-6930 added page reload after changing location
  src/js/hooks/useTableDataV2.js
Labels: domain: frontend

#5011 OBPIH-6932 Incorrect page indicator after changing rows per page
  src/js/hooks/useTablePagination.js
Labels: domain: frontend

#5012 OBPIH-6850 Create table component to count tab
  src/js/hooks/cycleCount/useAllProductsTab.jsx
  src/js/hooks/cycleCount/useToCountTab.jsx
  src/js/utils/form-values-utils.jsx
Labels: domain: frontend

#5014 OBPIH-6940 Adjust display of product name in cycle count tables to 2 rows only
  src/js/components/cycleCount/cycleCount.scss
  src/js/hooks/cycleCount/useAllProductsTab.jsx
Labels: domain: frontend

#5013 OBPIH-6942 Limit Bin Locations display to 4 first entries
  src/js/hooks/cycleCount/useAllProductsTab.jsx
  src/js/hooks/cycleCount/useToCountTab.jsx
Labels: domain: frontend

#5016 OBPIH-6933 User can manually enter a page number outside the valid page range
  src/js/components/DataTable/v2/DataTable.jsx
  src/js/hooks/useTablePagination.js
Labels: domain: frontend

#5020 OBPIH-6959 use ABC Class from inventory level in cycle count products list
  grails-app/migrations/views/cycle-count-session.sql
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
Labels: type: bug, domain: backend, flag: schema change

#5015 OBPIH-6937 Create details form
  src/js/api/services/StockMovementApi.js
  src/js/api/urls.js
  src/js/components/stock-movement-wizard/inboundV2/InboundV2.jsx
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2Create.jsx
  src/js/hooks/inboundV2/useInboundForm.js
  src/js/hooks/inboundV2/useInboundValidation.js
  src/js/hooks/useWizard.js
Labels: domain: frontend, domain: l10n

#5009 OBPIH-6935 Create a reducer for inbound workflow data
  src/js/actions/types.js
  src/js/reducers/InboundReducer.jsx
  src/js/reducers/index.jsx
Labels: domain: frontend
