Repository openboxes/openboxes, pull requests merged in 2025-06, with the labels that each got.

#5291 OBPIH-7254 Refactor transaction during Load demo data
  grails-app/conf/runtime.groovy
  grails-app/services/org/pih/warehouse/data/LoadDataService.groovy
Labels: domain: backend, flag: config change

#5295 OB-3225: Fixed broken connection between shipment item and requisitio…
  grails-app/domain/org/pih/warehouse/shipping/ShipmentItem.groovy
Labels: type: feature, domain: backend

#5297 OBPIH-7294 Fallback to current user for counted by and recounted by
  src/js/components/cycleCount/toCountTab/CountStep.jsx
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStep.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepValidation.js
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/hooks/cycleCount/useResolveStepValidation.js
Labels: domain: frontend

#5300 OBPIH-7332 export CC when quantity counted is 0
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
Labels: type: bug, domain: backend

#5301 OBPIH-7254 Refactor transaction during Load demo data (Fix after QA)
  grails-app/services/org/pih/warehouse/data/LoadDataService.groovy
Labels: domain: backend

#5305 OBPIH-7143 fail starting count when in pending outbound
  grails-app/i18n/messages.properties
  src/main/groovy/org/pih/warehouse/inventory/CycleCountStartCommand.groovy
Labels: type: feature, domain: backend, domain: l10n

#5298 OBPIH-7195 fix3: inventory import, fix existing transaction check
  grails-app/services/org/pih/warehouse/importer/InventoryImportDataService.groovy
  grails-app/services/org/pih/warehouse/inventory/InventoryService.groovy
  grails-app/services/org/pih/warehouse/inventory/ProductAvailabilityService.groovy
  grails-app/services/org/pih/warehouse/inventory/ProductInventoryTransactionService.groovy
Labels: type: bug, domain: backend

#5284 OBPIH-7309 Sort in alphabetical order in count and recount workflows
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/i18n/messages.properties
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/js/api/services/CycleCountApi.js
  src/js/components/cycleCount/toCountTab/CountStep.jsx
  src/js/components/cycleCount/toCountTab/CountStepHeader.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStep.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepHeader.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: frontend, domain: backend, domain: l10n

#5306 OBPIH-7309 Reverse color logic of alphabetical sort button (fix)
  src/js/components/cycleCount/toCountTab/CountStepHeader.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepHeader.jsx
Labels: domain: frontend

#5302 OBPIH-7258 Fix display root causes and comments + improve disabling "Import Count" button
  src/css/main.scss
  src/js/components/cycleCount/toCountTab/CountStepHeader.jsx
  src/js/components/form-elements/v2/ButtonFileSelect.jsx
  src/js/hooks/cycleCount/useInventoryTransactionsTab.jsx
Labels: domain: frontend

#5303 OBPIH-7337 export recount enhancements
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountDto.groovy
Labels: type: feature, domain: backend

#5310 OBPIH-7195 fix4: handle inventory import duplicates and zero out stock for missing rows
  grails-app/services/org/pih/warehouse/importer/InventoryImportDataService.groovy
  grails-app/services/org/pih/warehouse/inventory/InventoryService.groovy
  grails-app/services/org/pih/warehouse/inventory/ProductInventoryTransactionService.groovy
Labels: type: bug, domain: backend

#5313 OBPIH-7271 Handle invalid count import
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountImportService.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/js/components/cycleCount/toCountTab/CountStep.jsx
  src/js/components/cycleCount/toCountTab/CountStepHeader.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
  src/main/groovy/org/pih/warehouse/importer/CycleCountItemsExcelImporter.groovy
Labels: domain: frontend, domain: backend

#5315 OBPIH-7294 Fallback to current user for counted by and recounted by (fix)
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: frontend

#5316 OBPIH-7254 Refactor transaction during Load demo data (fix importing bin locations)
  grails-app/conf/templates/configuration/binLocations.csv
  grails-app/services/org/pih/warehouse/data/LoadDataService.groovy
Labels: domain: backend, flag: config change

#5323 OB-3245: Added BE stuff for submit packing location endpoint
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/api/StockMovementApiController.groovy
  grails-app/i18n/messages.properties
  grails-app/services/org/pih/warehouse/core/LocationService.groovy
  src/main/groovy/org/pih/warehouse/api/StockMovement.groovy
  src/main/groovy/org/pih/warehouse/core/ActivityCode.groovy
Labels: type: feature, domain: frontend, domain: backend, domain: l10n

#5282 OBPIH-7113 dynamic sorting on receiving locations
  grails-app/controllers/org/pih/warehouse/api/InternalLocationApiController.groovy
  grails-app/domain/org/pih/warehouse/core/LocationType.groovy
  grails-app/services/org/pih/warehouse/core/LocationService.groovy
  grails-app/utils/org/pih/warehouse/databinding/SortParamListValueConverter.groovy
  grails-app/utils/org/pih/warehouse/sort/SortParam.groovy
  grails-app/utils/org/pih/warehouse/sort/SortParamList.groovy
  grails-app/utils/org/pih/warehouse/sort/SortUtil.groovy
  src/js/actions/index.js
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCycleCountFilters.js
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/utils/groupBinLocationsByZone.jsx
  src/js/utils/option-utils.jsx
  src/main/groovy/org/pih/warehouse/core/InternalLocationSearchCommand.groovy
  src/main/groovy/org/pih/warehouse/core/ReceivingLocationSearchCommand.groovy
  src/test/groovy/unit/org/pih/warehouse/utils/SortUtilSpec.groovy
Labels: type: feature, domain: frontend, domain: backend

#5326 OBPIH-7292 Add “Assign count” buttons with the functionality
  grails-app/i18n/messages.properties
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/js/api/services/CycleCountApi.js
  src/js/api/urls.js
  src/js/components/cycleCount/toCountTab/CycleCountToCount.jsx
  src/js/components/cycleCount/toResolveTab/CycleCountToResolve.jsx
  src/js/consts/cycleCountColumn.js
  src/js/hooks/cycleCount/useAssignCycleCountModal.jsx
  src/js/hooks/cycleCount/useToCountTab.jsx
  src/js/hooks/cycleCount/useToResolveTab.jsx
  src/main/groovy/org/pih/warehouse/inventory/CycleCountCandidateFilterCommand.groovy
Labels: domain: frontend, domain: backend, domain: l10n

#5333 OB-3250: Restored API for displaying info about pick items count
  grails-app/domain/org/pih/warehouse/picklist/Picklist.groovy
  grails-app/init/org/pih/warehouse/BootStrap.groovy
Labels: type: feature, domain: backend, flag: config change

#5307 OBPIH-7259 Create mock endpoint for inventory audit report
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/reporting/InventoryAuditReportController.groovy
  grails-app/domain/org/pih/warehouse/inventory/InventoryAuditDetails.groovy
  grails-app/domain/org/pih/warehouse/inventory/InventoryAuditSummary.groovy
  grails-app/init/org/pih/warehouse/BootStrap.groovy
  grails-app/migrations/0.9.x/changelog-2025-06-04-1219-create-missing-indexes.xml
  grails-app/migrations/0.9.x/changelog.xml
  grails-app/migrations/views/changelog.xml
  grails-app/migrations/views/inventory-audit-details.sql
  grails-app/migrations/views/inventory-audit-summary.sql
  grails-app/services/org/pih/warehouse/report/ReportService.groovy
Labels: domain: backend, flag: schema change, flag: config change

#5317 OBPIH 7260 Create table for products inventory changes report
  grails-app/i18n/messages.properties
  src/css/main.scss
  src/js/api/urls.js
  src/js/components/cycleCountReporting/CycleCountReporting.jsx
  src/js/components/cycleCountReporting/ProductsTab.jsx
  src/js/consts/cycleCountColumn.js
  src/js/consts/valueIndicatorVariant.js
  src/js/hooks/cycleCount/useInventoryTransactionsTab.jsx
  src/js/hooks/cycleCount/useProductsTab.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend, domain: l10n

#5321 OBPIH-7046 Don't block count for 'In Progress' products (fix)
  src/js/hooks/cycleCount/useCycleCountProductAvailability.jsx
  src/js/hooks/cycleCount/useToCountTab.jsx
Labels: domain: frontend

#5320 OBPIH 7320 Create dashboard tab layout and launch with time range
  grails-app/i18n/messages.properties
  src/js/components/cycleCountReporting/CycleCountReporting.jsx
  src/js/components/cycleCountReporting/CycleCountReportingFilterFields.jsx
  src/js/components/cycleCountReporting/CycleCountReportingFilters.jsx
  src/js/components/cycleCountReporting/IndicatorsTab.jsx
  src/js/consts/cycleCount.js
  src/js/hooks/cycleCount/useCycleCountReportingFilters.js
Labels: domain: frontend, domain: l10n

#5339 OBPIH-7271 Fix validations on lot number, bin location, date counted …
  grails-app/services/org/pih/warehouse/inventory/CycleCountImportService.groovy
  src/js/hooks/cycleCount/useCountStep.jsx
  src/main/groovy/org/pih/warehouse/importer/CycleCountItemsExcelImporter.groovy
Labels: domain: frontend, domain: backend

#5342 OB-3243 restore scheduling tab
  grails-app/controllers/org/pih/warehouse/inventory/StockMovementController.groovy
  grails-app/i18n/messages_rw.properties
  grails-app/services/org/pih/warehouse/core/LocationService.groovy
  grails-app/services/org/pih/warehouse/inventory/StockMovementService.groovy
  grails-app/taglib/org/pih/warehouse/SelectTagLib.groovy
  grails-app/views/location/showBinLocations.gsp
  grails-app/views/locationType/create.gsp
  grails-app/views/stockMovement/_schedule.gsp
  grails-app/views/stockMovement/show.gsp
  src/main/groovy/org/pih/warehouse/core/ActivityCode.groovy
Labels: domain: frontend, domain: backend, domain: l10n

#5344 OBPIH-7180 Virtualize count and recount table rendering
  package-lock.json
  package.json
  src/js/components/DataTable/v2/DataTable.jsx
  src/js/components/DataTable/v2/DataTableBody.jsx
  src/js/components/cycleCount/toCountTab/CountStep.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStep.jsx
Labels: domain: frontend, flag: config change

#5346 OBPIH-7260 Fix recount difference calculation when input is 0 in recount table
  src/js/consts/valueIndicatorVariant.js
  src/js/hooks/cycleCount/useInventoryTransactionsTab.jsx
  src/js/hooks/cycleCount/useProductsTab.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

#5345 OBPIH-7325 Create indicator: inventory loss
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/reporting/IndicatorApiController.groovy
  grails-app/domain/org/pih/warehouse/reporting/InventoryLossResult.groovy
  grails-app/i18n/messages.properties
  grails-app/services/org/pih/warehouse/report/ReportService.groovy
  src/css/colors.scss
  src/css/main.scss
  src/js/api/services/IndicatorsApi.js
  src/js/api/urls.js
  src/js/components/cycleCountReporting/CycleCountReportingFilters.jsx
  src/js/components/cycleCountReporting/IndicatorsTab/IndicatorCards.jsx
  src/js/components/cycleCountReporting/IndicatorsTab/IndicatorNumberCards.jsx
  src/js/components/cycleCountReporting/IndicatorsTab/SortableIndicatorCards.jsx
  src/js/components/cycleCountReporting/cycleCountReporting.scss
  src/js/components/dashboard/LoadingNumbers.jsx
  src/js/components/dashboard/NumberCard.jsx
  src/js/consts/cycleCountReportingIndicators.js
  src/js/consts/tileType.js
  src/js/hooks/cycleCount/useCycleCountReportingFilters.js
  src/js/hooks/cycleCount/useIndicatorsTab.jsx
  src/js/utils/DoubleTile.jsx
  src/js/utils/option-utils.jsx
  src/main/groovy/org/pih/warehouse/report/TileType.groovy
Labels: domain: frontend, domain: backend, domain: l10n

#5343 OBPIH-7343 Last counted date is not updating correctly after refactor…
  grails-app/domain/org/pih/warehouse/product/Product.groovy
  grails-app/migrations/views/product-physical-count-history.sql
Labels: domain: backend, flag: schema change

#5350 OBPIH-7287 Cycle count assignment fixes
  grails-app/domain/org/pih/warehouse/inventory/CycleCount.groovy
  grails-app/domain/org/pih/warehouse/inventory/CycleCountRequest.groovy
  grails-app/i18n/messages.properties
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/js/api/services/CycleCountApi.js
  src/js/components/cycleCount/AssignCycleCountModal.jsx
  src/js/components/cycleCount/toCountTab/CountStep.jsx
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/components/cycleCount/toCountTab/CycleCountToCount.jsx
  src/js/components/cycleCount/toResolveTab/CycleCountToResolve.jsx
  src/js/hooks/cycleCount/useAssignCycleCountModal.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useToCountTab.jsx
  src/js/hooks/cycleCount/useToResolveTab.jsx
Labels: domain: frontend, domain: backend, domain: l10n

#5353 OBPIH-7260 Fix format currency values and months of stock change
  src/js/hooks/cycleCount/useProductsTab.jsx
  src/js/utils/formatCurrency.jsx
Labels: domain: frontend
