Repository openboxes/openboxes, pull requests merged in 2025-10, with the labels that each got.

#5523 OBLS-210 Improvements to barcode printing for products and locations
  grails-app/controllers/org/pih/warehouse/core/DocumentController.groovy
  grails-app/domain/org/pih/warehouse/core/Document.groovy
  grails-app/views/inventoryItem/_actionsCurrentStock.gsp
  grails-app/views/location/_actions.gsp
  grails-app/views/product/_summary.gsp
  src/main/groovy/util/RedirectUtil.groovy
Labels: domain: frontend, domain: backend

#5522 OBPIH-7479 Fix failing backend tests
  src/test/groovy/unit/org/pih/warehouse/product/ProductServiceSpec.groovy
Labels: type: maintenance, flag: ignore in release notes

#5420 autogenerate and publish dbdocs when a schema change is submitted
  .github/workflows/backend-tests.yml
  .github/workflows/dbdocs.yml
  .github/workflows/do-github-release.yml
  build.gradle
Labels: type: feature, domain: devops, flag: config change

#5528 OBLS-181 Removing child order items during putaway rollback
  grails-app/services/org/pih/warehouse/putaway/PutawayService.groovy
Labels: domain: backend

#5532 Various improvements for demo preparation
  grails-app/conf/application.yml
  grails-app/controllers/org/pih/warehouse/core/DocumentController.groovy
  grails-app/controllers/org/pih/warehouse/receiving/PartialReceivingController.groovy
  grails-app/domain/org/pih/warehouse/order/Order.groovy
  grails-app/services/org/pih/warehouse/core/LocationService.groovy
  grails-app/services/org/pih/warehouse/dashboard/NumberDataService.groovy
  grails-app/services/org/pih/warehouse/inventory/InventoryItemService.groovy
  grails-app/services/org/pih/warehouse/receiving/ReceiptService.groovy
  grails-app/views/inventoryItem/_actionsCurrentStock.gsp
  grails-app/views/order/_summary.gsp
  grails-app/views/order/list.gsp
  grails-app/views/product/_summary.gsp
Labels: domain: frontend, domain: backend, flag: config change

#5507 OBPIH-7489 React date picker and utils using date fns
  package-lock.json
  package.json
  src/css/main.scss
  src/js/components/DataTable/DateCell.jsx
  src/js/components/form-elements/v2/DateFieldDateFns.jsx
  src/js/components/form-elements/v2/DateFieldInput.jsx
  src/js/components/form-elements/v2/style.scss
  src/js/components/stock-movement-wizard/outboundImport/subsections/OutboundImportBasicDetails.jsx
  src/js/components/stock-movement-wizard/outboundImport/subsections/OutboundImportSendingOptions.jsx
  src/js/consts/timeFormat.js
  src/js/tests/__mocks__/hooks/useTranslate.js
  src/js/tests/form-elements/DateFieldDateFns.test.jsx
  src/js/tests/utils/dateUtils.test.jsx
  src/js/utils/dateUtils.js
Labels: type: maintenance, domain: frontend, flag: config change

#5538 OBPIH-7298 [E2E-Test] Putaway (fix creating receiving bin)
  grails-app/services/org/pih/warehouse/receiving/ReceiptService.groovy
Labels: type: feature, domain: backend
