Repository openboxes/openboxes, pull requests merged in 2025-09, with the labels that each got.

#5473 OBPIH-7465 Record stock not creating the correct adjustment when backdated
  grails-app/services/org/pih/warehouse/inventory/RecordStockProductInventoryTransactionService.groovy
Labels: domain: backend

#5477 OBPIH-7487 Fix wrong qty before in the inventory transactions report …
  grails-app/domain/org/pih/warehouse/inventory/Transaction.groovy
  grails-app/migrations/views/inventory-transaction-summary-helper-views.sql
Labels: domain: backend, flag: schema change

#5458 OBLS-126 Create initial version of putaway task API
  grails-app/conf/logback-spring.xml
  grails-app/controllers/org/pih/warehouse/RoleInterceptor.groovy
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/api/ApiController.groovy
  grails-app/controllers/org/pih/warehouse/api/putaway/PutawayTaskApiController.groovy
  grails-app/controllers/org/pih/warehouse/api/putaway/PutawayUrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/api/putaway/SearchPutawayTaskCommand.groovy
  grails-app/controllers/org/pih/warehouse/core/ErrorsController.groovy
  grails-app/controllers/org/pih/warehouse/data/DataExportController.groovy
  grails-app/controllers/org/pih/warehouse/putaway/PutAwayController.groovy
  grails-app/domain/org/pih/warehouse/order/OrderItem.groovy
  grails-app/domain/org/pih/warehouse/putaway/PutawayTask.groovy
  grails-app/init/org/pih/warehouse/BootStrap.groovy
  grails-app/migrations/0.9.x/changelog-2025-08-25-1347-create-table-putaway-task.xml
  grails-app/migrations/0.9.x/changelog-2025-08-31-1654-add-column-order-item-container-location.xml
  grails-app/migrations/0.9.x/changelog.xml
  grails-app/migrations/views/changelog.xml
  grails-app/migrations/views/putaway-task.sql
  grails-app/services/org/pih/warehouse/core/UserService.groovy
  grails-app/services/org/pih/warehouse/putaway/PutawayService.groovy
  grails-app/services/org/pih/warehouse/putaway/PutawayTaskCompletedEventService.groovy
  grails-app/services/org/pih/warehouse/putaway/PutawayTaskService.groovy
  grails-app/views/order/_summary.gsp
  src/main/groovy/org/pih/warehouse/api/Putaway.groovy
  src/main/groovy/org/pih/warehouse/api/PutawayTaskAdapter.groovy
  src/main/groovy/org/pih/warehouse/api/PutawayTaskStatus.groovy
  src/main/groovy/org/pih/warehouse/api/StatusCategory.groovy
  src/main/groovy/org/pih/warehouse/putaway/PutawayTaskCompletedEvent.groovy
Labels: domain: documentation, domain: frontend, domain: backend, flag: schema change, flag: config change, domain: l10n

#5330 OB-3246 Implement initial version of Purchase Order API
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/api/PurchaseOrderApiController.groovy
  src/main/groovy/org/pih/warehouse/order/CreatePurchaseOrderCommand.groovy
  src/main/groovy/org/pih/warehouse/order/CreatePurchaseOrderItemCommand.groovy
  src/main/groovy/org/pih/warehouse/order/UpdatePurchaseOrderCommand.groovy
  src/main/groovy/org/pih/warehouse/order/UpdatePurchaseOrderItemCommand.groovy
Labels: type: feature, domain: backend

#5324 OB-3247 Added support for basic authentication on API requests
  grails-app/conf/application.yml
  grails-app/controllers/org/pih/warehouse/BasicAuthInterceptor.groovy
Labels: domain: frontend, domain: backend, flag: config change, domain: l10n

#5480 OBPIH-6969 Improve approach to product creation and stock data (endpoints)
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/api/InventoryApiController.groovy
  grails-app/controllers/org/pih/warehouse/api/ProductApiController.groovy
  grails-app/domain/org/pih/warehouse/inventory/Transaction.groovy
  grails-app/services/org/pih/warehouse/importer/InventoryImportDataService.groovy
  grails-app/services/org/pih/warehouse/product/ProductService.groovy
  src/main/groovy/org/pih/warehouse/importer/CSVUtils.groovy
Labels: domain: backend

#5488 OBLS-143 Searching container by location number or id
  grails-app/services/org/pih/warehouse/putaway/PutawayTaskService.groovy
Labels: domain: backend

#5490 OBLS-133 display zone name and location type in the proper column
  grails-app/views/location/showBinLocations.gsp
Labels: domain: frontend

#5493 Various bug fixes related to putaway task API
  grails-app/controllers/org/pih/warehouse/api/ApiController.groovy
  grails-app/services/org/pih/warehouse/putaway/PutawayService.groovy
  src/main/groovy/org/pih/warehouse/api/PutawayTaskStatus.groovy
Labels: domain: documentation, domain: frontend, domain: backend, flag: schema change, domain: l10n

#5492 OBPIH-7298 Add selectors for putaway workflow
  grails-app/taglib/org/pih/warehouse/DatePickerTagLib.groovy
  grails-app/views/order/_filters.gsp
  grails-app/views/order/list.gsp
  src/js/components/put-away/PutAwayCheckPage.jsx
  src/js/components/put-away/PutAwayPage.jsx
  src/js/components/put-away/PutAwaySecondPage.jsx
  src/js/components/put-away/SplitLineModal.jsx
  src/js/utils/CustomTreeTable.jsx
  src/js/utils/Filter.jsx
  src/js/utils/Input.jsx
Labels: domain: frontend

#5433 OBPIH-7441 refactor org identifier generation
  grails-app/services/org/pih/warehouse/core/OrganizationIdentifierService.groovy
  src/test/groovy/unit/org/pih/warehouse/organization/OrganizationIdentifierServiceSpec.groovy
Labels: type: bug, domain: backend

#5501 OBPIH-7493 Do not treat transaction from migration as a count (do not…
  grails-app/migrations/views/inventory-counts-helper-views.sql
  grails-app/migrations/views/inventory-counts.sql
Labels: type: bug, flag: schema change

#5485 OBPIH-7488 support localized date patterns
  grails-app/i18n/messages.properties
  grails-app/i18n/messages_es.properties
  grails-app/services/org/pih/warehouse/core/LocalizationService.groovy
  grails-app/services/org/pih/warehouse/core/MessageService.groovy
  grails-app/taglib/org/pih/warehouse/DateTagLib.groovy
  grails-app/taglib/org/pih/warehouse/LocalizationTagLib.groovy
  grails-app/taglib/org/pih/warehouse/MessageTagLib.groovy
  grails-app/views/inventoryItem/_productDetails.gsp
  src/main/groovy/org/pih/warehouse/app/ApplicationContextProvider.groovy
  src/main/groovy/org/pih/warehouse/core/date/DateDisplayFormat.groovy
  src/main/groovy/org/pih/warehouse/core/date/DateDisplayStyle.groovy
  src/main/groovy/org/pih/warehouse/core/date/DateFormatterContext.groovy
  src/main/groovy/org/pih/warehouse/core/date/DateFormatterManager.groovy
  src/main/groovy/org/pih/warehouse/core/date/DatePatternLocalizer.groovy
  src/main/groovy/org/pih/warehouse/core/date/TemporalAccessorDateFormatter.groovy
  src/main/groovy/org/pih/warehouse/core/date/TemporalAccessorDateTimeFormatter.groovy
  src/main/groovy/org/pih/warehouse/core/date/TemporalAccessorFormatter.groovy
  src/main/groovy/org/pih/warehouse/core/localization/LocaleDeterminer.groovy
  src/main/groovy/org/pih/warehouse/core/localization/LocalizableMessage.groovy
  src/main/groovy/org/pih/warehouse/core/localization/MessageLocalizer.groovy
  src/main/groovy/org/pih/warehouse/core/session/SessionManager.groovy
  src/test/groovy/unit/org/pih/warehouse/core/date/DateFormatterManagerSpec.groovy
  src/test/groovy/unit/org/pih/warehouse/core/date/TemporalAccessorDateFormatterSpec.groovy
  src/test/groovy/unit/org/pih/warehouse/core/date/TemporalAccessorDateTimeFormatterSpec.groovy
Labels: type: feature, domain: frontend, domain: backend, domain: l10n

#5496 OBPIH-6999 Fill expiration date when select known lot in new row in count and recount workflow
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/api/ProductApiController.groovy
  grails-app/services/org/pih/warehouse/product/ProductService.groovy
  src/js/actions/index.js
  src/js/actions/types.js
  src/js/api/services/ProductApi.js
  src/js/api/urls.js
  src/js/components/cycleCount/cycleCount.scss
  src/js/components/cycleCount/toCountTab/CountStep.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStep.jsx
  src/js/components/form-elements/v2/SelectField.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/js/reducers/index.jsx
  src/js/reducers/lotNumbersReducer.jsx
  src/js/selectors/index.js
  src/js/utils/Select.jsx
  src/js/utils/option-utils.jsx
Labels: type: feature, domain: frontend, domain: backend

#5514 OBLS-192 Fixed bug with assigned locations returning internal locatio…
  grails-app/domain/org/pih/warehouse/inventory/InventoryLevel.groovy
Labels: domain: backend

#5506 OBLS-140 putaway order gsp init
  grails-app/controllers/org/pih/warehouse/putaway/PutawayController.groovy
  grails-app/i18n/messages.properties
  grails-app/views/order/_actions.gsp
  grails-app/views/order/list.gsp
  grails-app/views/putaway/_print.gsp
  grails-app/views/putaway/_putawaySummary.gsp
  grails-app/views/putaway/_putawayTasks.gsp
  grails-app/views/putaway/show.gsp
  src/js/api/urls.js
  src/js/components/Router.jsx
  src/js/consts/applicationUrls.js
  src/js/tests/utils/menu-utils.test.jsx
Labels: domain: frontend, domain: backend, domain: l10n

#5516 Correct a create putaway url
  grails-app/conf/runtime.groovy
Labels: flag: config change

#5504 OBPIH-7512 replace string key with AvailableItemKey when working with product av…
  grails-app/services/org/pih/warehouse/data/LoadDataService.groovy
  grails-app/services/org/pih/warehouse/data/MigrationService.groovy
  grails-app/services/org/pih/warehouse/importer/InventoryImportDataService.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountTransactionService.groovy
  grails-app/services/org/pih/warehouse/inventory/InventoryService.groovy
  grails-app/services/org/pih/warehouse/inventory/ProductAvailabilityService.groovy
  grails-app/services/org/pih/warehouse/inventory/ProductInventoryTransactionService.groovy
  grails-app/services/org/pih/warehouse/inventory/RecordStockProductInventoryTransactionService.groovy
  grails-app/services/org/pih/warehouse/report/ReportService.groovy
  src/main/groovy/org/pih/warehouse/inventory/product/availability/AvailableItemKey.groovy
  src/main/groovy/org/pih/warehouse/inventory/product/availability/AvailableItemMap.groovy
Labels: type: bug, domain: backend

#5509 OBLS-180 Expand requisition data model to handle priority and delivery type
  grails-app/controllers/org/pih/warehouse/api/putaway/PutawayTaskApiController.groovy
  grails-app/controllers/org/pih/warehouse/api/putaway/PutawayUrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/api/putaway/SearchPutawayTaskCommand.groovy
  grails-app/controllers/org/pih/warehouse/api/putaway/SuggestInboundRoutingCommand.groovy
  grails-app/domain/org/pih/warehouse/putaway/PutawayTask.groovy
  grails-app/domain/org/pih/warehouse/requisition/Requisition.groovy
  grails-app/i18n/messages.properties
  grails-app/migrations/0.9.x/changelog-2025-09-23-1950-add-column-requisition-fulfillment-properties.xml
  grails-app/migrations/0.9.x/changelog.xml
  grails-app/migrations/views/changelog.xml
  grails-app/migrations/views/location-effective-supported-activities.sql
  grails-app/migrations/views/putaway-task.sql
  grails-app/services/org/pih/warehouse/inboundSortation/DemandService.groovy
  grails-app/services/org/pih/warehouse/inboundSortation/SlottingService.groovy
  grails-app/services/org/pih/warehouse/inventory/StockMovementService.groovy
  grails-app/views/requisition/_summary.gsp
  grails-app/views/stockMovement/_schedule.gsp
  src/main/groovy/org/pih/warehouse/core/ActivityCode.groovy
  src/main/groovy/org/pih/warehouse/core/DeliveryTypeCode.groovy
  src/main/groovy/org/pih/warehouse/core/OrderTypeCode.groovy
  src/main/groovy/org/pih/warehouse/inboundSortation/OutboundDemand.groovy
  src/main/groovy/org/pih/warehouse/inboundSortation/strategy/CrossDockingStrategy.groovy
Labels: domain: frontend, domain: backend, flag: schema change, domain: l10n

#5521 OBLS-140 fix status display
  grails-app/views/putaway/_putawaySummary.gsp
  grails-app/views/putaway/show.gsp
Labels: domain: frontend

#5511 OBLS-202 Sending an email when putaway discrepancy occurs
  grails-app/i18n/messages.properties
  grails-app/services/org/pih/warehouse/putaway/PutawayTaskService.groovy
  grails-app/services/org/pih/warehouse/putaway/discrepancy/PutawayDiscrepancyEventService.groovy
  grails-app/services/org/pih/warehouse/report/NotificationService.groovy
  grails-app/views/email/_putawayDiscrepancy.gsp
  src/js/consts/roleType.js
  src/main/groovy/org/pih/warehouse/core/RoleType.groovy
  src/main/groovy/org/pih/warehouse/putaway/discrepancy/PutawayDiscrepancyEvent.groovy
Labels: domain: frontend, domain: backend, domain: l10n
