Repository openboxes/openboxes, pull requests merged in 2025-05, with the labels that each got.

#5235 OBPIH-7242 Create "box" component for alignment and transaction type columns
  grails-app/i18n/messages.properties
  src/css/colors.scss
  src/js/components/DataTable/DataTable.scss
  src/js/components/DataTable/v2/ValueIndicator.jsx
  src/js/consts/arrowValueIndicatorVariant.js
  src/js/consts/valueIndicatorVariant.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend, domain: l10n

#5239 OBPIH-7240 Create page with two tabs for inventory changes report
  grails-app/conf/runtime.groovy
  grails-app/i18n/messages.properties
  src/js/components/Router.jsx
  src/js/components/cycleCountReporting/CycleCountReporting.jsx
  src/js/components/cycleCountReporting/CycleCountReportingHeader.jsx
  src/js/components/cycleCountReporting/InventoryTransactionsTab.jsx
  src/js/components/cycleCountReporting/ProductsTab.jsx
  src/js/consts/cycleCount.js
Labels: domain: frontend, domain: l10n

#5234 OBPIH-7064 Add information to discrepancy / success message after save count
  grails-app/i18n/messages_pt.properties
  src/js/consts/cycleCountStatus.js
  src/js/hooks/cycleCount/useCountStep.jsx
Labels: domain: frontend, domain: l10n

#5243 OBPIH-7251 Fixed position columns and horizontal scrolling for new react tables
  src/js/components/DataTable/DataTable.scss
  src/js/components/DataTable/v2/DataTable.jsx
  src/js/components/DataTable/v2/DataTableBody.jsx
  src/js/components/DataTable/v2/DataTableHeader.jsx
  src/js/components/cycleCount/cycleCount.scss
  src/js/hooks/cycleCount/useInventoryTransactionsTab.js
  src/js/hooks/useTableColumnMeta.jsx
  src/js/hooks/useTableTotalWidth.js
Labels: domain: frontend

#5232 OBPIH-7048 filter out inactive products from cycle count tables
  grails-app/migrations/views/cycle-count-candidate.sql
  grails-app/migrations/views/cycle-count-session.sql
  grails-app/migrations/views/pending_cycle_count_request.sql
Labels: type: feature, flag: schema change

#5246 OBPIH-7268 include user input fields in count export
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/js/hooks/cycleCount/useCountStep.jsx
Labels: type: feature, domain: frontend, domain: backend

#5245 OBPIH-7019 Draft unfinished resolve workflow
  grails-app/i18n/messages.properties
  src/js/actions/index.js
  src/js/components/cycleCount/CycleCountDraftInfoBar.jsx
  src/js/components/cycleCount/toCountTab/CycleCountToCount.jsx
  src/js/components/cycleCount/toResolveTab/CycleCountToResolve.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useDraftInfoBar.js
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/reducers/cycleCountReducer.js
Labels: domain: frontend, domain: l10n

#5233 OBPIH-7178 Batch endpoint for insert/update cycle count items
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/js/api/services/CycleCountApi.js
  src/js/api/urls.js
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemBatchCommand.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountUpdateItemBatchCommand.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountUpdateItemCommand.groovy
Labels: domain: frontend, domain: backend

#5249 OBPIH-7246 Product and Transaction date filters for inventory transactions report
  grails-app/i18n/messages.properties
  src/js/components/DataTable/v2/DataTable.jsx
  src/js/components/DataTable/v2/DataTableBody.jsx
  src/js/components/DataTable/v2/DataTableHeader.jsx
  src/js/components/Filter/FilterForm.jsx
  src/js/components/cycleCount/CycleCountFilters.jsx
  src/js/components/cycleCountReporting/CycleCountReporting.jsx
  src/js/components/cycleCountReporting/CycleCountReportingFilterFields.jsx
  src/js/components/cycleCountReporting/CycleCountReportingFilters.jsx
  src/js/components/cycleCountReporting/InventoryTransactionsTab.jsx
  src/js/hooks/cycleCount/useInventoryTransactionsTab.jsx
  src/js/hooks/cycleCountReporting/useCycleCountReportingFilters.js
  src/js/hooks/useCycleCountPagination.js
  src/js/hooks/useTableDataV2.js
  src/js/hooks/useTablePagination.js
  src/js/utils/getCommonPinningStyles.jsx
Labels: domain: frontend, domain: l10n

#5251 OBPIH-7234 Change data-testid for order select
  src/js/components/receiving/PartialReceivingPage.jsx
  src/js/utils/Select.jsx
Labels: domain: frontend

#5248 OBPIH-7139 Erase draft when switching location
  src/js/actions/index.js
  src/js/components/cycleCount/toCountTab/CycleCountToCount.jsx
  src/js/components/cycleCount/toResolveTab/CycleCountToResolve.jsx
  src/js/hooks/cycleCount/useAllProductsTab.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useDraftInfoBar.js
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/reducers/cycleCountReducer.js
  src/js/selectors/index.js
  webpack.config.js
Labels: domain: frontend

#5250 OB-3223 do not duplicate putaway items
  grails-app/controllers/org/pih/warehouse/api/PutawayApiController.groovy
Labels: domain: backend

#5238 OBPIH-7193: add product inventory snapshot transaction type
  grails-app/migrations/0.9.x/changelog-2025-04-29-0000-add-inventory-baseline-transaction-type.xml
  grails-app/migrations/0.9.x/changelog.xml
  grails-app/services/org/pih/warehouse/inventory/CycleCountProductInventoryTransactionService.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountTransactionService.groovy
  grails-app/services/org/pih/warehouse/inventory/ProductInventoryTransactionService.groovy
  src/main/groovy/org/pih/warehouse/core/Constants.groovy
  src/main/groovy/org/pih/warehouse/inventory/ProductInventorySnapshotSource.groovy
  src/test/groovy/unit/org/pih/warehouse/inventory/CycleCountProductInventoryTransactionServiceSpec.groovy
  src/test/groovy/unit/org/pih/warehouse/inventory/CycleCountTransactionServiceSpec.groovy
Labels: type: feature, domain: backend, flag: schema change

#5247 OBPIH-7093 Small search and pagination issue on cc lists
  src/js/components/cycleCount/allProductsTab/CycleCountAllProducts.jsx
  src/js/components/cycleCount/toCountTab/CycleCountToCount.jsx
  src/js/components/cycleCount/toResolveTab/CycleCountToResolve.jsx
  src/js/hooks/cycleCount/useAllProductsTab.jsx
  src/js/hooks/cycleCount/useToCountTab.jsx
  src/js/hooks/cycleCount/useToResolveTab.jsx
  src/js/hooks/useCycleCountPagination.js
  src/js/hooks/useTableDataV2.js
  src/js/hooks/useTablePagination.js
Labels: domain: frontend

#5253 OBPIH-7269 Add import count widget (dropzone on UI, upload endpoint, …
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/i18n/messages.properties
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/js/api/services/CycleCountApi.js
  src/js/api/urls.js
  src/js/components/cycleCount/toCountTab/CountStep.jsx
  src/js/components/cycleCount/toCountTab/CountStepHeader.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
  src/main/groovy/org/pih/warehouse/importer/CycleCountItemsExcelImporter.groovy
Labels: domain: frontend, domain: backend, domain: l10n

#5255 OBPIH-7246 Change filters order and fix table fixed position
  src/js/components/cycleCountReporting/CycleCountReportingFilterFields.jsx
  src/js/hooks/useDataTable.js
Labels: domain: frontend

#5258 OBPIH-7196 switch product merge to use baseline transaction type
  grails-app/services/org/pih/warehouse/product/ProductMergeService.groovy
Labels: type: maintenance, domain: backend

#5265 OBPIH-7241 Create table component for inventory transactions report (improvements after QA)
  grails-app/i18n/messages.properties
  src/js/components/Filter/FilterForm.jsx
  src/js/components/cycleCountReporting/CycleCountReporting.jsx
  src/js/components/cycleCountReporting/CycleCountReportingFilterFields.jsx
  src/js/components/cycleCountReporting/CycleCountReportingFilters.jsx
  src/js/components/form-elements/DateFilter/DateFilter.jsx
  src/js/consts/reasonCodes.js
  src/js/hooks/cycleCount/useCycleCountReportingFilters.js
  src/js/hooks/cycleCount/useInventoryTransactionsTab.jsx
  src/js/hooks/useTableDataV2.js
  src/js/tests/menu/__snapshots__/Wizard.test.jsx.snap
  src/js/utils/form-utils.jsx
Labels: domain: frontend, domain: l10n

#5267 OBPIH-7139 Erase draft when switching location (fix after QA)
  src/js/reducers/cycleCountReducer.js
Labels: domain: frontend

#5266 OBPIH-7036 Add data-testid to search field on persons list
  grails-app/views/person/list.gsp
Labels: domain: frontend

#5259 OB-3225: Added missing BE stuff to make Packing part(in mobile app) work
  grails-app/controllers/org/pih/warehouse/shipping/ShipmentApiController.groovy
  grails-app/domain/org/pih/warehouse/shipping/Shipment.groovy
  grails-app/init/org/pih/warehouse/BootStrap.groovy
  grails-app/services/org/pih/warehouse/shipping/ShipmentService.groovy
  src/main/groovy/org/pih/warehouse/core/EventCode.groovy
Labels: type: feature, domain: backend, flag: config change

#5268 OB-3226: Added missing BE info for Loading part
  grails-app/domain/org/pih/warehouse/shipping/Shipment.groovy
Labels: type: feature, domain: backend, flag: config change

#5271 Disable MySQL 5.7 test runner
  .github/workflows/backend-tests.yml
Labels: domain: devops

#5270 OBPIH-7241 Create table component for inventory transactions report (fix)
  src/css/main.scss
  src/js/components/cycleCountReporting/CycleCountReportingFilterFields.jsx
  src/js/components/form-elements/DateFilter/DateFilter.jsx
  src/js/hooks/cycleCount/useInventoryTransactionsTab.jsx
  src/js/tests/menu/__snapshots__/Wizard.test.jsx.snap
  src/js/utils/form-utils.jsx
Labels: domain: frontend

#5269 OBPIH-7203 change adjustment icon in stock history and remove migation buttons o…
  grails-app/views/inventoryItem/_showStockHistory.gsp
  grails-app/views/product/_summary.gsp
  src/main/webapp/images/icons/silk/arrow_up_green_down_red.png
Labels: type: maintenance, domain: frontend

#5237 OBPIH-7255: add support for ZonedDateTime to backend
  grails-app/utils/org/pih/warehouse/DateUtil.groovy
  grails-app/utils/org/pih/warehouse/databinding/DataBindingConstants.groovy
  grails-app/utils/org/pih/warehouse/databinding/InstantValueConverter.groovy
  grails-app/utils/org/pih/warehouse/databinding/LocalDateValueConverter.groovy
  grails-app/utils/org/pih/warehouse/databinding/ZonedDateTimeValueConverter.groovy
  src/main/groovy/org/pih/warehouse/core/Constants.groovy
  src/test/groovy/unit/org/pih/warehouse/utils/DateUtilSpec.groovy
  src/test/groovy/unit/org/pih/warehouse/utils/databinding/InstantValueConverterSpec.groovy
  src/test/groovy/unit/org/pih/warehouse/utils/databinding/ZonedDateTimeValueConverterSpec.groovy
Labels: type: feature, domain: backend

#5275 OBPIH-7241 Create table component for inventory transactions report (improvement)
  src/js/hooks/cycleCount/useInventoryTransactionsTab.jsx
Labels: domain: frontend

#5277 OBPIH-7269 Add Import Count Widget
  grails-app/i18n/messages.properties
  src/css/main.scss
  src/js/components/cycleCount/toCountTab/CountStep.jsx
  src/js/components/cycleCount/toCountTab/CountStepHeader.jsx
  src/js/components/form-elements/v2/ButtonFileSelect.jsx
  src/js/components/form-elements/v2/DropzoneFileSelect.jsx
  src/js/components/locations-configuration/ImportLocations.jsx
  src/js/components/locations-configuration/modals/ImportBinModal.jsx
  src/js/components/products-configuration/ImportCategories.jsx
  src/js/components/stock-movement-wizard/outboundImport/subsections/OutboundImportDropzone.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
Labels: domain: frontend, domain: l10n

#5273 OBPIH-7258 Group rows for individual cycle count on a product in inve…
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/domain/org/pih/warehouse/inventory/CycleCountSummary.groovy
  grails-app/init/org/pih/warehouse/BootStrap.groovy
  grails-app/migrations/views/changelog.xml
  grails-app/migrations/views/cycle-count-details.sql
  grails-app/migrations/views/cycle-count-summary.sql
  grails-app/migrations/views/drop-all-views.xml
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/js/api/urls.js
  src/js/hooks/cycleCount/useInventoryTransactionsTab.jsx
  src/main/groovy/org/pih/warehouse/report/CycleCountReportCommand.groovy
Labels: domain: frontend, domain: backend, flag: schema change, flag: config change

#5280 OB-3223 include productType when fetching (mobile)
  grails-app/controllers/org/pih/warehouse/api/MobileProductApiController.groovy
Labels: domain: backend

#5290 OBPIH-7270 Fix updating non-custom rows from import
  src/js/hooks/cycleCount/useCountStep.jsx
Labels: domain: frontend

#5274 OBPIH-7115 Prevent access to cycle count from another location (fix after QA)
  src/css/main.scss
  src/js/components/cycleCount/toCountTab/CountStep.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/js/hooks/useTablePagination.js
Labels: domain: frontend

#5262 OBPIH-7194 Refactor transactions after Record Stock
  grails-app/conf/runtime.groovy
  grails-app/services/org/pih/warehouse/inventory/InventoryService.groovy
  grails-app/services/org/pih/warehouse/inventory/RecordStockProductInventoryTransactionService.groovy
Labels: domain: backend, flag: config change

#5287 OBPIH-7195 fix: error creating baseline if a transaction already exists for given date
  grails-app/services/org/pih/warehouse/inventory/InventoryService.groovy
  grails-app/services/org/pih/warehouse/inventory/ProductAvailabilityService.groovy
  grails-app/services/org/pih/warehouse/inventory/ProductInventoryTransactionService.groovy
  src/test/groovy/unit/org/pih/warehouse/inventory/CycleCountProductInventoryTransactionServiceSpec.groovy
Labels: type: maintenance, domain: backend
