Repository openboxes/openboxes, pull requests merged in 2025-08, with the labels that each got.

#5428 OBPIH-7313 Fix inventory adjustment recognition and qty before/after …
  grails-app/migrations/views/inventory-transactions-summary.sql
Labels: flag: schema change

#5431 OBPIH-7437 handle all items skipped during inventory import
  grails-app/services/org/pih/warehouse/importer/InventoryImportDataService.groovy
  grails-app/services/org/pih/warehouse/inventory/InventoryService.groovy
Labels: type: bug, domain: backend

#5432 OBPIH-7313 Fix performance issues in inventory transactions report fo…
  grails-app/migrations/views/inventory-transactions-summary.sql
Labels: flag: schema change

#5436 OBPIH-7443 fix import demo products error when tag is null and when category nam…
  grails-app/conf/templates/configuration/products.csv
  grails-app/services/org/pih/warehouse/product/ProductService.groovy
Labels: type: bug, domain: backend, flag: config change

#5440 OBPIH-7444 fail creating adjustment when transaction already exists a…
  grails-app/i18n/messages.properties
  grails-app/services/org/pih/warehouse/importer/InventoryImportDataService.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountTransactionService.groovy
  grails-app/services/org/pih/warehouse/inventory/InventoryService.groovy
  grails-app/services/org/pih/warehouse/inventory/ProductInventoryTransactionService.groovy
  src/test/groovy/unit/org/pih/warehouse/inventory/CycleCountProductInventoryTransactionServiceSpec.groovy
  src/test/groovy/unit/org/pih/warehouse/inventory/CycleCountTransactionServiceSpec.groovy
Labels: type: bug, domain: backend, domain: l10n

#5441 OBPIH-7449 Correct Most Recent Stock Count date in Export Latest Inventory Date report
  grails-app/services/org/pih/warehouse/core/DashboardService.groovy
Labels: domain: backend

#5443 OBPIH-7434 Fix number of counts not being displayed properly
  grails-app/services/org/pih/warehouse/report/ReportService.groovy
Labels: domain: backend

#5444 OBPIH-7434 Specify an index explicily for DB optimizer not to choose …
  grails-app/migrations/views/inventory-audit-details.sql
Labels: flag: schema change

#5446 Implemented button for auto-receiving on main stock movement page
  grails-app/conf/application.yml
  grails-app/controllers/org/pih/warehouse/receiving/PartialReceivingController.groovy
  grails-app/i18n/messages.properties
  grails-app/views/stockMovement/show.gsp
Labels: type: feature, domain: frontend, domain: backend, domain: l10n

#5449 OBPIH-7455 Fix before/after qty issues in the inventory transaction r…
  grails-app/domain/org/pih/warehouse/inventory/Transaction.groovy
  grails-app/migrations/views/changelog.xml
  grails-app/migrations/views/inventory-transaction-summary-helper-views-indexes.sql
  grails-app/migrations/views/inventory-transaction-summary-helper-views.sql
  grails-app/migrations/views/inventory-transactions-summary.sql
  grails-app/services/org/pih/warehouse/inventory/InventoryTransactionSummaryService.groovy
  grails-app/services/org/pih/warehouse/inventory/RefreshInventoryTransactionsSummaryEventService.groovy
  src/main/groovy/org/pih/warehouse/inventory/RefreshInventoryTransactionsSummaryEvent.groovy
Labels: domain: backend, flag: schema change

#5454 OBPIH-7464 Prevent backspace from deselecting assignee field in Assign modal
  src/js/hooks/cycleCount/useAssignCycleCountModal.jsx
Labels: domain: frontend

#5453 OBPIH-7450 Add custom labels in GSP instead of localizations for PO view
  grails-app/controllers/org/pih/warehouse/order/OrderController.groovy
  grails-app/i18n/messages.properties
  grails-app/views/order/_itemDetails.gsp
  grails-app/views/order/_orderItemFormDialog.gsp
  grails-app/views/purchaseOrder/_showOrderItems.gsp
Labels: domain: frontend, domain: backend, domain: l10n

#5451 OBPIH-7460 Remove empty field options and prevent adding empty Tags, Catalogs, Cateogries etc.
  grails-app/controllers/org/pih/warehouse/api/SelectOptionsApiController.groovy
  grails-app/domain/org/pih/warehouse/core/PaymentTerm.groovy
  grails-app/domain/org/pih/warehouse/core/PreferenceType.groovy
  grails-app/domain/org/pih/warehouse/core/Tag.groovy
  grails-app/domain/org/pih/warehouse/product/Attribute.groovy
  grails-app/domain/org/pih/warehouse/product/Category.groovy
  grails-app/domain/org/pih/warehouse/product/ProductCatalog.groovy
Labels: domain: backend

#5448 OBPIH-7457 Fix prevent adding supplier as manufacturer via import
  grails-app/services/org/pih/warehouse/importer/ProductSupplierImportDataService.groovy
Labels: domain: backend

#5447 OBPIH-7452 Fix last stock count for items with backdated shipments to include transactions without baselines
  grails-app/services/org/pih/warehouse/dashboard/IndicatorDataService.groovy
Labels: domain: backend

#5461 Changed way of defining subject and body when sending receipt notific…
  grails-app/services/org/pih/warehouse/receiving/ReceiptService.groovy
  grails-app/services/org/pih/warehouse/report/NotificationService.groovy
Labels: domain: backend

#5464 OBPIH-7465 Record stock not creating the correct adjustment when backdated
  grails-app/services/org/pih/warehouse/inventory/InventoryService.groovy
  grails-app/services/org/pih/warehouse/inventory/RecordStockProductInventoryTransactionService.groovy
  src/main/groovy/org/pih/warehouse/api/StockMovementItem.groovy
Labels: domain: backend

#5462 OBPIH-7462 Limit number of old product inventory transactions migrated at once
  grails-app/conf/application.yml
  grails-app/services/org/pih/warehouse/data/MigrationService.groovy
  grails-app/services/org/pih/warehouse/inventory/InventoryService.groovy
  grails-app/views/migration/dataMigration.gsp
Labels: domain: frontend, domain: backend, flag: config change

#5459 OBPIH-7466 Hide Export button on Products and Transactions reports
  src/js/components/cycleCountReporting/InventoryTransactionsTab.jsx
  src/js/components/cycleCountReporting/ProductsTab.jsx
  src/js/hooks/cycleCount/useInventoryTransactionsTab.jsx
  src/js/hooks/cycleCount/useProductsTab.jsx
Labels: domain: frontend

#5463 OBPIH-7467 Remove facility-specific forecasting configuration from Location
  grails-app/controllers/org/pih/warehouse/api/LocationApiController.groovy
  grails-app/controllers/org/pih/warehouse/core/LocationController.groovy
  grails-app/i18n/messages.properties
  grails-app/views/location/edit.gsp
  grails-app/views/location/showForecastingConfiguration.gsp
  src/js/components/locations-configuration/Forecasting.jsx
  src/js/components/locations-configuration/Forecasting.scss
  src/js/components/locations-configuration/ForecastingNotsupported.jsx
  src/js/components/locations-configuration/LocationsConfigurationWizard.jsx
  src/js/components/locations-configuration/ZoneAndBinLocations.jsx
Labels: domain: frontend, domain: backend, domain: l10n
