Repository openboxes/openboxes, pull requests merged in 2025-04, with the labels that each got.

#5182 OBPIH-7128 Fix bug with elements not being removed from a SortedSet
  grails-app/domain/org/pih/warehouse/inventory/CycleCountItem.groovy
  src/test/groovy/unit/org/pih/warehouse/inventory/CycleCountProductAvailabilityServiceSpec.groovy
  src/test/groovy/unit/org/pih/warehouse/inventory/CycleCountSpec.groovy
  src/test/groovy/unit/org/pih/warehouse/inventory/CycleCountTransactionServiceSpec.groovy
Labels: domain: backend

#5180 OBPIH-7008 Inventory changed when saving on resolve workflow
  grails-app/i18n/messages.properties
  src/js/api/services/CycleCountApi.js
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/utils/ConfirmModal.jsx
Labels: domain: frontend, domain: l10n

#5176 OBPIH-7145 Incorrect and blocked recount difference when add background inventory item during recount
  src/js/components/cycleCount/ConfirmStepHeader.jsx
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: frontend

#5186 OBPIH-7166 Call save before a reload on recount
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: frontend

#5185 OBPIH-7157 Add multi-fill for recipients in inbound add items
  src/css/main.scss
  src/js/components/stock-movement-wizard/inboundV2/inboundV2.scss
  src/js/hooks/inboundV2/addItems/useInboundAddItemsColumns.jsx
Labels: domain: frontend

#5188 OBPIH-7167 Deleted inventories are still visible after using reload button
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: frontend

#5191 OBPIH-7170 Fix bug with cycle count missing cycle count items with th…
  grails-app/domain/org/pih/warehouse/inventory/CycleCountItem.groovy
Labels: domain: backend

#5196 OBPIH-7163 Fix exporting inventory levels
  grails-app/conf/runtime.groovy
Labels: flag: config change

#5198 OBPIH-7169 Detect discrepancy caused by removed inventories during co…
  grails-app/i18n/messages.properties
  grails-app/services/org/pih/warehouse/inventory/CycleCountProductAvailabilityService.groovy
  src/js/components/cycleCount/CycleCountStockDiscrepancyInfoBar.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStep.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: frontend, domain: backend, domain: l10n

#5197 OBPIH-6381 Wrap Text for long product names on Goods Receipt Note
  grails-app/views/goodsReceiptNote/print.gsp
Labels: domain: frontend

#5200 OBPIH-7173 Rows duplicated when add the same inventory with no lot as added on recount (fixes after QA)
  grails-app/domain/org/pih/warehouse/inventory/InventoryItem.groovy
  grails-app/init/org/pih/warehouse/BootStrap.groovy
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemCommand.groovy
Labels: domain: frontend, domain: backend, flag: config change

#5201 OBPIH-7202 Fix sending a refresh request for cycle count that was COM…
  src/js/actions/types.js
  src/js/components/cycleCount/toResolveTab/ResolveStepHeader.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/reducers/cycleCountReducer.js
Labels: domain: frontend

#5199 OBPIH-6780 Add Page numbers on Picklist and Delivery Note
  grails-app/views/deliveryNote/print.gsp
  grails-app/views/picklist/print.gsp
Labels: domain: frontend

#5204 OBPIH-7168 Delete all inventories when recount in progress (without status changes)
  grails-app/i18n/messages.properties
  src/js/components/cycleCount/toResolveTab/ResolveStep.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend, domain: l10n

#5207 OBPIH-7169 Fix items not being removed when stock is removed during r…
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/i18n/messages.properties
  grails-app/services/org/pih/warehouse/inventory/CycleCountProductAvailabilityService.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/js/api/services/CycleCountApi.js
  src/js/api/urls.js
  src/js/components/cycleCount/CycleCountStockDiscrepancyInfoBar.jsx
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: frontend, domain: backend, domain: l10n

#5208 OBPIH-7165 Sort Picklist items by Bin Locations
  grails-app/i18n/messages.properties
  grails-app/services/org/pih/warehouse/inventory/StockMovementService.groovy
Labels: domain: backend, domain: l10n

#5209 OBPIH-7169 Fix sending refresh request with removeOutOfStockItemsExpl…
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: frontend

#5203 OBPIH-7219 Wording and UI improvements cycle count
  grails-app/i18n/messages.properties
  src/js/components/cycleCount/allProductsTab/CycleCountAllProducts.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend, domain: l10n

#5213 OBPIH-7169 Fix disappearing product name and recounted by
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: frontend

#5211 OBPIH-7218 Shift demand start date on the Demand tab to the first day…
  grails-app/controllers/org/pih/warehouse/inventory/InventoryItemController.groovy
  grails-app/services/org/pih/warehouse/forecasting/ForecastingService.groovy
Labels: domain: backend

#5210 OBPIH-7177 Inventory has changed not detected when add line on recount and the same line on record stock
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
Labels: domain: backend

#5206 OBPIH-7043 add support for canceling a count
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/i18n/messages.properties
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/css/main.scss
  src/js/api/services/CycleCountApi.js
  src/js/components/cycleCount/toCountTab/CycleCountToCount.jsx
  src/js/components/cycleCount/toResolveTab/CycleCountToResolve.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/hooks/cycleCount/useToCountTab.jsx
  src/js/hooks/cycleCount/useToResolveTab.jsx
  src/js/utils/utils.scss
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemCommand.groovy
  src/test/groovy/unit/org/pih/warehouse/inventory/CycleCountProductAvailabilityServiceSpec.groovy
Labels: type: feature, domain: frontend, domain: backend, domain: l10n

#5214 OBPIH-7217 Inbound return should allow origin outside location group is location type code is depot
  grails-app/services/org/pih/warehouse/core/LocationService.groovy
Labels: domain: backend

#5215 OBPIH-7231 Fix storing internal locations filter when refreshing a page
  src/js/hooks/cycleCount/useCycleCountFilters.js
Labels: domain: frontend

#5216 OBPIH-7043 Cancel product on To Count and To Resolve tabs (Fixes)
  src/js/components/cycleCount/toResolveTab/ResolveStep.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: frontend

#5220 OBPIH-7236 Clicking 'X' on order dropdown causes infinite loading spinner in receiving page
  src/js/components/receiving/PartialReceivingPage.jsx
Labels: domain: frontend

#5218 OBPIH-7237 Fix reload issue for empty cycle count items
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/domain/org/pih/warehouse/inventory/CycleCount.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountProductAvailabilityService.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/js/api/services/CycleCountApi.js
  src/js/hooks/cycleCount/useResolveStep.js
  src/test/groovy/unit/org/pih/warehouse/inventory/CycleCountProductAvailabilityServiceSpec.groovy
Labels: domain: frontend, domain: backend

#5222 OBPIH-7043 Cancel product on To Count and To Resolve tabs
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: frontend

#5223 OBPIH-7237 Fix submitting a count/recount while having discrepancy
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
Labels: domain: backend

#5184 OBPIH-7150 Arrow navigation in inbound add items pages
  src/js/api/services/StockMovementApi.js
  src/js/components/DataTable/DataTable.scss
  src/js/components/DataTable/TableHeaderCell.jsx
  src/js/components/DataTable/v2/DataTable.jsx
  src/js/components/stock-movement-wizard/inboundV2/InboundV2.jsx
  src/js/components/stock-movement-wizard/inboundV2/inboundV2.scss
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2AddItems.jsx
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2Send.jsx
  src/js/consts/applicationUrls.js
  src/js/consts/inboundColumns.js
  src/js/hooks/inboundV2/addItems/useInboundAddItemsColumns.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsForm.jsx
  src/js/hooks/useArrowsNavigation.jsx
Labels: domain: frontend

#5224 OBPIH-7108 Save progress when clicking Next on count and recount workflows
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: frontend

#5221 OBPIH-7042 Add Zone to Bin location filter in cycle count tabs
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useCycleCountFilters.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/js/utils/groupBinLocationsByZone.jsx
Labels: domain: frontend

#5226 OBPIH-7147 Improve validation
  src/js/components/stock-movement-wizard/inboundV2/InboundV2.jsx
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2AddItems.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsColumns.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsForm.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsValidation.js
Labels: domain: frontend

#5228 OBPIH-7237 Detect canceled cycle counts and throw a popup to inform u…
  grails-app/i18n/messages.properties
  src/js/components/cycleCount/toCountTab/CountStep.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: frontend, domain: l10n

#5227 OBPIH-7157 Add multi-fill for recipients in inbound add items (fix)
  src/js/hooks/inboundV2/addItems/useInboundAddItemsForm.jsx
  src/js/hooks/inboundV2/create/useInboundCreateForm.js
Labels: domain: frontend

#5219 OBPIH-7147 Separate Pack levels in Delivery Note
  grails-app/i18n/messages.properties
  grails-app/views/deliveryNote/_printPage.gsp
Labels: domain: frontend, domain: l10n

#5230 OBPIH-7151 change date format
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2Create.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsColumns.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsForm.jsx
  src/js/hooks/inboundV2/create/useInboundCreateForm.js
  src/js/utils/dateUtils.js
Labels: domain: frontend

#4985 WMS-17 Add list putaways endpoint
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/api/PutawayApiController.groovy
  grails-app/controllers/org/pih/warehouse/shipping/ShipmentApiController.groovy
  grails-app/services/org/pih/warehouse/order/OrderService.groovy
Labels: domain: frontend, domain: backend

#4989 WMS-16 migrate missing putaway methods from obkn branch
  grails-app/conf/application.yml
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/api/PutawayItemApiController.groovy
  grails-app/services/org/pih/warehouse/putaway/PutawayService.groovy
  src/main/groovy/org/pih/warehouse/core/RoleType.groovy
Labels: domain: backend, flag: config change, domain: l10n

#4987 WMS-20 add ContainerApiController
  build.gradle
  grails-app/conf/application.yml
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/shipping/ContainerApiController.groovy
  grails-app/domain/org/pih/warehouse/shipping/Container.groovy
  grails-app/services/org/pih/warehouse/core/DocumentService.groovy
  grails-app/services/org/pih/warehouse/core/IdentifierService.groovy
  grails-app/services/org/pih/warehouse/core/ZebraService.groovy
  grails-app/services/org/pih/warehouse/shipping/ShipmentIdentifierService.groovy
  grails-app/services/org/pih/warehouse/shipping/ShipmentService.groovy
  src/main/groovy/org/pih/warehouse/core/Constants.groovy
  src/main/groovy/org/pih/warehouse/inventory/LotStatusCode.groovy
Labels: domain: backend, flag: config change

#4988 WMS-2 Migrate Picklist APIs for mobile app picking
  grails-app/controllers/org/pih/warehouse/api/PicklistItemApiController.groovy
  grails-app/domain/org/pih/warehouse/core/Location.groovy
  grails-app/domain/org/pih/warehouse/inventory/OutboundStockMovementListItem.groovy
  grails-app/domain/org/pih/warehouse/picklist/PicklistItem.groovy
  grails-app/domain/org/pih/warehouse/requisition/RequisitionItem.groovy
  grails-app/domain/org/pih/warehouse/shipping/ShipmentItem.groovy
  grails-app/init/org/pih/warehouse/BootStrap.groovy
  grails-app/services/org/pih/warehouse/inventory/OutboundStockMovementService.groovy
  grails-app/services/org/pih/warehouse/inventory/StockMovementService.groovy
  grails-app/services/org/pih/warehouse/picklist/PicklistService.groovy
  grails-app/views/requisition/_picklistItems.gsp
  src/js/components/stock-movement-wizard/modals/EditPickModal.jsx
  src/main/groovy/org/pih/warehouse/api/ReplenishmentItem.groovy
  src/main/groovy/org/pih/warehouse/api/ReplenishmentPickPageItem.groovy
  src/main/groovy/org/pih/warehouse/api/StockMovementItem.groovy
Labels: domain: frontend, domain: backend, flag: config change, domain: l10n
