Repository openboxes/openboxes, pull requests merged in 2025-02, with the labels that each got.

#5018 OBPIH-6893 Create the batch start count API
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/domain/org/pih/warehouse/inventory/CycleCount.groovy
  grails-app/domain/org/pih/warehouse/inventory/CycleCountItem.groovy
  grails-app/domain/org/pih/warehouse/inventory/CycleCountRequest.groovy
  grails-app/i18n/messages.properties
  grails-app/migrations/0.9.x/changelog-2025-01-17-1800-create-table-cycle-count.xml
  grails-app/migrations/0.9.x/changelog-2025-01-17-1830-add-column-cycle-count-to-cycle-count-request.xml
  grails-app/migrations/0.9.x/changelog-2025-01-17-1900-create-table-cycle-count-item.xml
  grails-app/migrations/0.9.x/changelog.xml
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  grails-app/services/org/pih/warehouse/inventory/ProductAvailabilityService.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountDto.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemDto.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemStatus.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountStartBatchCommand.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountStartCommand.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountStatus.groovy
  src/main/groovy/org/pih/warehouse/inventory/DiscrepancyReasonCode.groovy
Labels: domain: backend, flag: schema change, domain: l10n

#5026 OBPIH-6967 Connect start count API with the frontend
  src/js/api/services/CycleCountApi.js
  src/js/api/urls.js
  src/js/hooks/cycleCount/useToCountTab.jsx
Labels: domain: frontend

#5027 OBPIH-6966 Create an endpoint to get cycle counts
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
Labels: domain: backend

#5031 OBPIH-6978 Add bin location property to cycle count item and assign a…
  grails-app/domain/org/pih/warehouse/inventory/CycleCountItem.groovy
  grails-app/migrations/0.9.x/changelog-2025-02-05-1500-add-column-location-to-cycle-count-item.xml
  grails-app/migrations/0.9.x/changelog.xml
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemDto.groovy
Labels: domain: backend, flag: schema change

#5032 OBPIH-6978 Fix creating a cycle count item with the default bin assigned
  grails-app/domain/org/pih/warehouse/inventory/CycleCountItem.groovy
  grails-app/migrations/0.9.x/changelog-2025-02-06-2200-drop-not-null-constraint-on-bin-location-in-cycle-count-item.xml
  grails-app/migrations/0.9.x/changelog.xml
Labels: domain: backend, flag: schema change

#5033 OBPIH-6894 Load the count step page
  grails-app/i18n/messages.properties
  src/js/actions/index.js
  src/js/actions/types.js
  src/js/api/services/CycleCountApi.js
  src/js/components/DataTable/v2/DataTable.jsx
  src/js/components/DataTable/v2/DataTableBody.jsx
  src/js/components/Router.jsx
  src/js/components/cycleCount/CycleCount.jsx
  src/js/components/cycleCount/cycleCount.scss
  src/js/components/cycleCount/toCountTab/CountStep.jsx
  src/js/components/cycleCount/toCountTab/CountStepHeader.jsx
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/components/cycleCount/toCountTab/CycleCountToCount.jsx
  src/js/components/form-elements/v2/SelectField.jsx
  src/js/consts/applicationUrls.js
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useCountStepValidation.js
  src/js/hooks/cycleCount/useToCountTab.jsx
  src/js/hooks/useDataTable.js
  src/js/reducers/cycleCountReducer.js
  src/js/reducers/index.jsx
Labels: domain: frontend, domain: l10n

#5034 OBPIH-6940 Adjust display of product name in cycle count tables to 2 rows only (fix after QA)
  src/js/hooks/cycleCount/useToCountTab.jsx
Labels: domain: frontend

#5036 OBPIH-6940 Adjust display of product name in cycle count tables to 2 rows only (to resolve tab)
  src/js/hooks/cycleCount/useToResolveTab.jsx
Labels: domain: frontend

#5029 OBPIH-6937 Create details form (fix after QA)
  src/js/components/stock-movement-wizard/inboundV2/InboundV2.jsx
  src/js/components/stock-movement-wizard/inboundV2/sections/InboundV2Create.jsx
  src/js/hooks/inboundV2/useInboundValidation.js
Labels: domain: frontend

#5035 OBPIH-6895 Load the count confirmation page
  grails-app/i18n/messages.properties
  src/js/components/cycleCount/cycleCount.scss
  src/js/components/cycleCount/toCountTab/ConfirmStepHeader.jsx
  src/js/components/cycleCount/toCountTab/CountStep.jsx
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
Labels: domain: frontend, domain: backend, domain: l10n

#5023 OBPIH-6965 add data binding support for java.time classes
  grails-app/conf/application.yml
  grails-app/controllers/org/pih/warehouse/api/StockMovementApiController.groovy
  grails-app/init/org/pih/warehouse/BootStrap.groovy
  grails-app/utils/org/pih/warehouse/DateUtil.groovy
  grails-app/utils/org/pih/warehouse/databinding/DataBindingConstants.groovy
  grails-app/utils/org/pih/warehouse/databinding/InstantValueConverter.groovy
  grails-app/utils/org/pih/warehouse/databinding/LocalDateValueConverter.groovy
  grails-app/utils/org/pih/warehouse/databinding/StringValueConverter.groovy
  src/main/groovy/org/pih/warehouse/core/Constants.groovy
  src/main/groovy/util/StringUtil.groovy
  src/test/groovy/unit/org/pih/warehouse/utils/DateUtilSpec.groovy
  src/test/groovy/unit/org/pih/warehouse/utils/databinding/InstantValueConverterSpec.groovy
  src/test/groovy/unit/org/pih/warehouse/utils/databinding/LocalDateValueConverterSpec.groovy
Labels: type: feature, domain: backend, flag: config change

#5030 OBPIH-6931 filter cycle count candidates by cycle count status
  grails-app/domain/org/pih/warehouse/inventory/CycleCount.groovy
  grails-app/domain/org/pih/warehouse/inventory/CycleCountCandidate.groovy
  grails-app/i18n/messages.properties
  grails-app/migrations/0.9.x/changelog-2025-02-06-0000-add-column-status-to-cycle-count.xml
  grails-app/migrations/0.9.x/changelog.xml
  grails-app/migrations/views/cycle-count-session.sql
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/js/consts/cycleCountCandidateStatus.js
  src/js/consts/cycleCountStatus.js
  src/js/hooks/cycleCount/useToCountTab.jsx
  src/js/hooks/cycleCount/useToResolveTab.jsx
  src/main/groovy/org/pih/warehouse/inventory/CycleCountCandidateFilterCommand.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountCandidateStatus.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountDto.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountRequestStatus.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountStatus.groovy
Labels: type: feature, domain: frontend, domain: backend, flag: schema change, domain: l10n

#5037 OBPIH-6938 Checkbox state and indicator persist across location changes
  src/js/hooks/useTableCheckboxes.js
Labels: domain: frontend

#5039 OBPIH-6941 Adjust columns widths in cycle count tables
  src/js/components/DataTable/v2/DataTableBody.jsx
  src/js/components/DataTable/v2/DataTableHeader.jsx
  src/js/hooks/cycleCount/useAllProductsTab.jsx
  src/js/hooks/cycleCount/useToCountTab.jsx
  src/js/hooks/cycleCount/useToResolveTab.jsx
Labels: domain: frontend

#5043 Default logo returns a 404 error (fixes #5041)
  grails-app/conf/application.yml
Labels: flag: config change

#5053 OBPIH-6975 Create component for columns with up vs down styling
  grails-app/i18n/messages.properties
  src/js/components/DataTable/DataTable.scss
  src/js/components/DataTable/v2/ArrowValueIndicator.jsx
  src/js/components/cycleCount/cycleCount.scss
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
  src/js/consts/arrowValueIndicatorVariant.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend, domain: l10n

#5048 OBPIH-6896 Implement perform count API
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/domain/org/pih/warehouse/inventory/Transaction.groovy
  grails-app/i18n/messages.properties
  grails-app/migrations/0.9.x/changelog-2025-02-11-1530-add-column-cycle-count-to-transaction.xml
  grails-app/migrations/0.9.x/changelog-2025-02-12-1300-add-cycle-count-related-transaction-types.xml
  grails-app/migrations/0.9.x/changelog.xml
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/main/groovy/org/pih/warehouse/core/Constants.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountSubmitCountCommand.groovy
Labels: domain: backend, flag: schema change, domain: l10n

#5047 OBPIH-6974 Create the recount form connecting with the data
  grails-app/i18n/messages.properties
  src/js/actions/index.js
  src/js/actions/types.js
  src/js/components/DataTable/DataTable.scss
  src/js/components/DataTable/v2/ArrowValueIndicator.jsx
  src/js/components/Router.jsx
  src/js/components/cycleCount/CycleCount.jsx
  src/js/components/cycleCount/cycleCount.scss
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/components/cycleCount/toResolveTab/CycleCountToResolve.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStep.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepHeader.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
  src/js/consts/applicationUrls.js
  src/js/consts/arrowValueIndicatorVariant.js
  src/js/consts/cycleCountColumn.js
  src/js/consts/timeFormat.js
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/js/hooks/cycleCount/useToResolveTab.jsx
  src/js/reducers/cycleCountReducer.js
Labels: domain: frontend, domain: l10n

#5046 OBPIH-6895 Load the count confirmation page (fix after QA)
  src/js/components/cycleCount/toCountTab/CountStep.jsx
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/components/form-elements/v2/DateField.jsx
  src/js/consts/timeFormat.js
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
Labels: domain: frontend

#5040 OBPIH-6980 Counted by field doesn't include newly created person/user
  src/css/main.scss
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/utils/form-utils.jsx
Labels: domain: frontend

#5055 OBPIH-6945 Incorrect bin location displayed after changing location
  src/js/components/Filter/FilterForm.jsx
  src/js/components/Filter/FilterStyles.scss
  src/js/components/cycleCount/CycleCount.jsx
  src/js/components/cycleCount/CycleCountFilters.jsx
  src/js/hooks/cycleCount/useCycleCountFilters.js
Labels: domain: frontend

#5056 OBPIH-6982 Improvements to Bin location select on count step
  src/js/components/DataTable/TableCell.jsx
  src/js/components/cycleCount/cycleCount.scss
  src/js/consts/timeFormat.js
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/utils/groupBinLocationsByZone.jsx
Labels: domain: frontend

#5060 OBPIH-7030 Reduce width of rows in count and recount workflow
  src/css/main.scss
  src/js/components/cycleCount/cycleCount.scss
  src/js/components/form-elements/v2/DateField.jsx
  src/js/components/form-elements/v2/SelectField.jsx
  src/js/components/form-elements/v2/TextInput.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/js/wrappers/CustomTooltip.jsx
  src/js/wrappers/InputWrapper.jsx
Labels: domain: frontend

#5063 OBPIH-6976 Validations on recount form
  grails-app/i18n/messages.properties
  src/js/components/cycleCount/cycleCount.scss
  src/js/components/cycleCount/toResolveTab/ResolveStep.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
  src/js/components/form-elements/v2/SelectField.jsx
  src/js/components/form-elements/v2/style.scss
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/js/hooks/cycleCount/useResolveStepValidation.js
Labels: domain: frontend, domain: l10n

#5058 OBPIH-6700 Do not hide spinner while still fetching data on PartialReceivingPage
  src/js/components/receiving/PartialReceivingPage.jsx
Labels: domain: frontend

#5064 OBPIH-6970 Add selectors to Packing List table
  grails-app/views/stockMovement/_packingList.gsp
Labels: domain: frontend

#5057 OBPIH-6901 Submit recount API
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/domain/org/pih/warehouse/inventory/CycleCount.groovy
  grails-app/i18n/messages.properties
  grails-app/migrations/0.9.x/changelog-2025-02-12-1300-add-cycle-count-related-transaction-types.xml
  grails-app/migrations/0.9.x/changelog.xml
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountTransactionService.groovy
  grails-app/services/org/pih/warehouse/inventory/ProductInventoryTransactionService.groovy
  src/main/groovy/org/pih/warehouse/core/Constants.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountSubmitRecountCommand.groovy
  src/main/groovy/org/pih/warehouse/inventory/ProductInventorySnapshotSource.groovy
  src/test/groovy/unit/org/pih/warehouse/inventory/CycleCountTransactionServiceSpec.groovy
  src/test/groovy/unit/org/pih/warehouse/inventory/ProductInventoryTransactionServiceSpec.groovy
Labels: type: feature, domain: backend, flag: schema change, domain: l10n

#5061 OBPIH-6981 Create the update cycle count APIs
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/domain/org/pih/warehouse/inventory/CycleCountItem.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemCommand.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemDto.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountUpdateItemCommand.groovy
Labels: domain: backend

#5066 OBPIH-6984 Improve validations on existing inventories on count step
  src/css/main.scss
  src/js/hooks/cycleCount/useCountStepValidation.js
  src/js/hooks/cycleCount/useInventoryValidation.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/js/hooks/cycleCount/useResolveStepValidation.js
Labels: domain: frontend

#5069 OBPIH-6979 Comment field is missing for existing inventories on count step
  src/js/hooks/cycleCount/useCountStepTable.jsx
Labels: domain: frontend

#5071 OBPIH-6960 Create items array form (fix after QA)
  src/css/main.scss
  src/js/components/DataTable/DataTable.scss
  src/js/components/DataTable/TableHeaderCell.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsColumns.jsx
  src/js/hooks/inboundV2/addItems/useInboundAddItemsForm.jsx
  src/js/wrappers/CustomTooltip.jsx
Labels: domain: frontend

#5067 OBPIH-7027 Align order of inventory items in count and recount workflow with order on stock card
  grails-app/domain/org/pih/warehouse/inventory/CycleCount.groovy
  grails-app/domain/org/pih/warehouse/inventory/CycleCountItem.groovy
Labels: domain: backend

#5073 OBPIH-6950 Call the update count APIs when editing/creating/deleting …
  grails-app/domain/org/pih/warehouse/inventory/CycleCountItem.groovy
  grails-app/i18n/messages.properties
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/js/api/services/CycleCountApi.js
  src/js/api/urls.js
  src/js/components/cycleCount/toCountTab/CountStep.jsx
  src/js/components/cycleCount/toCountTab/CountStepHeader.jsx
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/components/form-elements/v2/SelectField.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemCommand.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemDto.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountUpdateItemCommand.groovy
Labels: domain: frontend, domain: backend, domain: l10n

#5072 OBPIH-6900 Load the recount confirmation page (3.2.1)
  src/js/components/cycleCount/ConfirmStepHeader.jsx
  src/js/components/cycleCount/HeaderLabel.jsx
  src/js/components/cycleCount/HeaderSelect.jsx
  src/js/components/cycleCount/cycleCount.scss
  src/js/components/cycleCount/toCountTab/CountStep.jsx
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStep.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/js/wrappers/CustomTooltip.jsx
Labels: domain: frontend
