Repository openboxes/openboxes, pull requests merged in 2025-07, with the labels that each got.

#5352 OBPIH-7306 Refactored inventory audit API to include actual data
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/reporting/InventoryAuditReportController.groovy
  grails-app/domain/org/pih/warehouse/inventory/CycleCountSummary.groovy
  grails-app/domain/org/pih/warehouse/inventory/InventoryAuditSummary.groovy
  grails-app/migrations/views/inventory-audit-details.sql
  grails-app/services/org/pih/warehouse/report/ReportService.groovy
Labels: domain: backend, flag: schema change

#5358 OBPIH-7361 Fix single product dialog in transaction report
  grails-app/controllers/org/pih/warehouse/JsonController.groovy
  grails-app/services/org/pih/warehouse/inventory/InventorySnapshotService.groovy
  grails-app/services/org/pih/warehouse/report/ReportService.groovy
  grails-app/utils/org/pih/warehouse/DateUtil.groovy
Labels: domain: backend

#5357 OB-3258: fix loader while applying data table styles
  grails-app/views/location/edit.gsp
  grails-app/views/location/showBinLocations.gsp
Labels: domain: frontend

#5363 OBPIH-7366 Fix performance issues of cycle_count_details view on MySQL
  grails-app/migrations/views/cycle-count-details.sql
Labels: flag: schema change

#5364 OBPIH-7365 Unable to finish recount when perform any change on stock card
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/reducers/cycleCountReducer.js
Labels: domain: frontend

#5361 OBPIH-7293 Add “Assign count” modal after “Resolve now” modal (fix after QA)
  src/js/hooks/cycleCount/useCountStep.jsx
Labels: domain: frontend

#5366 OBPIH-7322 Create indicator: products inventoried (fix after QA)
  grails-app/services/org/pih/warehouse/report/ReportService.groovy
  src/js/components/cycleCountReporting/CycleCountReporting.jsx
  src/js/components/cycleCountReporting/IndicatorsTab/IndicatorsTab.jsx
  src/js/hooks/cycleCount/useIndicatorsTab.jsx
Labels: domain: frontend, domain: backend

#5371 OBPIH-7361 Fix single product dialog in transaction report (Fix after QA)
  grails-app/services/org/pih/warehouse/report/ReportService.groovy
Labels: domain: backend

#5370 OBPIH-7322 Create indicator: products inventoried (fix)
  grails-app/services/org/pih/warehouse/report/ReportService.groovy
Labels: domain: backend

#5374 OBPIH-7341 hide 'to approve' tab in cycle count
  src/js/components/cycleCount/CycleCount.jsx
Labels: type: feature, domain: frontend

#5362 OBPIH-7323 Create indicator: inventory accuracy
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/reporting/IndicatorApiController.groovy
  grails-app/domain/org/pih/warehouse/reporting/CycleCountProductSummary.groovy
  grails-app/domain/org/pih/warehouse/reporting/InventoryAccuracyResult.groovy
  grails-app/i18n/messages.properties
  grails-app/init/org/pih/warehouse/BootStrap.groovy
  grails-app/migrations/views/changelog.xml
  grails-app/migrations/views/cycle-count-product-summary.sql
  grails-app/migrations/views/latest-transaction-per-cycle-count.sql
  grails-app/services/org/pih/warehouse/report/ReportService.groovy
  src/js/api/services/IndicatorsApi.js
  src/js/api/urls.js
  src/js/components/cycleCountReporting/IndicatorsTab/IndicatorNumberCards.jsx
  src/js/consts/cycleCountReportingIndicators.js
  src/js/hooks/cycleCount/useIndicatorsTab.jsx
  src/js/utils/option-utils.jsx
Labels: domain: frontend, domain: backend, flag: schema change, domain: l10n

#5377 OBPIH-7372 Filter issues Products and Transactions reports
  src/js/components/cycleCountReporting/CycleCountReporting.jsx
  src/js/components/cycleCountReporting/IndicatorsTab.jsx
  src/js/components/cycleCountReporting/InventoryTransactionsTab.jsx
  src/js/components/cycleCountReporting/ProductsTab.jsx
  src/js/hooks/cycleCount/useCycleCountReportingFilters.js
  src/js/hooks/cycleCount/useInventoryTransactionsTab.jsx
  src/js/hooks/cycleCount/useProductsTab.jsx
  src/js/hooks/useTableDataV2.js
Labels: domain: frontend

#5376 OBPIH-7295 add supplier code to shipment details page if shipment is for a PO
  grails-app/i18n/messages.properties
  grails-app/views/shipment/showDetails.gsp
Labels: type: feature, domain: frontend, domain: l10n

#5379 OBPIH-7311 Improve Transaction report after Product Inventory transactions refactor (Fixes)
  grails-app/services/org/pih/warehouse/report/ReportService.groovy
Labels: domain: backend

#5367 Fix broken workflow docker-image.yml
  .github/workflows/docker-image.yml
Labels: type: bug, domain: devops

#5382 OBPIH-7361 Fix single product dialog in transaction report (Fixes)
  grails-app/services/org/pih/warehouse/report/ReportService.groovy
Labels: domain: backend

#5386 OB-3260: pass down the bin location type
  grails-app/init/org/pih/warehouse/BootStrap.groovy
Labels: flag: config change

#5387 OB-3254 Check if the shipment has shipped event associated
  grails-app/jobs/org/pih/warehouse/jobs/AutomaticReceiptJob.groovy
Labels: domain: backend

#5389 OBS-1876 Add HS Code Product Attribute to Commercial Invoice doc
  grails-app/services/org/pih/warehouse/core/FileService.groovy
  src/main/groovy/org/pih/warehouse/core/Constants.groovy
Labels: domain: backend

#5390 OBPIH-7116 if an import line has a comment but won't result in an adjustment, pu…
  grails-app/services/org/pih/warehouse/importer/InventoryImportDataService.groovy
  grails-app/services/org/pih/warehouse/inventory/ProductInventoryTransactionService.groovy
Labels: type: feature, domain: backend

#5398 OBPIH-7323 don't group by product when calculating inventory accuracy…
  grails-app/services/org/pih/warehouse/report/ReportService.groovy
Labels: type: bug, domain: backend

#5399 OBPIH-7322 change products inventoried to use items inventoried indic…
  grails-app/services/org/pih/warehouse/dashboard/NumberDataService.groovy
  grails-app/services/org/pih/warehouse/report/ReportService.groovy
  grails-app/utils/org/pih/warehouse/DateUtil.groovy
Labels: type: bug, domain: backend

#5393 OBPIH-7376 Errors encountered when using Record Stock to create or update inventory
  grails-app/controllers/org/pih/warehouse/inventory/InventoryItemController.groovy
  grails-app/services/org/pih/warehouse/inventory/InventoryService.groovy
Labels: domain: backend

#5408 OBPIH-7313 Fix Inventory Transaction Report qty before calculation wh…
  grails-app/migrations/views/inventory-transactions-summary.sql
Labels: flag: schema change

#5412 OBPIH-7353 UI changes: sort and number of rows on inventory transactions report
  grails-app/services/org/pih/warehouse/inventory/InventoryTransactionSummaryService.groovy
  src/js/components/cycleCountReporting/CycleCountReporting.jsx
  src/js/hooks/cycleCount/useInventoryTransactionsTab.jsx
Labels: domain: frontend, domain: backend

#5416 OBPIH-7259 Fix calculation of number of counts for an adjustment with…
  grails-app/migrations/views/inventory-counts.sql
Labels: flag: schema change

#5419 OBPIH-7430 don't error on record stock if no adjustments are made
  grails-app/services/org/pih/warehouse/inventory/InventoryService.groovy
Labels: type: bug, domain: backend

#5425 OBPIH-7329 Product Inventory migration improvements
  grails-app/controllers/org/pih/warehouse/data/MigrationController.groovy
  grails-app/services/org/pih/warehouse/data/MigrationService.groovy
  grails-app/views/migration/dataMigration.gsp
Labels: domain: frontend, domain: backend

#5413 Fix getting order items derived status for missing order id
  grails-app/controllers/org/pih/warehouse/api/PurchaseOrderApiController.groovy
Labels: type: bug, domain: backend
