Repository openboxes/openboxes, pull requests merged in 2025-03, with the labels that each got.

#5081 OBPIH 7026 Wording changes cycle count tabs
  grails-app/i18n/messages.properties
  src/js/components/Filter/FilterForm.jsx
  src/js/components/cycleCount/CycleCountFilterFields.jsx
  src/js/components/cycleCount/CycleCountFilters.jsx
  src/js/utils/form-utils.jsx
Labels: domain: frontend, domain: l10n

#5082 OBPIH-7028 Show catalogue entries on one row only in lower resolutions
  src/js/hooks/cycleCount/useAllProductsTab.jsx
  src/js/hooks/cycleCount/useToCountTab.jsx
  src/js/hooks/cycleCount/useToResolveTab.jsx
  src/js/utils/Badge.jsx
  src/js/utils/utils.scss
Labels: domain: frontend

#5074 OBPIH-7039 Populate Root Cause dropdown with proper values when recounting
  grails-app/domain/org/pih/warehouse/inventory/CycleCountItem.groovy
  grails-app/i18n/messages.properties
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/js/actions/index.js
  src/js/actions/types.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/js/reducers/cycleCountReducer.js
  src/js/reducers/reasonCodesReducer.jsx
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemCommand.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemDto.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountUpdateItemCommand.groovy
Labels: type: feature, domain: frontend, domain: backend, domain: l10n

#5080 OBPIH 7003 Up/down arrow to navigate through cells in quantity column
  src/js/components/cycleCount/cycleCount.scss
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
  src/js/components/form-elements/v2/DateField.jsx
  src/js/components/form-elements/v2/SelectField.jsx
  src/js/components/form-elements/v2/TextInput.jsx
  src/js/components/product-select/ProductSelect.jsx
  src/js/consts/componentType.js
  src/js/consts/cycleCountColumn.js
  src/js/consts/navigationKey.js
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/js/hooks/useArrowsNavigation.jsx
  src/js/hooks/useFocusOnMatch.js
  src/js/utils/Select.jsx
Labels: domain: frontend

#5083 OBPIH-7039 Do not validate discrepancy reason code on new lines on count form
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemCommand.groovy
Labels: type: bug, domain: backend

#5068 OBS-1831 Fix unparseable date: "01/01/2025 " exception during stock movements
  grails-app/conf/application.yml
  grails-app/controllers/org/pih/warehouse/api/StockMovementApiController.groovy
  grails-app/utils/org/pih/warehouse/DateUtil.groovy
  grails-app/utils/org/pih/warehouse/databinding/DataBindingConstants.groovy
  grails-app/utils/org/pih/warehouse/databinding/InstantValueConverter.groovy
  src/main/groovy/org/pih/warehouse/core/Constants.groovy
  src/test/groovy/unit/org/pih/warehouse/utils/DateUtilSpec.groovy
  src/test/groovy/unit/org/pih/warehouse/utils/databinding/InstantValueConverterSpec.groovy
Labels: type: bug, domain: backend, flag: config change

#5084 OBPIH-7003 Up/down arrow to navigate through cells in quantity column (fix)
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/js/hooks/useArrowsNavigation.jsx
Labels: domain: frontend

#5085 OBPIH-6897 Save on count confirmation page (2.2.3)
  grails-app/i18n/messages.properties
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/js/api/services/CycleCountApi.js
  src/js/api/urls.js
  src/js/components/cycleCount/toCountTab/CountStep.jsx
  src/js/components/form-elements/v2/DateField.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemCommand.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountSubmitCountCommand.groovy
Labels: domain: frontend, domain: backend, domain: l10n

#5079 OBPIH-7017 Import ABC Class in inventory levels
  grails-app/conf/application.yml
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/api/InventoryLevelApiController.groovy
  grails-app/controllers/org/pih/warehouse/batch/BatchController.groovy
  grails-app/controllers/org/pih/warehouse/inventory/InventoryLevelController.groovy
  grails-app/controllers/org/pih/warehouse/requisition/RequisitionController.groovy
  grails-app/domain/org/pih/warehouse/inventory/InventoryLevel.groovy
  grails-app/services/org/pih/warehouse/data/DataService.groovy
  grails-app/services/org/pih/warehouse/importer/InventoryLevelImportDataService.groovy
  grails-app/services/org/pih/warehouse/requisition/RequisitionService.groovy
  grails-app/views/batch/_uploadFileForm.gsp
  src/main/groovy/org/pih/warehouse/importer/InventoryLevelExcelImporter.groovy
Labels: domain: frontend, domain: backend, flag: config change

#5087 OBPIH-7022 Fix starting recount action
  src/js/actions/index.js
Labels: domain: frontend

#5089 OBPIH-7022 Fix cycle counts id query parameter used in get request
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  grails-app/views/cycleCount/_printRecount.gsp
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: frontend, domain: backend

#5090 OBPIH-7038 (Edited) Adjustment to validation in count step to support save by row
  src/js/components/cycleCount/toCountTab/CountStep.jsx
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useCountStepValidation.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/js/utils/option-utils.jsx
  src/main/groovy/org/pih/warehouse/inventory/CycleCountUpdateItemCommand.groovy
Labels: domain: frontend, domain: backend

#5094 OBPIH-6950 Call the update count APIs when editing/creating a cycle c…
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepValidation.js
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemCommand.groovy
Labels: domain: frontend, domain: backend

#5095 OBPIH-7005 Allow multiselect in bin location filter without erasing string
  src/js/components/form-elements/FilterSelectField.jsx
Labels: domain: frontend

#5093 OBPIH-7017 Fixed bug with imported inventory levels not being saved
  grails-app/services/org/pih/warehouse/importer/InventoryLevelImportDataService.groovy
Labels: domain: backend

#5086 OBPIH-6946 Apply checkbox on To Count tab after selecting from All Products tab
  src/js/components/cycleCount/CycleCount.jsx
  src/js/components/cycleCount/allProductsTab/CycleCountAllProducts.jsx
  src/js/components/cycleCount/toCountTab/CycleCountToCount.jsx
  src/js/hooks/cycleCount/useAllProductsTab.jsx
  src/js/hooks/cycleCount/useToCountTab.jsx
  src/js/hooks/useTableCheckboxes.js
Labels: domain: frontend

#5091 OBPIH-6947 Number of rows per page shouldn't reset when navigating through tabs
  src/js/components/cycleCount/CycleCount.jsx
  src/js/components/cycleCount/allProductsTab/CycleCountAllProducts.jsx
  src/js/components/cycleCount/toCountTab/CycleCountToCount.jsx
  src/js/components/cycleCount/toResolveTab/CycleCountToResolve.jsx
  src/js/hooks/useCycleCountPagination.js
Labels: domain: frontend

#5075 OBPIH-6939 Show minimum of cycle count date and inventory in Last Counted date column
  grails-app/migrations/views/changelog.xml
  grails-app/migrations/views/cycle-count-session.sql
  grails-app/migrations/views/product-count-history.sql
  grails-app/migrations/views/product-cycle-count-history.sql
  grails-app/migrations/views/product-physical-count-history.sql
  grails-app/migrations/views/product-receipt-history.sql
  src/js/hooks/cycleCount/useAllProductsTab.jsx
Labels: domain: frontend, flag: schema change

#5096 OBPIH-7050 Replace mocked data with real data in Resolve workflow
  src/js/components/cycleCount/toResolveTab/ResolveStep.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/js/hooks/cycleCount/useResolveStepValidation.js
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemCommand.groovy
Labels: domain: frontend, domain: backend

#5097 OBPIH-6958 Jump back to top of the page when changing page
  src/js/components/cycleCount/CycleCount.jsx
Labels: domain: frontend

#5098 OBPIH-7005 Allow multiselect in bin location filter without erasing string (improvement after QA)
  src/js/components/form-elements/FilterSelectField.jsx
Labels: domain: frontend

#5101 OBPIH-7060 Page unresponsive when loading count page
  src/js/actions/index.js
  src/js/actions/types.js
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/js/reducers/cycleCountReducer.js
Labels: domain: frontend

#5099 OBPIH-6981 Fix creating a cycle count item with default bin
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemCommand.groovy
Labels: domain: backend

#5102 OBPIH-7055 Back button on Resolve page redirects to wrong tab (To Count instead of To Resolve)
  grails-app/i18n/messages.properties
  src/js/components/cycleCount/toResolveTab/ResolveStepHeader.jsx
Labels: domain: frontend, domain: l10n

#5103 OOBPIH-7056 Wording change: “resolve in progress” / “count in progress” to “in progress”, as it breaks the table
  grails-app/i18n/messages.properties
Labels: domain: l10n

#5104 OBPIH-7057 Continue resolve workflow with products from last count after save
  src/js/actions/index.js
  src/js/hooks/cycleCount/useCountStep.jsx
Labels: domain: frontend

#5107 OBPIH-7071 Count and Recount page do not immediately show the selected products
  src/js/hooks/cycleCount/useToCountTab.jsx
  src/js/hooks/cycleCount/useToResolveTab.jsx
Labels: domain: frontend

#5110 OBPIH-7072 Error occurs when adding a new line without a lot number
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
Labels: domain: backend

#5108 OBPIH-7014 Save progress button recount workflow
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStep.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepHeader.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

#5092 OBPIH-7010 add reload button in recount flow to refresh QoH
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/domain/org/pih/warehouse/inventory/CycleCount.groovy
  grails-app/i18n/messages.properties
  grails-app/services/org/pih/warehouse/inventory/CycleCountProductAvailabilityService.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountTransactionService.groovy
  src/js/api/services/CycleCountApi.js
  src/js/api/urls.js
  src/js/components/cycleCount/toResolveTab/ResolveStep.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepHeader.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/main/groovy/org/pih/warehouse/inventory/CycleCountStartCommand.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountStartRecountCommand.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountStatus.groovy
  src/test/groovy/unit/org/pih/warehouse/inventory/CycleCountProductAvailabilityServiceSpec.groovy
  src/test/groovy/unit/org/pih/warehouse/inventory/CycleCountTransactionServiceSpec.groovy
Labels: type: feature, domain: frontend, domain: backend, domain: l10n

#5109 OBPIH-7032 Complete count after count with no discrepancy or after recount
  grails-app/domain/org/pih/warehouse/inventory/CycleCount.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountStatus.groovy
Labels: type: feature, domain: backend

#5116 Fix resolving workflow to look for cycle count, not cycle count request
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountStartRecountBatchCommand.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountStartRecountCommand.groovy
Labels: domain: backend

#5117 OBPIH-7072 Fix transient not saved exception when creating a new inve…
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
Labels: domain: backend

#5114 OBPIH-7079 Change association from user to person for assignee in cyc…
  grails-app/domain/org/pih/warehouse/inventory/CycleCountItem.groovy
  grails-app/migrations/0.9.x/changelog-2025-03-11-1300-drop-user-foreign-key-from-assignee-in-cycle-count-item.xml
  grails-app/migrations/0.9.x/changelog-2025-03-11-1400-add-person-foreign-key-for-assignee-in-cycle-count-item.xml
  grails-app/migrations/0.9.x/changelog.xml
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemCommand.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemDto.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountUpdateItemCommand.groovy
Labels: domain: backend, flag: schema change

#5118 OBPIH-6939 Show minimum of cycle count date and inventory in Last Counted date column
  src/js/hooks/cycleCount/useAllProductsTab.jsx
Labels: domain: frontend

#5105 OBPIH-7018 Draft unfinished count workflow
  grails-app/i18n/messages.properties
  src/js/actions/index.js
  src/js/actions/types.js
  src/js/components/cycleCount/CycleCountDraftInfoBar.jsx
  src/js/components/cycleCount/cycleCount.scss
  src/js/components/cycleCount/toCountTab/CycleCountToCount.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useDraftInfoBar.js
  src/js/reducers/cycleCountReducer.js
Labels: domain: frontend, flag: schema change, domain: l10n

#5119 OBPIH-6902 Save on recount confirmation page (3.2.3)
  src/js/actions/index.js
  src/js/api/services/CycleCountApi.js
  src/js/api/urls.js
  src/js/components/cycleCount/toResolveTab/ResolveStep.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: frontend

#5120 OBPIH-7091 Recounted By filed validation in recount workflow
  src/js/components/cycleCount/toResolveTab/ResolveStep.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/hooks/cycleCount/useResolveStepValidation.js
Labels: domain: frontend

#5125 OBPIH-7074 Click Not Now should complete the count workflow
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/js/actions/index.js
  src/js/consts/cycleCountStatus.js
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useToResolveTab.jsx
  src/main/groovy/org/pih/warehouse/inventory/CycleCountDto.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountStartRecountBatchCommand.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountStartRecountCommand.groovy
Labels: domain: frontend, domain: backend

#5123 OBPIH-6931 fix status not updating to "in progress" when editing a count
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
Labels: type: bug, domain: backend

#5128 OBPIH- 6901 bugfix. Make QuantityVariance properly handle 0 quantity
  grails-app/domain/org/pih/warehouse/inventory/CycleCountItem.groovy
Labels: type: bug, domain: backend

#5126 OBPIH-7092 Fix issue related to null cycle count status
  grails-app/domain/org/pih/warehouse/inventory/CycleCount.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemStatus.groovy
  src/test/groovy/unit/org/pih/warehouse/inventory/CycleCountSpec.groovy
  src/test/groovy/unit/org/pih/warehouse/inventory/CycleCountTransactionServiceSpec.groovy
  src/test/groovy/unit/org/pih/warehouse/inventory/ProductInventoryTransactionServiceSpec.groovy
Labels: domain: backend

#5127 OBPIH-7074 bugfix. Prevent stack trace when adding to count items list within loop
  grails-app/domain/org/pih/warehouse/inventory/CycleCount.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/test/groovy/unit/org/pih/warehouse/inventory/CycleCountProductAvailabilityServiceSpec.groovy
Labels: type: bug, domain: backend

#5130 OBPIH-7088 Input from quantity counted is shifted to recount columns when start resolution on products with discrepancy
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
Labels: domain: backend

#5135 OBPIH-7071 Count and Recount page do not immediately show the selected products (fix after QA)
  src/js/hooks/cycleCount/useCountStep.jsx
Labels: domain: frontend

#5131 OBPIH-7088 Hide close button on resolve discrepancies modal
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/utils/ConfirmModal.jsx
  src/js/utils/confirmationModalUtils.jsx
Labels: domain: frontend

#5133 OBPIH-7094 Invalid redirect when finish to count without discrepancies
  src/js/hooks/cycleCount/useCountStep.jsx
Labels: domain: frontend

#5121 OBPIH-7080 Fixed issue with unique constraint on inventory level
  grails-app/controllers/org/pih/warehouse/inventory/InventoryLevelController.groovy
  grails-app/domain/org/pih/warehouse/inventory/InventoryLevel.groovy
  grails-app/services/org/pih/warehouse/importer/InventoryLevelImportDataService.groovy
  grails-app/views/product/_inventoryLevels.gsp
Labels: domain: frontend, domain: backend

#5111 OBPIH-7054 Expand "Root Cause" selector for better visibility
  src/css/main.scss
  src/js/components/DataTable/TableCell.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/js/wrappers/CustomTooltip.jsx
Labels: domain: frontend

#5113 OBPIH-7077 Shorten the name of Bin location in resolve step
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

#5115 OBPIH-7078 Add tooltip to the date on the resolve step + add error icon and tooltip for CountedBy and RecountedBy select
  grails-app/i18n/messages.properties
  src/js/components/cycleCount/cycleCount.scss
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend, domain: l10n

#5136 OBPIH-7097 Can't save at the end of recount when adding a custom row …
  grails-app/services/org/pih/warehouse/inventory/CycleCountProductAvailabilityService.groovy
  src/test/groovy/unit/org/pih/warehouse/inventory/CycleCountProductAvailabilityServiceSpec.groovy
Labels: domain: backend

#5137 OBPIH-7015 Improve blind count form
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  grails-app/views/cycleCount/_printCount.gsp
  grails-app/views/cycleCount/_printRecount.gsp
  src/js/api/services/CycleCountApi.js
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: frontend, domain: backend

#5134 OBPIH-7076 Unexpected validation on qty field after triggering qty validation and save
  src/js/components/DataTable/v2/ArrowValueIndicator.jsx
  src/js/components/cycleCount/toCountTab/CountStep.jsx
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStep.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
  src/js/consts/arrowValueIndicatorVariant.js
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useCountStepValidation.js
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/js/hooks/cycleCount/useResolveStepValidation.js
  src/js/hooks/useForceRender.js
Labels: domain: frontend

#5124 OBPIH-6994 don't auto fill global search input when hover over results
  grails-app/views/taglib/_globalSearch.gsp
  grails-app/views/taglib/_globalSearchStatic.gsp
Labels: type: bug, domain: frontend

#5088 OBPIH-7003 Up/down arrow to navigate through cells in quantity column (fix after QA)
  src/js/components/cycleCount/toCountTab/CountStep.jsx
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStep.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
  src/js/components/form-elements/v2/DateField.jsx
  src/js/components/form-elements/v2/SelectField.jsx
  src/js/components/form-elements/v2/TextInput.jsx
  src/js/components/product-select/ProductSelect.jsx
  src/js/consts/cycleCountColumn.js
  src/js/hooks/cycleCount/useAllProductsTab.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/js/hooks/cycleCount/useToCountTab.jsx
  src/js/hooks/cycleCount/useToResolveTab.jsx
  src/js/hooks/useArrowsNavigation.jsx
  src/js/hooks/useFocusOnMatch.js
Labels: domain: frontend, flag: schema change

#5142 OBPIH-7033 Prevent start count / recount workflows with more than configurable number of products
  grails-app/conf/runtime.groovy
  grails-app/controllers/org/pih/warehouse/api/ApiController.groovy
  grails-app/i18n/messages.properties
  src/js/hooks/cycleCount/useAllProductsTab.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/js/hooks/cycleCount/useToCountTab.jsx
  src/js/hooks/cycleCount/useToResolveTab.jsx
  src/js/hooks/useThrowError.js
  src/js/reducers/sessionReducer.jsx
Labels: domain: frontend, domain: backend, domain: l10n

#5140 OBPIH-7018 Fix erasing the draft when submitting a count
  src/js/hooks/cycleCount/useCountStep.jsx
Labels: domain: frontend

#5151 OBPIH-7112 Page unresponsive when showing resolve now pop-up
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
Labels: domain: frontend

#5145 OBPIH-7100 Fix and improve deleting new lines on recount form
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

#5143 OBPIH-7101 fix unique expiration date validation
  src/js/hooks/cycleCount/useInventoryValidation.js
Labels: type: bug, domain: frontend

#5139 OBPIH-7087 Edited value of Date counted is not saved
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemCommand.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountUpdateItemCommand.groovy
Labels: domain: frontend, domain: backend

#5153 OBPIH-7117 duplicate items error should also show on lot number field
  src/js/hooks/cycleCount/useInventoryValidation.js
Labels: type: bug, domain: frontend

#5149 OBPIH-7109 Fix TransactionRequiredExceptions being thrown for the sub…
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemCommand.groovy
  src/main/groovy/org/pih/warehouse/inventory/CycleCountSubmitCountCommand.groovy
Labels: domain: backend

#5156 OBPIH-6899 Load the resolve discrepancies step page (Fix after QA)
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

#5146 OBPIH-7099 Prevent doing multiclik on Save on to count and recount steps
  src/js/components/cycleCount/ConfirmStepHeader.jsx
  src/js/components/cycleCount/toCountTab/CountStep.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/utils/confirmationModalUtils.jsx
Labels: domain: frontend

#5154 OBPIH-7096 force adjustment transactions to be after product inventory ones
  grails-app/services/org/pih/warehouse/inventory/CycleCountTransactionService.groovy
  src/test/groovy/unit/org/pih/warehouse/inventory/CycleCountTransactionServiceSpec.groovy
Labels: type: bug, domain: backend

#5159 OBPIH-7101 FIX. Handle null when comparing expiration dates
  src/js/hooks/cycleCount/useInventoryValidation.js
Labels: type: bug, domain: frontend

#5160 OBPIH-7100 Fix and improve deleting new lines on recount form (Fix ordering)
  grails-app/domain/org/pih/warehouse/inventory/CycleCountItem.groovy
  src/js/hooks/cycleCount/useResolveStep.js
  src/main/groovy/org/pih/warehouse/inventory/CycleCountItemDto.groovy
Labels: domain: frontend, domain: backend

#5158 OBPIH-7107 Improve performance for candidates on to count and to reso…
  grails-app/controllers/org/pih/warehouse/UrlMappings.groovy
  grails-app/controllers/org/pih/warehouse/api/CycleCountApiController.groovy
  grails-app/domain/org/pih/warehouse/inventory/PendingCycleCountRequest.groovy
  grails-app/init/org/pih/warehouse/BootStrap.groovy
  grails-app/migrations/views/changelog.xml
  grails-app/migrations/views/pending_cycle_count_request.sql
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/js/api/urls.js
  src/js/hooks/cycleCount/useToCountTab.jsx
  src/js/hooks/cycleCount/useToResolveTab.jsx
Labels: domain: frontend, domain: backend, flag: schema change, flag: config change

#5161 OBPIH-7099 Fix disabling save button on count/recount step
  src/js/components/cycleCount/ConfirmStepHeader.jsx
  src/js/components/cycleCount/toCountTab/CountStep.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStep.jsx
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: frontend

#5129 OBPIH-6990 Add ability to sort receiving screen in alphabetical order
  grails-app/controllers/org/pih/warehouse/api/PartialReceivingApiController.groovy
  grails-app/i18n/messages.properties
  grails-app/services/org/pih/warehouse/receiving/ReceiptService.groovy
  src/css/main.scss
  src/js/components/receiving/PartialReceivingPage.jsx
  src/js/components/receiving/ReceivingCheckScreen.jsx
  src/js/components/receiving/ReceivingPage.jsx
  src/js/consts/receivingSortOptions.js
  src/main/groovy/org/pih/warehouse/api/PartialReceiptContainer.groovy
Labels: domain: frontend, domain: backend, domain: l10n

#5157 OBPIH-7122 Recount workflow validations
  grails-app/services/org/pih/warehouse/inventory/CycleCountService.groovy
  src/js/hooks/cycleCount/useResolveStep.js
Labels: domain: frontend, domain: backend

#5141 OBPIH-7061 Prevent fractional values in cycle count quantity field
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
  src/js/hooks/useArrowsNavigation.jsx
Labels: domain: frontend, flag: config change

#5162 OBPIH-7123 Validations for added rows already saved and disabled in count
  src/js/components/form-elements/v2/style.scss
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

#5165 OBPIH-7133 Ability to erase quantity field to empty
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

#5164 OBPIH-7103 Added rows should stay in order added in count and recount after save progress
  src/css/main.scss
  src/js/components/cycleCount/cycleCount.scss
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useCountStepTable.jsx
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

#5163 OBPIH-6931 Fix loading translations for TO_COUNT and TO_RESOLVE tabs
  src/js/actions/index.js
  src/js/actions/types.js
  src/js/hooks/cycleCount/useToCountTab.jsx
  src/js/hooks/cycleCount/useToResolveTab.jsx
  src/js/reducers/sessionReducer.jsx
Labels: domain: frontend

#5167 OBPIH-7125 Trim spaces for lot number while creating a cycle count item
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/utils/cycleCountUtils.jsx
Labels: domain: frontend

#5168 OBPIH-7121 Remove cross in date counted and date recounted field to prevent empty field
  src/js/components/cycleCount/toCountTab/CountStepTable.jsx
  src/js/components/cycleCount/toResolveTab/ResolveStepTable.jsx
  src/js/components/form-elements/v2/DateField.jsx
  src/js/components/form-elements/v2/DateFieldInput.jsx
Labels: domain: frontend

#5169 OBPIH-6986 Fix recalculating quantity requested on e-requests
  src/js/components/stock-movement-wizard/request/AddItemsPage.jsx
Labels: domain: frontend

#5170 Obpih 7136
  grails-app/domain/org/pih/warehouse/inventory/InventoryLevel.groovy
  grails-app/domain/org/pih/warehouse/product/Product.groovy
  grails-app/migrations/0.9.x/changelog-2025-03-26-2057-update-abc-class-convert-empty-string-to-null.xml
  grails-app/migrations/0.9.x/changelog.xml
Labels: domain: backend, flag: schema change

#5171 OBPIH-7134 Fix blank cycle count tabs when qoh of a product changed to 0
  src/js/hooks/cycleCount/useAllProductsTab.jsx
  src/js/hooks/cycleCount/useToCountTab.jsx
  src/js/hooks/cycleCount/useToResolveTab.jsx
Labels: domain: frontend

#5166 OBPIH-6989 ability to sort delivery note by product on stock movement details page
  grails-app/controllers/org/pih/warehouse/requisition/DeliveryNoteController.groovy
  grails-app/i18n/messages.properties
  grails-app/services/org/pih/warehouse/inventory/StockMovementService.groovy
  grails-app/views/deliveryNote/_printPage.gsp
  grails-app/views/deliveryNote/print.gsp
  grails-app/views/stockMovement/_documents.gsp
  grails-app/views/stockMovement/show.gsp
  src/js/components/stock-movement-wizard/combined-shipments/SendMovementPage.jsx
  src/js/components/stock-movement-wizard/inbound/SendMovementPage.jsx
  src/js/components/stock-movement-wizard/outbound/SendMovementPage.jsx
Labels: type: feature, domain: frontend, domain: backend, domain: l10n

#5172 OBPIH-7114 Date picker selects day before if your local timezone is behind UTC
  src/js/hooks/cycleCount/useCountStep.jsx
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/utils/dateUtils.js
Labels: domain: frontend

#5173 OBPIH-7129 Count difference column should be recalculated against updated QOH after reload
  src/js/hooks/cycleCount/useResolveStep.js
  src/js/hooks/cycleCount/useResolveStepTable.jsx
Labels: domain: frontend

#5175 OBPIH-7144 Trigger validation on next when add lot with spaces
  src/js/hooks/cycleCount/useInventoryValidation.js
Labels: domain: frontend
